<div id="about-nav">
	<ul>
    <li {% if g.page_sub_type == 'index' %}class="active"{% endif %}><a href="/about/">About</a></li>
		<li {% if g.page_sub_type == 'datasets' %}class="active"{% endif %}><a href="/about/datasets/">Datasets</a></li>
		<li {% if g.page_sub_type == 'glossary' %}class="active"{% endif %}><a href="/about/glossary/" >Glossary</a></li>
		<li {% if g.page_sub_type == 'api' %}class="active"{% endif %}><a href="/about/api/" >API</a></li>
		<li {% if g.page_sub_type == 'attributes' %}class="active"{% endif %}><a href="/about/attributes/" >Attributes</a></li>
		<li {% if g.page_sub_type == 'usage' %}class="active"{% endif %}><a href="/about/usage/" >Usage</a></li>
	</ul>
</div>

<script>
var active_section;
d3.selectAll("header a[name]")
  .each(function(){
    var top = this.parentNode.parentNode.offsetTop;
    if (top - titleNavHeight - profNavHeight - statNavHeight < y) {
      active_section = this.name;
    }
  })
d3.selectAll("#profile-nav li")
  .classed("active", function(){
    return this.getAttribute("data-anchor") === active_section;
  });
</script>