{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="DataUSA" /></a> About</span>
</div>
{% endblock %}

{% block body %}

  <!-- <div id="hero" class="hero-bg"></div> -->
  <img id="hero-img" src="/static/img/about/landscape.jpg" />
  <div id="about-container" class="{{ g.page_sub_type }}">
    <header>
      <div>
        <section>
          <ul class="tab-container">
            <li class="pri-tab {% if g.page_sub_type == 'index' %} active{% endif %}"><a class="btn pri-tab-link" href="/about/">Platform Info</a></li>
            <li class="pri-tab {% if g.page_sub_type == 'usage' %} active{% endif %}"><a class="btn pri-tab-link" href="/about/usage/">Terms of Use</a></li>
            <li class="pri-tab {% if g.page_sub_type == 'glossary' %} active{% endif %}"><a class="btn pri-tab-link" href="/about/glossary/">Glossary</a></li>
          </ul>
        </section>
      </div>
    </header>

    {% block about_content %}
    {% endblock %}

  </div>

{% endblock %}
