<div id="about-nav">
	<ul>
	    <li><a href="/about/" {% if g.page_sub_type == 'index' %}class="current"{% endif %}>About</a></li>
		<li><a href="/about/datasets/" {% if g.page_sub_type == 'datasets' %}class="current"{% endif %}>Datasets</a></li>
		<li><a href="/about/glossary/" {% if g.page_sub_type == 'glossary' %}class="current"{% endif %}>Glossary</a></li>
		<li><a href="/about/api/" {% if g.page_sub_type == 'api' %}class="current"{% endif %}>API</a></li>
		<li><a href="/about/usage/" {% if g.page_sub_type == 'usage' %}class="current"{% endif %}>Usage</a></li>
	</ul>
</div>