<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Page title block -->
    <title>DataUSA{% block title %}{% endblock %}</title>

    <!-- Load CSS styles -->
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/site.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css" />

    <!-- Load javascript files -->
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/d3plus.js"></script>
    <script src="/static/js/topojson.js"></script>
    <script src="/static/js/localforage.js"></script>

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>

      var resizeFunctions = [],
          scrollFunctions = [],
          cache_version = "{{ g.cache_version }}",
          api = "{{ g.api }}",
          dictionary = {{ g.dictionary|safe }},
          percentages = {{ g.percentages|safe }},
          affixes = {{ g.affixes|safe }};

    </script>

    {% block head %}
    {% endblock %}

  </head>
  <body{% if g.page_type %} class="{{g.page_type}}"{% endif %}>

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    <!-- Google Analytics! -->
    <script type="text/javascript">

    </script>

    <!-- All Pages -->
    <script type="text/javascript">

      if (resizeFunctions.length) {

        var resize;

        function resizeEnd() {
          for (var i = 0; i < resizeFunctions.length; i++) {
            resizeFunctions[i]();
          }
        }

        window.onresize = function(){
          clearTimeout(resize);
          resize = setTimeout(resizeEnd, 200);
        }

      }

      var firstScroll = true;
      if (scrollFunctions.length) {
        document.onscroll = function(){
          var wait = firstScroll ? 0 : 500;
          for (var i = 0; i < scrollFunctions.length; i++) {
            scrollFunctions[i](wait);
          }
          firstScroll = false;
        }
      }

      d3.selectAll("[data-tooltip]")
        .on(d3plus.client.pointer.over,function(){

          d3plus.tooltip.remove("data-tooltip");

          var size = this.getBoundingClientRect();

          d3plus.tooltip.remove("data-tooltip");
          d3plus.tooltip.create({
            "x": size.left+size.width/2,
            "y": size.top+size.height/2,
            "offset": size.height/2,
            "arrow": true,
            "description": d3.select(this).attr("data-tooltip"),
            "width": "auto",
            "id": "data-tooltip",
            "align": "top center",
            // "parent": parent,
            "max_width": 180
          })

        })
        .on(d3plus.client.pointer.out,function(){
          d3plus.tooltip.remove("data-tooltip");
        })

    </script>

  </body>
</html>
