<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% if self.social_meta() %}
      {% block social_meta %}{% endblock %}
    {% else %}
      {% set meta_desc = "The most comprehensive visualization of U.S. public data. Data USA provides an open, easy-to-use platform that turns data into knowledge." %}
      <meta name="description" content="{{ meta_desc }}">
      <meta property="og:title" content="Data USA" />
      <meta property="og:type" content="article" />
      <meta property="og:image" content="http://{{ request.host }}/static/img/share.jpg" />
      <meta property="og:description" content="{{ meta_desc }}"/>
    {% endif %}
    <meta property="fb:app_id" content="1705281333093640"/>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico?v={{ g.cache_version }}">

    <!-- Page title block -->
    <title>{% block title %}{% endblock %}{% if self.title() %} | {% endif %}Data USA</title>

    <!-- Load CSS styles -->
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/site.css?v={{ g.cache_version }}" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/font-awesome-4.3.0/css/font-awesome.min.css" />

    <!-- Load javascript files -->
    <script src="/static/js/d3.v3.min.js?v={{ g.cache_version }}"></script>
    <script src="/static/js/d3-queue.min.js?v={{ g.cache_version }}"></script>
    <script src="/static/js/d3plus.min.js?v={{ g.cache_version }}"></script>
    <script src="/static/js/topojson.js?v={{ g.cache_version }}"></script>

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}?v={{ g.cache_version }}"></script>
    {% endassets %}

    <style>

    #Preview-Link {
      background-color: #ef6145;
      /* background-color: #353337; */
      /* border-top: 1px solid #1B191D; */
      bottom: -100px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 14px;
      font-weight: 700;
      left: 0;
      padding: 5px 5px 11px;
      position: fixed;
      right: 0;
      text-align: center;
      transition: bottom 0.75s;
      width: 100%;
      z-index: 10000;
    }

    #Preview-Link a {
      color: white;
      font-weight: 700;
      text-decoration: underline;
    }

    #Preview-Link .close {
      font-size: 20px;
      font-weight: 400;
      opacity: 0.5;
      position: absolute;
      right: 25px;
      top: -3px;
    }

    #Preview-Link .close:hover {
      cursor: pointer;
      opacity: 1;
    }

    #Preview-Link:before {
      background-color: #1B191D;
      bottom: 0;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      right: 0;
      width: 100%;
    }

    </style>

    <script>

      var cartLimit = {{ g.cart_limit|safe }},
          compare = {{ g.compare|tojson }},
          resizeFunctions = [],
          resizeInstantFunctions = [],
          scrollFunctions = [],
          cache_version = "{{ g.cache_version }}",
          api = "{{ g.api }}",
          colmap = {{ g.colmap|safe }},
          collectionyears = {{ g.collectionyears|safe }},
          dictionary = {{ g.dictionary|safe }},
          glossary = {{ g.glossary|safe }},
          percentages = {{ g.percentages|safe }},
          proportions = {{ g.proportions|safe }},
          per1000 = {{ g.per1000|safe }},
          per10000 = {{ g.per10000|safe }},
          per100000 = {{ g.per100000|safe }},
          affixes = {{ g.affixes|safe }},
          builds = [], current_build;

      for (var key in affixes) {
        if (key in dictionary) affixes[dictionary[key]] = affixes[key];
      }

    </script>

    {% block head %}
    {% endblock %}

    <!-- Hotjar Tracking Code for https://datausa.io -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1257570,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

  </head>
  <body class="{% if g.page_type %}{{ g.page_type }}{% endif %} {% if g.page_class %}{{ g.page_class }}{% endif %}">

    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    <a class="datausa-link hidden" target="_blank" href="https://datausa.io"><img src="/static/img/logo_sm_dark.png" /></a>

    <!-- Google Analytics! -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70325841-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- All Pages -->
    <script type="text/javascript">

      var compares = [],
          init_compare = compare !== false;
          embed = d3.select("body").classed("embed"),
          num_builds = builds.length,
          titles = [];

      function profileEvents() {

        // toggle extra items in long list
        d3.selectAll(".show-more").on("click", function(){
          d3.event.preventDefault();
          var elem = d3.select(this),
              open = elem.classed("open"),
              text = elem.attr("data-text") || elem.text();
          elem.attr("data-text", text);
          if (!open) text = "";
          d3.select(this.previousSibling).style("display", open ? "none" : "inline");
          elem.classed("open", !open).text(text);
        });

        d3.selectAll("[data-tooltip]")
          .on(d3plus.client.pointer.over,function(){

            var text = d3.select(this).attr("data-tooltip");

            var max_width = 300;

            if (text === "cartLimit") {
              max_width = 250;
              if (d3.select(this).classed("active")) text = "Remove this dataset from the cart.";
              else if (!d3.select(this).classed("disabled")) text = "Add the underlying data to the cart, and merge with any existing cart data.";
              else text = "Cart limit of " + cartLimit + " has been reached. Please visit the cart page to download the current cart and/or remove data.";
            }

            var tt_id = d3.select(this).attr("data-tooltip-id") || "data-tooltip";

            d3plus.tooltip.remove(tt_id);

            var size = this.getBoundingClientRect();

            var offset = d3.select(this).attr("data-tooltip-offset");
            if (offset) {
              offset = parseFloat(offset);
            }
            else {
              offset = 15;
            }

            var align = d3.select(this).attr("data-tooltip-anchor") || "top center";

            if (align.split(" ")[0] === "top" || align.split(" ")[0] === "bottom") {
              var margin = parseFloat(d3.select(this).style("margin-" + align.split(" ")[0]));
              offset += margin;
            }

            var arrow = true;
            if(d3.select(this).attr("data-tooltip-arrow")){
              arrow = d3.select(this).attr("data-tooltip-arrow") === "true";
            }

            d3plus.tooltip.create({
              "x": size.left+size.width/2 + d3plus.client.scroll.x(),
              "y": size.top+size.height/2 + d3plus.client.scroll.y(),
              "offset": size.height/2 + offset,
              "arrow": arrow,
              "description": text,
              "width": "auto",
              "id": tt_id,
              "align": align,
              "max_width": max_width
            });

          })
          .on(d3plus.client.pointer.out,function(){
            d3plus.tooltip.remove(d3.select(this).attr("data-tooltip-id") || "data-tooltip");
          });

      }

      function addComparison(attr, back) {

        if (!attr && !compare || (attr && !init_compare && compare === attr)) return;
        init_compare = false;

        d3.select("body").classed("frozen", true);
        d3.select("#compare-loading").style("display", "block");

        if (!back) compares.push(compare);

        var name = attr ? attr.display || attr.display_name || attr.name : "";
        var type = location.pathname.split("/")[2];

        d3.selectAll(".compare-add").remove();
        d3.selectAll(".compare-flex").classed("compare-flex", false);
        d3.selectAll(".compare-tall").classed("compare-tall", false);

        d3.select(".splash-titles").classed("compare-flex", attr ? true : false);
        d3.select(".splash-titles h1").selectAll("span").classed("compare-flex", attr ? true : false);
        d3.select("#splash-stats").classed("compare-flex", attr ? true : false);
        d3.selectAll(".compare-title").text(name);
        d3.selectAll(".compare-separator").style("display", attr ? "inline-block" : "none");
        d3.selectAll(".compare-img").attr("src", attr ? "/static/img/icons/compare-active.svg" : "/static/img/icons/compare.svg");
        d3.selectAll(".compare-text").text(attr ? "Remove Comparison" : "Add Comparison");

        d3.select("#splash-image").each(function() {
          if (attr) {
            d3.select(this).classed("compare-flex", true);
            var clone = this.cloneNode(true);
            d3.select(clone)
              .classed("compare-add", true)
              .style("background-image", "url('/profile/" + type + "/" + attr.id + "/img')");
            this.parentNode.insertBefore(clone, this.nextSibling);
          }
        });

        d3.selectAll(".topic-title, .term").html(function() {
          var value = d3.select(this).attr("data-default");
          if (!value) {
            value = d3.select(this).text();
            d3.select(this).attr("data-default", value);
          }
          return value;
        });

        function update_builds(data) {

          builds = builds.slice(0, num_builds);

          builds.forEach(function(build) {

            build.data.forEach(function(d) {
              d.url = d.orig_url || d.url;
            });
            build.config.color = build.orig_color;

            if (build.loaded) {
              build.loaded = false;
              build.container.html("");
              build.viz.height(false).width(false);
            }

          });

          if (data) {

            var stats = d3.select("#stat-container").classed("compare-flex", true).node();
            var clone = stats.cloneNode(true);
            d3.select(clone).classed("compare-add", true)
              .selectAll(".stat").each(function(d, i) {
                var stat = data.splash.stats[i];
                if (stat) {
                  d3.select(this).select(".stat-text").html(stat.title);
                  d3.select(this).select(".stat-value").html(stat.value);
                  d3.select(this).select(".stat-rank").html(stat.rank || "");
                }
                else {
                  d3.select(this).remove();
                }
              });
            stats.parentNode.appendChild(clone);

            d3.select(".intro .col").each(function() {

              d3.select(this).classed("compare-flex", true);
              var clone = this.cloneNode(true);
              d3.select(clone).classed("compare-add", true);
              d3.select(clone).selectAll(".intro-txt p").each(function(d, i) {
                d3.select(this).html(data.splash.description[i]);
              });

              var imageMeta = d3.select(clone).select(".intro-txt .image-meta");
              if (data.image.meta) {
                if (!imageMeta.size()) {
                  imageMeta = d3.select(clone).select(".intro-txt").append("p")
                    .attr("class", "desc image-meta")
                    .html("About the photo: <i></i>");
                }
                imageMeta.select("i").html(data.image.meta);
              }
              else imageMeta.remove();

              var photo = d3.select(clone).select(".photo-cred");
              photo.select("a").attr("href", data.image.link);
              photo.select(".image-author a")
                .attr("href", data.image.link)
                .html("Photo by " + data.image.author);

              if (attr.id !== "01000US") {
                var breadcrumb = d3.select(clone).select(".breadcrumb");
                if (!breadcrumb.size()) {
                  b = document.createElement("div");
                  b.classList.add("breadcrumb");
                  photo.node().parentNode.insertBefore(b, photo.node().nextSibling),
                  breadcrumb = d3.select(clone).select(".breadcrumb");
                  breadcrumb.append("img")
                    .attr("src", "/static/img/splash/go-to-link.svg")
                    .attr("alt", "Go to another profile.")
                  breadcrumb.append("div").attr("class", "crumb-trail");
                }
                breadcrumb.selectAll(".crumb-trail a").remove();
                data.parents.forEach(function(d) {
                  d3.select(clone).select(".crumb-trail").append("a")
                    .attr("href", "/profile/" + type + "/" + d.url_name + "/")
                    .html(d.name);
                });
              }
              else {
                d3.select(clone).select(".breadcrumb").remove();
              }
              d3.select(clone).select(".data-source-crumb").remove();

              this.parentNode.insertBefore(clone, this.nextSibling);
              if (data.splash.viz) {
                data.splash.viz.container = d3.select(clone).select(".viz");
                data.splash.viz.container.selectAll("*").remove();
                viz.prepBuild(data.splash.viz);
                builds = builds.concat(data.splash.viz);
              }
            });

            var sections = data.sections.reduce(function(obj, d) {
              d.topics = d.topics.reduce(function(obj, t) {
                obj[t.slug] = t;
                return obj;
              }, {});
              obj[d.anchor] = d;
              return obj;
            }, {});

            var base_name = d3.select(".splash-titles").select("span").html(),
                joiner = type === "geo" ? " in " : " for ";

            d3.selectAll("section").each(function(){

              var anchor = this.className.split(" ")[0];

              d3.select(this).selectAll("article").each(function() {

                var slug = d3.select(this).attr("data-slug");
                var topic = sections[anchor] ? sections[anchor].topics[slug] : false;
                if (topic && (topic.viz || topic.stat)) {

                  // console.log(topic);

                  var topic_name = name;
                  if (topic.subtitle) {
                    var sub_name = new RegExp(/<a[^>]*>([^<]*)/g).exec(topic.subtitle);
                    if (sub_name) topic_name = sub_name[1];
                  }

                  var build = builds.filter(function(b) { return b.slug === slug; });
                  build = build.length ? build[build.length - 1] : false;

                  if (build && build.data && topic.viz && build.data.map(function(d) { return d.url; }).join("--") === topic.viz[0].data.map(function(d) { return d.url; }).join("--")) {
                    // do nothing!
                  }
                  else if (build && ["bar", "line"].indexOf(build.config.type) >= 0 && topic.viz.length === 1 && type === build.config.id && (attr_type !== "university" || build.data.length === 1)) {

                    build.compare = attr ? attr.id : false;

                    function changeURL(d) {

                      var show = new RegExp("[&|?]" + type + "=([%a-zA-Z0-9\+\-]*)").exec(d.url);
                      if (show) d.url = d.url.replace(show[0], show[0] + "%2C" + attr.id);

                      if (show && ["naics", "soc"].indexOf(type) >= 0) {
                        var level = new RegExp("[&|?]" + type + "_level=([%a-zA-Z0-9]*)").exec(d.url);
                        if (level) d.url = d.url.replace(level[0], level[0] + "%2C" + data.attr.level);
                      }

                    }

                    build.data.forEach(changeURL);

                    var stats = d3.select(this).selectAll(".stat");
                    if (stats.size() === 1) {
                      var clone = stats.node().cloneNode(true),
                          stat = topic.stat[0];
                      d3.select(clone).classed("compare-add", true);
                      d3.select(clone).select(".stat-text").html(topic_name);
                      d3.select(clone).select(".stat-value").html(stat.value);
                      d3.select(clone).select(".stat-subtitle").html(stat.subtitle);
                      stats.node().parentNode.insertBefore(clone, stats.node().nextSibling);
                    }

                    if (topic.miniviz) {
                      var miniviz = builds[builds.indexOf(build) - 1];
                      miniviz.compare = attr ? attr.id : false;
                      if (miniviz.config.type === "bar" && type === miniviz.config.id) {
                        miniviz.data.forEach(changeURL);
                      }
                    }

                    // d3.select(this).select(".topic-title").html(function() {
                    //   return d3.select(this).html() + joiner + base_name " and " + topic_name;
                    // });

                  }
                  else {

                    d3.select(this).classed("compare-flex", true);
                    var clone = this.cloneNode(true);
                    d3.select(clone).classed("compare-add", true);
                    if (d3.select(this).selectAll(".viz.main").size() === 1 && !build.config.height) d3.select(this).selectAll(".viz.main").classed("compare-tall", true);

                    d3.select(this).select("h2").select(".topic-title, .term").html(function() {
                      return d3.select(this).html() + joiner + base_name;
                    });

                    d3.select(clone).select("h2").select(".topic-title, .term").html(function() {
                      return d3.select(this).html() + joiner + topic_name;
                    });

                    d3.select(clone).selectAll(".sub-title").html(topic.subtitle);

                    d3.select(clone).selectAll(".stat").each(function(d, i) {
                      var div = d3.select(this), stat = topic.stat[i];
                      if (stat) {
                        div.select(".stat-text").html(title && title.size() ? stat.title : topic_name);
                        div.select(".stat-subtitle").html(stat.subtitle);
                        if (stat.subvalues) {
                          div.selectAll(".stat-value").each(function(d, i) {
                            d3.select(this).html("<span class='stat-text'>" + (i + 1) + ".</span> " + (i ? stat.subvalues[i - 1] : stat.value))
                          });
                        }
                        else {
                          div.select(".stat-value").html(stat.value);
                        }
                      }
                      else div.remove();
                    });

                    d3.select(clone).selectAll("p").html(function(d, i) {
                      return topic.description[i];
                    });

                    d3.select(clone).select("[id^=d3plus_drop_topic-select-]").remove();
                    d3.select(clone).select("select").remove();
                    if (topic.select) {
                      var first = d3.select(clone).select("aside").select("*").node();
                      if (first.className.indexOf("sub-title") >= 0) first = first.nextSibling;
                      var select = document.createElement("select");
                      d3.select(clone).select("aside").node().insertBefore(select, first);
                      var select = d3.select(clone).select("select")
                        .attr("data-default", topic.select.default)
                        .attr("data-method", topic.select.method)
                        .attr("data-param", topic.select.param)
                        .attr("id", "topic-select-" + (builds.length + (topic.miniviz ? 1 : 0)));
                      var options = select.selectAll("option").data(topic.select.data);
                      options.enter().append("option")
                        .attr("value", function(d) { return d.id; })
                        .property("selected", function(d) { return d.id === topic.select.default; })
                        .html(function(d) { return d.name; })
                    }

                    this.parentNode.insertBefore(clone, this.nextSibling);

                    if (topic.miniviz) {
                      topic.miniviz.container = d3.select(clone).select(".viz.mini");
                      viz.prepBuild(topic.miniviz);
                      topic.miniviz.compare = attr.id;
                      builds = builds.concat(topic.miniviz);
                    }

                    if (topic.viz) {
                      var containers = d3.select(clone).selectAll(".viz.main");
                      if (topic.viz.length < containers.size()) {
                        containers.classed("tall", true);
                        containers.each(function(d, i) {
                          if (i >= topic.viz.length) d3.select(this).remove();
                        });
                      }
                      topic.viz.forEach(function(v, i) {
                        v.container = d3.select(containers[0][i]);
                        if (!v.container.size()) {
                          var first = topic.viz[0].container.node();
                          topic.viz[0].container.classed("tall", false);
                          var container = first.cloneNode(true);
                          first.parentNode.insertBefore(container, first.nextSibling);
                          v.container = d3.select(container);
                        }
                        v.compare = attr.id;
                        if (!v.config.height && topic.viz.length === 1) v.container.classed("compare-tall", true);
                        if (!v.config.color) v.config.color = "compare";
                      });
                      topic.viz.forEach(viz.prepBuild);
                      builds = builds.concat(topic.viz);
                    }

                  }

                }

              });

            })
          }

          builds.forEach(viz.resizeBuild);
          profileEvents();
          if (document.onscroll) document.onscroll();

          d3.select("body").classed("frozen", false);
          d3.select("#compare-loading").style("display", "none");

        }

        if (attr) {
          d3.json("/profile/" + type + "/" + attr.id + "/?json=True", function(error, data) {
            update_builds(data);
          });
        }
        else update_builds(false);

        if (!back && history.pushState) {
          titles.push(document.title);
          if (attr) document.title = titles[0].split(" & ")[0] + " & " + name;
          else document.title = titles[0].split(" & ")[0];

          urlPath = attr ? location.pathname + "?compare=" + encodeURIComponent(attr.url_name || attr.id) : location.pathname;
          window.history.pushState({path: urlPath}, "", urlPath);
        }

        compare = attr;

      }

      d3.select(window).on("popstate", function() {
        if (compares.length && !compares[compares.length - 1] === location.href.indexOf("compare=") < 0) {
          if (titles.length) document.title = titles.pop();
          addComparison(compares.length ? compares.pop() : false, true);
        }
      })

      d3.selectAll(".compare-search").on("click", function() {

        d3.event.preventDefault();
        d3.event.stopPropagation();

        if (compare) {
          addComparison(false);
          return;
        }

        var modal = d3.select("#search-compare-modal"),
            rect = d3.select(this).node().getBoundingClientRect();

        if (modal.classed("open")) {
          modal.classed("open", false);
          return;
        }

        var navCompare = this.parentNode.parentNode.id === "title-bar";

        modal
          .classed("open", true)
          .style("position", navCompare ? "fixed" : "absolute")
          .style("top", (navCompare ? 0 : window.pageYOffset) + rect.top + rect.height + 10 + "px")
          .style("left", rect.left + rect.width / 2 - parseFloat(modal.style("width"), 10) / 2 + "px");

        // focus input
        var search_input = modal.select("input");
        search_input.node().focus();

        // initialize search if input box is empty
        search.container = modal;
        search.click = addComparison;
        search.type = attr_type;
        search.max = 20;
        search.term = search_input.property("value");
        search.filterID = location.pathname.split("/")[3];
        search.data = false;
        search.reload();

      });

      if (compare) addComparison(compare);
      else profileEvents();
      viz.loadBuilds(builds);

      function updateCartTooltip(){

        localforage.getItem("cart", function(error, cart) {

          var offset = -5,
              size = d3.select("#cart-btn").node().getBoundingClientRect(),
              text = "",
              tooltipID = "cart-tooltip";
          d3plus.tooltip.remove(tooltipID);

          if (cart.datasets.length) {

            text += "<div class='headers'>";
            text += "<div class='name'>" + cart.datasets.length + " Datasets</div>";
            text += "<div class='remove'>Remove</div>";
            text += "</div>";


            text += "<div class='body'>";
            for (var i = 0; i < cart.datasets.length; i++) {
              var dataset = cart.datasets[i];
              text += "<div class='dataset'>";
              text += "<div class='name'>" + dataset.title + "</div>";
              text += "<div class='remove' data-index='" + i + "'></div>";
              text += "</div>";
            }
            text += "</div>";

            text += "<div class='buttons'>";
            text += "<a class='cart-btn' href='/cart'>View Data</a>";
            text += "<div class='cart-btn cart-clear'>Clear Cart</div>";
            text += "</div>";

          }
          else {
            text += "<div class='body'>";
            text += "Put data into your cart as you browse to merge data from multiple sources.";
            text += "</div>";
          }

          d3plus.tooltip.create({
            "x": size.left+size.width/2 + d3plus.client.scroll.x() + 9,
            "y": size.top+size.height/2 + d3plus.client.scroll.y(),
            "offset": size.height/2 + offset,
            "arrow": true,
            "title": "Data Cart",
            "html": text,
            "width": "auto",
            "mouseevents": d3.select("#cart-btn").node(),
            "id": tooltipID,
            "align": "bottom center",
            "width": 250
          });

          d3.select("#d3plus_tooltip_id_cart-tooltip").selectAll(".remove")
            .on("click", function() {
              var i = parseFloat(d3.select(this).attr("data-index"));
              var dataset = cart.datasets[i];

              var index = dataset.slug ? cart.builds.indexOf(dataset.slug) : -1;
              if (index >= 0) cart.builds.splice(index, 1);
              cart.datasets.splice(i, 1);
              localforage.setItem("cart", cart, function() {
                updateCartTooltip();
                updateCart();
              });
            });

          d3.select("#d3plus_tooltip_id_cart-tooltip").select(".cart-clear")
            .on("click", function() {
              localforage.setItem("cart", null, function() {
                updateCartTooltip();
                updateCart();
              });
            });

        });

      }

      d3.select("#cart-btn")
        .on(d3plus.client.pointer.over, updateCartTooltip)
        .on(d3plus.client.pointer.out,function(){
          d3plus.tooltip.remove("cart-tooltip");
        });

      function updateCart() {

        localforage.getItem("cart", function(error, cartCache) {

          if (cartCache === null) {
            cartCache = {
              builds: [],
              datasets: []
            };
            localforage.setItem("cart", cartCache);
          }

          if (parent !== window && cartCache.datasets.length) {

          }

          try {
            var doc = parent.document;
            if (doc && doc !== document && cartCache.datasets.length && d3.select(doc.body).classed("cart")) {
              parent.location.reload();
            }
          }
          catch(e) {
            // not accessible
          }

          d3.select("#cart-btn a")
            .html(cartCache.datasets.length || "")
            .classed("active", cartCache.datasets.length);

          if (d3.select("body").classed("cart")) populatePage(cartCache);
          else {

            d3.selectAll(".add-to-cart").each(function() {
              d3.select(this)
                .classed("active", cartCache.builds.indexOf(d3.select(this).attr("data-slug")) >= 0)
                .classed("disabled", cartCache.builds.indexOf(d3.select(this).attr("data-slug")) < 0 && cartCache.builds.length >= cartLimit);
            });

          }

        });

      }
      updateCart();

      if (resizeFunctions.length || resizeInstantFunctions.length) {

        var resize;

        function resizeEnd() {
          for (var i = 0; i < resizeFunctions.length; i++) {
            resizeFunctions[i]();
          }
        }

        window.onresize = function(){
          for (var i = 0; i < resizeInstantFunctions.length; i++) {
            resizeInstantFunctions[i]();
          }
          clearTimeout(resize);
          resize = setTimeout(resizeEnd, 400);
        }

      }

      var firstScroll = true;
      if (scrollFunctions.length) {
        document.onscroll = function(){
          var wait = firstScroll ? 0 : 500;
          for (var i = 0; i < scrollFunctions.length; i++) {
            scrollFunctions[i](wait);
          }
          firstScroll = false;
        }
      }
      if (document.onscroll && !compare) document.onscroll();

    </script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1705281333093640',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="Preview-Link">
      <a href="https://preview.datausa.io">Click here</a> to preview the next version of Data USA, including updated data and a custom visualization builder!
      <div class="close">x</div>
    </div>

    <script>

      localforage.getItem("hide-preview", function(error, hidden) {
        if (!hidden) {
          d3.select("#Preview-Link").style("bottom", "0px");
          d3.select("#Preview-Link .close").on("click", function() {
            d3.select("#Preview-Link").style("bottom", "-100px");
            localforage.setItem("hide-preview", true);
          });
        }
      });

    </script>

  </body>
</html>
