<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

<div id="menu-btn" data-ga="menuBtnClick" data-ga-cat="navigation" data-ga-label="Navigation menu button clicked" data-ga-target="#menu">
   <div class="in">
     <div class="bd">
      <div class="b-1 b">
        <span></span>
       </div>
       <div class="b-2 b">
         <span></span>
       </div>
       <div class="b-3 b">
         <span></span>
       </div>
     </div>
   </div>
</div>

<nav>
  <div id="top-nav">
      <div class="btn-container"></div>

      <div id="home-btn">
          <a href="/"><img src="/static/img/logo_sm.png" alt="DataUSA" style="width:78px" /></a>
      </div>

      <div id="search-btn" data-results="search-simple-nav">
        <a href="/search/?q=" class="m-hotspot"></a>
        <div class="search-box">
          <input id="nav-search-input" class="search-input" data-search="simple-nav" type="text" placeholder="Press Enter to refine search" data-ga="navSearchClick" data-ga-cat="navigation" data-ga-label="Search icon clicked" />
        </div>
        <div class="search-i"><img src="/static/img/search/search_w.svg" alt="Search" /></div>
        <!-- <i class="fa fa-search"></i> -->
      </div>
      {% block subtitle %}{% endblock %}
  </div>
</nav>

<div id="menu">
  <div class="menu-content">
    <ul>
      {% if g.page_type != "home" %}
      <li class="home-sum">
        <a href="/"><h2>Home</h2></a>
      </li>
      {% endif %}
      <li class="explore-sum">
        <h2>Explore</h2>
        <ul>
          <li class="profile-sum">
            <img src="/static/img/search/search_w.svg" /><a href="/search/?q=">Profiles</a>
          </li>
          <li class="stories-sum">
            <img src="/static/img/search/stories_w.svg" /><a href="/story/">Stories</a>
          </li>
          <li class="map-sum">
            <img src="/static/img/icons/demographics.svg" /><a href="/map/">Maps</a>
          </li>
        </ul>
      </li>
      <li class="data-sum">
        <h2>Data</h2>
        <ul>
          <li class="info-sum">
            <img src="/static/img/icons/skills.svg" /><a href="/about/datasets/">Data Sources</a>
          </li>
          <li class="info-sum">
            <img src="/static/img/icons/soc.svg" /><a href="/about/api/">API</a>
          </li>
          <li class="info-sum">
            <img src="/static/img/icons/about.svg" /><a href="/about/attributes/">Classifications</a>
          </li>
        </ul>
      </li>
      <li class="about-sum">
        <h2>About</h2>
        <ul>
          <li class="info-sum">
            <img src="/static/img/search/about_w.svg" /><a href="/about/">Platform Info</a>
          </li>
          <li class="contact-sum">
            <img src="/static/img/icons/workforce.svg" /><a href="mailto:hello@datausa.io">Contact Us</a>
          </li>
          <li class="usage-sum">
            <img src="/static/img/icons/io.svg" /><a href="/about/usage/">Term of Use</a>
          </li>
          <li class="glossary-sum">
            <img src="/static/img/icons/education.svg" /><a href="/about/glossary/">Glossary</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>

<div id="search-simple-nav" class="search-body">
  <div class="no-search-results">No results found</div>
  <div class="search-results"></div>

  <section class="results-show-all">
    <a href="/search/">Show all results <span class="more"></span></a>
  </section>
</div>

{% block body %}
{% endblock %}

<footer>
  <img class="logo" src="/static/img/logo_sm.png" alt="DataUSA" />
  <div class="content">
    <div class="footer-links">
      <ul><h4>Explore</h4>
        <li><a href="/search/?q=">Profiles</a></li>
        <li><a href="/story/">Stories</a></li>
        <li><a href="/map/">Geomaps</a></li>
      </ul>
      <ul><h4>Data</h4>
        <li><a href="/about/datasets/">Datasets</a></li>
        <li><a href="/about/api/">API</a></li>
        <li><a href="/about/attributes/">Classifications</a></li>
      </ul>
      <ul><h4>About</h4>
        <li><a href="/about/">Platform Info</a></li>
        <li><a href="mailto:hello@datausa.io">Contact Us</a></li>
        <li><a href="/about/usage/">Terms of Use</a></li>
        <li><a href="/about/glossary/">Glossary</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <div class="footer-mailer">
        Receive updates on news, datasets, and features?
        <form action="//datawheel.us12.list-manage.com/subscribe/post?u=458059cf58ada1fd2b7de3e39&amp;id=9a3f9a9f32" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    	<div id="mc_embed_signup_scroll">
  					<div class="input-container">
              <i class="fa fa-envelope-o"></i>
  						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
			    		<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="email-btn">
  					</div>
		    		<div style="position: absolute; left: -5000px;" aria-hidden="true">
		    			<input type="text" name="b_458059cf58ada1fd2b7de3e39_9a3f9a9f32" tabindex="-1" value="">
		    		</div>
		    	</div>
				</form>
      </div>
      <div class="footer-logos">
      	<a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/footer/deloitte.png" /></a>
      	<a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/footer/mit.png" /></a>
      	<a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/footer/datawheel.png" /></a>
      </div>
    </div>
  </div>
</footer>

<script>

d3.select("#menu-btn").on(d3plus.client.pointer.click, function(){
  d3.event.preventDefault();
  d3.selectAll("#menu-btn .b").classed("close", !d3.selectAll("#menu-btn .b").classed("close"));

  d3.select("#menu").classed("open", !d3.select("#menu").classed("open"));

  var body = d3.select("body");

  body.classed("frozen", !d3.select("body").classed("frozen"));

  if (body.classed("frozen") === true) {
    body.append("div").attr("class", "page-mask");
  } else {
    d3.select(".page-mask").remove();
  }

  d3.select(".page-mask").on("click", function(){
    d3.select(this).remove();
    d3.selectAll("#menu-btn .b").classed("close", false);
    d3.select("#menu").classed("open", false);
    d3.select("body").classed("frozen", false);
  });
});

d3.selectAll("#search-btn, #home-search-input").on("click", function(){
  if(d3.event){
    d3.event.stopPropagation();
  }
  var _this = this === window ? d3.select("#home-search-input").node() : this;
  var is_home = this.id === "home-search-input";
  var results_div_id = d3.select(_this).attr("data-results");
  var results_div = d3.select("#"+results_div_id)
  results_div.classed("open", true);

  // open search box if not home page
  if(!d3.select("body").classed("home")){
    d3.select(".search-box").classed("open", !d3.select(".search-box").classed("open"));

    // close search body if search box is closed
    if (!d3.select(".search-box").classed("open")) {
      d3.select(".search-body").classed("open", false);
    }

  }

  // focus input
  var search_input = _this.tagName.toLowerCase() === "input" ? d3.select(_this) : d3.select(_this.parentNode).select("input");
  search_input.node().focus();

  // initialize search if input box is empty
  // console.log(search_input.property("value"))
  if(search_input.property("value") !== "" || is_home){
    search.container = d3.select("#search-" + search_input.attr("data-search"));
    search.term = search_input.property("value");
    search.reload();
  }
  else {
    results_div.classed("open", false);
  }
});

d3.selectAll("#nav-search-input").on("click", function(){
  if(d3.select(this.parentNode).classed("open")){
    d3.event.stopPropagation();
  }
})

d3.select(document).on("click", function(){

  // close all search results
  d3.selectAll(".search-body").classed("open", false);
  d3.selectAll(".search-input").each(function(){ this.blur(); });
  d3.select("#search-simple-nav").classed("open", false);

  // close nav search only if empty
  if (d3.select(".search-box input").property("value") !== "") {
    d3.select(".search-box").classed("open", true);
  } else {
    d3.select(".search-box").classed("open", false);
  }
})

</script>

{% endblock %}
