<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

<div id="menu-btn" data-ga="menuBtnClick" data-ga-cat="navigation" data-ga-label="Navigation menu button clicked" data-ga-target="#menu">
   <div class="in">
     <div class="bd">
      <div class="b-1 b">
        <span></span>
       </div>
       <div class="b-2 b">
         <span></span>
       </div>
       <div class="b-3 b">
         <span></span>
       </div>
     </div>
   </div>
</div>

<nav>
  <div id="top-nav">
      <div class="btn-container"></div>

      <div id="home-btn">
          <a href="/"><img src="/static/img/home/logo_4.png" alt="DataUSA" style="width:104px" /></a>
      </div>

      <div id="search-btn" data-results="search-simple-nav">
        <div class="search-box">
          <input id="nav-search-input" class="search-input" data-search="simple-nav" type="text" placeholder="Start typing&hellip;" />
        </div>
        <div class="search-i"><img src="/static/img/search/search_w.svg" alt="Search" /></div>
        <!-- <i class="fa fa-search"></i> -->
      </div>
      {% block subtitle %}{% endblock %}
  </div>
</nav>

<div id="menu">
  <!-- <div class="desc">
      <p>
        DataUSA lets you to explore education, economic, job, health, and demographic data for the entire U.S., combining 300+ data sets into 1,000+ visualizations.
      </p>
  </div> -->
  <div class="menu-content">
    <ul>
      <li class="home-sum">
        <a href="/">
          <img src="/static/img/icons/housing.svg" alt="icon" />
          <h2>Home</h2>
        </a>
      </li>
      <!-- <li class="search-sum">
        <a href="/search/">
          <img src="/static/img/icons/housing.svg" alt="icon" />
          <h2>Advanced Search</h2>
        </a>
      </li> -->
      <li class="profile-sum">
        <a href="/search/?q=" class="profile-link">
          <img src="/static/img/search/search_w.svg" alt="icon" />
          <h2>Profiles</h2>
        </a>
        <ul class="profiles-drawer">
          <li>
            <a href="/search/?kind=naics" class="profile-link-carousel">
              <h2>
                Industry
              </h2>
            </a>
          </li>
          <li>
            <a href="/search/?kind=geo" class="profile-link-carousel">
              <h2>
                Location
              </h2>
            </a>
          </li>
          <li>
            <a href="/search/?kind=soc" class="profile-link-carousel">
              <h2>
                Occupations
              </h2>
            </a>
          </li>
          <li>
            <a href="/search/?kind=cip" class="profile-link-carousel">
              <h2>
                College Majors
              </h2>
            </a>
          </li>
        </ul>
      </li>
      <li class="stories-sum">
        <a href="/story/">
            <img src="/static/img/search/stories_w.svg" alt="icon" />
            <h2>Stories</h2>
        </a>
      </li>
      <li class="about-sum">
        <a href="/about/">
            <img src="/static/img/search/about_w.svg" alt="icon" />
            <h2>About</h2>
        </a>
      </li>
    </ul>
  </div>

  <footer>
    <a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/footer/deloitte.png" /></a>
    <a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/footer/mit.png" /></a>
    <a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/footer/datawheel.png" /></a>
  </footer>

</div>

<div id="search-simple-nav" class="search-body">
  <div class="search-results">
  </div>

  <section class="results-show-all">
    <a href="/search/">Show all results <span class="more"></span></a>
  </section>
</div>

{% block body %}
{% endblock %}

<footer>
  <a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/footer/deloitte.png" /></a>
  <a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/footer/mit.png" /></a>
  <a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/footer/datawheel.png" /></a>
</footer>

<script>

d3.select("#menu-btn").on("click", function(){
  d3.selectAll(".b").classed("close", !d3.selectAll(".b").classed("close"));

  d3.select("#menu").classed("open", !d3.select("#menu").classed("open"));

  var body = d3.select("body");

  body.classed("frozen", !d3.select("body").classed("frozen"));

  if (body.classed("frozen") === true) {
    body.append("div").attr("id", "mask");
  } else {
    d3.select("#mask").remove();
  }
  d3.event.preventDefault();

  d3.select("#mask").on("click", function(){
    d3.select(this).remove();
    d3.selectAll(".b").classed("close", false);
    d3.select("#menu").classed("open", false);
    d3.select("body").classed("frozen", false);
  });
});

d3.selectAll("#search-btn, #home-search-input").on("click", function(){
  var is_home = this.id === "home-search-input";
  var results_div_id = d3.select(this).attr("data-results");
  var results_div = d3.select("#"+results_div_id)
  results_div.classed("open", true);

  // open search box if not home page
  if(!d3.select("body").classed("home")){
    d3.select(".search-box").classed("open", !d3.select(".search-box").classed("open"));
  }

  // focus input
  var search_input = this.tagName.toLowerCase() === "input" ? d3.select(this) : d3.select(this.parentNode).select("input");
  search_input.node().focus();

  // initialize search if input box is empty
  // console.log(search_input.property("value"))
  if(search_input.property("value") !== "" || is_home){
    search.container = d3.select("#search-" + search_input.attr("data-search"));
    search.reload();
  }
  else {
    results_div.classed("open", false);
  }
  d3.event.stopPropagation();
});

d3.selectAll("#nav-search-input").on("click", function(){
  if(d3.select(this.parentNode).classed("open")){
    d3.event.stopPropagation();
  }
})

d3.select(document).on("click", function(){

  // close all search results
  d3.selectAll(".search-body").classed("open", false);
  d3.selectAll(".search-input").each(function(){ this.blur(); });
  d3.select(".search-box").classed("open", false);
  d3.select("#search-simple-nav").classed("open", false);

})

</script>

{% endblock %}
