<!-- extend from base layout -->
{% extends "templates/base.html" %}

{% block content %}

<div id="menu-btn">
  <i class="fa fa-bars"></i> DataUSA
</div>

<div id="search-btn">
  <i class="fa fa-search"></i>
</div>

{% block body %}
{% endblock %}

<footer>
  <a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/footer/deloitte.png" /></a>
  <a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/footer/mit.png" /></a>
  <a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/footer/datawheel.png" /></a>
</footer>

{% endblock %}
