.mlsel-target-wrapper {
  display: block;
  cursor: pointer;
}

.mlsel-popover-content {}

.mlsel-filter-input {}

.mlsel-filter-reset {}

.mlsel-filter-group + .mlsel-select-list {
  padding-top: 5px;
}
