{% extends "templates/nav.html" %}

{% block body %}

<header class="article">
  <div id="splash" style="background-image:url(https://c2.staticflickr.com/6/5700/23284542585_145552d85a_k.jpg)">
    
    <div class="bg-filter"></div>
    
    <ul id="sub-nav-items">
        <li><a href="/about/" {% if g.page_sub_type == 'index' %}class="current"{% endif %}><span>About DataUSA</span></a></li>
        <li><a href="/about/glossary/" {% if g.page_sub_type == 'glossary' %}class="current"{% endif %}><span>Glossary</span></a></li>
        <li><a href="/about/api/" {% if g.page_sub_type == 'api' %}class="current"{% endif %}><span>API</span></a></li>
        <li><a href="/about/usage/" {% if g.page_sub_type == 'usage' %}class="current"{% endif %}><span>Usage</span></a></li>
    </ul>
    
    <div class="text">
      <div class="post-titles">
        <h1>API</h1>
        <p class="description">DataUSA is a collaboration between Deloitte, Datawheel and the Macro Connections group at The MIT Media Lab.</p>
      </div>
    </div>

  </div> <!-- .splash -->
</header>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
