{% extends "templates/data.html" %}

{% block title %} Classifications{% endblock %}

{% block head %}
  {% if pagination.has_prev %}
    <link rel="prev" href="{{ url_for_other_page(pagination.page - 1) }}" />
  {% endif %}
  {% if pagination.has_next %}
    <link rel="next" href="{{ url_for_other_page(pagination.page + 1) }}" />
  {% endif %}
{% endblock %}

{% block about_content %}
<article>
  <section>
    <ul class="dataset-panel">
      <li {% if attr_type == "geo" %}class="active"{% endif %}><a href="/about/attributes/geo/" class="geo" data-value="1"><img src="/static/img/icons/geo_b.svg" />Locations</a></li>
      <li {% if attr_type == "naics" %}class="active"{% endif %}><a href="/about/attributes/naics/" class="naics" data-value="2"><img src="/static/img/icons/naics_b.svg" />Industries</a></li>
      <li {% if attr_type == "soc" %}class="active"{% endif %}><a href="/about/attributes/soc/" class="soc" data-value="3"><img src="/static/img/icons/soc_b.svg" />Occupations</a></li>
      <li {% if attr_type == "cip" %}class="active"{% endif %}><a href="/about/attributes/cip/" class="cip" data-value="4"><img src="/static/img/icons/cip_b.svg" />Education</a></li>
    </ul>

    <div class="attr-body">

      <ul class="sumlevels">
        {%- for slevel in sumlevels.values()|sort %}
          {% if attr_type == "geo" %}
            {% set slevel_id = "sumlevel" %}
          {% else %}
            {% set slevel_id = "shortlabel" %}
          {% endif %}
          <li {% if slevel[slevel_id] == this_sumlevel[slevel_id] %}class="active"{% endif %}><a href="/about/attributes/{{ attr_type }}/{{ slevel[slevel_id] }}/" class="{{ attr_type }}" data-value="1">{{ slevel['label'] }}</a></li>
        {%- endfor %}
      </ul>

      <div>
        <table class="{{ attr_type }}">
          <thead>
            <tr>
              {%- for header in headers %}
                {% if pagination.sort == header.id %}
                <th class="{{ header.id }}"><a href="{{ url_for_other_page(pagination.page, header.id, pagination.next_order) }}">{{ header.name }} {% if pagination.order == "desc" %}<i class="fa fa-sort-desc"></i>{% else %}<i class="fa fa-sort-asc"></i>{% endif %}</a></th>
                {% else %}
                <th class="{{ header.id }}"><a href="{{ url_for_other_page(pagination.page, header.id, 'desc') }}">{{ header.name }} <i class="fa fa-sort"></i></a></th>
                {% endif %}
              {%- endfor %}
            </tr>
          </thead>
          <tbody>
            {% for attr in attrs %}
            <tr>
              {%- for header in headers %}
                {% if header.anchor_key %}
                <td class="{{ header.id }}"><a href="/profile/{{ attr_type }}/{{ attr[header.anchor_key] }}/">{{ attr[header.key] }}</a></td>
                {% else %}
                <td class="{{ header.id }}">{{ attr[header.key] }}</td>
                {% endif %}
              {%- endfor %}
              <!-- <td class="id">{{ attr['id'] }}</td>
              <td class="name"><a href="/profile/{{ attr_type }}/{{ attr[anchor_key] }}/">{{ attr[name_key] }}</a></td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class=pagination>
        {% if pagination.has_prev %}
          <a class="page-nav prev" href="{{ url_for_other_page(pagination.page - 1, pagination.sort, pagination.order) }}">&laquo; Previous </a>
        {% else %}
          <div class="page-nav"></div>
        {% endif %}
        {% if pagination.has_prev or pagination.has_next %}
          <div class="pages">
          {%- for page in pagination.iter_pages() %}
            {% if page %}
              {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page, pagination.sort, pagination.order) }}">{{ page }}</a>
              {% else %}
                <strong>{{ page }}</strong>
              {% endif %}
            {% else %}
              <span class=ellipsis>…</span>
            {% endif %}
          {%- endfor %}
          </div>
        {% endif %}
        {% if pagination.has_next %}
          <a class="page-nav next" href="{{ url_for_other_page(pagination.page + 1, pagination.sort, pagination.order) }}">Next &raquo;</a>
        {% else %}
          <div class="page-nav"></div>
        {% endif %}
        </div>

      </div>

    </div>
  </section>
</article>

{% endblock %}
