{% extends "templates/nav.html" %}

{% block title %} Glossary {% endblock %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/home/logo_p2.png" alt="DataUSA" /></a> About</span>
</div>
{% endblock %}

{% block body %}

{% include "templates/about_subnav.html" %}

<header>
  <div id="splash"></div>

  <article>
    <h1>Glossary</h1>
    <p class="desc"></p>
  
    <section>
      <ul>
        <li>
          <h1><a name="calcs">Calculations</a></h1>
          <ol>
            <li>
              <h2><i class="fa fa-link"></i><a href="#gini" name="gini">GINI</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#margin_of_error" name="margin_of_error">Margin of Error</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#num_records" name="num_records">Number of Records</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#rca" name="rca">RCA</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
          </ol>
        </li>
        <li>
          <h1><a name="geography">Geography</a></h1>
          <ol>
            <li>
              <h2><i class="fa fa-link"></i><a href="#place" name="place">Census Designated Place (CDP)</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#county" name="county">County Subdivision</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#msa" name="msa">Metropolitan Statistical Area (MSA)</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#puma" name="puma">Public Use Microdata Areas (PUMAs)</a></h2>
              <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#zip" name="zip">Zip Codes</a></h2>
             <p class="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan ornare sodales. Suspendisse non felis neque. Quisque id interdum nunc, non ullamcorper elit. Mauris eros nulla, accumsan mollis urna eu, egestas auctor tortor. Donec ac vulputate neque. Nunc posuere congue eleifend. Donec id eros ut justo gravida volutpat vitae quis tortor.</p>
            </li>
          </ol>
        </li>
      </ul>
    </section>
  </article>
</header>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
