{% extends "templates/nav.html" %}

{% block title %} Glossary {% endblock %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/home/logo_p2.png" alt="DataUSA" /></a> About</span>
</div>
{% endblock %}

{% block body %}

{% include "templates/about_subnav.html" %}

<header>
  <div id="splash"></div>

  <article>
    <h1>Glossary</h1>
    <p class="desc"></p>
  
    <section>
      <ul>
        <li>
          <h1><a name="geography">Geography</a></h1>
          <ol>
            <li>
              <h2><i class="fa fa-link"></i><a href="#state" name="place">State</a></h2>
              <p class="centered">The DataUSA platform Includes data on all 50 US states as well as Washington D.C. and Puerto Rico.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#place" name="place">Census Designated Place (CDP)</a></h2>
              <p class="centered">As defined by the <a href="https://www.census.gov/geo/reference/gtc/gtc_place.html" target="_blank">Census Bureau</a>, “Incorporated Places are those reported to the Census Bureau as legally in existence as of January 1, 2010, as reported in the latest Boundary and Annexation Survey (BAS), under the laws of their respective states. An incorporated place is established to provide governmental functions for a concentration of people as opposed to a minor civil division, which generally is created to provide services or administer an area without regard, necessarily, to population. Places always are within a single state or equivalent entity, but may extend across county and county subdivision boundaries. An incorporated place usually is a city, town, village, or borough, but can have other legal descriptions.”</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#county" name="county">County Subdivision</a></h2>
              <p class="centered">As defined by the <a href="https://www.census.gov/geo/reference/gtc/gtc_cousub.html" target="_blank">Census Bureau</a>, “County Subdivisions are the primary divisions of counties and equivalent entities.  They include census county divisions, census subareas, minor civil divisions, and unorganized territories and can be classified as either legal or statistical.  Each county subdivision is assigned a five-character numeric Federal Information Processing Series (FIPS) code based on alphabetical sequence within state and an eight-digit National Standard feature identifier.”</p>
              <p class="centered">On the DataUSA platform users can view profiles for individual counties or a map of the entire United States showing data at the county level.</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#msa" name="msa">Metropolitan Statistical Area (MSA)</a></h2>
              <p class="centered">As defined by the <a href="https://www.census.gov/population/metro/" target="_blank">Census Bureau</a>, “Metropolitan and micropolitan statistical areas (metro and micro areas) are geographic entities delineated by the Office of Management and Budget (OMB) for use by Federal statistical agencies in collecting, tabulating, and publishing Federal statistics.”</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#puma" name="puma">Public Use Microdata Areas (PUMAs)</a></h2>
              <p class="centered">A Public Use Microdata Area (PUMAs), are statistical geographic units defined by the <a href="https://www.census.gov/geo/reference/puma.html" target="_blank">Census Bureau</a> as fulfilling the following criteria:</p>
              <ul>
                <li>Nest within states or equivalent entities</li>
                <li>Contain at least 100,000 people</li>
                <li>Cover the entirety of the United States, Puerto Rico, Guam, and the U.S. Virgin Islands</li>
                <li>Are built on census tracts and counties</li>
                <li>Should be geographically contiguous</li>
              </ul>
              <p class="centered">The DataUSA platform uses PUMAS for showing Location, Occupation and Industry data from the American Community Survey Public Use Microdata Sample (ACS PUMS),</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#zip" name="zip">Zip Codes</a></h2>
             <p class="centered">Zip Codes are only used in the DataUSA platform in the advanced search. There are no profiles that show data at the Zip Code level.</p>
            </li>
          </ol>
        </li>

        <li>
          <h1><a name="calcs">Calculations</a></h1>
          <ol>
            <li>
              <h2><i class="fa fa-link"></i><a href="#gini" name="gini">GINI</a></h2>
              <p class="centered">...</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#margin_of_error" name="margin_of_error">Margin of Error</a></h2>
              <p class="centered">...</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#num_records" name="num_records">Number of Records</a></h2>
              <p class="centered">...</p>
            </li>
            <li>
              <h2><i class="fa fa-link"></i><a href="#rca" name="rca">RCA</a></h2>
              <p class="centered">...</p>
            </li>
          </ol>
        </li>
        
      </ul>
    </section>
  </article>
</header>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
