{% extends "templates/nav.html" %}

{% block title %} About {% endblock %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/home/logo_p2.png" alt="DataUSA" /></a> About</span>
</div>
{% endblock %}

{% block body %}

{% include "templates/about_subnav.html" %}

<header id="about-index">
  <div id="splash"></div>
  <article>
    <section>
      <h2>Not Just a Repository of Data</h2>
      <p>Learn the full story of how the DataUSA platform was made and its goals of delivering trusted and intuitive insights about US economic data to inform citizens, policy makers and business leaders.</p>
      <p>DataUSA is a different kind of Data platform. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus justo turpis, vitae imperdiet diam ultrices in. Duis at facilisis ante. Mauris consequat justo id dolor consequat, ut faucibus nisl elementum. Praesent id enim vitae neque finibus fermentum. Proin eget neque turpis. Etiam a odio rutrum, feugiat sapien non, tincidunt libero. Mauris in blandit diam, et aliquet tortor.</p>
    </section>
  </article>
</header>

{% endblock %}

{% block js %}
<script>
d3.selectAll(".about_tabs li a").on("click", function(){
  d3.selectAll(".about_tabs li").classed("active", false);
  d3.select(this.parentNode).classed("active", true);
  d3.selectAll(".tab_content").classed("active", false);
  var active_tab = d3.select(this).attr("data-value");
  d3.select(".tab_content[data-tab='"+active_tab+"']").classed("active", true);
  d3.event.preventDefault();
})
</script>
{% endblock %}
