{% extends "templates/about.html" %}

{% block title %} About{% endblock %}

{% block about_content %}

<!-- <p>Learn the full story of how the DataUSA platform was made and its goals of delivering trusted and intuitive insights about US economic data to inform citizens, policy makers and business leaders.</p> -->
<article>
  <section>
    <p>By organizing and visualizing this data -- spanning topics like the labor & job markets, higher education, regional demographics, health care, and transportation -- DataUSA is a resource to approach complex topics with publically available data. Rather than wait for infographics or reports from news organizations or researchers, DataUSA gives you the option to explore your interests and discover the numbers for yourself.</p>
  </section>
</article>

{% endblock %}
