{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/home/logo_p2.png" alt="DataUSA" /></a> About</span>
</div>
{% endblock %}

{% block body %}

<header class="article">
  <div id="splash" style="background-image:url(https://c1.staticflickr.com/1/653/22495170549_e94a4343da_k.jpg)">
    
    <ul id="sub-nav-items">
        <li><a href="/about/" {% if g.page_sub_type == 'index' %}class="current"{% endif %}><span>About DataUSA</span></a></li>
        <li><a href="/about/glossary/" {% if g.page_sub_type == 'glossary' %}class="current"{% endif %}><span>Glossary</span></a></li>
        <li><a href="/about/api/" {% if g.page_sub_type == 'api' %}class="current"{% endif %}><span>API</span></a></li>
        <li><a href="/about/usage/" {% if g.page_sub_type == 'usage' %}class="current"{% endif %}><span>Usage</span></a></li>
    </ul>
    
    <div class="text">
      <div class="post-titles">
        <h1>Usage</h1>
        <p class="description">Permissions, rights and privacy statements.</p>
      </div>
    </div>

  </div>
</header>

<section>
  
  <a name="top"></a>
  <ul>
    <li><a href="#usage">Website usage </a></li>
    <li><a href="#content">What can you do with DataUSA content (data, text and visualizations)?</a></li>
    <li><a href="#disclaimers">Disclaimers</a></li>
    <li><a href="#immunities">Preservation of immunities</a></li>
  </ul>
  
  <h2><a name="usage">Website Usage and License</a></h2>
  <p>DataUSA is an aggregate visualization engine with public datasets from many different sources including those from official US departments as well as educational institutions. We encourage the use of the site as a means of informational and educational purposes. All of the content on the site is presented under a <a href="http://www.gnu.org/licenses/gpl-2.0.txt" target="_blank">GNU General Public License v2.0 (GPLv2)</a>.</p>
  <p><a href="#top">Return to top</a></p>
  
  <h2><a name="content">What can you do with DataUSA content (data, text and visualizations)?</a></h2>
  <p>You can copy, download or print content for your own use, and you can also include excerpts from DataUSA, databases and multimedia products in your own documents, presentations, blogs, websites and teaching materials, provided that suitable acknowledgment of DataUSA as source is given.</p>
  <p>All requests for commercial use and translation rights should be submitted to <a href="mailto:usage@datausa.io">usage@datausa.io</a>.</p>
  <p><a href="#top">Return to top</a></p>
  
  <h2><a name="disclaimers">Disclaimers</a></h2>
  <p>INFORMATION ON THIS SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. DataUSA makes every effort to ensure, but does not guarantee, the accuracy or completeness of the information on the DataUSA website(s). Our goal is to keep this information timely and accurate. If errors are brought to our attention, we will try to correct them.</p>
  <p>&nbsp;DataUSA may add, change, improve, or update the information of the website without notice. DataUSA reserves its exclusive right in its sole discretion to alter, limit or discontinue part of this site. Under no circumstances shall DataUSA be liable for any loss, damage, liability or expense suffered which is claimed to result from use of this site, including without limitation, any fault, error, omission, interruption or delay. Use of this site is at User's sole risk.</p>
  <p>We make every effort to minimize disruption caused by technical errors. However some data or information on DataUSA website(s) may have been created or structured in files or formats which are not error-free and we cannot guarantee that our service will not be interrupted or otherwise affected by such problems. DataUSA accepts no responsibility with regards to such problems (failure of performance, computer virus, communication line failure, alteration of content, etc.) incurred as a result of using DataUSA website(s) or any link to external sites.</p>
  <p>The User specifically acknowledges and agrees that DataUSA is not liable for any conduct of any other User, including, but not limited to, the types of conduct listed above.</p>
  <p>DataUSA reserves the right to deny at its sole discretion any User access to DataUSA website(s) or any portion thereof without notice.</p>
  <p>For site security purpose and to ensure that DataUSA website(s) remain(s) available to all users, it (they) employ(s) software programs to monitor network traffic to identify unauthorised attempts to upload or change information, or otherwise cause damage and to detect other possible security breaches.</p>
  <p><a href="#top">Return to top</a></p>
  
  <h2><a name="immunities">Preservation of immunities</h2>
  <p>Nothing herein shall constitute or be considered to be a limitation upon or a waiver of the privileges and immunities of DataUSA or of any related body or entity, which are specifically reserved.</p>
  <p><a href="#top">Return to top</a></p>
  
</section>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
