npm-debug.log*
.DS_Store

# node modules should never be synced with git
node_modules

# these static files will be generated on build
/static/assets
/packages/*/static/assets
/static/reports
packages/*/static/reports
/index.js
/packages/*/index.js

# environment variable files for autoenv and direnv
.env
.envrc

# docker files
dockerfiles/nginx/certs/*
dockerfiles/nginx/conf.d/default.conf

# old datausa from master branch
cache_data
datausa
*.pyc

google_auth.json

# pm2 config
*.config.js
