# Flask framework
Flask

# Helper lib for running scripts locally without server
flask-script

# SCSS Compiler
Flask-Scss

# Javascript Compiler
Flask-Assets

# YAML load/compiler
PyYAML

# URL library for handling external resources
requests

# Caching library
Flask-Cache

# Date parsing
python-dateutil

# For deploying site
gunicorn

# Python Linting
flake8
