@import "helpers/functions";
@import "helpers/reset";
@import "helpers/variables";
@import "helpers/vendor";

body {
  position: relative;

  &.open {
    overflow: hidden;
  }

}

@import "elements/base";
@import "elements/global";
@import "elements/nav";
@import "elements/footer";
@import "elements/modal";
@import "elements/search";
@import "elements/home";
@import "elements/profile";
@import "elements/embed";
@import "elements/map";
@import "elements/story";
@import "elements/about";

@import "elements/print";

.hidden {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: -9999;
}
