@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700|Palanquin:300,400,600,700|Noticia+Text:400,700|Lato:100,300,400,700|Playfair+Display:400,400italic|Roboto:300,400,700); 
  body {
    position: relative; }
    body.open {
      overflow: hidden; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top; }

  blockquote, q {
    quotes: none; }

    blockquote:before, blockquote:after, q:before, q:after {
      content: '';
      content: none; }

      table {
        border-collapse: collapse;
        border-spacing: 0; }

        a {
          outline: 0; }

          ul {
            list-style-type: none; }
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

  h1 {
    color: #132332;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: -0.05em; }

    h2 {
      color: white;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.1em;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase; }

      p {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 1.5;
        opacity: 0.9; }

        a {
          color: #333;
          opacity: 1;
          text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

  @media all and (min-width: 416px) {
    footer {
      display: none;   }
}
    @media all and (max-width: 415px) {
      footer {
        background-color: #eeeeee;
        text-align: center;
        height: 70px;
        width: 100%;
        overflow: hidden;   }
        footer img {
          height: 17.5px;
          margin: 26.92308px 10px;
          opacity: 0.5;
          -webkit-transition: opacity 1s;
          -moz-transition: opacity 1s;
          -ms-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;   }
}
        @media all and (max-width: 415px) and all and (min-width: 415px) {
          footer img {
            height: 23.33333px;
            margin: 23.33333px 14px;   }
}
          @media all and (max-width: 415px) {
            footer img:hover {
              opacity: 0.7;
              cursor: pointer;   }
}
body.frozen {
  overflow: hidden; }

  .icon-search.sm {
    background: url('/static/img/home/search_sm.png') no-repeat 0 0;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    display: inline-block; }
body.home #menu-btn, body.home #search-btn, body.home #home-btn {
  display: none; }
body.search #search-btn {
  visibility: hidden; }

#menu {
  left: -415px;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 415px;
  background-color: #677594;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  z-index: 4; }
  #menu.open {
    left: 0; }

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer; }

  .menu-content {
    margin-top: 40px; }
    .menu-content h2 {
      padding: 20px; }

.about-sum .desc {
  display: none; }
  .about-sum .desc p {
    padding: 5px 20px; }
.about-sum.open .desc {
  display: block; }

.profiles-drawer .disabled {
  pointer-events: none;
  cursor: default; }
  .profiles-drawer .disabled h2 {
    color: #ccc;
    opacity: 0.8; }

.desc {
  padding: 10px 20px; }

  #top-nav {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    height: 40px;
    overflow: hidden; }

    #menu-btn {
      padding: 15px;
      opacity: 0.5;
      color: #dc5137;
      font-size: 20px;
      font-weight: 700;
      line-height: 18px;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
      z-index: 5; }
      #menu-btn:hover {
        opacity: 1;
        cursor: pointer; }
        #menu-btn i {
          margin-right: 5px; }

#home-btn {
  position: relative;
  top: 0;
  padding: 15px;
  margin-top: 3px;
  z-index: 5;
  -webkit-transition: top 0.55s;
  -moz-transition: top 0.55s;
  -ms-transition: top 0.55s;
  -o-transition: top 0.55s;
  transition: top 0.55s; }
  #home-btn.hidden {
    top: -31px; }

#search-btn {
  padding: 15px;
  opacity: 0.5;
  color: #dc5137;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 5; }
  #search-btn:hover {
    opacity: 1;
    cursor: pointer; }

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: #010103; }

  #search-simple-nav {
    display: none;
    position: fixed;
    top: 43px;
    right: 3px;
    border: 1px solid black;
    background-color: #ccc;
    z-index: 4; }
    #search-simple-nav:before {
      content: "";
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent black transparent;
      height: 0px;
      position: absolute;
      right: 12px;
      top: -9px;
      width: 0px;
      -webkit-transform: rotate(360deg); }
      #search-simple-nav.open {
        display: block; }
        #search-simple-nav section {
          display: block;
          padding: 15px; }
          #search-simple-nav .results-title h3 {
            display: inline-block; }
            #search-simple-nav .results-title a {
              display: inline-block;
              float: right; }
    #search-simple-nav .results-show-all {
      padding: 5px 10px 7px;
      text-align: center;
      background-color: #fff; }

@media all and (max-width: 415px) {
  #top-nav {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100vw;   }
    #menu {
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      justify-content: space-around;
      width: 100%;   }
      #menu footer {
        display: none;   }
        .hidden {
          display: none;   }
          body.home nav #menu .profiles-drawer {
            display: none;   }
            body.home nav #menu ul {
              padding-bottom: 20vh;   }
              body.home nav #menu ul li {
                margin: 10px 0;
                text-align: center;   }
          body.home nav #menu .about-sum {
            padding-top: 20vh;   }
            body.home nav #menu .about-sum.open {
              padding-top: 5vh;   }
          body.home nav #menu-btn {
            display: block;
            padding: 12px 16px;
            color: white;
            opacity: 0.8;   }
}

@media all and (min-width: 416px) {
  body.home #menu {
    left: 0;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;   }
  #menu {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;   }
    #menu footer {
      display: block;
      background-color: #eeeeee;
      text-align: center;
      height: 70px;
      width: 100%;
      overflow: hidden;   }
      #menu footer img {
        height: 17.5px;
        margin: 26.92308px 10px;
        opacity: 0.5;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;   }
}
      @media all and (min-width: 416px) and all and (min-width: 415px) {
        #menu footer img {
          height: 23.33333px;
          margin: 23.33333px 14px;   }
}
        @media all and (min-width: 416px) {
          #menu footer img:hover {
            opacity: 0.7;
            cursor: pointer;   }
}
body.search a {
  color: #333; }
  body.search .search-input {
    -webkit-transition: box-shadow 1s, background-color 1s;
    -moz-transition: box-shadow 1s, background-color 1s;
    -ms-transition: box-shadow 1s, background-color 1s;
    -o-transition: box-shadow 1s, background-color 1s;
    transition: box-shadow 1s, background-color 1s;
    border: 0;
    padding: 0 10px;
    font-family: "Noticia Text", serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%; }
    body.search .search-input:focus {
      outline: 0;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-box-shadow: 0px 7px 0 rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0px 7px 0 rgba(255, 255, 255, 0.5);
      box-shadow: 0px 7px 0 rgba(255, 255, 255, 0.5); }
      @media all and (min-width: 415px) {
        body.search .search-input {
          font-size: 30px;   }
}
        body.search .search-input.inactive {
          display: none; }
body.search #search-advanced {
  margin: 20px auto;
  width: 80%; }
  body.search #search-advanced #search-filters a {
    padding: 10px 15px;
    border: 1px solid #ccc;
    display: inline-block; }
    body.search #search-advanced #search-filters a.active {
      font-weight: bold; }
  body.search #search-advanced .search-autocorrected {
    background-color: #FEEFB3;
    color: #9F6000;
    display: none;
    text-align: center; }
    body.search #search-advanced .search-autocorrected span {
      font-weight: bold; }
  body.search #search-advanced .search-suggestions {
    text-align: center; }
    body.search #search-advanced .search-suggestions a {
      font-weight: bold !important;
      text-decoration: underline !important; }
  body.search #search-advanced .search-nestings {
    min-height: 35px;
    z-index: 0; }
    body.search #search-advanced .search-nestings div {
      display: none;
      text-align: center; }
      body.search #search-advanced .search-nestings a {
        color: gray;
        padding: 5px 15px;
        display: inline-block; }
        body.search #search-advanced .search-nestings a.active {
          color: black;
          font-weight: bold; }
  body.search #search-advanced .search-nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    border: solid lightgray 4px;
    width: 100%;
    top: 0; }
    body.search #search-advanced .search-crumbs {
      display: none; }
      body.search #search-advanced .search-crumbs.active {
        display: block; }
        body.search #search-advanced .search-crumbs .search-back {
          display: inline-block;
          padding: 10px;
          width: 60px;
          color: #004994;
          font-family: "Enriqueta", serif;
          font-size: 30px;
          font-weight: 400;
          text-align: center; }
          body.search #search-advanced .search-crumbs .search-crumb {
            display: inline-block;
            padding: 10px 0;
            color: #004994;
            font-family: "Enriqueta", serif;
            font-size: 30px;
            font-weight: 400; }
            body.search #search-advanced .search-crumbs .search-crumb:not(:last-child):after {
              content: ">"; }
              body.search #search-advanced .search-crumbs .search-crumb:not(:last-child):hover {
                cursor: pointer; }
body.search .search-results-container {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background: lightgray; }
  body.search .search-results-container .search-refine {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #333;
    float: left;
    position: relative; }
    body.search .search-results-container .search-refine > a.clear {
      background-color: #FEEFB3;
      color: #9F6000;
      display: none;
      padding: 10px; }
      body.search .search-results-container .search-refine > div {
        padding: 10px; }
        body.search .search-results-container .search-refine h2 a,
        body.search .search-results-container .search-refine li a {
          color: gray; }
          body.search .search-results-container .search-refine h2 a.active,
          body.search .search-results-container .search-refine li a.active {
            color: black !important;
            font-weight: bold !important; }
            body.search .search-results-container .search-refine .details-sumlevels-results a {
              display: block; }
              body.search .search-results-container .search-refine a.details-profile {
                position: absolute;
                right: 10px;
                top: 10px; }
  body.search .search-results-container .search-results {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background: gray;
    color: #333;
    float: left; }
    body.search .search-results-container .search-results .search-item {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "Palanquin", sans-serif;
      font-size: 12px;
      color: white;
      line-height: 1.2em;
      margin: 5px 0;
      padding: 10px; }
      body.search .search-results-container .search-results .search-item.active {
        border: solid black 1px;
        background-color: #666; }
        body.search .search-results-container .search-results .search-item > div.thumb {
          -webkit-box-flex: 0 0 50px;
          -moz-box-flex: 0 0 50px;
          -webkit-flex: 0 0 50px;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          background-size: cover;
          background-position: center center;
          height: 50px; }
          body.search .search-results-container .search-results .search-item > div.info {
            -webkit-box-flex: 5;
            -moz-box-flex: 5;
            -webkit-flex: 5;
            -ms-flex: 5;
            flex: 5;
            margin: 0 10px; }
            body.search .search-results-container .search-results .search-item > div.info h2 a {
              font-size: 11px; }
              body.search .search-results-container .search-results .search-item > div.info .xtra {
                display: none; }
      body.search .search-results-container .search-results .search-item > div.profile {
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2; }
  body.search .search-results-container .search-close {
    float: right; }

.search-filters {
  -webkit-box-flex: 0 0 175px;
  -moz-box-flex: 0 0 175px;
  -webkit-flex: 0 0 175px;
  -ms-flex: 0 0 175px;
  flex: 0 0 175px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  width: 200px; }

  .search-filters-toggle {
    background-color: lightgray;
    color: white !important;
    overflow: hidden;
    padding: 8px 0px 8px 13px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    margin: 5px 0 5px 5px; }
    .search-filters-toggle:hover, .search-filters-toggle:focus,
    .search-filters-toggle .search-filters-toggle {
      color: white;
      outline: none; }
      .search-filters-toggle:active {
        background-color: lightgray;
        outline: none; }
        .search-filters-toggle:active .search-filters-toggle-icon {
          border-left-color: transparent; }

.search-filters-toggle-label {
  padding-right: 12px; }

  .search-filters-toggle-icon {
    background: lightgray url('/static/img/search/dropdown-triangle.png') no-repeat right center;
    border-left: 2px solid rgba(52, 73, 94, 0.15);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }

    .search-filters-options {
      padding-top: 14px; }
      .search-filters-options:before {
        content: "";
        border-style: solid;
        border-width: 0 9px 9px 9px;
        border-color: transparent transparent black transparent;
        height: 0px;
        position: absolute;
        left: 15px;
        top: 5px;
        width: 0px;
        -webkit-transform: rotate(360deg); }
        .search-filters-options:before {
          left: auto;
          right: 12px; }
          .search-filters-options li {
            padding-bottom: 3px; }
            .search-filters-options a {
              color: white !important;
              display: block;
              padding: 5px 9px;
              text-decoration: none; }
              .search-filters-options a:hover, .search-filters-options a.active {
                background-color: gray; }

.search-filters-options-inner {
  background-color: black;
  margin: 0;
  max-height: 244px;
  padding: 2px 2px 0; }

  .search-filters-options {
    max-height: 250px; }

    .search-filters {
      display: none;
      position: relative;
      display: inline-block;
      zoom: 1;
      *display: inline; }
      .search-filters[class*="span"] {
        float: none;
        margin-left: 0; }

.search-filters-toggle {
  display: block;
  position: relative; }

  .search-filters-options {
    margin-top: -21px;
    position: absolute;
    left: 5px;
    opacity: 0;
    width: 170px;
    z-index: 1;
    display: none;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden; }
    .select-right .search-filters-options {
      left: auto;
      right: 0; }
      .search-filters-options a {
        display: block; }

.search-filters-options-inner {
  overflow: auto;
  outline: none;
  position: relative; }
body.home {
  position: relative;
  height: 100vh; }
  body.home a {
    font-family: "Lato", sans-serif;
    font-weight: 400; }
    body.home .parallax {
      height: 190vh;
      overflow-x: hidden;
      overflow-y: hidden;
      -webkit-perspective: 1px;
      perspective: 300px; }
      body.home .parallax__group {
        transform 0.5s;
        position: relative;
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d; }
        body.home .parallax__layer {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
          body.home .parallax__layer--1 {
            -webkit-transform: translateZ(0);
            transform: translateZ(0); }
            body.home .parallax__layer--2 {
              top: 99vh;
              -webkit-transform: translateZ(-150px) scale(1.5);
              transform: translateZ(-150px) scale(1.5); }
              body.home .parallax__layer--3 {
                -webkit-transform: translateZ(-300px) scale(2);
                transform: translateZ(-300px) scale(2); }
                body.home .parallax__layer--4 {
                  -webkit-transform: translateZ(-450px) scale(2.5);
                  transform: translateZ(-450px) scale(2.5); }
                  body.home .bg-filter.landing {
                    width: 100vw;
                    height: 190vh;
                    background: linear-gradient(#cfedff, #677594 55%, white 70%, #fdc8b8 80%, #dc5137);
                    z-index: -11; }
                    body.home .bg-img.landing {
                      top: -37vh;
                      width: 100vw;
                      height: 100vh;
                      background: url('/static/img/home/home-landscape-b-3.png') no-repeat 50% 100%;
                      background-size: cover;
                      z-index: -10; }
                      body.home .bg-img.featured {
                        top: 125vh;
                        width: 100vw;
                        height: 100vh;
                        background: url('/static/img/home/home-cityscape-r-2.png') no-repeat 50% 0%;
                        background-size: cover;
                        z-index: -11; }
                        body.home article.landing {
                          top: 0;
                          height: 90vh;
                          margin: 0 auto; }
                          body.home article.featured-profiles {
                            top: 90vh;
                            overflow: hidden;
                            margin-left: -425px;
                            padding-left: 425px; }
                            body.home .logo {
                              margin: 40px 0; }
                              body.home #search-home {
                                margin-bottom: 20px; }
                                @media all and (max-width: 415px) {
                                  body.home .home-container {
                                    height: 184vh;
                                    overflow-y: hidden;   }
                                    body.home article.landing {
                                      height: 94vh;   }
                                      body.home .content {
                                        position: absolute;
                                        top: 0;   }
                                        body.home .profile-sum-link {
                                          display: inline-block;
                                          width: 38vw;
                                          height: 38vw;
                                          border: 2px solid white;
                                          margin: 20px 5vw;
                                          background-color: rgba(255, 255, 255, 0.5);   }
}
  @media all and (min-width: 416px) {
    body.home .home-container {
      height: 190vh;
      overflow-y: hidden;   }
      body.home nav li.profiles-sum {
        display: none;   }
    body.home #menu {
      background-color: rgba(255, 255, 255, 0);   }
      body.home #menu footer {
        background-color: rgba(255, 255, 255, 0);   }
    body.home .content {
      width: 100vw;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 425px;   }
      body.home .content li:not(.profiles-sum) {
        display: none;   }
    body.home .profiles-sum {
      margin-right: 15px;   }
      body.home .profile-sum-link {
        width: 15vw;
        height: 15vw;
        margin: 40px;   }
        body.home article {
          height: 100vh;
          position: absolute;   }
}

#search-home {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0;
  width: 80%; }
  #search-home.open {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    top: 0;
    margin: 0 2vw; }
    #search-home.open .search-input {
      display: none; }
      #search-home.open .search-body {
        height: 0 !important; }
        #search-home.open #search-switch {
          margin-top: 40px; }

#home-search-input {
  padding: 7px 10px 7px 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(103, 117, 148, 0.5) url('/static/img/home/search.png') no-repeat 11px 14px;
  background-attachment: inherit;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300; }
  #home-search-input::-webkit-input-placeholder {
    color: white;
    opacity: 0.7;
    font-weight: 300; }
    #home-search-input:-moz-placeholder {
      color: white;
      opacity: 0.7;
      font-weight: 300; }
      #home-search-input::-moz-placeholder {
        color: white;
        opacity: 0.7;
        font-weight: 300; }
        #home-search-input:-ms-input-placeholder {
          color: white;
          opacity: 0.7;
          font-weight: 300; }
          #home-search-input:focus {
            outline: 0; }
            @media all and (min-width: 415px) {
              #home-search-input {
                font-size: 45px;   }
}
              #home-search-input.inactive {
                display: none; }
                #home-search-input:hover {
                  outline: 0;
                  cursor: pointer;
                  border: 1px solid rgba(255, 255, 255, 0.7); }
                  #home-search-input:hover::-webkit-input-placeholder {
                    opacity: 1; }
                    #home-search-input:hover:-moz-placeholder {
                      opacity: 1; }
                      #home-search-input:hover::-moz-placeholder {
                        opacity: 1; }
                        #home-search-input:hover:-ms-input-placeholder {
                          opacity: 1; }
  #home-search-input:focus ~ .search-body {
    height: 40vh;
    margin-top: 7px;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.5); }
    #home-search-input:focus ~ .search-body a {
      display: block;
      padding: 10px 10px 3px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: white; }
  #home-search-input ~ .search-body {
    -webkit-transition: height 0.5s 0.25s, margin-top 0.25s, border 0.1s;
    -moz-transition: height 0.5s 0.25s, margin-top 0.25s, border 0.1s;
    -ms-transition: height 0.5s 0.25s, margin-top 0.25s, border 0.1s;
    -o-transition: height 0.5s 0.25s, margin-top 0.25s, border 0.1s;
    transition: height 0.5s 0.25s, margin-top 0.25s, border 0.1s;
    height: 0; }
    #home-search-input ~ .search-body a {
      display: none; }

.search-body {
  background-color: rgba(103, 117, 148, 0.5); }

  #search-switch.adv {
    text-align: right;
    text-transform: uppercase; }
body.profile.geo .economy, body.profile.geo .education, body.profile.geo .health {
  background-color: #ddd; }
  body.profile.geo #splash .content {
    background-color: rgba(6, 25, 98, 0.95); }
body.profile.cip .institutions, body.profile.cip .employment {
  background-color: #ddd; }
  body.profile.cip #splash .content {
    background-color: rgba(105, 6, 26, 0.95); }
body.profile h1 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.05em; }
  body.profile h2 {
    font-family: "Playfair Display", serif;
    font-size: 47px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: italic; }
    body.profile h1.category {
      position: relative;
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      text-align: center; }
      body.profile h1.category a:before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -80px; }
body.profile p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.65;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.93); }
  body.profile a {
    color: #333; }
    body.profile .topic h2 {
      font-family: "Playfair Display", serif;
      font-size: 28px;
      font-weight: 300;
      color: #333;
      text-transform: none;
      font-style: normal;
      letter-spacing: 0.03em; }
      body.profile .topic sub {
        display: inline-block;
        margin: 5px 0 10px;
        color: #a8a8a8;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1em; }
        body.profile .topic sub a {
          color: #888; }
          body.profile .topic sub a:hover {
            text-decoration: underline; }
        body.profile .topic sub span {
          vertical-align: text-bottom; }
body.profile .stat-text, body.profile .stat-rank {
  font-family: "Roboto", sans-serif; }
  body.profile .stat-text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
    body.profile .stat-group {
      text-align: center; }
      body.profile .stat-rank {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.05em; }
        body.profile .stat-value {
          font-family: "Lato", sans-serif;
          font-size: 33px;
          font-weight: 300; }
          body.profile .stat-value a {
            padding-bottom: 1px;
            color: #2c49d8;
            text-decoration: none;
            text-transform: capitalize; }
            body.profile .stat-value a:hover {
              border-bottom: 0;
              color: rgba(121, 129, 169, 0.5);
              border-bottom: 1px solid rgba(121, 129, 169, 0.5);
              text-decoration: none; }
body.profile nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
  z-index: 3; }
  body.profile .bound {
    position: relative;
    margin: 40px 0 -40px;
    overflow: hidden; }
    body.profile #splash {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      height: 100vh;
      position: relative;
      width: 100vw; }
      body.profile #splash #splash-image {
        height: 110%;
        left: -5%;
        position: absolute;
        top: -5%;
        width: 110%;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-filter: saturate(0) brightness(1.15) contrast(1.55);
        -moz-filter: saturate(0) brightness(1.15) contrast(1.55);
        -o-filter: saturate(0) brightness(1.15) contrast(1.55);
        filter: saturate(0) brightness(1.15) contrast(1.55);
        z-index: 0; }
        body.profile #splash #splash-image:after {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          background: #444;
          opacity: 0.4;
          content: ""; }
      body.profile #splash .content {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        width: 89.7%;
        height: 81.7%;
        max-width: 950px;
        padding: 45px 48px 50px;
        margin-top: -20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 2; }
        body.profile #splash .content .splash-titles {
          width: 100%;
          text-align: center; }
          body.profile #splash .content .splash-context {
            width: 100%;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            justify-content: space-around; }
            body.profile #splash .content .splash-icon-nav {
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              align-items: center; }
              body.profile #splash .content .splash-icon-nav span {
                display: block;
                margin-top: 7px;
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 10px;
                letter-spacing: 0.1em;
                color: #fff; }
                body.profile #splash .content .splash-icon-nav a {
                  text-align: center;
                  padding: 1.2vh 3vw 0;
                  opacity: 0.7;
                  -webkit-transition: opacity 0.25s;
                  -moz-transition: opacity 0.25s;
                  -ms-transition: opacity 0.25s;
                  -o-transition: opacity 0.25s;
                  transition: opacity 0.25s; }
                  body.profile #splash .content .splash-icon-nav a:hover {
                    opacity: 1; }
              body.profile #splash .content .splash-icon-nav img {
                width: 23px;
                height: 23px; }
        body.profile #splash .content .context-l {
          -webkit-box-flex: 2;
          -moz-box-flex: 2;
          -webkit-flex: 2;
          -ms-flex: 2;
          flex: 2;
          margin-right: 30px; }
          body.profile #splash .content .context-r {
            -webkit-box-flex: 3;
            -moz-box-flex: 3;
            -webkit-flex: 3;
            -ms-flex: 3;
            flex: 3; }
            body.profile #splash .content .thumbprint .d3plus_coordinates.highlight .d3plus_data {
              fill: #ffffff;
              stroke: #8692C5 !important; }
            body.profile #splash .content .thumbprint .d3plus_coordinates.outline .d3plus_data {
              fill: transparent;
              stroke: #4F63B9 !important; }
            body.profile #splash .content .thumbprint .d3plus_data {
              fill: rgba(255, 255, 255, 0.35);
              stroke: #4F63B9 !important; }
        body.profile #splash .content h1 {
          line-height: 1;
          color: #cdcdcd; }
          body.profile #splash .content .splash-title-group {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: rgba(240, 250, 255, 0.4); }
            body.profile #splash .content sub a {
              display: inline-block;
              padding: 2px 0;
              margin-top: -4px;
              vertical-align: text-bottom;
              font-family: "Roboto", sans-serif;
              font-weight: 300;
              font-size: 11px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: rgba(240, 244, 246, 0.65);
              -webkit-transition: color 0.25s;
              -moz-transition: color 0.25s;
              -ms-transition: color 0.25s;
              -o-transition: color 0.25s;
              transition: color 0.25s; }
              body.profile #splash .content sub a + a::before {
                content: "\\ ";
                font-weight: 400;
                color: rgba(240, 244, 246, 0.4);
                padding: 0 0 0 2px; }
                body.profile #splash .content sub a:hover {
                  cursor: pointer;
                  color: #fff;
                  text-decoration: none; }
        body.profile #splash .content p.desc {
          padding: 0;
          margin: -20px 0 0 0;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #ededed;
          opacity: 0.7; }
          body.profile #splash .content #splash-stats {
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: stretch;
            align-items: stretch; }
            body.profile #splash .content #splash-stats .stat {
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: column;
              -moz-flex-direction: column;
              flex-direction: column;
              -webkit-justify-content: flex-start;
              -moz-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-align-items: center;
              align-items: center;
              max-width: 150px; }
              body.profile #splash .content #splash-stats .stat .stat-text {
                font-size: 12px;
                text-align: center;
                color: rgba(240, 250, 255, 0.5); }
                body.profile #splash .content #splash-stats .stat .stat-text a {
                  color: rgba(237, 240, 245, 0.65);
                  border-bottom: 1px solid rgba(195, 219, 225, 0.5);
                  text-decoration: none; }
                  body.profile #splash .content #splash-stats .stat .stat-text a:hover {
                    border-bottom: 0;
                    color: #fff;
                    text-decoration: none; }
              body.profile #splash .content #splash-stats .stat .stat-rank {
                font-size: 11px;
                color: rgba(195, 219, 225, 0.5); }
                body.profile #splash .content #splash-stats .stat .stat-value {
                  margin: 6px 0 3px;
                  font-size: 36px;
                  color: rgba(237, 240, 245, 0.85); }
        body.profile #splash .content .carousel {
          margin-top: 20px; }
          body.profile #splash .content .carousel .carousel-title {
            color: rgba(240, 250, 255, 0.75);
            font-family: "Playfair Display", serif;
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.08em; }
            body.profile #splash .content .carousel .carousel-slider {
              height: 50px;
              margin-top: 5px; }
              body.profile #splash .content .carousel .carousel-slider .carousel-text {
                display: none;
                text-align: left;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                line-height: 1.35;
                font-weight: 300;
                color: rgba(237, 240, 245, 0.75); }
                body.profile #splash .content .carousel .carousel-slider .carousel-text.active {
                  display: block; }
                  body.profile #splash .content .carousel .carousel-slider .carousel-text a {
                    padding-bottom: 1px;
                    border-bottom: 1px solid rgba(195, 219, 225, 0.5);
                    color: rgba(237, 240, 245, 0.75);
                    text-decoration: none;
                    text-transform: capitalize; }
                    body.profile #splash .content .carousel .carousel-slider .carousel-text a:hover {
                      border-bottom: 0;
                      color: #fff;
                      text-decoration: none; }
          body.profile #splash .content .carousel .carousel-btns {
            color: rgba(237, 240, 245, 0.75);
            text-align: center;
            font-size: 13px;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            justify-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: baseline;
            align-items: baseline; }
            body.profile #splash .content .carousel .carousel-btns .carousel-btn {
              display: inline-block;
              margin: 10px 5px;
              opacity: 0.35;
              color: rgba(237, 240, 245, 0.75);
              -webkit-transition: color 0.25s;
              -moz-transition: color 0.25s;
              -ms-transition: color 0.25s;
              -o-transition: color 0.25s;
              transition: color 0.25s;
              pointer-events: none;
              cursor: default; }
              body.profile #splash .content .carousel .carousel-btns .carousel-btn.active {
                opacity: 1;
                pointer-events: initial;
                cursor: pointer; }
                body.profile #splash .content .carousel .carousel-btns .carousel-btn.active:hover {
                  color: #fff; }
body.profile #title-bar {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
  max-width: 900px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3; }
  body.profile #title-bar img {
    width: 80px;
    margin-top: 3px; }
    body.profile #title-bar i {
      font-size: 13px;
      padding: 5px 0 0 3px; }
      body.profile #title-bar span {
        position: relative;
        top: 31px;
        -webkit-transition: top 0.55s 0.03s;
        -moz-transition: top 0.55s 0.03s;
        -ms-transition: top 0.55s 0.03s;
        -o-transition: top 0.55s 0.03s;
        transition: top 0.55s 0.03s;
        display: inline-block;
        padding: 9px;
        color: #333;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 700; }
        body.profile #title-bar.visible span {
          top: 0; }
body.profile #stats-bar {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  right: 0;
  left: 0;
  top: 40px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  z-index: 2;
  background-color: #222; }
  body.profile #stats-bar #title-stats {
    width: 50%;
    max-width: 450px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-align-content: space-around;
    align-content: space-around; }
    body.profile #stats-bar .title-stat {
      display: inline-block;
      margin: 0 auto 2px; }
      body.profile #stats-bar .title-stat-text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
        color: rgba(240, 250, 255, 0.5); }
        body.profile #stats-bar .title-stat-text a {
          color: rgba(237, 240, 245, 0.65);
          border-bottom: 1px solid rgba(195, 219, 225, 0.5);
          text-decoration: none; }
          body.profile #stats-bar .title-stat-text a:hover {
            border-bottom: 0;
            color: #fff;
            text-decoration: none; }
  body.profile #stats-bar .title-stat-value {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: rgba(237, 240, 245, 0.85); }
    body.profile #stats-bar .title-stat-value a {
      padding-bottom: 1px;
      color: #2c49d8;
      text-decoration: none;
      text-transform: capitalize; }
      body.profile #stats-bar .title-stat-value a:hover {
        border-bottom: 0;
        color: rgba(121, 129, 169, 0.5);
        border-bottom: 1px solid rgba(121, 129, 169, 0.5);
        text-decoration: none; }
body.profile #profile-nav {
  display: block;
  height: 35px;
  left: 0;
  position: fixed;
  top: -40px;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  text-align: center;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s; }
  body.profile #profile-nav.visible {
    top: 90px; }
    body.profile #profile-nav ul li {
      display: inline-block;
      margin: 0 10px;
      padding: 8px 5px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 0.1em;
      color: #fff;
      opacity: 0.7; }
      body.profile #profile-nav ul li.active {
        opacity: 1; }
    body.profile #profile-nav ul img {
      width: 20px;
      height: 20px;
      vertical-align: text-bottom; }
body.profile header {
  padding: 50px 50px 25px;
  position: relative; }
  body.profile header h2 {
    margin: 0 auto 15px;
    color: #333; }
    body.profile header h2 a:before {
      content: "";
      position: absolute;
      visibility: hidden;
      top: -80px; }
  body.profile header p {
    font-size: 17px; }
body.profile .section-sidenav {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -ms-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  height: 100px;
  left: -30px;
  margin-top: -50 "-px-" -40px;
  position: fixed;
  top: 50%;
  z-index: 10; }
  body.profile .section-sidenav.active {
    left: 0; }
    body.profile .section-sidenav .section-sidenav-button {
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      height: 10px;
      margin: 10px;
      width: 10px;
      background-color: #333;
      opacity: 0.5; }
      body.profile .section-sidenav .section-sidenav-button:hover {
        opacity: 0.75; }
        body.profile .section-sidenav .section-sidenav-button.active {
          opacity: 1; }
body.profile section {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 25px; }
  body.profile section .category {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1 1 100%;
    -moz-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 25px;
    min-width: 100%; }
    body.profile section .topic {
      -webkit-box-flex: 1 1 100%;
      -moz-box-flex: 1 1 100%;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      min-width: 100%;
      padding: 0 25px 50px; }
      body.profile section .topic:not(.flex) aside {
        width: 50%; }
      body.profile section .topic.short {
        padding-bottom: 0; }
        body.profile section .topic.flex {
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-flex: 1 1;
          -moz-box-flex: 1 1;
          -webkit-flex: 1 1;
          -ms-flex: 1 1;
          flex: 1 1;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: stretch;
          align-items: stretch;
          margin: 0 25px 50px;
          min-width: 198px;
          padding: 0; }
          body.profile section .topic.flex .content {
            -webkit-box-flex: 1 1;
            -moz-box-flex: 1 1;
            -webkit-flex: 1 1;
            -ms-flex: 1 1;
            flex: 1 1;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            align-items: stretch; }
            body.profile section .topic.flex .content aside {
              -webkit-box-flex: 1 1;
              -moz-box-flex: 1 1;
              -webkit-flex: 1 1;
              -ms-flex: 1 1;
              flex: 1 1;
              max-width: 100%; }
              body.profile section .topic.flex .content .viz {
                margin-left: 0;
                min-height: 200px; }
      body.profile section .topic .content {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-top: 10px; }
        body.profile section .topic .content.full-width {
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          flex-direction: column; }
          body.profile section .topic .content.full-width .viz {
            margin-left: 0;
            min-height: 500px; }
        body.profile section .topic .content aside {
          -webkit-box-flex: none;
          -moz-box-flex: none;
          -webkit-flex: none;
          -ms-flex: none;
          flex: none;
          max-width: 415px; }
          body.profile section .topic .content aside select {
            width: 100%; }
            body.profile section .topic .content aside .topic-stats {
              -webkit-justify-content: center;
              -moz-justify-content: center;
              justify-content: center;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-align-items: flex-end;
              align-items: flex-end; }
              body.profile section .topic .content aside .topic-stats.stacked {
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: flex-start;
                align-items: flex-start; }
                body.profile section .topic .content aside .topic-stats .stat {
                  -webkit-box-flex: 1;
                  -moz-box-flex: 1;
                  -webkit-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                  margin: 10px 15px 10px 0; }
                  body.profile section .topic .content aside .topic-stats .stat .stat-value.loading {
                    opacity: 0.5; }
          body.profile section .topic .content aside p {
            margin: 3px 0 6px; }
        body.profile section .topic .content .viz {
          -webkit-box-flex: 1 1 auto;
          -moz-box-flex: 1 1 auto;
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          margin-left: 50px;
          min-height: 250px;
          overflow: hidden; }
          body.profile section .topic .content .viz .d3plus_coordinates.outline .d3plus_data {
            fill: transparent !important;
            pointer-events: none !important; }
        body.profile section .topic .content .viz.mini {
          margin-left: 0;
          min-height: 200px; }
body.profile #show-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }
  body.profile #show-bg a {
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s; }
    body.profile #show-bg a:hover {
      opacity: 1; }
  body.profile #show-bg i {
    padding: 13px 15px;
    font-size: 16px;
    color: #fff; }
body.profile .profile-end {
  width: 100%;
  padding: 10px 0 15px;
  background-color: #000;
  text-align: center; }
  body.profile .profile-end a {
    display: block;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s; }
    body.profile .profile-end a:hover {
      opacity: 1; }
#map-fullscreen {
  height: 100vh;
  width: 100vw; }
