#Footer {
  background-color: var(--dark);
  padding: 90px 0px 0px;
  text-align: center;
  width: 100%;
  @media (max-width: 768px) {
    padding: 75px 0px 0px;
  }
  & .footer-content {
    color: white;
    margin: 0 auto;
    max-width: 1200px;
    @media (max-width: 768px) {
      align-items: center;
    }
    & .footer-links {
      @media (max-width: 768px) {
        margin-bottom: 50px;
      }
      & p {
        color: var(--lightgray);
        font-size: 16px;
        font-family: "Palanquin";
        padding-bottom: 54px;
        padding-top: 7px;
        @media (max-width: 768px) {
          padding-right: 25%;
          padding-left: 25%;
          padding-top: 32px;
        }
      }
      & .footer-column {
        width: 373px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        @media (max-width: 768px) {
          display: block;
          padding-bottom: 30px;
        }
        & .link-column {
          color: white;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          font-family: "Pathway Gothic One", sans-serif;
          padding-bottom: 54px;
          @media (max-width: 768px) {
            font-size: 18px;
            padding-bottom: 35.49px;
          }
          & a {
            color: white;
            display: inline-block;
            &:hover {
              color: var(--red);
              text-decoration: none;
            }
          }
        }
      }
    }
    & .footer-contact {
      max-width: 480px;
      margin: 0 auto;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 40px;
      width: 100%;
      @media (max-width: 768px) {
        padding-bottom: 85px;
      }
      & .input-container {
        color: #404A59;
        border-bottom: 1px solid var(--red);
        display: flex;
        padding: 5px 0 13px;
        & .email {
          background-color: transparent;
          border: 0;
          box-sizing: border-box;
          color: white;
          font-family: "Pathway Gothic One";
          letter-spacing: 0.03em;
          font-size: 17px;
          font-weight: 400;
          width: 100%;
          &:focus {
            border: 0;
            outline: 0;
          }
          @media (max-width: 768px) {
            position: absolute;
            bottom: 320px;
            left: 31px;
            right: 43px;
          }
        }
        & .email-btn {
          background-position: left, right;
          background-color: transparent;
          background-image: url("/icons/footer/group.svg"), url("/icons/footer/arrow.svg");
          background-repeat: no-repeat, no-repeat;
          border: 0;
          box-sizing: border-box;
          color: white;
          font-family: "Palanquin", sans-serif;
          font-size: 17px;
          font-weight: 600;
          padding-right: 22px;
          padding-left: 28px;
          text-transform: uppercase;
          transition: background-position 0.1s;
          &:hover {
            background-position: 100% center;
            cursor: pointer;
          }
          @media (max-width: 768px) {
            display: flex;
            margin: 0 auto;
            justify-content: center;
          }
        }
      }
    }
  }
  & .footer-logos {
    background-color: rgba(64, 74, 89, 0.3);
    margin: 40px 0px 0px;
    padding-top: 5px;
    @media (max-width: 768px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    & a {
      display: inline-block;
      margin: 20px;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  & #datausa {
    height: 28px;
    width: 113.42px;
  }

  & #deloitte {
    height: 20px;
  }

  & #datawheel {
    height: 24px;
  }
}
