#profile-builder {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#tree {
  background-color: #efefef;
  border-radius: 0 0 0 10px;
  max-width: 250px;
  min-width: 250px;
  padding: 0;
  width: 250px;
  & .pt-tree-node {
    &:hover {
      cursor: pointer;
    }
  }
}

#item-editor {
  background-color: white;
  border-radius: 0 0 10px 0;
  box-sizing: border-box;
  flex: 1;
  padding: 25px;
  & .input-block, & .area-block {
    width: 100%;
    display: flex;
    & .pt-label {
      flex: 1;
      &:first-child {
        margin-right: 20px;
      }
      & .pt-input {
        width: 100%;
      }
      & .pt-select {
        width: 100%;
      }
      & .quill {
        width: 100%;
        & .ql-toolbar {
          border-radius: 5px 5px 0 0;
        }
        & .ql-container {
          border-radius: 0 0 5px 5px;
        }
      }
      & .image-area {
        & img {
          width: 100%;
        }
      }
    }
  }
  & h3 {
    margin: 20px auto;
    text-align: center;
  }
}

.cms-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.splash-cards {}

.stat-card {
  width: 200px;
  margin: 10px;
  display: inline-block;
}

.splash-card {
  width: 400px;
  margin: 10px;
}
