.generator-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#preview-toggle {
  text-align: center;
  & .pt-label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    & .pt-icon-standard {
      margin-right: 10px;
      opacity: 0.4;
    }
  }
  & .pt-select {
    font-family: monospace;
  }
}
