.prism-section-container {
  position: relative;
  margin-block: 30px;
}

.prism-section-container::after {
  content: "";
  background-image: url("/images/prism-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 350px;
  width: 350px;
  position: absolute;
  left: -150px;
  top: -50px;
  z-index: 1;
  opacity: 0.3;
}

.prism-section {
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(92, 133, 150, 0.35) 0px 4px 20px 0px;
  position: relative;
  z-index: 2;
  padding-bottom: 1rem;

  @media (max-width: 30rem) {
    margin: 0 -1rem 50px;
    padding: 1rem;
    width: auto;
  }

  & .topic {
    position: relative;
  }
}

.prism-notice {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 0.8rem;
  border: 2px solid #e3e48d;
  border-radius: 5px;

  @media (min-width: 30rem) {
    margin: 0 1rem;
    align-items: center;
    flex-flow: row nowrap;
  }
}

.prism-notice-logo {
  display: inline-block;
  flex: 0 1 auto;
  width: 106px;
  height: 20px;
  margin: auto;

  @media (max-width: 30rem) {
  }
}

.prism-notice-call {
  flex: 1 1 auto;
  margin: 0;
  font-size: 0.8rem;

  @media (min-width: 30rem) {
    font-size: 0.65rem;
  }
}

.prism-notice-infobtn {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: #f0f0f0;
  background-color: #357aac;
  border: 0 none;
  white-space: pre;
  font-family: "Pathway Gothic One", sans-serif;

  @media (max-width: 30rem) {
    margin: auto;
    font-size: 1.2rem;
  }

  &:hover {
    color: #fff;
  }
}

.prism-viz-blocker {
  position: absolute;
  z-index: 100;
  inset: 0;
}
.prism-viz-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 450px;
  backdrop-filter: blur(4px);
}
.prism-viz-dialog {
  padding: 1.5rem 2rem;
  width: 260px;
  background-color: #29425c;
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  & h3 {
    margin: 0 0 1rem;
    color: #e3e48d;
    font-size: 1.4rem;
    font-weight: 700;
  }

  & ul {
    position: relative;
    padding: 0 28px;
  }

  & ul .bp3-icon {
    position: absolute;
    left: 0;
    margin: 4px;
    color: #e3e48d;
  }

  & li {
    display: block;
    padding-bottom: 0.4rem;
    text-align: left;
  }
}
