.loading {
  background-color: var(--dark);
  color: var(--white);
  height: 100vh;
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  & .bp3-non-ideal-state {
    max-width: 200px;
    width: 100%;
    & .bp3-progress-meter {
      background-color: var(--light);
    }
  }
  & .bp3-heading {
    color: var(--white);
  }
}
