{% extends "templates/base.html" %}

{% set image = profile.image() %}
{% set meta_desc = section.meta|striptags %}
{% block social_meta %}
    <meta name="description" content="{{ meta_desc }}">
    <meta property="og:site_name" content="Data USA" />
    <meta property="og:title" content="{{ section.topics[0].title }}{% if profile.attr_type == "geo" %} in {% else %} for {% endif %}{{ profile.splash.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://{{ request.host }}{{ image.url }}" />
    <meta property="og:description" content="{{ meta_desc }}"/>
{% endblock %}

{% block title %}{{ section.topics[0].title }}{% if profile.attr_type == "geo" %} in {% else %} for {% endif %}{{ profile.splash.title }}{% endblock %}

{% block content %}
<section class="{{ section.anchor }} profile-section">
  {% include "templates/includes/topic.html" %}
</section>

<script>

  d3.select("aside").selectAll("a").attr("target", "_blank");

</script>
{% endblock %}
