{% extends "templates/nav.html" %}

{% block content %}
<script>var builds = [];</script>
<h1>{{ profile.attr.name }}</h1>
{% for section in profile.sections() %}
  <h2>{{ section.title }}</h2>
  <sub>{{ section.description }}</sub>
  {% for topic in section.topics %}
    <div>
      <div>
        <h3>{{ topic.title }}</h3>
        {% if topic.subtitle %}
          <sub>{{ topic.subtitle }}</sub>
        {% endif %}
        {% if topic.stat %}
          {% for stat in topic.stat %}
            <h4>{{ stat.title }}</h4>
            <div class="stat">{{ stat.value }}</div>
          {% endfor %}
        {% endif %}
        {% if topic.description %}
        <p>{{ topic.description }}</p>
        {% endif %}
      </div>
      {% if topic.viz %}
      <div class="viz" style="background-color:#ccc;">
        {% for d in topic.viz.data %}
          {{ d.url }}<br>
        {% endfor %}
      </div>
      <script>builds.push({{ topic.viz.serialize()|safe }});</script>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}

{% endblock %}

{% block js %}

<script>
  var app;
  builds.forEach(function(build, i){
    // if (i === builds.length - 1 - 5 - 1) {
    //   var container = d3.selectAll(".viz")[0][i];
    //   console.log(d3.select(container.parentNode).select("h3").html());
    //   app = viz(build, container);
    // }
  });

</script>

{% endblock %}
