{% extends "templates/nav.html" %}

{% block body %}

<div id="crosswalk">
  <h1>{{ attr["name"] }}</h1>
  <p class="warning">
    <i class="fa fa-exclamation-triangle"></i>
    <span>There was no exact match for {{ attr.name }} found. Please choose one of the following related profiles to view instead.</span>
  </p>
  <ul>
    {% for crosswalk in crosswalks %}
    <li>
      <a href="/profile/{{ crosswalk_type }}/{{ crosswalk.id }}">
        <span class="thumb" style="background-image: url('/static/img/splash/{{ crosswalk_type }}/{{ crosswalk.id }}.jpg');">
        </span>
        <span class="info">
          <h2>{{ crosswalk.name }}</h2>
          <span>Level {{ crosswalk.level }} {{ crosswalk_type|upper }}</span>
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block js %}
<script>



</script>
{% endblock %}
