#Splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  & p {
    margin: 0;
  }
  & .image-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    & .image {
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      flex: 1;
    }
    &:after {
      content: "";
      background-image: linear-gradient(rgba(20, 27, 46, 0.5), rgba(20, 27, 46, 0.3) 10%, rgba(20, 27, 46, 0.5) 50%, var(--dark) 100%);
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transition: opacity 0.25s;
      width: 100%;
      z-index: 1;
    }
    & .bp3-button {
      cursor: auto;
      opacity: 0;
      position: absolute;
      top: calc(var(--nav-height));
      transition: opacity 0.25s 0.5s;
      right: 10px;
      z-index: 2;
      &:before {
        color: white;
      }
      &:hover, &.bp3-active {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }
  }
  & .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    position: relative;
    transition: opacity 0.25s;
    width: 100%;
  }
  & .profile-title {
    margin-bottom: 0;
  }
  & .profile-subtitle {
    margin-bottom: 20px;
  }
  & .profile-title p, & .profile-subtitle p {
    color: white;
    flex: 1;
    font-family: "Palanquin", sans-serif;
    letter-spacing: 0.03em;
    padding: 0 10px;
    text-align: center;
    text-shadow: 0 2px 6px black;
    text-transform: uppercase;
  }
  & .profile-title p {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.1;
    @media (max-width: 800px) {
      font-size: 40px;
    }
  }
  & .profile-subtitle p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: var(--gutter-xs);
    & a {
      color: white;
    }
  }
  & .SearchButton {
    opacity: 1;
    position: relative;
    right: auto;
    top: auto;
    transition: opacity 0.25s;
    width: 250px;
    z-index: 1;
    & .bp3-input {
      padding-left: 10px;
      z-index: 1;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  & .profile-compare {
    cursor: pointer;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    &.active {
      display: none;
    }
    & .compare-img {
      margin-top: 4px;
      margin-right: 10px;
      width: 19px;
      vertical-align: top;
    }
    & .compare-text {
      color: white;
      font-family: "Palanquin", sans-serif;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.02em;
      text-shadow: 0 2px 12px black;
      text-transform: uppercase;
    }
  }
  & .profile-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    max-width: 1000px;
    width: 100%;
    & .Stat {
      color: white;
      display: flex;
      flex: 1;
      flex-direction: column;
      font-family: "Palanquin", sans-serif;
      font-weight: 400;
      justify-content: space-between;
      margin-bottom: 25px;
      max-width: 30%;
      min-width: 30%;
      position: relative;
      text-align: center;
      width: 30%;
      & .stat-title, & .stat-subtitle {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        text-shadow: 0 2px 6px black;
        text-transform: uppercase;
        @media (max-width: 800px) {
          font-size: 10px;
          font-weight: 600;
          text-shadow: 0 2px 5px black;
        }
      }
      & .stat-value {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        text-shadow: 0 2px 12px black;
        & .candidate-name {
          flex: 0 0 0;
          text-align: left;
          @media (max-width: 400px) {
            font-size: 16px;
          }
        }
      }
      &.small-text .stat-value {
        font-size: 24px;
        text-shadow: 0 0 0 white, 0 2px 12px black;
      }
      &.medium-text .stat-value {
        font-size: 31px;
        text-shadow: 0 0 0 white, 0 2px 12px black;
      }
      &.large-text .stat-value {
        font-size: 40px;
        @media (max-width: 800px) {
          font-size: 24px;
        }
      }
    }
  }
  & .profile-sections {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    transition: opacity 0.25s;
    width: 100%;
    & .SectionIcon {
      color: white;
      flex: 1 1 100%;
      font-family: "Palanquin", sans-serif;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.1em;
      margin: 0 10px;
      max-width: 100px;
      position: relative;
      text-transform: uppercase;
      transition: text-shadow 0.35s;
      @media (max-width: 800px) {
        &.about {
          display: none;
        }
        & .section-icon-title {
          display: none;
        }
      }
      & img {
        display: block;
        height: 30px;
        margin: 0 auto 5px;
        width: 30px;
      }
      &:hover {
        text-decoration: none;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
      }
      /* &.civics:after {
        background-color: var(--red);
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        content: "NEW";
        font-size: 10px;
        font-weight: 800;
        height: auto;
        left: calc(50% + 10px);
        right: auto;
        letter-spacing: 1px;
        opacity: 0.75;
        padding: 0 3px 1px 4px;
        position: absolute;
        text-transform: uppercase;
        top: -5px;
        width: auto;
      } */
    }
  }
  &.reveal-photo {
    & .content-container, & .SearchButton, & .profile-sections {
      opacity: 0;
    }
    & .image-container:after {
      opacity: 0;
    }
  }
  &.splash-7, &.splash-geo {
    & .Stat {
      max-width: 25%;
      min-width: 25%;
      width: 25%;
      @media (max-width: 600px) {
        max-width: 30%;
        min-width: 30%;
        width: 30%;
      }
    }
  }
  &.splash-9, &.splash-10 {
    & .Stat {
      max-width: 20%;
      min-width: 20%;
      width: 20%;
      @media (max-width: 600px) {
        max-width: 30%;
        min-width: 30%;
        width: 30%;
      }
    }
  }
  &.splash-geo, &.splash-naics, &.splash-soc {
    & .profile-subtitle p {
      align-items: center;
      border-radius: 3px;
      color: var(--dark);
      display: flex;
      padding: 5px 10px 6px 7px;
      text-shadow: none;
      &:before {
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 17px;
        margin-right: 5px;
        width: 17px;
      }
    }
  }
  &.splash-geo .profile-subtitle p {
    background-color: var(--geo);
    height: 15px;
    margin-top: 2px;
    width: 10px;
    &:before {
      background-image: url("/icons/dimensions/Geography-Splash.png");
    }
  }
  &.splash-naics .profile-subtitle p {
    background-color: var(--naics);
    &:before {
      background-image: url("/icons/dimensions/PUMS Industry-Splash.png");
    }
  }
  &.splash-soc .profile-subtitle p {
    background-color: var(--soc);
    &:before {
      background-image: url("/icons/dimensions/PUMS Occupation-Splash.png");
    }
  }
}
