#About, #Data {
  background-color: #f6f6f6;
  margin: calc(var(--nav-height) * 2) auto 0;
  max-width: 850px;
  padding: 0 50px 50px;
  position: relative;
  width: 100%;
  & .content {
    margin-left: 200px;
    position: relative;
    z-index: 1;
  }
  & h1 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  & h2 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 35px;
    padding-top: calc(var(--nav-height) * 3);
    margin-bottom: 0;
    margin-top: calc(var(--nav-height) * -2);
    text-transform: uppercase;
    & .logo {
      display: block;
      height: 40px;
      margin: 0 auto 20px;
    }
  }
  & h3 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: calc(var(--nav-height) * 3);
    margin-bottom: 0;
    margin-top: calc(var(--nav-height) * -2);
    text-transform: uppercase;
  }
  & h2, & h3 {
    & .pt-icon-standard {
      color: var(--red);
      font-size: 14px;
      margin: 0 0 0 -20px;
      opacity: 0;
      padding-right: 5px;
      transition: opacity 0.1s;
      vertical-align: middle;
    }
    &:hover {
      & .pt-icon-standard {
        opacity: 1;
      }
    }
    & a {
      color: var(--black);
      &:hover {
        text-decoration: none;
      }
    }
  }
  & p {
    font-size: 15px;
    line-height: 21px;
    margin: 20px 0 0;
    opacity: 0.9;
    & a {
      color: var(--red);
    }
  }
  & .legend {
    text-align: center;
    & .katex {
      font-size: 14px;
      margin: 0 10px;
    }
  }
  & .sub {
    font-size: 12px;
    line-height: 1.2;
  }
  & ul {
    list-style: none;
    padding-left: 20px;
    & .pt-icon-standard {
      display: inline-block;
      font-size: 10px;
      line-height: 22px;
      margin: 0 5px 0 -15px;
      vertical-align: top;
      width: 10px;
    }
  }
}
