.area-chart {
  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .chart-wrapper {
    margin: 0 -10px;

    &.multi {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  & .chart-card {
    width: 100%;
    transition: all 0.2s ease-in-out;

    & footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
  }
}

@media screen and (min-width: 1200px) {
  .area-chart .multi .chart-card { width: 50%; }
}

@media screen and (min-width: 1700px) {
  .area-chart .multi .chart-card { width: 33.333%; }
}
