.vizbuilder {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  & > .area-loading {
    display: none;
  }

  &.loading > .area-loading {
    display: flex;
  }

  & > .area-sidebar {
    flex: 0 0 auto;
    width: 300px;
  }

  & > .area-chart {
    flex: 1 0 0;
  }
}

.area-sidebar,
.area-chart {
  height: 100vh;
  overflow: auto;

  & > .wrapper {
    padding: 15px;
    min-height: 100%;
  }
}

.area-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  max-width: none;

  color: var(--white);
  background-color: rgba(0, 0, 0, 0.75);
  transform: translate3d(0, 0, 0);

  & .pt-non-ideal-state-visual {
    width: 100%;
    max-width: 200px;
  }

  & .pt-progress-meter {
    background-color: var(--light);
  }

  & .pt-non-ideal-state-title {
    color: var(--white);
  }
}
