body {
  background-color: $black;
}

/* hero */

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;

  .hero-img {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    // @include transform(scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg));
    opacity: 1;

    &.bg {
      background-image: url('/img/bg1.jpg');
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }

    &::after {
      @include gradient(top, (0%: rgba(0, 0, 0, 0.15), 10%: rgba(0, 0, 0, 0.15), 100%: $black));
      bottom: 0;
      content: "";
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }

}

// .hero-img {
//   position: absolute;
//   width: 100%;
//   max-width: 100vw !important;
//   height: 100% !important;
//   background-position: 50% 0;
//   background-size: cover;
//   background-repeat: no-repeat;
//
// }

.title {
  position: relative;
  margin: 0 auto;

  &#logo-container {
    @include box();
    display: block;
    height: 120px;
    width: 55%;
    text-align: center;
    max-width: 340px;
    margin: 45px auto 20px;

    @media all and (max-width: 600px){
      width: 60%;
      margin-top: 13vh;
    }
  }
  &#desc-container {
    // height: 65px;
    // margin: 2vh auto 7vh;
    // width: 60%;
    // max-width: 480px;
    color: white;
    text-align: center;
    padding: 0 0 40px;

    h2 {
      font-family: $palanquin;
      line-height: 1;
      margin: 0 auto;
    }

    .first-line {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.05em;
      padding-bottom: 5px;
      @include text-shadow(0 0 12px rgba(0,0,0,0.5));

      @media all and (max-width: 480px){
        font-size: 18px;
      }
    }

    .second-line {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0;
      @include text-shadow(0 0 10px rgba(0,0,0,0.3));

      @media all and (max-width: 480px){
        font-size: 21px;
      }
    }

    @media all and (max-width: 600px){
      // width: 85%;
      // margin-top: 0;
      // margin-bottom: 5vh;
    }
  }

  .title-img {
    @include box();
    display: block;
    position: absolute;
    height: 120px;
    width: 100%;
    left: 0;
    top: 0;
    // @include background-contain();
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    // @include transform(scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg));
    opacity: 1;
  }

  #logo {
    background-image: url('/img/logo.png');
    // height: 100px;
    z-index: 2;
  }

  .logo-shadow {
    background-image: url('/img/logo_shadow.png');
    // height: 100px;
    z-index: 1;
  }

  #desc {
    background-image: url('/img/desc.svg');
    height: 65px;
    z-index: 4;
  }

  .desc-shadow {
    background-image: url('/img/desc_shadow.png');
    height: 65px;
    z-index: 3;
  }
}

.co-logos {
  @include flex();
  @include justify(center);

  .co {
    z-index: 1;
    margin-top: 10vh;
    @include filter(saturate(0));
    @include transition(all 0.5s);

    &:hover {
      @include filter(saturate(1));
    }

    img {
      // height: 30px;
      width: 20vw;
      max-width: 100px;
      box-sizing: border-box;
      margin: 0 2vh;
      height: 30px;

      @media all and (max-width: 600px){
        max-width: 100px;
        margin: 0;
      }
    }
  }
}

#section1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  @include flex();
  @include flex-direction(column);
  @include justify(flex-end);

  .main {
    width: 60%;
    max-width: 400px;
  }

  .subheader {
    max-width: 500px;
    width: 67%;
    margin: 50px auto 0;
    visibility: hidden;

    h2 {
      font-size: 24px;

      @media all and (max-width: 600px){
        font-size: 22px;
      }
      @media all and (max-width: 400px){
        font-size: 18px;
      }
    }
  }

  .sign-up {
    margin: 7vh auto 3vh;
  }

  .co-logos {
    margin: 0 auto 78px;
  }

  .cd-scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    // margin-left: -13px;
    @include transition(bottom 0.1s ease-out);

    &:hover, &:focus {
      bottom: 17px;
    }
  }
}

#section1-5 {
  background: url('/img/stardust_e_b2.png') repeat 0 0;
  background-attachment: fixed;
  background-size: cover;

  & > div {
    margin: 0 auto;
    text-align: center;
  }

  p {
    color: #CBD2E8;
    font-size: 18px;
    margin: 25px auto;
    line-height: 1.7;
    text-align: justify;

    @media all and (max-width: 600px){
      text-align: left;
    }
  }

  .section-title {
    max-width: 615px;
    width: 70%;
    margin: 0 auto;
    line-height: 1;
  }

  .main {
    max-width: 605px;
    padding-bottom: 80px;
  }
}

#section2, #section4 {
  min-height: 100vh;
}

.cd-section {

  .section-title {
    color: $sectiontitle-color;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 45px;
    font-family: $pathway;

    @media all and (max-width: 400px){
      font-size: 24px;
    }
  }

  .section-desc {
    color: $subtitle-color;
    font-family: $palanquin;
    font-size: 26px;
    text-transform: none;
    font-weight: 400;

    @media all and (max-width: 600px){
      font-size: 26px;
      line-height: 1.3;
    }
  }
}

#section5 {
  background: url('/img/scenario_bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;

  article.main {
    padding-bottom: 80px;
  }

  .section-title {
    padding-top: 10vh;
  }

  p {
    color: #CBD2E8;
    font-size: 18px;
    margin: 25px auto;
    line-height: 1.7;
    text-align: left;

    @media all and (max-width: 600px){
      font-size: 16px;
    }

    &.scenario {
      margin-left: 50px;
      font-size: 16px;

      @media all and (max-width: 600px){
        font-size: 14px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 35px;
        height: 35px;
        margin-left: -50px;
        margin-top: 7px;
      }

      &.business::before {
        background: url('/img/business.svg') no-repeat 50% 50%;
        background-size: contain;
      }

      &.market::before {
        background: url('/img/market.svg') no-repeat 50% 50%;
        background-size: contain;
      }

      &.college::before {
        background: url('/img/college.svg') no-repeat 50% 50%;
        background-size: contain;
      }

      &.complexity::before {
        background: url('/img/complexity.svg') no-repeat 50% 50%;
        background-size: contain;
      }
    }

    .leading-sentence {
      color: $bullet-subtxt-color;
      display: block;
      font-size: 22px;
      font-weight: 600;
      text-transform: none;
      line-height: 1.5;
      margin-bottom: 5px;

      @media all and (max-width: 768px){
        font-size: 20px;
      }
      @media all and (max-width: 450px){
        font-size: 16px;
        line-height: 1.3;
      }
    }

  }

}

#section2 {
  background: #8A3220;

  .section-title {
    color: #fff;
    padding-top: 10vh;
  }
}

#section3 {
  background-color: #111;

  .main {
    max-width: 450px;
    padding: 50px 0;
    width: 100%;
  }

  .section-desc {
    color: #ddd;

    @media all and (max-width: 600px){
      font-size: 22px;
      padding: 0 25px;
    }
  }
}

.main {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  @media all and (max-width: 600px){
    width: 70%;
  }
}

.subheader {
  font-family: $palanquin;
  font-size: 28px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.skrim {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  @include gradient(top, (0%: rgba(0, 0, 0, 0), 100%: rgba(40, 36, 43, 0.75)));
  z-index: 0;
}

.bullet-container {
  text-align: left;
  color: white;
  width: 75%;
  max-width: 600px;
  padding-bottom: 10vh;

  & > ul {
    & > li {
      @include flex();
      @include justify(flex-start);
      padding: 2.57vh 0;

      @media all and (max-width: 450px){
        padding: 2.57vh 0 0;
      }
    }
  }

  i {
    background-image: url('/img/bullet.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    height: 35px;
    width: 35px;
    background-size: 35px;
    margin-right: 25px;

    @media all and (max-width: 450px){
      height: 35px;
      width: 35px;
      background-size: 25px;
      margin-right: 15px;
    }

    &.bullet1 {
      background-image: url('/img/bullets/datajoin_w.svg');
    }

    &.bullet2 {
      background-image: url('/img/bullets/dataconnect_w.svg');
    }
    &.bullet3 {
      background-image: url('/img/bullets/dataexport_w.svg');
    }
    &.bullet4 {
      background-image: url('/img/bullets/dataprofiles_w.svg');
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 600;
    text-transform: none;
    color: $bullet-txt-color;
    line-height: 1.5;
    margin-bottom: 5px;

    @media all and (max-width: 768px){
      font-size: 20px;
    }
    @media all and (max-width: 450px){
      font-size: 16px;
      line-height: 1.3;
    }
  }

  p {
    margin-bottom: 10px;
  }

  a, p {
    margin-left: 25px;
    font-family: $palanquin;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.8;
    color: $bullet-subtxt-color;
    @include transition(color 0.3s);

    @media all and (max-width: 768px){
      font-size: 16px;
    }
    @media all and (max-width: 450px){
      font-size: 14px;
      line-height: 1.6;
    }
  }

  a {
    &:hover {
      cursor: pointer;

      &.geo {
        color: $geo-bg-color;
      }
      &.soc {
        color: $soc-bg-color;
      }
      &.cip {
        color: $cip-bg-color;
      }
      &.naics {
        color: $naics-bg-color;
      }

      &::before {
        content: '';
        // background-image: url('/img/sub-bullet.png');
        background-size: 100%;
        width: 15px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-left: -20px;
        margin-right: 5px;
      }
    }
  }

  .data-source-dynamic {
    height: 50px;

    @media all and (max-width: 450px){
      height: 30px;
    }
  }

  .txt-rotate {
    border-bottom: 1px solid;
  }
}

.profile-category-container {
  @include flex();
  // @include justify(space-between);
  @include flex-direction(row);

  @media all and (max-width: 1080px){
    @include flex-direction(column);
  }

  .top, .bottom {
    @include flex-size(1 1 auto);
    @include flex();
    @include justify(space-between);
    @include flex-direction(row);

    @media all and (max-width: 768px){
      @include flex-direction(column);
    }
  }
}

.profile-category {
  @include flex-size(1 1 auto);

  .category-img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 0;
  }

  .category-section {
    min-height: 275px;
    padding-bottom: 100px;
    // padding-top: 20px;
    padding-top: 70px;
    margin-top: -5px;

    @media all and (min-width: 1080px) {
      // max-height: 225px;
    }

    h2 {
      font-family: $pathway;
      letter-spacing: 0.05em;
      line-height: 1;
      margin-top: -10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 36px;
    }

    ul {
      width: 70%;
      max-width: 600px;
      margin: 0 auto;
      text-align: left;

      li {
        @include flex();
        @include justify(flex-start);
        @include align-items(center);
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      h3 {
        letter-spacing: 0.03em;
        line-height: 3;
        font-size: 15px;

        @media all and (max-width: 1080px){
          font-size: 20px;
        }
      }
    }
  }

  &#geo {
    .category-img {
      // background-image: url('img/prof/geo.png');
    }
    .category-section {
      background-color: $geo-bg-color;
    }
  }

  &#soc {
    .category-img {
      // background-image: url('img/prof/soc.png');
    }
    .category-section {
      background-color: $soc-bg-color;
    }
  }

  &#cip {
    .category-img {
      // background-image: url('img/prof/cip.png');
    }
    .category-section {
      background-color: $cip-bg-color;
    }
  }

  &#naics {
    .category-img {
      // background-image: url('img/prof/naics.png');
    }
    .category-section {
      background-color: $naics-bg-color;
    }
  }

}

.tagline {
  height: 20vh;
  @include flex();
  @include align-items(center);
}

.sign-up-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #161527;
  background-image: url('/img/earth1.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex();
  @include flex-direction(column);
  @include justify(space-between);
}

.launchdate {
  margin-top: 15vh;
  img {
    max-width: 279px;
    margin: 0 auto 5vh;
    width: 100%;
  }
}

.launch-msg {
  font-size: 36px;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  color: $launch-msg-color;

  @media all and (max-width: 768px){
    font-size: 30px;
    span {
      display: block;
      padding-top: 8px;
    }
  }
}

.sign-up-form {
  margin: 0 auto 7vh;

  label {
    display: block;
    padding-bottom: 20px;
    color: #fff;
    font-family: $palanquin;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3;

    @media all and (max-width: 768px){
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  .input-container {
    @include flex();
  }
}

#mce-EMAIL {
  border: 1px solid white;
  background-color: rgba(56,62,88,0.6);
  padding: 18px 35px 18px 18px;
  width: 60%;
  font-size: 0.78571rem;
  line-height: 1;
  letter-spacing: 0.21em;
  color: #fff;
  @include placeholder {color: white; opacity: 0.75;}

  @media all and (max-width: 400px){
    padding: 15px 35px 15px 15px;
    width: 80%;
  }
}

footer {
  .co {
    margin-bottom: 2vh;
  }
}
