body {
  background-color: $black;
}

.bg {
  position: absolute;
  width: 100%;
  height: 150%;
  z-index: -1;
}

.hero-img {
  position: relative;
  background-image: url('/img/jjj56cp_CoveMountain.jpg');
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

// .seal-container {
//   position: relative;
//   width: 100%;
//   top: 5vh;
//   margin-bottom: 5vh; hacky?
// }

// .seal-ring {
//   display: block;
//   width: 60%;
//   max-width: 675px;
//   margin: 0 auto;
// }

.logo {
  position: relative;
  top: 43%;
  text-align: center;
  z-index: 1;
  padding: 180px 0 60px;

  @media all and (max-width: 768px){
    padding: 150px 0 40px;
  }

  img {
    width: 60%;
    max-width: 500px;
  }
}

// .eagle {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   margin-left: -25%;
//   width: 50%;
//   max-width: 569px;
//   z-index: 0;
// }

#section1, #section2, #section4 {
  min-height: 100vh;
}

.cd-section {
  
  .section-title {
    color: $sectiontitle-color;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 28px;
    font-family: $palanquin;

    @media all and (max-width: 400px){
      font-size: 24px;
    }
  }

  .section-desc {
    color: $subtitle-color;
    font-family: $palanquin;
    font-size: 32px;
    text-transform: none;
    font-weight: 300;

    @media all and (max-width: 600px){
      font-size: 26px;
      line-height: 1.3;
    }
  }
}

#section1 {

  .subheader {
    max-width: 335px;

    h2 {
      font-size: 24px;

      @media all and (max-width: 600px){
        font-size: 22px;
      }
      @media all and (max-width: 400px){
        font-size: 18px;
      }
    }
  }
}

#section2 {
  background: url('/img/stardust_e.png') repeat 0 0;
}

#section3 {
  .main {
    max-width: 550px;
  }
}

.sign-up {
  display: block;
  margin: 10vh auto;
  text-align: center;

  @media all and (max-width: 768px){
    margin: 7vh auto;
  }
}

.main {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  @media all and (max-width: 600px){
    width: 70%;
  }
}

.subheader {
  font-family: $palanquin;
  font-size: 28px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.skrim {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  @include gradient(rgba(0,0,0,0), 30%, rgba(40, 36, 43, 0.5), 100%);
  z-index: 0;
}

.cross {
  padding: 40px 0 20px;
  width: 113px;

  @media all and (max-width: 500px){
    padding: 30px 0 10px;
    width: 80px;
  }
}

.arrows {
  padding: 60px 0 30px;
  width: 121px;
  height: 26px;
}

.wreath {
  width: 115px;
  margin-top: 7vh;
  @media all and (max-width: 400px){
    width: 90px;
    margin-top: 4.5vh;
  }
}

.bullet-container {
  text-align: left;
  color: white;
  width: 75%;
  max-width: 600px;
  
  & > ul {
    & > li {
      @include flex();
      @include justify(flex-start);
      padding: 20px 0;

      @media all and (max-width: 450px){
        padding: 20px 0 0;
      }
    }
  }

  i {
    background-image: url('/img/bullet.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 35px;
    width: 35px;
    background-size: 35px;
    margin-right: 25px;

    @media all and (max-width: 450px){
      height: 35px;
      width: 35px;
      background-size: 25px;
      margin-right: 15px;
    }

    &.bullet1 {
      background-image: url('/img/bullets/datajoin.svg');
    }

    &.bullet2 {
      background-image: url('/img/bullets/dataconnect.svg');
    }
    &.bullet3 {
      background-image: url('/img/bullets/dataexport.svg');
    }
    &.bullet4 {
      background-image: url('/img/bullets/dataprofiles.svg');
    }
  }

  h3 {
    font-size: 22px;
    letter-spacing: 0.02em;
    font-weight: 300;
    text-transform: none;
    color: $bullet-txt-color;
    line-height: 1.5;
    margin-bottom: 5px;

    @media all and (max-width: 768px){
      font-size: 20px;
    }
    @media all and (max-width: 450px){
      font-size: 16px;
      line-height: 1.3;
    }
  }

  a, p {
    margin-left: 25px;
    font-family: $palanquin;
    font-size: 19px;
    font-weight: 300;
    line-height: 2;
    color: $bullet-subtxt-color;
    @include transition(color 1s);

    @media all and (max-width: 768px){
      font-size: 16px;
    }
    @media all and (max-width: 450px){
      font-size: 14px;
      line-height: 1.6;
    }
  }

  a {
    &:hover {
      cursor: pointer;

      &.geo {
        color: $geo-bg-color;
      }
      &.soc {
        color: $soc-bg-color;
      }
      &.cip {
        color: $cip-bg-color;
      }
      &.naics {
        color: $naics-bg-color;
      }
    
      &::before {
        content: '';
        background-image: url('/img/sub-bullet.png');
        background-size: 100%;
        width: 15px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-left: -20px;
        margin-right: 5px;
      }
    }
  }

  .data-source-dynamic {
    height: 50px;

    @media all and (max-width: 450px){
      height: 30px;
    }
  }

  .txt-rotate {
    border-bottom: 1px solid;
  }
}

.profile-category-container {
  margin-top: 130px;
  @include flex();
  @include justify(space-between);
  @include flex-direction(row);

  @media all and (max-width: 1250px){
    @include flex-direction(column);
  }

  .top, .bottom {
    @include flex-size();
    @include flex();
    @include justify(space-between);
    @include flex-direction(row);

    @media all and (max-width: 768px){
      @include flex-direction(column);
    }
  }
}

.profile-category {
  @include flex-size();
  margin-top: -98px;

  .category-img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 31.30%;
    height: 0;
  }

  .category-section {
    min-height: 225px;
    padding-bottom: 100px;
    padding-top: 20px;
    margin-top: -5px;

    @media all and (min-width: 1250px) {
      max-height: 225px;
    }

    h2 {
      line-height: 1;
      margin-top: -10px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 26px;
    }

    ul {
      width: 70%;
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
      
      li {
        @include flex();
        @include justify(flex-start);
        @include align-items(center);
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      h3 {
        line-height: 2.5;
        font-size: 18px;
        text-transform: none;
      }
    }
  }

  &#geo {
    .category-img {
      background-image: url('img/prof/geo.png');
    }
    .category-section {
      background-color: $geo-bg-color;
    }
  }

  &#soc {
    .category-img {
      background-image: url('img/prof/soc.png');
    }
    .category-section {
      background-color: $soc-bg-color;
    }
  }

  &#cip {
    .category-img {
      background-image: url('img/prof/cip.png');
    }
    .category-section {
      background-color: $cip-bg-color;
    }
  }

  &#naics {
    .category-img {
      background-image: url('img/prof/naics.png');
    }
    .category-section {
      background-color: $naics-bg-color;
    }
  }

}

#section4 > .main {
  height: 20vh;
  @include flex();
  @include align-items(center);  
}

.sign-up-container {
  position: relative;
  height: 80vh;
  background-color: #424771;
  background-image: url('/img/earth1.jpg');
  @include background-stretch();
  background-position: 50% 0%;
  @include flex();
  @include flex-direction(column);
  @include justify(space-between);
}

.launch-msg {
  font-size: 40px;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  margin: 15px auto 0;
  color: $launch-msg-color;

  @media all and (max-width: 768px){
    font-size: 30px;
  }
}

.sign-up-form {
  margin: 5vh auto auto;

  label {
    display: block;
    padding-bottom: 20px;
    color: #fff;
    font-family: $palanquin;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3;
    
    @media all and (max-width: 768px){
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  .input-container {
    @include flex();
  }
}

#mce-EMAIL {
  border: 1px solid white;
  background-color: transparent;
  padding: 18px 35px 18px 18px;
  width: 60%;
  font-size: 0.78571rem;
  line-height: 1;
  letter-spacing: 0.21em;
  color: #fff;

  @media all and (max-width: 400px){
    padding: 15px 35px 15px 15px;
    width: 80%;
  }
}

footer {
  @include flex();
  @include justify(space-between);
  
  .co {
    z-index: 1;

    img {
      box-sizing: border-box;
      padding: 10px 15px;
      margin: 45px auto 5px;
      max-height: 45px;
      @media all and (max-width: 600px){
        max-width: 33vw;
        margin: 0;
      }
    }
  }
}