.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 26px;
  height: 30px;
  background: url('/img/cd-arrow-bottom.svg') no-repeat center center;
  @include transition(bottom 0.1s ease-out);

  &:hover, &:focus {
    bottom: 17px;
  }
}

.material-btn {
  padding: 10px;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #fff;
  @include transition(color 0.45s cubic-bezier(0.19, 1, 0.22, 1));
  
  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    @include transition(transform 0.4s cubic-bezier(1, 0, 0, 1));
    @include transform(translate3d(0, 50px, 0));
    z-index: -1;
  }

  &:hover {
    color: $black;
    z-index: 0;
  }

  &:hover::before {
    top: 0;
    @include transform(translate3d(0, 0, 0));  
  }
}

.btn {
  @include box();
  position: relative;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  padding: 20px 35px;
  font-family: $palanquin;
  font-weight: 900;
  font-style: normal;
  font-size: 0.78571rem;
  line-height: 1;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #fff;

  @media all and (max-width: 600px){
    padding: 15px 35px;
  }
}

.icon-btn {
  background-image: url('/img/arrow-right2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;

  @media all and (max-width: 600px){
    background-size: 40%;
  }
}

.sign-up-btn {
  background-color: transparent;
  border: 0;
  margin-left: -65px;
  @include transition(background-position 0.3s ease-out);

  &:hover {
    background-position: 65% center;
  }
}