// Profile navigation sizes
$title-height: 40px;
$prof-nav-height: 50px;
$nav-height: 40px;
$stats-bar-height: 30px;
$footer-height: 70px;
$nav-width: 415px;

$d-profile-bg: #E9E9E9;
$l-profile-bg: #F6F6F6;

$d-bg-color-geo: #0C2521;
$l-bg-color-geo: #374b98;
$viz-color-geo: #5D82BD;
$link-color-geo: #2c49d8;
$alt-link-color-geo: rgba(121,129,169,0.5);
$home-midtone: #7981A9;

$text-color: #211f1a;
$dark-d-blue: #132332;
$d-blue: #004994;
$home-blue: #223856;
$light-home-blue: #cfedff;
$med-home-blue: #386f8e;
// $dark-home-blue: #010103;
$dark-home-blue: #112748;
$dark-home-red: #B35E49;
$home-red: #dc5137;
$light-home-red: #fdc8b8;

$black: #1B191D;
$white: #D7E8EF;
$red: #F23434;
$blue: #32415A;

$subtitle-color: #616CA5;
$bullet-txt-color: #BC9A96;
$launch-msg-color: #ffffff;
$geo-bg-color: #3F65B2;
$cip-bg-color: #4B928B;
$soc-bg-color: #DAAB99;
$naics-bg-color: #616CA5;

$enriqueta: "Enriqueta", serif;
$palanquin: "Palanquin", sans-serif;
$noticia: "Noticia Text", serif;
$lato: "Lato", sans-serif;
$playfair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

/* download Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700|Palanquin:300,400,600,700|Noticia+Text:400,700|Lato:100,300,400,700|Playfair+Display:400,400italic|Roboto:300,400,700);