// Profile navigation sizes
$title-height: 40px;
$prof-nav-height: 50px;
$nav-height: 40px;
$stats-bar-height: 30px;
$footer-height: 70px;
$nav-width: 415px;

$d-profile-bg: #E9E9E9;
$l-profile-bg: #F6F6F6;

$d-bg-color-geo: #0C2521;
$l-bg-color-geo: #374b98;
$viz-color-geo: #5D82BD;
$link-color-geo: #2c49d8;
$alt-link-color-geo: rgba(121,129,169,0.5);
$home-midtone: #7981A9;

$text-color: #211f1a;
$dark-d-blue: #132332;
$d-blue: #004994;
$home-blue: #223856;
$light-home-blue: #cfedff;
$med-home-blue: #386f8e;
// $dark-home-blue: #010103;
$dark-home-blue: #112748;
$dark-home-red: #B35E49;
$home-red: #dc5137;
$light-home-red: #fdc8b8;

// $black: #1B191D;
$black: #131a2d;
$white: #D7E8EF;
$red: #F23434;
$blue: #32415A;

$sectiontitle-color: $white;
$subtitle-color: #616CA5;
$bullet-txt-color: #BACACB;
$bullet-subtxt-color: #A1AEB3;
$launch-msg-color: $white;
// $geo-bg-color: #4268B1;
$geo-bg-color: #43567B;
// $cip-bg-color: #4B928B;
$cip-bg-color: #3B7D77;
// $soc-bg-color: #d1685e;
$soc-bg-color: #BF584E;
// $naics-bg-color: #505876;
$naics-bg-color: #424B6F;

$palanquin: "Palanquin", sans-serif;
$pathway: "Pathway Gothic One", sans-serif;
$source: "Source Sans Pro", sans-serif;

/* download Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Palanquin:300,400,600,700|Pathway+Gothic+One|Source+Sans+Pro:400,300);