body.about {

  /* visuals */

  background-color: #1b191e;

  h1 {
    font-family: $pathway;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    color: white;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-family: $pathway;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    .fa-link {
      color: $black2;
      visibility: hidden;
      margin: 10px 0 0 -20px;
      padding-right: 5px;
      font-size: 14px;
    }

    &:hover{
      .fa-link {
        visibility: visible;
      }
    }
  }

  .katex-html {
    font-family: $palanquin;
  }

  a {
    color: $black2;
    @include transition(all 0.25s);
    cursor: pointer;
  }

  a[href="#top"] {
    color: $black;
    font-family: $palanquin;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.1em;
  }

  a[name="top"] {
    &::before {
      content: "";
      position: relative;
      visibility: hidden;
      top: -$nav-height - $prof-nav-height;
    }
  }

  p {
    color: $black2;
    font-family: $palanquin;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
  }

  ol {
    color: $red-w;
    font-family: $palanquin;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;

    li {
      line-height: 1.3;

      img {
        margin: 0 auto;
        display: block;
        max-width: 90%;
        @include box();
      }
    }
  }

  .bulleted-list {
    margin-left: 30px;
    list-style-type: upper-roman;
    list-style-position: inside;
  }

  .desc {
    font-family: $pathway;
    color: white;
    font-size: 31px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 10px 0 20px;
    opacity: 0.8;
  }

  .pri-link {
    font-size: 11px;
  }

  .emphasize {
    font-weight: 600;
  }

  .specify {
    font-style: italic;
  }

  // #about-nav {
  //   background-color: $black2;
  //   @include flex();
  //   height: $about-nav-height;
  //   width: 100%;
  //   left: 0;
  //   position: fixed;
  //   top: $nav-height;
  //   text-align: center;
  //   @include transition(top 0.5s);
  //   z-index: 4;

  //   a {
  //     color: $black2;
  //   }

  //   ul {
  //     width: 100%;
  //     max-width: 800px;
  //     @include flex();
  //     @include justify(space-between);

  //     li {
  //       @include flex-size(1);
  //       padding: 4px 5px;

  //       &.active {
  //         a {
  //           color: $red-w;
  //         }

  //         &::before {
  //           bottom: 0;
  //           background: $red-w;
  //         }
  //       }
  //     }
  //   }
  // }

  .code-box {
    background: #fff;
    color: $black2;
    overflow:auto;
    width:auto;
    margin: 15px 10px;
    border: solid $black4;
    border-width:.1em .1em .1em .8em;
    padding: .2em .6em;
    @include wordwrap();

    pre {
      margin: 0;
      line-height: 1.6;
    }

    .key {
      color: $max-color;
    }

    .value {
      background-color: $white;
      padding: 1px 2px;
    }

    .integer {
      font-weight: 600;
      color: $min-color;
    }
  }

  // #about-container {
  //   position: relative;
  //
  //   &.index {
  //     // section{
  //     //   margin-top: 30px;
  //     // }
  //     p {
  //       color: $black2;
  //       line-height: 2;
  //       font-size: 18px;
  //       opacity: 1;
  //       text-align: justify;
  //     }
  //   }
  // }

  header {
    & > div {
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
      @include box();
      padding: 25px 25px 0;
    }

    section {
      padding: 0;
      background-color: transparent;
    }
    h2 {
      font-size: 60px;
      letter-spacing: 0.03em;
      color: $black3;
      text-align: center;
      margin-bottom: 45px;
      @include text-shadow(0 0 30px rgba(20, 27, 46, 0.1));
    }
  }

  #hero-img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  #hero {
    // width: 100%;
    // min-height: 100vh;
    top: 0;
    position: absolute;
    // @include transition(all 0.5s);
    z-index: 0;

    &.hero-bg {
      background-image: url('/static/img/about/landscape.jpg');
      // background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100%;
      // background-position: 50% 100%;
    }

    // &::after {
    //   content: "";
    //   position: fixed;
    //   height: 100%;
    //   width: 100%;
    //   left: 0;
    //   top: $nav-height;
    //   // @include gradient(top, (0%: white, 10%: rgba(255, 255, 255, 0.1), 30%: transparent, 100%: transparent));
    // }
  }

  article {
    position: relative;
    width: 100%;
    margin: 0 auto 50px;
    z-index: 1;
    @include box();
    padding: 0 25px $nav-height;
  }

  .usage-scenarios {
    padding-top: 30px;
  }

  .dataset-panel {
    @include flex();
    @include flex-direction(row);
    @include justify(space-between);

    li {
      @include flex-size(1);
      padding: 0 0 10px;
      text-align: center;
      font-family: $palanquin;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.03em;

      a {
        color: $black2;

        i {
          display: block;
        }
        img {
          display: block;
          margin: 0 auto;
          width: 25px;
        }
      }

      &.active {
        a {
          color: $red-w;
        }
      }
    }
  }

  .dataset-list {
    @include flex-size(3);

    .dataset-tab {
      display: none;

      &.active {
        display: block;
      }
      h2 {
        // color: $red-w;
        margin: 20px 0 10px;
      }
    }
  }

  .attr-body {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    @include flex();
    @include flex-direction(row);
    @include justify(flex-start);

    & > * {
      margin: 0;
      padding: 0;

      &:first-child {
        @include flex-size(1);
        padding-right: 30px;
      }
      &:last-child {
        @include flex-size(3);
      }
    }
  }

  .sumlevels {

    li {
      margin-left: 15px;
      padding: 8px 5px 4px;
      font-family: $palanquin;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.03em;
      line-height: 17px;
      opacity: 0.7;
      position: relative;
      text-transform: capitalize;
      white-space: nowrap;
      @include transition(opacity 0.25s);

      &:hover {
        opacity: 1;
      }

      a {
        white-space: normal;
      }

      &:before {
        content: unicode("f1db");
        font-family: FontAwesome;
        font-size: 8px;
        left: -9px;
        position: absolute;
        top: 9px;
      }

      &.active {

        a {
          color: $red-w;
          font-weight: 600;
        }

        &:before {
          color: $red-w;
          content: unicode("f111");
        }
      }

    }
  }

  table {
    font-family: $palanquin;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 100%;

    th, td {
      padding: 5px 5px;
    }

    th a {
      i {
        margin: 6px 0 0 4px;
      }
    }

    th.id {
      text-transform: uppercase;
    }

    td.id {
      white-space: nowrap;
    }

    td {
      border-top: 1px solid $d-profile-bg;
      color: $black2;
      line-height: 1.5;
      a {
        text-decoration: underline;
      }
    }

    thead th, a:hover, a:focus {
      color: $red-w;
    }

  }

  .pagination {
    @include flex();
    @include justify(space-around);
    margin-top: 20px;

    .page-nav {
      width: 70px;
      font-size: 14px;
      margin-top: 3px;
      &.next {
        text-align: right;
      }
      &.prev {
        text-align: left;
      }
    }

    .pages {
      strong {
        color: $red-w;
      }
    }

  }

  section {
    @include box();
    position: relative;
    padding: 1px 50px 50px;
    max-width: 850px;
    margin: 0 auto;
    background-color: $l-profile-bg;

    &:first-child {
      padding-top: 49px;
    }

    h2 {
      margin: 0 0 25px;

      a {
        color: $black2;
        cursor: default;
      }
    }

    p {
      margin: 0 0 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & > ul {
      h1 {
        text-align: left;
        font-size: 42px;
        margin: 20px 0;

        a {
          color: $black2;
          cursor: default;
        }
      }
      ol {
        list-style: none;
        // @include column-count(2);
        h2 {
          margin: 20px 0 10px;
        }

        a {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            visibility: hidden;
            top: -$nav-height - 20px;
          }

        }

      }
    }

  }

}

@import "elements/about_m";
