body.about {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {

    h1 {
      display: none;
    }

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }

    table {
      font-size: 13px;
      line-height: 1.3;

      th, td {
        padding: 4px 5px;

        a {
          font-size: 13px;
        }
      }
    }

    section {
      padding: 10px 0;

      h2 {
        margin-bottom: 0;
      }
    }

    .hero-bg {
      background-attachment: scroll;
    }

    header {
      section {
        padding: 6% 0 !important;
      }
      h2 {
        font-size: 30px;
        margin-top: 0;
      }
    }

    .btn {
      padding: 7px 0px;
      font-size: 10px;
    }

    .pri-tab {
      .pri-tab-link {
        min-width: 0px;
        height: 30px;
      }
    }

    .pri-tab.active {
      .pri-tab-link {
        &::after {
          @include transform(translate3d(0, -28px, 0));
          @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
        }
      }
    }

    .datasets .dataset-panel-container .dataset-panel li {
      padding: 0;
      font-size: 14px;
    }

    #index-page {
      overflow: hidden;
      @include align-items(center);

      article {
        width: 90%;
      }   

      section {
        padding: 35px 20px;
        
        h2 {
          font-size: 28px;
          margin-bottom: 13px;
        }

        p {
          font-size: 13px;
        }
      } 
    }

    .attr-body {
      @include flex-direction(column);

      section {
        &:first-child {
          padding: 0;
          margin-bottom: 30px;
        }
        &:last-child {
          @include flex-size(1);
          overflow-x: hidden;
        }
      }
    }

    .sumlevels {
      @include column-count(2);

      li {
        line-height: 1;
        font-size: 12px;
        padding: 0;

        &::before {
          position: relative;
        }
      }
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
  }
}