body.about {
  background-color: #1b191e;

  #hero-img {
    background-color: $black2-5;
    @include gradient(top, $search-gradient);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  #hero {
    top: 0;
    position: absolute;
    z-index: 0;

    &.hero-bg {
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  h1 {
    font-family: $pathway;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    color: white;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-family: $pathway;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    .fa-link {
      color: $black2;
      visibility: hidden;
      margin: 10px 0 0 -20px;
      padding-right: 5px;
      font-size: 14px;
    }

    &:hover{
      .fa-link {
        visibility: visible;
      }
    }
  }

  .katex-html {
    font-family: $palanquin;
  }

  a {
    color: $black2;
    @include transition(all 0.25s);
    cursor: pointer;

    &.anchor {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -$nav-height;
      }
    }

    &[href="#top"] {
      color: $black;
      font-family: $palanquin;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 0.1em;
    }

    &[name="top"] {
      &::before {
        content: "";
        position: relative;
        visibility: hidden;
        top: -$nav-height - $prof-nav-height;
      }
    }
  }

  p {
    color: $black2;
    font-family: $palanquin;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    a {
      border-bottom: 1px solid #c1c1c1;
      @include transition(all 0.15s);

      &:hover {
        border-color: transparent;
        opacity: 0.5;
      }
    }
  }

  ol {
    color: $red-w;
    font-family: $palanquin;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;

    li {
      line-height: 1.3;

      img {
        margin: 0 auto;
        display: block;
        max-width: 90%;
        @include box();
      }
    }
  }

  .bulleted-list {
    margin-left: 30px;
    list-style-type: upper-roman;
    list-style-position: inside;
  }

  .desc {
    font-family: $pathway;
    color: white;
    font-size: 31px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 10px 0 20px;
    opacity: 0.8;
  }

  .pri-tab {
    .pri-tab-link {
      color: $black-link;
      height: auto;
    }

    .btn {
      padding: 30px 30px 17px;
    }

    &.active {
      background-color: rgba(255,255,255,0);
      .pri-tab-link {
        color: $red-w;
      }
    }
  }

  .pri-link {
    font-size: 11px;
  }

  .emphasize {
    font-weight: 600;
  }

  .specify {
    font-style: italic;
  }

  header {
    & > div {
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
      @include box();
      padding: $nav-height 25px 0;

      section {
        padding-top: 0 !important;
      }
    }

    section {
      padding: 0;
      background-color: transparent;
    }

    h2 {
      font-size: 60px;
      letter-spacing: 0.03em;
      color: $black3;
      text-align: center;
      margin-bottom: 45px;
      @include text-shadow(0 0 30px rgba(20, 27, 46, 0.1));
    }
  }

  article {
    position: relative;
    width: 100%;
    margin: 0 auto 50px;
    z-index: 1;
    @include box();
    padding: 0 25px $nav-height;
  }

  #video-container {
    background-color: $black2;
    height: 315px;
    margin: -50px auto 0 -50px;
    overflow: hidden;
    padding: 20px 50px;
    position: relative;
    width: 100%;

    .video {
      @include box();
      @include transition(left 0.5s);
      display: block;
      height: 355px;
      left: 0;
      padding: 20px 50px;
      position: absolute;
      top: 0;
      width: 100%;

      &.active {
        left: 0;
      }

      &.next {
        left: 100%;
      }

      &.prev {
        left: -100%;
      }
    }

    .video-prev, .video-next {
      color: $white-l;
      font-size: 20px;
      height: 100%;
      margin-top: -10px;
      opacity: 0.5;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 20px;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .video-prev {
      left: 0;
    }

    .video-next {
      right: 0;
    }


  }

  #logos {
    margin-bottom: 20px;
    text-align: center;

    img {
      height: 25px;
      margin: 30px 25px 10px;
    }
  }

  .code-box {
    background: #fff;
    color: $black2;
    overflow:auto;
    width:auto;
    margin: 15px 10px;
    border: solid $black4;
    border-width:.1em .1em .1em .8em;
    padding: .2em .6em;
    @include wordwrap();

    pre {
      margin: 0;
      line-height: 1.6;
    }

    .key {
      color: $max-color;
    }

    .value {
      background-color: $white;
      padding: 1px 2px;
    }

    .integer {
      font-weight: 600;
      color: $min-color;
    }
  }

  .usage-scenarios {
    padding-top: 30px;
  }

  .dataset-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    @include flex();
    @include flex-direction(row);
    @include justify(space-between);

    &.datasets {
      li {
        a {
          &.acs {
            background-image: url('/static/img/about/ACS.png');
          }
          &.acspums {
            background-image: url('/static/img/about/ACS_PUMS.png');
          }
          &.bea {
            background-image: url('/static/img/about/BEA.png');
          }
          &.bls {
            background-image: url('/static/img/about/BLS.png');
          }
          &.chr {
            background-image: url('/static/img/about/CHR.png');
          }
          &.ipeds {
            background-image: url('/static/img/about/IPEDS.png');
          }
          &.onet {
            background-image: url('/static/img/about/ONet.png');
          }
        }
      }
    }

    li {
      @include flex-size(1);
      text-align: center;
      font-family: $palanquin;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.03em;

      &.active {
        a {
          background-color: $red-w;
        }
      }

      a {
        display: block;
        background-color: $black35;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        color: #ffffff;
        display: block;
        width: 100%;
        height: 60px;
        padding: 13px 0;
        @include box();
        font-size: 16px;
        line-height: 1;
        font-weight: 600;

        i {
          display: block;
        }

        img {
          display: block;
          margin: 0 auto;
          width: 25px;
        }
      }
    }
  }

  .dataset-list {
    @include flex-size(3);

    .dataset-tab {
      display: none;

      &.active {
        display: block;
      }
      h2 {
        // color: $red-w;
        margin: 20px 0 10px;
      }
    }
  }

  .attr-body {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
  }

  .sumlevels {
    margin-bottom: 20px;
    padding-right: 0 !important;
    text-align: center;

    li {
      display: inline-block;
      padding: 8px 10px 4px;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 20px;
      opacity: 0.7;
      position: relative;
      text-transform: capitalize;
      white-space: nowrap;
      @include transition(opacity 0.25s);

      &:hover {
        opacity: 1;
      }

      a {
        white-space: normal;
      }

      &.active {
        a {
          color: $red-w;
          font-weight: 600;
        }
      }

    }
  }

  table {
    font-family: $palanquin;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: left;
    width: 100%;

    th, td {
      padding: 5px 5px;
    }

    th a {
      i {
        margin: 6px 0 0 4px;
      }
    }

    th.id {
      text-transform: uppercase;
    }

    td.id {
      white-space: nowrap;
    }

    td {
      border-top: 1px solid $d-profile-bg;
      color: $black2;
      line-height: 1.5;
      a {
        text-decoration: underline;
      }
    }

    thead th, a:hover, a:focus {
      color: $red-w;
    }

  }

  .pagination {
    @include flex();
    @include justify(space-around);
    margin-top: 20px;

    .page-nav {
      width: 70px;
      font-size: 14px;
      margin-top: 3px;
      &.next {
        text-align: right;
      }
      &.prev {
        text-align: left;
      }
    }

    .pages {
      strong {
        color: $red-w;
      }
    }

  }

  section {
    @include box();
    position: relative;
    padding: 1px 50px 50px;
    max-width: 850px;
    margin: 0 auto;
    background-color: $l-profile-bg;

    &:first-child {
      padding-top: 49px;
    }

    h2 {
      margin: 0 0 25px;

      a {
        color: $black2;
        cursor: default;
      }
    }

    p {
      margin: 0 0 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & > ul {
      h1 {
        text-align: left;
        font-size: 42px;
        margin: 20px 0;

        a {
          color: $black2;
          cursor: default;
        }
      }
      ol {
        list-style: none;
        // @include column-count(2);
        h2 {
          margin: 20px 0 10px;
        }

        a {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            visibility: hidden;
            top: -$nav-height - 20px;
          }

        }

      }
    }

  }

  .team-list {
    padding: 0 0 50px;

    .logo {
      display: block;
      height: 40px;
      margin: 20px auto 20px;
    }

    .author-meta {
      @include box();
      @include flex();
      @include flex-direction(row);
      @include justify(flex-start);
      @include align-items(flex-start);
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      padding: 10px;

      @media only screen and (max-width : 570px) {
        @include flex-direction(column);
        padding: 10px 0;
      }

      & > div {
        margin-bottom: 3px;
      }

      span, a, div {
        color: $black2;
        font-family: $palanquin;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }

    }

    .author-avatar {
      margin-right: 10px;
      margin-top: 15px;
      max-width: 150px;
      min-width: 150px;
      width: 100px;

      @media only screen and (max-width : 570px) {
        display: block;
        margin: 0 auto;
      }
    }

    .author-text {
      padding: 10px;

      @media only screen and (max-width : 570px) {
        padding: 10px 0;
      }

      .name {
        font-size: 20px;
      }

      .info {
        text-transform: none;
        line-height: 1.5;
        margin: 7px 0;
      }

      .social {
        line-height: 1;

        a {
          font-weight: 700;
          font-size: 11px;
          line-height: 1;
          letter-spacing: 0.06em;
          color: $red-w;
        }
      }
    }
  }

}

@import "elements/about_m";
