body.about {

  /* visuals */

  background-color: $white-l;

  h1 {
    font-family: $pathway;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 64px;
    color: white;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-family: $pathway;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    .fa-link {
      color: $black2;
      visibility: hidden;
      margin: 10px 0 0 -10px;
      padding-right: 5px;
      font-size: 14px;
    }

    &:hover{
      .fa-link {
        visibility: visible;
      } 
    }
  }

  a {
    color: $black2;
    @include transition(all 0.25s);
    cursor: pointer;
  }

  a[href="#top"] {
    color: $red-w;
    font-family: $palanquin;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.1em;
  }

  a[name="top"] {
    &::before {
      content: "";
      position: relative;
      visibility: hidden;
      top: -$nav-height - $prof-nav-height;
    }
  }

  p {
    color: $black2;
    font-family: $palanquin;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
  }

  ol {
    color: $red-w;
    font-family: $palanquin;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.03em;

    li {
      line-height: 1.3;

      img {
        margin: 0 auto;
        display: block;
        max-width: 90%;
        @include box();
      }
    }
  }

  .bulleted-list {
    margin-left: 30px;
    list-style-type: upper-roman;
    list-style-position: inside;
  }

  .desc {
    font-family: $pathway;
    color: white;
    font-size: 31px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 10px 0 20px;
    opacity: 0.8;
  }

  .pri-link {
    font-size: 11px;
  }

  .emphasize {
    font-weight: 600;
  }

  .specify {
    font-style: italic;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  #top-nav {
    background-color: $black2;
  }

  #home-btn {
    display: none;
  }

  #title-bar {
    text-align: center;
    height: $nav-height;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;

    span {
      @include flex();
      @include align-items(center);
      position: relative;
      top: 0;
      padding: 7px;
      color: $red-w;
      font-family: $pathway;
      font-size: 24px;
    }

    img {
      width: 78px;
      margin-top: 4px;
      margin-right: 5px;
    }

  }

  .hero-bg {
    background-image: url('/static/img/about/3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  // #about-nav {
  //   background-color: $black2;
  //   @include flex();
  //   height: $about-nav-height;
  //   width: 100%;
  //   left: 0;
  //   position: fixed;
  //   top: $nav-height;
  //   text-align: center;
  //   @include transition(top 0.5s);
  //   z-index: 4;

  //   a {
  //     color: $black2;
  //   }

  //   ul {
  //     width: 100%;
  //     max-width: 800px;
  //     @include flex();
  //     @include justify(space-between);

  //     li {
  //       @include flex-size(1);
  //       padding: 4px 5px;

  //       &.active {
  //         a {
  //           color: $red-w;
  //         }

  //         &::before {
  //           bottom: 0;
  //           background: $red-w;
  //         }
  //       }
  //     }
  //   }
  // }

  .code-box {
    background: #fff;
    color: $black2;
    overflow:auto;
    width:auto;
    margin: 15px 10px;
    border: solid $black4;
    border-width:.1em .1em .1em .8em;
    padding: .2em .6em;
    @include wordwrap();

    pre {
      margin: 0;
      line-height: 1.6;
    }

    .key {
      color: $max-color;
    }

    .value {
      background-color: $white;
      padding: 1px 2px;
    }

    .integer {
      font-weight: 600;
      color: $min-color;
    }
  }

  #about-container {
    position: relative;

    &.index {

      section {
        padding: 6% 12%;
      }
      p {
        color: $black3;
        line-height: 2;
        font-size: 18px;
        opacity: 1;
        text-align: justify;
      }
    }
  }

  header {
    & > div {
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
      @include box();
      padding: $nav-height+$prof-nav-height 25px 0;
    }

    section {
      padding: 30px 0 10px;
    }
    h2 {
      font-size: 60px;
      letter-spacing: 0.03em;
      color: $black4;
      text-align: center;
      margin-bottom: 45px;
      @include text-shadow(0 0 30px rgba(20, 27, 46, 0.1));
    }
  }

  #hero {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    top: 0;
    position: absolute;
    @include transition(all 0.5s);
    z-index: 0;

    &::after {
      content: "";
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: $nav-height;
      background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.1) 10%, transparent 30%);
    }
  }

  article {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    @include box();
    padding: 0 25px $nav-height;
  }

  .usage-scenarios {
    padding-top: 30px;
  }

  .datasets {
    @include flex();
    @include flex-direction(column);

    .dataset-panel-container {
      @include flex-size(1);
      margin-top: 30px;

      .dataset-panel {
        @include flex();
        @include flex-direction(row);
        @include justify(space-between);

        li {
          padding: 10px 0 20px;
          text-align: center;
          font-family: $palanquin;
          font-weight: 300;
          font-size: 20px;
          letter-spacing: 0.03em;

          a {
            color: $black2;

            i {
              display: block;
            }
            img {
              display: block;
              margin: 0 auto;
              width: 25px;
            }
          }

          &.active {
            a {
              color: $red-w;
            }

            .geo {
              color: $geo-bg-color;
            }
            .cip {
              color: $cip-bg-color;
            }
            .soc {
              color: $soc-bg-color;
            }
            .naics {
              color: $naics-bg-color;
            }
          }
        }
      }
    }

    .dataset-list {
      @include flex-size(3);

      .dataset-tab {
        display: none;

        &.active {
          display: block;
        }
        h2 {
          color: $red-w;
          padding-top: 10px;
        }
      }
    }
  }
  
  .attr-body {
    background-color: white;
    border: 1px solid $black4;
    padding: 15px;
    @include box();
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    @include flex();
    @include flex-direction(row);
    @include justify(flex-start);

    section {
      margin: 0;
      padding: 0;
      
      &:first-child {
        @include flex-size(1);
        padding-right: 30px;
      }
      &:last-child {
        @include flex-size(2);
      }
    }
  }

  .sumlevels {

    li {
      margin-left: 30px;
      padding: 8px 5px 4px;
      font-family: $palanquin;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.1em;
      opacity: 0.7;
      white-space: nowrap;
      @include transition(opacity 0.25s);

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
        background: url('/static/img/about/dataprofiles.svg') no-repeat 50%;
        width: 25px;
        height: 25px;
        display: inline-block;
        position: absolute;
        margin-left: -35px;
        background-size: 25px;
        margin-right: 10px;
      }

      a {
        white-space: normal;
      }

      .geo {
        color: $geo-bg-color;
      }
      .cip {
        color: $cip-bg-color;
      }
      .soc {
        color: $soc-bg-color;
      }
      .naics {
        color: $naics-bg-color;
      }
    }
  }

  table {
    font-family: $palanquin;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-align: left;

    th, td {
      padding: 4px 5px;
    }

    td {
      color: $black2;
    }

    &.geo {
      thead th, a:hover, a:focus {
        color: $geo-bg-color;
      }
    }
    &.cip {
      thead th, a:hover, a:focus {
        color: $cip-bg-color;
      }
    }
    &.soc {
      thead th, a:hover, a:focus {
        color: $soc-bg-color;
      }
    }
    &.naics {
      thead th, a:hover, a:focus {
        color: $naics-bg-color;
      }
    }
  }

  section {
    position: relative;
    padding: 0px 20px 30px;
    max-width: 800px;
    margin: 0 auto;

    &:last-child {
      // padding-bottom: 40px;
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 10px;

      a {
        color: $black2;
        cursor: default;
      }
    }

    p {
      // margin: 0 10px 10px;
    }

    & > ul {
      h1 {
        text-align: left;
        font-size: 42px;
        margin: 30px 0;
        a {
          color: $black2;
          cursor: default;
        }
      }
      ol {
        // @include column-count(2);
        h2 {
          padding-top: 10px;
        }
      }
    }

  }
  
}

@import "elements/about_m";