#search-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 4;
}

#advSearch {
  display: none;
  position: fixed;
  right: 20px;
  left: 20px;
  top: $footer-height;
  height: 800px;
  max-height: 77vh;
  padding: 5px;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;

  &.active {
    display: block;
  }

  .advSearch-item {
    padding: 3px 0;
    font-family: $palanquin;
    font-size: 12px;
  }

}

#advSearch-nav {
  position: relative;
  top: 0;
}

#advSearch-back {
  display: none;

  &.active {
    display: block;
  }
}

.advSearch-input {
  @include transition(box-shadow 1s, background-color 1s);
  background: rgba(255,255,255,0.6) url('/static/img/home/search.png') no-repeat 10px 20px;
  @include shadow(0px 2px 0 rgba(255,255,255,0.9));
  padding: 10px 15px 10px 60px;
  border: 0;
  color: $d-blue;
  font-family: $enriqueta;
  font-size: 45px;
  font-weight: 400;

  &:focus {
    outline: 0;
    background-color: rgba(255,255,255,0.9);
    @include shadow(0px 7px 0 rgba(255,255,255,0.5));
  }
}

#advSearch-results {
  color: #333;
}

#advSearch-close {
  float: right;
}