a {
  color: white;
  opacity: 0.8;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

footer {
  background-color: #eeeeee;
  text-align: center;
  height: $footer-height;
  width: 100%;

  img {
    height: 30px;
    margin: 20px 25px;
    opacity: 0.5;
    @include transition(opacity 1s);

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}