html {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-family: $palanquin;
  @include font-smoothing();
}

h1 {
  color: $dark-d-blue;
  font-family: $pathway;
  font-weight: 300;
  font-size: 60px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  @include font-smoothing();
}

h2 {
  font-family: $palanquin;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  @include font-smoothing();
}

p {
  color: white;
  font-family: $palanquin;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
  font-weight: 300;
  @include font-smoothing();
}

a {
  color: #333;
  opacity: 1;
  text-decoration: none;
  @include font-smoothing();

  &:hover {
    //opacity: 0.7;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 26px;
}

footer {
  @include box();
  padding: 50px;
  width: 100%;

  .logo {
    width: 150px;
  }
}
