body.cart {
  background-color: #f6f6f6;
  overflow: hidden;
  position: relative;

}

$cart-header: 60px;
$cart-sidebar: 260px;

#cart-header {
  height: 100vh;
  text-align: right;
  width: 100%;
}

#cart-panel {
  border-right: 1px solid #BDBDBD;
  height: 100vh;
  left: 0;
  margin-top: $title-height + $cart-header;
  position: absolute;
  top: 0;
  width: $cart-sidebar;
  z-index: 1;

  .group {
    margin-left: 12px;
    margin-top: 8px;
    width: 230px;

    .title {
      color: $black2;
      font-family: $palanquin;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

  }

  #datasets {

    .headers {
      color: #949494;
      font-family: $palanquin;
      font-size: 11px;
      font-weight: 400;
      margin-bottom: 7px;
      margin-top: 5px;

      .name {
        display: inline-block;
      }

      .remove {
        float: right;
        font-weight: 600;
      }
    }

    .body {

      .dataset {
        color: #949494;
        font-family: $palanquin;
        font-size: 13px;
        font-weight: 600;

        .name {
          display: inline-block;
          line-height: 15px;
          margin-bottom: 10px;
          max-width: 85%;
        }

        .remove {
          @include transition(opacity 0.1s);
          background-image: url("/static/img/viz/remove.svg");
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          float: right;
          height: 12px;
          margin-top: 4px;
          opacity: 0.75;
          width: 12px;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

        }

      }
    }
  }

}

#cart-table {
  @include box();
  color: $black2;
  font-family: $palanquin;
  height: 100vh;
  left: 0;
  padding-left: $cart-sidebar + 12;
  padding-top: $title-height + $cart-header;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;

  .ag-header-cell {
    padding: 3px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 11px;
    text-align: left;

    .ag-header-cell-text {
      overflow-wrap: break-word;
      text-overflow: clip;
      white-space: normal;
    }

  }

  .ag-cell {
    font-size: 12px;
    font-weight: 300;
    padding: 3px;
  }

  // .ag-row {
  //   &:hover {
  //     background-color: $d-profile-bg;
  //   }
  // }

}

#cart-loading {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  &.hidden {
    display: none;
  }

  #cart-loading-text {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-family: $lato;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

    i {
      margin: 3px 10px;
    }

    #cart-loading-status {
      font-size: 14px;
    }

  }

}
