.datausa-link {
  img {
    display: block;
    width: 90px;
  }
}

body.embed {
  overflow: hidden;

  .profile-section {
    padding: 0;

    .topic {
      @include flex();
      @include flex-direction(column);
      height: 100vh !important;
      margin: 0 !important;
      padding: 15px !important;

      sub:last-child {
        margin-bottom: 0;
      }

      h2 {
        @include flex-size(none);
        font-size: 30px !important;

        .data-btn {
          top: 5px;
        }
      }

      .content {
        @include flex-size(1);

        aside {
          @include flex-size(0 0 auto !important);
        }

        .sub-source {
          position: relative;
          width: 315px;

          .datausa-link {
            bottom: 6px;
            position: absolute;
            right: -100px;
          }

        }

        .viz:not(.mini), .viz.full-width {
          height: 100% !important;
          max-height: 100% !important;
          min-height: 100% !important;
        }

      }

      &.flex, .content.full-width {
        .sub-source {
          width: 100%;

          .datausa-link {
            right: 0;
          }
        }
      }

    }

  }

}
