.datausa-link {
  img {
    display: block;
    width: 90px;
  }
}

body.embed {
  overflow: hidden;

  .profile-section {
    padding: 0;

    .topic {
      @include flex();
      @include flex-direction(column);
      height: 100vh;
      padding: 15px;

      sub:last-child {
        margin-bottom: 0;
      }

      h2 {
        @include flex-size(none);
      }

      .content {
        @include flex-size(1);

        .sub-source {
          position: relative;
          width: 315px;

          .datausa-link {
            bottom: 6px;
            position: absolute;
            right: -100px;
          }

        }

        &.full-width {
          .sub-source {
            width: 100%;

            .datausa-link {
              right: 0;
            }
          }
        }

        .viz:not(.mini), .viz.full-width {
          height: 100% !important;
          max-height: 100% !important;
          min-height: 100% !important;
        }

      }

    }

  }

}
