@media only screen and (max-width : 1200px) {
  footer {
    padding: 50px 18px;
  }
}

@media only screen and (max-width : 950px) {

  footer {
    .content {
      @include flex-direction(column);
    }

    .footer-links {
      margin-bottom: 50px;
      min-width: 100% !important;
      width: 100% !important;
    }
  }

}

@media only screen and (max-width : 560px) {

  footer .content {
    .footer-links ul li a {
      font-size: 11px;
      @include wordwrap();
    }

    .footer-contact .footer-logos {
      margin-top: 50px;
    }
  }

}
