@media only screen and (max-width : 950px) {

  footer {
    .content {
      @include flex-direction(column);
    }

    .footer-links {
      margin-bottom: 50px;
      min-width: 100% !important;
      width: 100% !important;
    }
  }

}
