#menu-btn {
  left: 20px;
  position: fixed;
  top: 20px;
  z-index: 4;
  opacity: 0.5;
  color: white;
  font-family: $palanquin;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  @include transition(opacity 1s);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  i {
    margin-right: 5px;
  }

}

#search-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 4;
  opacity: 0.5;
  color: white;
  font-size: 20px;
  @include transition(opacity 1s);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

footer {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;

  img {
    height: 30px;
    margin: 20px 25px;
    opacity: 0.5;
    @include transition(opacity 1s);

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

  }

}
