body.frozen {
	overflow: hidden;
}

.icon-search.sm {
  background: url('/static/img/home/search_sm.png') no-repeat 0 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  display: inline-block;
}

.d3plus_tooltip {

  .d3plus_tooltip_description {
    line-height: 1.35;
    font-weight: 300;
		padding: 0 6px 6px !important;
  }

	.d3plus_tooltip_data_block {
		line-height: 14px;
		overflow: hidden;
	}

  .d3plus_tooltip_data_seperator {
    background-color: rgba(224, 224, 224, 0.64) !important;
  }

}

#d3plus_tooltip_id_geo_map_sidebar {
	.d3plus_tooltip_container {
		background-color: $l-profile-bg !important;
		color: $black !important;

		.d3plus_tooltip_title {
			border-bottom: 1px solid transparent;
			display: inline-block;
			width: auto !important;
			&:after {
				color: $black4;
				content: unicode("f101");
				font-family: FontAwesome;
				margin-left: 5px;
			}
			&:hover {
				border-bottom: 1px solid $black;
				cursor: pointer;
				&:after {
					color: $black2;
				}
			}
		}

		.d3plus_tooltip_description {
			font-weight: 500;
			margin-top: 0;
		}

	  .d3plus_tooltip_html_seperator {
	    background-color: $gray-l !important;
	  }

	  .d3plus_tooltip_html_seperator {
	    background-color: $gray !important;
			display: block;
			height: 1px;
			margin: 5px 0;
	  }

		.loader {
			color: $black3;
			font-size: 12px;
			text-align: center;
			i {
				color: $black4;
				margin: 6px 5px 0 0;
			}
		}

		ol {
			font-weight: 500;
			font-size: 12px;
			margin-left: -20px;
			li {
				font-weight: 300;
				line-height: 16px;
				margin: 5px 10px 7px 20px;
				a:hover {
					text-decoration: underline;
				}
			}
		}

		.list-title {
			display: block;
			font-family: $palanquin;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			margin: 0 5px 5px;
		}

		table {
			font-family: $palanquin;
			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 20px;
			width: 100%;
			td {
				padding: 2px 5px;
			}
			.list-rank {
				text-align: right;
				width: 15px;
			}
			.list-name {
				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}
			.list-value {
				font-weight: 500;
				text-align: right;
			}
		}

	}
}

#d3plus_tooltip_id_data-tooltip-sidenav{
	@include shadow(none !important);
	.d3plus_tooltip_container {
		background-color: white !important;
		border: 1px solid #ccc !important;
		padding: 5px !important;
		.d3plus_tooltip_description {
			padding: 0 2px !important;
			color: $home-red;
			font-family: $palanquin;
		  font-size: 20px;
		  letter-spacing: 0.1em;
		  text-transform: uppercase;
		  font-weight: 400;
		}
	}
}

#d3plus_tooltip_id_data-tooltip-term{

	.d3plus_tooltip_container {
		background-color: white !important;
		padding: 5px !important;
		.d3plus_tooltip_description {
			padding: 0 2px !important;
			font-family: $palanquin;
		  font-size: 14px;
		  font-weight: 400;
		}
	}
}

.term {
  border-bottom: 1px dashed #777 !important;
  color: inherit !important;
  cursor: help !important;
}

.col {
	@include flex();
	@include flex-direction(row);
	@include justify(space-between);
}

.pri-link {
  font-family: $palanquin;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  opacity: 0.7;
  color: $white;
  white-space: nowrap;
  @include transition(opacity 0.25s);
  cursor: pointer;

  &:hover, &:focus {
    opacity: 1;
  }
}

.tab-container {
  @include flex();

  & > * {
    text-align: center;
    @include flex-size(auto);
  }
}

.btn {
  position: relative;
  @include box();
  padding: 17px 30px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  font-family: $palanquin;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: $white;
  white-space: nowrap;
  @include transition(opacity 0.25s);
  cursor: pointer;
}

.pri-tab {
  position: relative;
  display: block;
  cursor: pointer;

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &::before, &::after {
    width: 2px;
    height: 100%;
    opacity: 0;
    @include transform(scale3d(1, 0, 1));
    @include transform-origin(50% 0%);
    @include transition(transform 0s 0.1s, opacity 0.1s);
  }

  .pri-tab-link {
    display: block;
    position: relative;
    min-width: 115px;
    height: 50px;
    text-align: center;
    color: $black3;
    cursor: pointer;
    @include transition(color 0.3s);
    @include clean-tap();

    &:hover, &:focus {
      color: $black2;
    }

    &::after {
      left: 0;
      width: 100%;
      height: 2px;
      @include transition(transform 0.3s);
    }
  }
}

.pri-tab.active {
	background-color: $l-profile-bg;
  &::before, &::after {
    opacity: 1;
    @include transform(scale3d(1, 1, 1));
    @include transition(transform 0.3s);
    @include transition-delay(0.3s);
    @include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));
  }

  .pri-tab-link {
    color: $black2;

    &::after {
      @include transform(translate3d(0, -48px, 0));
      @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
    }
  }
}

.pri-btn {
  // border: 1px solid #fff;
  @include transition(background-position 0.3s ease-out);
  background-color: transparent;
  @include transition(all 0.45s cubic-bezier(0.19, 1, 0.22, 1));

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: -1%;
    height: 100%;
    width: 102%;
    background: #fff;
    @include transition(all 0.4s cubic-bezier(1, 0, 0, 1));
    @include transform(translate3d(0, 50px, 0));
    z-index: -1;
  }

  &:hover {
    color: $black;
    background-position: 65% center;
  }

  &:hover::before {
    top: 0;
    @include transform(translate3d(0, 0, 0));
  }
}

.pri-menu {
  @include flex();
	@include flex-direction(row);
  // @include flex-wrap(wrap);
  @include justify(space-between);
  // position: relative;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	width: 90%;

	a {
    @include flex-size(1);
    display: inline-block;
		min-width: 100px;
	}

  li {
    position: relative;
    display: inline-block;
    @include box();
    margin: 0 auto;
    padding: 8px 5px;
		position: relative;
    text-align: center;
    opacity: 0.7;
    color: $white;
    white-space: nowrap;
    @include transition(opacity 0.25s);
    cursor: pointer;

    &.active {
      opacity: 1;

      &::before {
        content: "";
        width: 80%;
        display: inline-block;
        position: absolute;
        z-index: 10;
        bottom: 3px;
        left: 10%;
        height: 1px;
        @include transform(translate(0%, -50%));
        @include transition(all .25s ease);
        background: $white;
        @include box();
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
