body.home {
  position: relative;
  height: 100vh;
  
  h1 {
    color: white;
    font-family: $enriqueta;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: $palanquin;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;

      h2 {
        color: #aaa;
      }
    }
  }

  p {
    color: white;
    font-family: $palanquin;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.9;
  }

  // .content {
  //   margin-bottom: -$footer-height;
  // }

  #search-home {
    margin-bottom: 20px;
  }

  article {
    margin: 0 auto;
  }

  /* small design */

  @media all and (max-width: 415px){
    
    .bg-filter {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100%;
      @include gradient(rgba(0,0,0,0), $dark-d-blue);
      z-index: -9;
    }

    .bg-img {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient($dark-d-blue 90%, rgba(230,210,230,0) 0%),
                  $dark-d-blue url('/static/img/home/vxla_new_orleans_french_quarter_2.jpg') no-repeat 50% 0;
      background-blend-mode: lighten;
      background-size: cover;
      opacity: 0.7;
      z-index: -10;
    }

    #search-switch.adv {
      color: white;
    }
  }

  /* large design */

  @media all and (min-width: 416px){

    nav {
      section {
        &.profiles-sum {
          display: none;
        }
      }
    }

    .content {
      width: 100vw;
      @include box();
      padding-left: $nav-width + 10;

       section {
        &:not(.profiles-sum) {
          display: none;
        }
      }
    }
    
    .profiles-sum {
      margin-right: 15px;
    }

    .profile-sum-link {
      $profile-sum-link-width: 0.25*(1200 - $nav-width + 10);
      width: $profile-sum-link-width;
      height: $profile-sum-link-width;
      margin: 0;
    }

    .story-img {
      width: 80px;
      height: 80px;
      margin: 0 10px 10px;
    }

    article {
      // @include flex();
      // @include flex-direction(column);
      // @include align-items(center);
      height: 100vh;
      position: relative;
      //top: -$footer-height;
    }

    .bg-filter {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 58vh;
      @include gradient(rgba(200,245,255,1), rgba(0,0,0,0));
      z-index: -9;
    }

    .bg-img {
      position: fixed;
      top: 7vh;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(rgba(230,210,230,0.5) 0%, $dark-d-blue 90%),
                  url('/static/img/home/vxla_new_orleans_french_quarter_2.jpg') no-repeat 50% 0;
      background-blend-mode: screen, difference, lighten;
      background-size: cover;
      z-index: -10;
    }
  }
}

#search-home {
  @include flex();
  @include flex-direction(column);
  @include justify(center);
  margin: 0 5vw;

  &.open {
    @include justify(flex-start);
    top: 0;
    margin: 0 2vw;
    
    .search-input {
      display: none;
    }

    .search-body.simple {
      height: 0 !important;
    }

    #search-switch {
      margin-top: 40px;
    }

  }
}

#home-search-input {
  padding: 10px 10px 10px 60px;

  &:hover {
    outline: 0;
    background-color: rgba(255,255,255,0.8);
    @include shadow(0px 7px 0 rgba(255,255,255,0.9));
  }
  
  &:focus ~ .search-body.simple {
    height: 40vh;

    a {
      display: block;
    }
  }

  ~ .search-body.simple {
    @include transition(0.5s);
    height: 0;

    a {
      display: none;
    }
  }

}

.search-body {
  background-color: rgba(255,255,255,0.9);
}

#search-switch.adv {
  text-align: right;
  font-family: $palanquin;
  font-weight: 600;
  color: $dark-d-blue;
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}