body.home {

  @media only screen and (max-width: 900px) {

    #menu {
      position: fixed;
      background-color: $black !important;
      left: -100vh !important;
      height: 100vh !important;
      top:0;

      &.open {
        left: 0 !important;
        top:0;
      }
    }

    #menu-btn {
      display: block !important;
    }

  }


  @media only screen and (max-width : 480px) {
    #feed .feed-box .feed-box-link {
      display: none;
    }

    .home-desc {
      h2 {
        font-size: 18px !important;

        &.second-line {
          font-size: 21px !important;
        }

      }
    }

    #d3plus_drop_search-type {
      display: none !important;
    }

    #feed .feed-box.featured .feed-box-title {
      font-size: 32px;
    }

  }

  @media only screen and (max-width: 645px) {
    #feed .feed-box.featured {
      min-width: 300px !important;
      @include flex-size(1 0 300px);
      
      .feed-box-type {
        top: 7px;
        left: 10px;
      }
    }
  }

}
