body.home {
  position: relative;
  height: 100vh;
  
  h1 {
    color: $dark-d-blue;
    font-family: $enriqueta;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: $open-sans;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }

  a {
    color: $dark-d-blue;

    &:hover {
      text-decoration: none;

      h2 {
        color: #aaa;
      }
    }
  }

  p {
    color: white;
    font-family: $open-sans;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.9;
  }

  .logo {
    margin: 40px 0;
  }

  .bg-filter {
    // position: fixed;
    // top: 0;
    // width: 100vw;
    // height: 58vh;
    // @include gradient(transparent, $home-blue);
    // z-index: -9;
  }

  .bg-img {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: $light-home-blue url('/static/img/home/home-landscape-b-2.png') no-repeat 50% 40%;
    //background-blend-mode: screen, difference, lighten;
    background-size: cover;
    z-index: -10;
  }

  #search-home {
    margin-bottom: 20px;
  }

  article {
    margin: 0 auto;
  }

  /* small design */

  @media all and (max-width: 415px){

    #search-switch.adv {
      color: white;
    }
  }

  /* large design */

  @media all and (min-width: 416px){

    nav {
      section {
        &.profiles-sum {
          display: none;
        }
      }
    }

    #menu {
      background-color: rgba(255,255,255,0);

      footer {
        position: absolute;
        bottom: 0;
        background-color: rgba(255,255,255,0);
      }
    }

    section.desc {
      position: absolute;
      bottom: 60px;
    }

    .content {
      width: 100vw;
      @include box();
      padding-left: $nav-width + 10;

       section {
        &:not(.profiles-sum) {
          display: none;
        }
      }
    }
    
    .profiles-sum {
      margin-right: 15px;
    }

    // .profile-sum-link {
    //   $profile-sum-link-width: 0.25*(1200 - $nav-width + 10);
    //   width: $profile-sum-link-width;
    //   height: $profile-sum-link-width;
    //   margin: 0;
    // }

    article {
      // @include flex();
      // @include flex-direction(column);
      // @include align-items(center);
      height: 100vh;
      position: relative;
    }
  }
}

#search-home {
  @include flex();
  @include flex-direction(column);
  @include justify(center);
  margin: 0 5vw;

  &.open {
    @include justify(flex-start);
    top: 0;
    margin: 0 2vw;
    
    .search-input {
      display: none;
    }

    .search-body.simple {
      height: 0 !important;
    }

    #search-switch {
      margin-top: 40px;
    }

  }
}

#home-search-input {
  padding: 7px 10px 0px 60px;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0);
  background: url('/static/img/home/search.png') no-repeat 10px 20px;
  background-attachment: inherit;
  color: $home-blue;
  font-family: $enriqueta;
  font-size: 30px;
  font-weight: 400;
  @include transition(border-bottom 1s);
  @include placeholder {color: white; opacity: 0.5;}

  &:focus {
    outline: 0;
    border-bottom: 1px solid rgba(255,255,255,1);
  }

  @media all and (min-width: 415px) {
    font-size: 45px;
  }

  &.inactive {
    display: none;
  }

  &:hover {
    outline: 0;
    cursor: pointer;
    @include placeholder {opacity: 0.7;}
    border-bottom: 1px solid rgba(255,255,255,0.7);
  }
  
  &:focus ~ .search-body.simple {
    height: 60vh;
    margin-top: 10px;
    overflow-y: scroll;

    a {
      display: block;
      padding: 10px 10px 0;
      font-family: $open-sans;
      font-size: 12px;
      color: white;
    }
  }

  ~ .search-body.simple {
    @include transition(0.5s 0.25s);
    height: 0;

    a {
      display: none;
    }
  }

}

.search-body {
  background-color: rgba(14,39,97,0.5);
}

#search-switch.adv {
  text-align: right;
  font-family: $open-sans;
  font-weight: 400;
  color: $dark-d-blue;
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}