body.home {
  position: relative;
  background-color: $black2;

  #menu-btn {
    display: none;
  }

  #menu {
    background-color: transparent;
    bottom: auto !important;
    height: auto !important;
    left: 0 !important;
    position: absolute;
    @include transition(left 0.7s ease);

    // .logo {
    //   display: block;
    // }

  }

  .menu-content > ul > li > a > h2 {
    padding: 0 !important;
  }

  .close-btn {
    display: none;
  }

  #top-nav {
    position: fixed;
  }

  a {
    font-family: $palanquin;
    font-weight: 400;
  }

  /* background styles */

  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/static/img/home/bg/7alt.jpg');
    background-repeat: no-repeat;
    background-position:  50% 0%;
    background-size: cover;
    overflow: hidden;
    z-index: -11;

    &::after {
      bottom: 0;
      content: "";
      position: absolute;
      height: 100vh;
      width: 100%;
      left: 0;
      z-index: -1;
      @include gradient(top, (
        0%: rgba(0,0,0,0.15),
        25%: rgba(0,0,0,0.15),
        55%: rgba(20, 27, 46, 0.5),
        100%: $black2
      ));
    }
  }

  #video {
    position: absolute;
    width: 100%;
    z-index: -11;

    .overlay {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
      @include gradient(top, (
        0%: rgba(20, 27, 46, 0.4),
        25%: rgba(20, 27, 46, 0.4),
        55%: rgba(20, 27, 46, 0.6),
        100%: $black2
      ));
    }

    video {
      width: 100%;

      &::-webkit-media-controls {
        display: none !important;
      }
    }
  }

  .home-logo {
    width: 90%;
    text-align: center;
    margin: 16vh auto 5vh;
  }

  .home-desc {
    color: white;
    text-align: center;
    padding: 15vh 0 40px;

    .logo {
      margin-bottom: 25px;
      max-width: 400px;
      width: 80%;
    }

    h2 {
      font-family: $palanquin;
      line-height: 1;
      margin: 0 auto;
      width: 90%;

      &.first-line {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.05em;
        padding-bottom: 5px;
        @include text-shadow(0 0 12px rgba(0, 0, 0, 0.5));
      }

      &.second-line {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0;
        @include text-shadow(0 0 10px rgba(0,0,0,0.3));
      }

    }
  }

  .search-body {
    // background-color: $l-profile-bg;
  }

  .search-home-container {
    @include box();
    height: 45px;
    margin: 0 auto 20vh;
    // overflow: hidden;
    padding: 0 25px;
    position: relative;
    max-width: 650px;
    width: 100%;
    z-index: 10;
  }

  #search-home {
    display: none;
    // width: 100%;
    // padding-right: 105px;
    max-height: 30vh;
    @include box();
    // @include shadow(0 1px 2px rgba(255,255,255,0.25),0 0 1px rgba(255,255,255,0.4));
    // overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 104px 0 0;
    // border: 1px solid rgba(255,255,255,0.5);
    // background-color: rgba(255, 255, 255, 0.85);

    &::before {
      position: relative;
      left: 49%;
      top: -16px;
      background: rgba(255, 255, 255, 0.85);
      @include shadow(-1px -1px 1px -1px rgba(255, 255, 255, 0.44));
    }

    &.open{
      display: block;

      .search-input {
        display: none;
      }

      .search-body {
        height: 0 !important;
      }

    }

    .search-item {
      padding: 7px 6px;
    }

    .no-search-results {
      background-color: $l-profile-bg;
      color: $black;
    }

    .search-results {
      @include box();
      background-color: $l-profile-bg;
      width: 100%;
      overflow: hidden;
      // max-height: inherit;
      border-top: 1px solid $gray-l;
      padding-right: 1px;

      .search-item {
        &:active, &:focus, &:hover {
          background-color: $d-profile-bg;
        }
      }
    }
  }

  .open + .results-show-all {
    display: block;
  }

  .results-show-all {
    @include box();
    display: none;
    // width: 100%;
    margin-right: 105px;
    text-align: center;

    .pri-link {
      width: 100%;
      display: block;
      padding: 5px 1px 5px 0;
      font-size: 12px;
      color: #333;
      background: $d-profile-bg;
      opacity: 1;
      line-height: 32px;

      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }

  .search-input-btn {
    @include box();
    @include flex();
    @include flex-direction(row);
    height: 45px;
    position: relative;
    width: 100%;

    #home-search-input {
      @include box();
      height: 45px;
      width: 100%;
      padding: 2px 20px 5px 40px;
      border-radius: 0;
      font-family: $palanquin;
      font-size: 19px;
      font-weight: 400;
      line-height: 40px;
      border: 0;
      // border-right: 1px solid #889a9c;
      outline: 0;
      background-color: rgba(255, 255, 255, 0.9);
      background-image: url('/static/img/search/search.svg');
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 25px 25px;
      color: $home-blue;
      @include placeholder {color: $home-blue; opacity: 0.8;}

      &:focus {
        outline: 0;
      }

    }

    $search-type-width: 150px;

    #d3plus_drop_search-type {
      min-width: $search-type-width;
      width: $search-type-width;
      border-left: 1px solid $gray-w;
      @include box();

      .d3plus_node {
        background-color: rgba(255, 255, 255, 0.9) !important;
        border: none !important;
        font-family: $palanquin;
        font-size: 19px !important;
        font-weight: 400;
        height: 45px;
        line-height: 40px;
        margin: 0 !important;
        min-width: $search-type-width !important;
        width: $search-type-width !important;

        &:hover {
          background-color: #eee !important;
        }

        .d3plus_button_label {
          min-width: $search-type-width !important;
          padding: 0 23px 0 10px !important;
          width: $search-type-width !important;
        }

        .d3plus_button_selected {
          color: $med-home-blue !important;
          right: 10px !important;
        }

      }

      .d3plus_drop_selector, .d3plus_drop_list {
        padding: 0 !important;
        width: $search-type-width !important;
      }

      .d3plus_drop_selector {
        border-color: $gray-w;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        left: -1px !important;
      }

    }

    #search-switch.adv {
      @include box();
      background-color: $red-w;
      color: white;
      display: inline-block;
      font-family: $palanquin;
      font-size: 19px;
      font-weight: 600;
      line-height: 40px;
      min-width: 105px;
      text-align: center;
      width: 105px;

      &:hover, &:focus {
        background-color: $red-w-l;
      }

      &:active {
        background-color: $red-w-d;
      }
    }

  }

  .home-collab {
    text-align: center;
    width: 100%;
    z-index: 1;

    .collab-text {
      color: white;
      display: block;
      font-family: $palanquin;
      font-size: 11px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    img {
      height: 25px;
      margin: 15px 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #feed {
    @include flex();
    @include flex-wrap();
    margin: 70px auto;
    max-width: 1200px;
    position: relative;
    z-index: 0;

    /* static styles */
    .feed-box {
      @include flex();
      @include flex-direction(column);
      @include justify(center);
      @include align-items(center);
      @include flex-size(1 0 300px);
      @include transition(border 0.25s);
      background-color: $black2;
      border: 1px solid $black5;
      color: white;
      height: 300px;
      margin: 15px;
      min-width: 300px;
      position: relative;

      .feed-box-image-holder {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;

        .feed-box-image {
          @include background-stretch();
          height: 300px;
          opacity: 0.7;
          @include filter(blur(0px));
          // @include transform(scale(1));
          @include transition(all 0.7s);
          width: 100%;

          &::after {
            bottom: 0;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            @include gradient(top, $splash-gradient);
          }

        }

      }

      .feed-box-viz {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: 0;
        left: 0;
        opacity: 0;
        @include transition(opacity 0.5s);
        position: absolute;
        top: 0;
        width: 100%;

        &.geo_map {
          background-position: center center;
        }

      }

      .feed-box-label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          height: 40px;
          width: 100%;
          @include gradient(bottom, $feed-box-label-gradient);
        }
      }

      .feed-box-header {
        font-family: $palanquin;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1.4;
        text-transform: uppercase;
      }

      .feed-box-type {
        position: relative;
        left: 10px;
        top: 7px;
        width: 30%;

        img {
          height: 17px;
          margin-right: 2px;
          width: 17px;
        }

      }

      .feed-box-section {
        position: absolute;
        width: 40%;
        left: 50%;
        top: 7px;
        margin-left: -20%;
        text-align: center;

        img {
          height: 17px;
          margin-right: 2px;
          width: 17px;
        }

      }

      .feed-box-depth {
        right: 10px;
        position: absolute;
        text-align: right;
        top: 7px;
        width: 30%;
      }

      .feed-box-author, .feed-box-subtitle {
        z-index: 1;
      }

      .feed-box-link {
        bottom: 10px;
        color: $red-w;
        position: absolute;
        right: 10px;
        @include transition(all 0.25s);

        $arrow-size: 5px;
        &::after {
          border-bottom: $arrow-size solid transparent;
          border-right: $arrow-size solid transparent;
          border-left: $arrow-size solid $red-w;
          border-top: $arrow-size solid transparent;
          content: "";
          display: inline-block;
          height: 0;
          margin-left: $arrow-size;
          margin-right: -$arrow-size;
          // padding: 20px;
          width: 0;
          @include transition(all 0.25s);
        }

      }

      .feed-box-title {
        @include box();
        font-family: $pathway;
        line-height: 1.3;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 0.05em;
        line-height: 1;
        max-width: 80%;
        text-transform: uppercase;
        margin: 0 10% 15px;
        text-align: center;
        z-index: 1;
      }

      &.story.featured {

        .feed-box-subtitle {
          font-size: 17px;
          font-weight: 400;
          letter-spacing: 0.03em;
          line-height: 1.5;
          text-transform: none;
        }

      }

      &.featured {
        @include flex-size(2 0 600px);
        @include align-items(flex-start);
        @include justify(flex-end);
        min-width: 600px;

        $box-padding: 30px;
        $box-icon: 20px;

        .feed-box-tag {
          background-color: $red-w;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 19px;
          padding: 5px 35px;
          position: absolute;
          right: -10px;
          text-transform: uppercase;
          top: 20px;
          @include transition(all 0.25s);
        }

        .feed-box-label {
          &::before {
            content: "";
            height: 60px;
          }
        }

        .feed-box-image {
          &::after {
            @include gradient(top, $ft-feed-box-gradient);
          }
        }

        .feed-box-header {
          font-size: 14px;
          line-height: 19px;
        }

        .feed-box-type {
          left: $box-padding;
          position: absolute;
          top: 20px;

          img {
            height: $box-icon;
            margin-right: 4px;
            width: $box-icon;
          }

        }

        .feed-box-section {
          left: 50%;
          margin-left: -200px;
          top: 20px;
          width: 400px;

          img {
            height: $box-icon;
            margin-right: 4px;
            width: $box-icon;
          }

        }

        .feed-box-depth {
          right: $box-padding;
          top: 20px;
        }

        .feed-box-title {
          font-size: 36px;
          line-spacing: 71px;
          letter-spacing: 1px;
          margin: $box-icon * 2 $box-padding 5px;
          text-align: left;
        }

        .feed-box-subtitle {
          margin: 0 $box-padding $box-padding;
          max-width: 480px;
          text-align: left;
        }

        .feed-box-author {
          margin: 0 0 $box-padding $box-padding;
        }

        .feed-box-link {
          bottom: $box-padding;
          right: $box-padding;
        }

      }

    }

    /* interactive styles */
    .feed-box {

      &.map {
        .feed-box-viz {
          opacity: 1;
        }
      }

      &.featured {
        .feed-box-viz {
          opacity: 1;
        }

        &:hover, &:focus, &:active {
          .feed-box-tag {
            background-color: $red-w-l;
          }

          .feed-box-link {
            color: $red-w-l;

            &::after {
              $arrow-size: 5px;
              border-left: $arrow-size solid $red-w-l;
            }
          }
        }
      }

      &:hover {
        border: 1px solid $white;
        cursor: pointer;
      }

      &:focus, &:active {
        border: 1px solid $red-w;
        cursor: pointer;
      }

      &:hover, &:focus, &:active {
        .feed-box-image {
          opacity: 0.5;
          @include transform(scale(1.25));
          @include filter(blur(30px));
          // @include transform(scale(1.15));
        }

        .feed-box-viz {
          opacity: 1;
        }
      }
    }
  }
}
@import "elements/home_m";
