body.map {
  background-color: #cdd1d3;
  overflow: hidden;
  position: relative;

  #d3plus_tooltip_id_geo_map_sidebar {
    @include shadow(none !important);
    z-index: 2 !important;

    .d3plus_tooltip_container {
  		background-color: transparent !important;
    }
  }

}

$map-sidebar: 250px;

#map-controls {
  @include box();
  @include shadow(rgba(0, 0, 0, 0.2) 1px 0 3px);
  background-color: $l-profile-bg;
  border-right: 1px solid $gray-d;
  display: inline-block;
  height: 100vh;
  padding: $title-height 5px 10px;
  z-index: 2;
  position: relative;
  width: $map-sidebar + 1;
  visibility: hidden;

}

#map-fullscreen {
  left: $map-sidebar;
  position: absolute;
  top: $title-height;
  width: 100vw;
  z-index: 1;
  svg {
    overflow: hidden;
  }
}

#map-sharing {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid $gray-d;
  bottom: 10px;
  left: $map-sidebar + 10;
  position: fixed;
  z-index: 2;

  .pri-btn {
    // margin: 1px;
    color: $gray-d;
    padding: 10px 10px;
  }
}

#map-loading {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  &.hidden {
    display: none;
  }

  #map-loading-text {
    left: 0;
    // margin-top: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-family: $lato;
    font-size: 30px;
    text-align: center;

    i {
      margin: 3px 5px;
    }

  }

}

// #map-teaser {
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 100vw;
//   background-color: rgba(0, 0, 0, 0.75);
//
//   #coming-soon {
//     left: 0;
//     margin-top: -30px;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     color: white;
//     font-family: $lato;
//     font-size: 30px;
//     text-align: center;
//   }
//
// }

.attribution {
  bottom: 4px;
  color: $gray-d2;
  display: block;
  font-family: $palanquin !important;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 7px 7px;
  position: absolute;
  right: 5px;
  text-align: right;

  a {
    color: $gray-d2 !important;
  }
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.map-controls {
  left: 5px;
  position: absolute;
  top: 5px;

  .zoom-in, .zoom-out, .zoom-reset {
    border: 1px solid $gray-d;
    cursor: pointer;
    display: block;
    height: 15px;
    margin: 5px;
    position: relative;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.5);

    &::after {
      top: 2px;
      position: absolute;
      width: 15px;
      color: $gray-d;
      font-family: FontAwesome;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      background-color: white;
    }

  }

  .zoom-in:after {
    content: unicode("f067");
  }

  .zoom-out:after {
    content: unicode("f068");
  }

  .zoom-reset:after {
    content: unicode("f0e2");

  }

}
