body.map {
  background-color: #cdd1d3;
  overflow: hidden;
  position: relative;

  h2.hidden {
    font-family: $pathway;
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0;
  }

  #d3plus_tooltip_id_geo_map_sidebar {
    @include shadow(none !important);
    z-index: 2 !important;

    .d3plus_tooltip_container {
  		background-color: transparent !important;
    }
  }

}

$map-sidebar: 250px;

#map-controls {
  @include box();
  @include shadow(rgba(0, 0, 0, 0.2) 1px 0 3px);
  background-color: $l-profile-bg;
  border-right: 1px solid $gray-d;
  display: inline-block;
  height: 100vh;
  padding: $title-height 5px 10px;
  z-index: 2;
  position: relative;
  width: $map-sidebar + 1;
  visibility: hidden;

  #d3plus_drop_map-keys {
    margin: 1px 5px 5px !important;
  }

  .sub-source {
    display: block;
    color: #a8a8a8;
    font-family: $palanquin;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 5px 2px;

    &:last-child {
      margin-top: 2px;
    }

    a {
      color: #888;
      border-bottom: 1px solid transparent;
      @include transition(all 0.15s);
      &:hover {
        border-color: #888;
      }
    }

    span {
      vertical-align: baseline;
    }
  }

}

#map-fullscreen {
  left: $map-sidebar;
  position: absolute;
  top: $title-height;
  width: 100vw;
  z-index: 1;
  svg {
    overflow: hidden;
  }
}

#map-sharing {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid $gray-d;
  right: 10px;
  position: fixed;
  top: $title-height + 10;
  z-index: 2;

  .pri-btn {
    // margin: 1px;
    color: $gray-d;
    padding: 10px 10px;
  }
}

#map-loading {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  &.hidden {
    display: none;
  }

  #map-loading-text {
    left: 0;
    // margin-top: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-family: $lato;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

    i {
      margin: 3px 10px;
    }

  }

}

.attribution {
  top: 4px;
  color: $gray-d2;
  display: block;
  font-family: $palanquin !important;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 7px 7px;
  position: absolute;
  left: 35px;
  text-align: left;

  a {
    color: $gray-d2 !important;
  }
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.year-toggle {
  bottom: 5px;
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.map-controls {
  left: 5px;
  position: absolute;
  top: 5px;

  .zoom-in, .zoom-out, .zoom-reset {
    border: 1px solid $gray-d;
    cursor: pointer;
    display: block;
    height: 15px;
    margin: 5px;
    padding: 3px;
    position: relative;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.75);

    &::after {
      top: 5px;
      position: absolute;
      width: 15px;
      color: $gray-d;
      font-family: FontAwesome;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      background-color: white;
    }

  }

  .zoom-in:after {
    content: unicode("f067");
  }

  .zoom-out:after {
    content: unicode("f068");
  }

  .zoom-reset:after {
    content: unicode("f0e2");

  }

}
