.page-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black;
  opacity: 0.05;
  z-index: 6;
  @include transition(all 0.35s);
}

.overlay {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &#bg {
    opacity: 0.3;
    background-color: $d-profile-bg;
    visibility: visible;
  }

  &#view {
    @include flex();
    @include align-items(center);
    @include justify(center);

    .close-btn {
      @include transition(opacity 0.1s);
      background-image: url("/static/img/viz/remove.svg");
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      float: right;
      height: 20px;
      margin: 0;
      opacity: 0.75;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      z-index: 20;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

    }

    $modal-width: 584px;

    .modal {
      @include box();
      @include shadow(2px 5px 15px rgba(27, 25, 29, 0.1));
      background-color: $l-profile-bg;
      border: 1px solid #BDBDBD;
      // width: 560px;
      width: $modal-width;
      z-index: 2002;
      // max-height: 90vh;
      overflow: auto;
      position: relative;

      span, p {
        font-family: $palanquin;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        color: #949494;
      }

      .header {
        padding: 13px 20px;
        background-color: $black2;
        margin-bottom: 5px;
        color: #fff;
      }

      .body {
        overflow: hidden;
        min-height: 100px;
        // padding: 5px 20px 20px;

        .loader {
          padding-top: 30px;
          position: absolute;
          width: 100%;

          font-family: $lato;
          font-size: 20px;
          font-weight: 400;
          text-align: center;

          i {
            margin: 3px 10px;
          }

        }

        .nav {
          text-align: left;
          position: relative;

          .change_share {
            color: #141B2E;
            display: inline-block;
            text-align: center;
            margin: 8px 50px 0 15px;
            padding: 0 0 15px 1px;
            cursor: pointer;
            font-family: $palanquin;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            line-height: normal;
            letter-spacing: 0.1em;
            opacity: 1;
            color: $black3;
            white-space: nowrap;
            @include transition(all 0.25s);
            cursor: pointer;

            &:hover {
              color: $red-w;
            }
          }

          .highlight {
            display: block;
            position: absolute;
            top: 33px;
            left: 111px;
            height: 4px;
            background-color: $red-w;
            @include transition(left 0.5s);
            width: 65px;
            &.noslide {
              @include transition(none);
            }
          }

        } // end .nav

        .panels {
          overflow: auto;
          width: 500%;
          display: block;
          position: relative;
          @include transition(transform 0.5s);
          @include transform(translateX(0px));

          &.noslide {
            @include transition(none);
          }

          .panel {
            @include box();
            @include transition(height 0.35s);
            overflow: hidden;
            // width: 520px;
            // width: 100%;
            width: $modal-width;
            height: 250px;
            float: left;
            // margin: 20px 40px 0 0;
            padding: 0 60px;


            &#view-table {
              overflow: auto;
              padding: 0 10px;

              .download-row {
                @include flex();
                @include align-items(center);
                padding: 10px 15px;

                .filetype {
                  padding: 0;
                  width: 140px;

                  i, span {
                    display: inline-block;
                  }

                  i {
                    font-size: 23px;
                  }

                  span {
                    margin: 4px 6px;
                  }
                }

                .api {
                  @include flex-size(1);
                  input {
                    width: 100%;
                  }
                }
              }

              table {
                width: 100%
              }
            }

            .social {
              @include flex();
              @include align-items(center);
              margin: 20px 0;
              text-align: left;
              padding-left: 8px;

              a {
                @include transition(opacity 0.1s);
                font-size: 23px;
                opacity: 0.3;
                padding: 0 14px;
                &:hover {
                  opacity: 0.5;
                }
              }

              input {
                @include flex-size(1);
                margin-left: 16px;
              }

            }

            input[type='text'] {
              @include box();
              border: 1px solid #BDBDBD;
              color: #949494;
              font-family: $palanquin;
              font-size: 12px;
              font-weight: 600;
              height: 35px;
              text-align: left;
              padding: 0 15px;
              cursor: text;

              &.embed-link {
                margin-top: 5px;
                width: 100%;
              }
            }

            .embed_options {
              @include flex();
              overflow: hidden;
              max-width: 500px;
              margin: 20px auto 0 auto;

              .demo {
                float: left;
                width: 105px;
                height: 79px;

                @media only screen and (max-width : 768px) {
                  display: none;
                }

                img {
                  width: 100%;
                }
              }

              .options {
                @include flex-size(1);
                margin: 0 0 15px 20px;

                @media only screen and (max-width : 768px) {
                  width: 100%;
                  float: none;
                }

                .option-row {
                  margin-top: 5px;
                }

                input[type='checkbox'] {
                  display: inline-block;
                  margin: 11px 6px 6px 0;
                  border: 1px solid #BDBDBD;
                  background-color: $l-profile-bg;
                  border-radius: 0;
                  -webkit-appearance: none;
                  width: 13px;
                  height: 13px;

                  &:checked {
                    background-color: #BDBDBD;
                  }
                }

                label {
                  color: #949494;
                  display: inline-block;
                  font-family: $palanquin;
                  font-size: 12px;
                  line-height: 18px;
                  font-weight: 600;
                  margin-top: 8px;
                }

                select {
                  background-color: #fff;
                  background-image: url('/static/img/viz/drop-triangle.svg');
                  background-repeat: no-repeat;
                  background-position: 93% 50%;
                  background-size: 8px;
                  padding: 0 35px 0 15px;
                  @include box();
                  @include appearance(none);
                  border-radius: 0px;
                  border: 1px solid #BDBDBD;
                  color: #949494;
                  float: right;
                  height: 35px;
                  display: inline-block;
                  text-align: center;
                  cursor: pointer;
                  font-family: $palanquin;
                  font-size: 12px;
                  line-height: 18px;
                  font-weight: 600;

                  @media only screen and (max-width : 768px) {
                    margin-bottom: 18px;
                  }
                }
              }

            }

            .filetype {
              @include transition(opacity 0.1s);
              cursor: pointer;
              display: inline-block;
              opacity: 0.3;
              padding: 0 20px;
              width: 80px;

              &:hover {
                opacity: 0.5;
              }

              i {
                display: block;
                font-size: 28px;
              }

              span {
                font-size: 13px;
                color: black;
                display: block;
                margin: 7px 0;
              }

            }

            .filetypes {
              margin: 90px 0;
              text-align: center;
            }



            .view-table {

              table {
                width: 100%;
              }

              thead, tbody {
                font-family: $palanquin;
              }

              thead {

                th {
                  padding: 3px;
                  font-weight: 800;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 11px;
                  text-align: left;
                }
              }

              tbody {
                color: $black2;

                td {
                  font-size: 12px;
                  font-weight: 300;
                  padding: 3px;
                }

                tr {
                  &:hover {
                    background-color: $d-profile-bg;
                  }
                }
              }
            }

          }
        }

      }

    } // end .modal
  } // end #view
} // end .overlay
