.page-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black;
  opacity: 0.05;
  z-index: 6;
  @include transition(all 0.35s);
}

.overlay {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &#bg {
    opacity: 0.3;
    background-color: $d-profile-bg;
    visibility: visible;
  }

  &#view {
    @include flex();
    @include align-items(center);
    @include justify(center);

    .close-btn {
      z-index: 20;
      position: absolute;
      display: block;
      cursor: pointer;
      overflow: hidden;
      height: 40px;
      width: 40px;
      top: 0;
      right: 0;
      margin: 0;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      .in {
        position: relative;
        height: 40px;
        width: 40px;
       }

      .bd {
        padding: 13px;
        width: 15px;

        div {
          position: relative;
          overflow: hidden;
         }

        div, span {
          display: block;
          height: 2px;
          width: 15px;
          transition: all 0.75s;
        }

        span {
         position: absolute;
         top: 0;
         left: -100%;
         background: #fff;
        }

        .b {
          background-color: #fff;
        }
      }

      .b-1 {
        @include transform(matrix(1,0,0,1,0,0));
        @include transition-delay(0.3s);

        span {
          @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
          @include transition-delay(0.3s);
         }

        &.close {
          @include transform(matrix(-0.7071, 0.7071, -0.7071, -0.7071, 0, 6));
         }
      }

       .b-2 {
        opacity: 1;
        margin: 4px 0;
        @include transition-delay(0s);

        span {
          transition: all 0.15s;
          @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
         }

        &.close {
          opacity: 0;

          span {
            @include transform(translate(-100%, 0%));
           }
         }
       }

       .b-3 {
        @include transform(matrix(1,0,0,1,0,0));
        @include transition-delay(0.5s);

        &.close {
          @include transform(matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, -6));
         }

        span {
         @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
         @include transition-delay(0.5s);
        }
       }
    }

    .modal {
      @include box();
      @include shadow(2px 5px 15px rgba(27,25,29,0.1));
      background-color: $l-profile-bg;
      // width: 560px;
      width: 80vw;
      z-index: 2002;
      // max-height: 90vh;
      overflow: auto;
      position: relative;

      span, p {
        font-family: $palanquin;
        font-size: 15px;
        line-height: 1.6;
        font-weight: 400;
        color: $black3;
      }

      .header {
        padding: 13px 20px;
        background-color: $black2;
        margin-bottom: 5px;
        color: #fff;
      }

      .body {
        overflow: hidden;
        min-height: 100px;
        // padding: 5px 20px 20px;

        .loader {
          padding-top: 30px;
          position: absolute;
          width: 100%;

          font-family: $lato;
          font-size: 20px;
          font-weight: 400;
          text-align: center;

          i {
            margin: 3px 10px;
          }

        }

        .nav {
          text-align: center;
          position: relative;

          .change_share {
            display: inline-block;
            text-align: center;
            margin: 0 20px 0 0;
            padding: 0px 9px 10px 9px;
            cursor: pointer;
            font-family: $palanquin;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 11px;
            line-height: normal;
            letter-spacing: 0.1em;
            opacity: 1;
            color: $black3;
            white-space: nowrap;
            @include transition(all 0.25s);
            cursor: pointer;

            &:hover, &:focus {
              color: $red-w;
            }
          }

          .highlight {
            display: block;
            position: absolute;
            top: 26px;
            left: 111px;
            height: 3px;
            background-color: $red-w;
            @include transition(left 0.5s);
            width: 65px;
            &.noslide {
              @include transition(none);
            }
          }

        } // end .nav

        .panels {
          overflow: auto;
          width: 500%;
          display: block;
          position: relative;
          @include transition(transform 0.5s);
          @include transform(translateX(0px));

          &.noslide {
            @include transition(none);
          }

          .panel {
            @include box();
            @include transition(height 0.35s);
            overflow: hidden;
            // width: 520px;
            // width: 100%;
            width: 80vw;
            height: 250px;
            float: left;
            // margin: 20px 40px 0 0;
            padding: 0 20px;


            &#data {
              overflow: auto;

              table {
                width: 100%
              }
            }

            .social {
              margin: 20px 0 40px 0;
              text-align: center;
              opacity: 0.3;

              a {
                font-size: 45px;
                padding: 0 20px;
              }

              &::after {
                display: block;
                font-family: $palanquin;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                line-height: normal;
                letter-spacing: 0.1em;
                opacity: 1;
                color: $black3;
              }
            }

            input[type='text'] {
              @include box();
              width: 100%;
              border: 1px solid $black5;
              color: $black3;
              height: 53px;
              display: block;
              text-align: center;
              padding: 0 15px;
              cursor: text;
              font-size: 16px;
            }

            .embed_options{
              overflow: hidden;
              max-width: 500px;
              margin: 20px auto 0 auto;

              .demo {
                float: left;
                width: 150px;
                height: 150px;

                @media only screen and (max-width : 768px) {
                  display: none;
                }

                img {
                  width: 150px;
                }
              }

              .options {
                margin-bottom: 15px;
                width: 300px;
                float: right;

                @media only screen and (max-width : 768px) {
                  width: 100%;
                  float: none;
                }

                input[type='checkbox'] {
                  display: inline-block;
                  margin: 6px 6px 6px 0;
                  border: 1px solid $black4;
                  background-color: #fff;
                  border-radius: 0;
                  -webkit-appearance: none;
                  width: 13px;
                  height: 13px;

                  &:checked {
                    background-color: $black4;
                  }
                }

                select {
                  background-color: #fff;
                  background-image: url('/static/img/profiles/drop_triangle.png');
                  background-repeat: no-repeat;
                  background-position: 96% 50%;
                  background-size: 16px;
                  padding: 0 35px 0 15px;
                  @include box();
                  @include appearance(none);
                  border-radius: 0px;
                  border: 1px solid $black5;
                  color: $black3;
                  height: 35px;
                  display: block;
                  text-align: center;
                  cursor: pointer;
                  font-size: 16px;

                  @media only screen and (max-width : 768px) {
                    margin-bottom: 18px;
                  }
                }
              }

              label {
                font-family: $palanquin;
                font-size: 14px;
                line-height: normal;
                font-weight: 400;
                color: $black3;
              }
            }

            .filetypes {
              margin: 20px 0 40px 0;
              text-align: center;

              span {
                font-size: 20px;
                color: $black3;
                display: block;
                margin: 10px 0;
              }

              div {
                cursor: pointer;
                display: inline-block;
                padding: 0 20px;
                width: 120px;

                i {
                  display: block;
                  font-size: 45px;
                }
              }
            }



            .data {

              table {
                width: 100%;
              }

              thead, tbody {
                font-family: $palanquin;
              }

              thead {

                th {
                  padding: 3px;
                  font-weight: 800;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 11px;
                  text-align: left;
                }
              }

              tbody {
                color: $black2;

                td {
                  font-size: 12px;
                  font-weight: 300;
                  padding: 3px;
                }

                tr {
                  &:hover {
                    background-color: $d-profile-bg;
                  }
                }
              }
            }

          }
        }

      }

    } // end .modal
  } // end #view
} // end .overlay
