body {
  &.home {
    #menu-btn, #search-btn, #home-btn {
      display: none;
    }
  }

  &.story, &.map, &.search, &.profile {
    #menu {
      display:none;

      &.open {
        display: block;
      }
    }
  }
}

/* small design */

@media all and (max-width: 415px) {
  nav {
    display: none;
  }
}

/* large design */

@media all and (min-width: 416px){
  nav {
    h2 {
      color: white;
      font-family: $palanquin;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: white;
      font-family: $palanquin;
      font-size: 14px;
      line-height: 1.5;
      opacity: 0.9;
    }
  }

  #menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 415px;
    // background-color: $dark-d-blue;
    opacity: 1;
    z-index: 1;

    a {
      color: white;
    }
  }

  // .profiles-sum {
  //   background-color: darkseagreen;
  // }

  // .stories-sum {
  //   background-color: $dark-d-blue;
  // }

  // .map-sum {
  //   background-color: lightskyblue;
  // }

  h2, .desc {
    padding: 20px;
  }

  .profile-sum-link {
    display: inline-block;
    width: 40vw;
    height: 40vw;
    border: 2px solid white;
    margin: 4vw;
    background-color: rgba(255,255,255,0.5);
  }

  // .story-img {
  //   display: inline-block;
  //   width: 20vw;
  //   height: 20vw;
  //   border: 2px solid white;
  //   margin: 0 4vw 10px;
  //   background-color: rgba(255,255,255,0.5);
  // }

  // .story-desc {
  //   display: inline-block;
  // }

  .profile-link {
    display: block;
    padding: 10px 20px;
    font-family: $palanquin;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }

  #top-nav {
    @include flex();
    @include align-items(center);
    @include justify(space-between);
  }

  #menu-btn {
    padding: 20px;
    opacity: 0.5;
    color: red;
    font-family: $palanquin;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    @include transition(opacity 1s);
    z-index: 4;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    i {
      margin-right: 5px;
    }
  }

  #home-btn {
    padding: 20px;
    z-index: 4;
  }

  #search-btn {
    padding: 20px;
    z-index: 4;
  }

  #menu footer {
    display: block;
    background-color: #eeeeee;
    text-align: center;
    height: $footer-height;
    width: 100%;
    overflow: hidden;

    img {
      height: $footer-height/4;
      margin: $footer-height/2.6 10px;
      opacity: 0.5;
      @include transition(opacity 1s);

      @media all and (min-width: 415px) {
        height: $footer-height/3;
        margin: $footer-height/3 14px;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
