.m-hotspot {
  display: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  #search-btn {
    position: fixed;
    top: 0;
    right: 0;
    padding: 7px;
  }

  .m-hotspot {
    display: block;
  	height: 52px;
  	width: 52px;
  	position: absolute;
  	top: 0;
  	right: 0;
  	z-index: 1;
  }

  #search-btn .search-box {
    display: none;
  }

  // .menu-content {
  //   h2, a img {
  //     padding: 5px 20px;
  //   }
  //
  //   li a > h2 {
  //     font-size: 16px !important;
  //   }
  // }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
