/* page-specific nav */

body {
  &.home {

    #menu .desc {
      display: block;
    }

    .menu-content h2 {
      color: #fff;

      &::before {
        // background: #fff;
      }
    }

    #search-btn, #home-btn {
      display: none;
    }
  }

  &.search {
    #search-btn {
      visibility: hidden;
    }
  }

  &.about, &.story, &.map, &.cart, &.search {
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    #top-nav {
      background-color: $black2;
    }
  }

  &.about, &.story, &.map, &.cart {

    #home-btn {
      display: none;
    }

    #title-bar {
      text-align: center;
      height: $nav-height;
      width: 100%;
      right: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      z-index: 3;

      & > span {
        @include box();
        display: block;
        position: relative;
        top: 0 !important;
        padding: 7px;
        color: $red-w;
        font-family: $pathway;
        font-size: 24px;
        margin-right: auto;
        margin-left: auto;
        max-width: 75%;
        text-align: center;
        width: 100%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      img {
        width: 72px;
        margin-top: 6px;
        margin-right: 5px;
      }
    }
  }
}

/* side nav */

#menu {
  left: -$nav-width;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $nav-width;
  overflow: hidden;
  background-color: $black;
  @include flex();
  @include flex-direction(column);
  @include justify(space-between);
  @include transition(left 0.7s ease);
  z-index: 7;

  // .logo {
  //   display: none;
  //   width: 150px;
  // }

  &.open {
    left: 0;
  }

  .desc {
    display: none;
  }

  #menu-collab {
    padding-bottom: 20px;
    text-align: center;
    img {
      height: 15px;
      margin: 10px;
      opacity: 0.75;
      @include transition(opacity 0.1s);
      &:hover {
        opacity: 1;
      }
    }
  }

}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.menu-content {
  margin: 40px 50px 50px 50px;
  text-align: left;

  li {
    margin: 0;

    h2 {
      font-family: $palanquin !important;
      letter-spacing: 0.1em !important;
      font-size: 18px !important;
      font-weight: 600 !important;
      text-transform: uppercase !important;
    }

    ul {
      // margin-top: -5px;

      li {
        font-size: 14px !important;
        font-weight: 400 !important;
        letter-spacing: 0 !important;
        // margin-left: 10px;
        text-transform: none !important;

        &:last-child {
          a {
            margin-bottom: 3px;
          }
        }

        img {
          margin: 7px 5px 0;
          width: 14px;
        }

        a {
          margin-left: 13px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.05em;
          line-height: 34px;
          text-transform: uppercase;
          color: white;
          @include transition(color 0.1s);
          &:hover {
            color: $black-link-hover;
          }
        }
      }

    }

    a:hover {
      h2 {
        color: $black-link-hover;
      }
    }
  }

  a {
    display: inline-block;

    &:hover {

      h2:before {
        width: 50%;
      }
    }

    img {
      width: 25px;
      height: 25px;
      padding: 15px 20px 10px;
      margin-right: -15px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  h2 {
    padding: 5px 0;
    // margin-left: -15px;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    // &::before {
      // content: "";
      // width: 0;
      // display: inline-block;
      // position: absolute;
      // z-index: 10;
      // bottom: 11px;
      // left: 50%;
      // height: 2px;
      // @include transform(translateX(-50%));
      // @include transition(all .25s ease);
      // background: #333;
      // @include box();
    // }
  }
}

.profiles-drawer {
  margin-top: -10px;

  li {
    margin-left: 65px;
  }

  h2 {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
  }

  .disabled {
    pointer-events: none;
    cursor: default;

    h2 {
      color: #ccc;
      opacity: 0.8;
    }
  }
}

/* top nav */

#top-nav {
  // @include flex();
  // @include align-items(center);
  // @include justify(space-between);
  height: $nav-height;
  overflow: hidden;
  display: block;
  text-align: center;
}

.btn-container {
  width: 50px;
}

#menu-btn {
  z-index: 20;
  position: fixed;
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  margin: 0;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .in {
    position: relative;
    height: 40px;
    width: 40px;
   }

  .bd {
    padding: 13px;
    width: 15px;

    div {
      position: relative;
      overflow: hidden;
     }

    div, span {
      display: block;
      height: 2px;
      width: 15px;
      transition: all 0.75s;
    }

    span {
     position: absolute;
     top: 0;
     left: -100%;
     background: #fff;
    }

    .b {
      background-color: #fff;
    }
  }

  .b-1 {
    @include transform(matrix(1,0,0,1,0,0));
    @include transition-delay(0.3s);

    span {
      @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
      @include transition-delay(0.3s);
     }

    &.close {
      @include transform(matrix(-0.7071, 0.7071, -0.7071, -0.7071, 0, 6));
     }
  }

   .b-2 {
    opacity: 1;
    margin: 4px 0;
    @include transition-delay(0s);

    span {
      transition: all 0.15s;
      @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
     }

    &.close {
      opacity: 0;

      span {
        @include transform(translate(-100%, 0%));
       }
     }
   }

   .b-3 {
    @include transform(matrix(1,0,0,1,0,0));
    @include transition-delay(0.5s);

    &.close {
      @include transform(matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, -6));
     }

    span {
     @include transform(translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0));
     @include transition-delay(0.5s);
    }

   }


}

#home-btn {
  position: relative;
  top: 0;
  margin: 0;
  padding: 5px 15px;
  z-index: 5;
  @include transition(top 0.55s);

  &.hidden {
    top: -$nav-height + 9;
  }

  img {
    margin: 5px 5px 0 0;
  }
}

#cart-btn {
  @include transition(opacity 1s);
  margin: 7px 10px 15px 15px;
  opacity: 0.9;
  position: absolute;
  right: 35px;
  top: 0;
  z-index: 5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  a {
    background-image: url("/static/img/cart.svg");
    background-position: right center;
    background-repeat: no-repeat;
    color: white;
    display: block;
    font-family: $palanquin;
    font-size: 13px;
    font-weight: 800;
    height: 21px;
    line-height: 22px;
    padding-right: 15px;
    text-align: center;
    width: 23px;


    &.active {
      background-image: url("/static/img/cart-red.svg");
    }

  }

}

#d3plus_tooltip_id_cart-tooltip {
  margin-left: -12px;
  margin-top: -24px;
  padding-top: 24px;

  .d3plus_tooltip_arrow {
    @include transform(translate(12px, 24px)rotate(45deg) !important);
  }

  .d3plus_tooltip_container {
    padding: 12px !important;
  }

  .d3plus_tooltip_title {
    color: $black2 !important;
    font-family: $palanquin;
    font-size: 13px !important;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0 !important;
    text-transform: uppercase;
  }

  .d3plus_tooltip_data_container {

    .headers {
      color: #949494;
      font-family: $palanquin;
      font-size: 11px;
      font-weight: 400;
      margin-bottom: 7px;
      margin-top: 5px;

      .name {
        display: inline-block;
      }

      .remove {
        float: right;
        font-weight: 600;
      }
    }

    .body {
      color: #949494;
      font-family: $palanquin;
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;

      .dataset {

        .name {
          display: inline-block;
          margin-bottom: 10px;
          max-width: 85%;
        }

        .remove {
          @include transition(opacity 0.1s);
          background-image: url("/static/img/viz/remove.svg");
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          float: right;
          height: 12px;
          margin-top: 4px;
          opacity: 0.75;
          width: 12px;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

        }

      }
    }

  }

  .buttons {
    @include flex();
    margin-top: 12px;
    width: 100%;

    .cart-btn {
      @include box();
      @include flex-size(1);
      border: 1px solid #f06145;
      color: #f06145;
      font-family: $palanquin;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.55px;
      padding: 5px 10px 6px;
      text-align: center;

      &:first-child {
        margin-right: 12px;
      }

      &:hover {
        background-color: #f06145;
        color: white;
        cursor: pointer;
      }
    }

  }

}


#search-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 10px 15px 15px;
  opacity: 0.9;
  @include transition(opacity 1s);
  z-index: 5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  @media only screen and (min-width : 481px) {
    .search-i {
      position: relative;
      right: 0;
      @include transition(right 0.35s cubic-bezier(0.4, 0, 0.59, 1));

      img {
        @include transform(rotate(0deg));
        @include transition(all 0.35s cubic-bezier(0.4, 0, 0.59, 1));
      }
    }

    .search-box {
      position: absolute;
      right: 5px;
      top: 4px;
      height: $nav-height;
      width: 0;
      padding: 0px;
      display: inline-block;
      // overflow: hidden;
      text-align: left;
      opacity: 0;
      @include transition(all 0.35s cubic-bezier(0.4, 0, 0.59, 1));

      #nav-search-input {
        cursor: pointer;
      }
    }

    .search-box.open {
      width: $search-mini-width;
      opacity: 1;

      #nav-search-input {
        cursor: text;

        &:focus {
          opacity: 1;
        }
      }

      & ~ .search-i {
        right: $search-mini-width - 33;

        img {
          @include transform(rotate(90deg));
        }
      }
    }

    #nav-search-input {
      @include box();
      width: 100%;
      border: 0;
      padding: 3px 10px 2px 31px;
      outline: 0;
      opacity: 0.5;
      background-color: $black3;
      font-family: $palanquin;
      font-size: 13px;
      letter-spacing: 0.02em;
      font-weight: 400;
      color: #fff;
      @include transition(opacity 0.25s);
      @include placeholder {font-size: 13px; color: $black4;}
    }

  }
}

body.frozen {
  #menu.open {
    @include shadow(3px 0 0 rgba(27,25,29,0.3));
  }
}

/* small design */

@media all and (max-width: 415px) {
  #top-nav {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
  }

  #menu {
    @include justify(space-between);
    width: 100vw;
    left: -100vw;
    top: 0;
    height: 100vh;
    @include transition(left 0.7s ease);

    &.open {
      left: 0;
    }

    // .profile-sum ul {
    //   margin-left: 25px !important;
    //   margin-top: 5px;
    // }

  }

  .hidden {
    display: none;
  }

}

@import "elements/nav_m";
