/* page-specific nav */

body {
  &.home {

    .home-sum {
      display: none;
    }

    #menu-btn, #search-btn, #home-btn {
      display: none;
    }
  }

  &.search {
    #search-btn {
      visibility: hidden;
    }
  }
}

/* side nav */

#menu {
  left: -$nav-width;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $nav-width;
  background-color: $home-midtone;
  @include flex();
  @include flex-direction(column);
  z-index: 4;

  &.open {
    left: 0;
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.menu-content {
  margin-top: $nav-height;

  a {
    display: inline-block;
  }

  h2 {
    padding: 20px;
  }
}

.about-sum { 
  .desc {
    display: none;

    p {
      padding: 5px 20px;
    }
  }

  &.open {
    .desc {
      display: block;
    }
  }
}

.profiles-drawer {
  .disabled {
    pointer-events: none;
    cursor: default;

    h2 {
      color: #ccc;
      opacity: 0.8;
    }
  }
}

.desc {
  padding: 10px 20px;
}

/* top nav */

#top-nav {
  @include flex();
  @include align-items(center);
  @include justify(space-between);
  height: $nav-height;
  overflow: hidden;
}

#menu-btn {
  z-index: 20; 
  position: fixed;
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  margin: 0;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .in {
    position: relative;
    height: 40px;
    width: 40px;
   }
  
  .bd {
    padding: 13px 15px;
    width: 15px;
    
    div {
      position: relative;
      overflow: hidden;
     }
    
    div, span {
      display: block;
      height: 2px;
      width: 15px;
      transition: all 0.5s;
    }

    span {
     position: absolute;
     top: 0;
     left: -100%;
     background: #333;
    }
  }

  .b-1 {
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0.3s;
    
    span {
      transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
      transition-delay: 0.3s;
     }

    &.close {
      transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 0, 6);
     }
  }

   .b-2 {
    opacity: 1;
    margin: 4px 0;
    transition-delay: 0s;

    span {
      transition: all 0.15s;
      transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
     }

    &.close {
      opacity: 0;

      span {
        transform: translate(-100%, 0%);
       }
     }
   }

   .b-3 {
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0.5s;

    &.close {
      transform: matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, -6);
     }

    span {
     transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
     transition-delay: 0.5s;
    }

   }


}

#home-btn {
  position: relative;
  top: 0;
  padding: 15px;
  margin-top: 3px;
  z-index: 5;
  @include transition(top 0.55s);

  &.hidden {
    top: -$nav-height + 9;
  }
}

#search-btn {
  padding: 15px;
  opacity: 0.5;
  color: $home-red;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  @include transition(opacity 1s);
  z-index: 5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .search-box {
    position: absolute;
    right: 0;
    margin-right: 15px;
    width: 0;
    padding: 0px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    opacity: 0;
    @include transition(width 0.45s cubic-bezier(0.4, 0, 0.59, 1), opacity 0.53s);
  }
  .search-box.open {
    width: $search-mini-width + 3;
    opacity: 1;
  }
  .search-box input {
    @include box();
    width: 100%;
    border: 0;
    border-bottom: 1px solid #333;
    padding: 3px 25px 1px 5px;
    outline: 0;
    font-family: $playfair;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  
}

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: $dark-home-blue;
}

/* small design */

@media all and (max-width: 415px) {
  #top-nav {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100vw;
  }

  #menu {
    @include justify(space-around);
    width: 100%;
  }

  #menu footer {
    display: none;
  }

  .hidden {
    display: none;
  }

  body.home {
    nav {

      #menu {

        .profiles-drawer {
          display: none;
        }
        
        ul {
          padding-bottom: 20vh;

          li {
            margin: 10px 0;
            text-align: center;
          }
        }

        .about-sum {
          padding-top: 20vh;

          &.open {
            padding-top: 5vh;
          }
        }

      }

      #menu-btn {
        display: block;
        padding: 12px 16px;
        color: white;
        opacity: 0.8;
      }
    }
  }
}

/* large design */

@media all and (min-width: 416px){

  body.home {
    #menu {
      left: 0;
      @include justify(flex-end);
    }
  }

  #menu {
    @include justify(space-between);
  }

  #menu footer {
    display: block;
    background-color: #eeeeee;
    text-align: center;
    height: $footer-height;
    width: 100%;
    overflow: hidden;

    img {
      height: $footer-height/4;
      margin: $footer-height/2.6 10px;
      opacity: 0.5;
      @include transition(opacity 1s);

      @media all and (min-width: 415px) {
        height: $footer-height/3;
        margin: $footer-height/3 14px;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
