header {
  @include flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify(space-between);
  background-color: white;
  border-bottom: 1px solid $grey;
  font-family: $sans-serif;
  height: $nav;
  overflow: hidden;
  position: relative;
  z-index: 100;

  &.open {
    overflow: visible;
  }

  #hamburger, #search_mobile {
    @include transition(color 0.2s, transform 0.2s, -ms-transform 0.2s, -webkit-transform 0.2s);
    color: $lightblue;
    display: none;
    font-size: 24px;
    margin: 0 20px;
    &:hover {
      color: $darkblue;
      cursor: pointer;
    }
    @media all and (max-width: 768px) {
        display: inline-block;
    }
  }

  #hamburger.open {
    @include transform(rotate(180deg));
  }

  #logo {
    color: $darkblue;
    font-size: 30px;
    font-weight: 900;
    margin: 0 20px;

    #usa {
      color: $lightblue;
    }

  }

  nav {
    @include flex;
    @include flex-direction(row);
    @include align-items(center);

    a {
      @include transition(border-bottom 0.2s);
      border-bottom: 3px solid transparent;
      color: $black;
      font-size: 18px;
      margin: 0 20px;
      padding-top: 3px;
      text-decoration: none;
      &:hover {
        border-bottom: 3px solid $darkblue;
      }
    }

    .search_btn {
      @include transition(border-color 0.2s, color 0.2s);
      border: 2px solid $lightblue;
      color: $lightblue;
      display: inline-block;
      height: 30px;
      margin: 0 20px;
      position: relative;
      width: 150px;

      &:hover {
        border-color: $darkblue;
        color: $darkblue;
        cursor: pointer;
      }

      &:before {
        content: unicode("f002");
        font-family: "FontAwesome";
        font-size: 14px;
        left: 7px;
        position: absolute;
        top: 7px;
      }

    }

    @media all and (max-width: 768px) {
      $width: 200px;
      @include flex-direction(column);
      @include align-items(flex-start);
      @include justify(flex-start);
      @include transition(top 0.4s);
      background-color: $lightblue;
      // display: none;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 100vh;
      width: 100%;

      &.open {
        // display: block;
        top: $nav;
      }

      a {
        color: white;
        font-size: 32px;
        margin: 30px 50px;
      }

      .search_btn {
        display: none;
      }

    }

  }

}
