div.overlay {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  &#bg {
    opacity: .9;
    background-color: #f3f5f6;
    visibility: visible;
  }
  
  &#view {
    
    .modal {
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.2);
      top: 50%;
      left: 50%;
      width: 560px;
//      max-height: 150px;
      max-width: inherit;
      padding: 20px;
      position: absolute;
      margin-top: -196.5px;
      margin-left: -280px;
      z-index: 2002;
      
      .close {
        cursor: pointer;
        position: absolute;
        padding: 0 20px 20px 20px;
        right: 0;
      }
      
      .header {
        
      }
      
      .body {
        overflow: hidden;
        
        .nav {
          text-align: center;
          border-bottom: 1px solid #d5dbdd;
          position: relative;
          
          span.change_share {
            display: inline-block;
            text-align: center;
            margin: 0 20px 0 0;
            padding: 0 10px 10px 10px;
            cursor: pointer;
            padding-bottom: 10px;
          }
          
          span.highlight {
            display: block;
            position: absolute;
            top: 36px;
            left: 126px;
            height: 3px;
            background-color: $d-blue;
            @include transition(left 0.5s);
            width: 75px;
            &.noslide {
              @include transition(none);
            }
          }
          
        } // end .nav
        
        .panels {
          overflow: hidden;
          height: 300px;
          width: 400%;
          display: block;
          position: relative;
          @include transition(transform 0.5s);
//          @include transform(translateX 0px);
          transform: translateX(0px);
          
          &.noslide {
            @include transition(none);
          }
          
          .panel {
//            border: solid red 1px;
            width: 520px;
            height: 250px;
            float: left;
            margin: 20px 40px 0 0;
            box-sizing: border-box;
            padding: 0 20px;
            
            .social {
              margin: 20px 0 40px 0;
              text-align: center;
              span {
                font-size: 45px;
                padding: 0 20px;
              }
            }
            
            input[type='text'] {
              width: 100%;
              border: 1px solid #d5dbdd;
              border-radius: 3px;
              height: 53px;
              display: block;
              margin: 20px auto;
              text-align: center;
              box-sizing: border-box;
              padding: 0 40px;
              cursor: text;
              font-size: 20px;
            }
            
            .embed_options{
              //border: solid green 1px;
              overflow: hidden;
              
              div.demo {
//                border: solid purple 1px;
                float: left;
                width: 150px;
                height: 150px;
                img {
                  width: 150px;
                }
              }
              div.options {
                //border: solid purple 1px;
                width: 290px;
                float: right;
                input[type='checkbox'] {
                  display: inline-block;
                  margin: 10px 10px 10px 0;
                }
              }
            }
            
            .filetypes {
              margin: 20px 0 40px 0;
              text-align: center;
              div {
                cursor: pointer;
                display: inline-block;
                padding: 0 20px;
                width: 120px;
                i {
                  display: block;
                  font-size: 45px;
                }
              }
            }
            
          }
        }
        
      }
      
    } // end .modal
  } // end #view
} // end .overlay