body.profile {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    #profile-nav {
      display: none;
    }

    #splash {
      width: 100%;

      #splash-image {
        background-attachment: scroll;

        &::after {
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(20, 27, 46, 0.7) 60%, $black2 97%);
        }
      }

      .content {
        padding: $nav-height 10px 100px;

        .row-last {
          @include flex-direction(column);
        }
        .splash-breadcrumb {
          display: none;
        }
        .splash-icon-nav {
          margin-right: 0;
          @include justify(center);

          a {
            padding: 0 5px;
          }
          img {
            width: 20px;
            height: 20px;
          }
          span {
            margin-top: 3px;
            font-size: 9px;
            line-height: 1.3;
          }
        }
      }
    }

    .profile-section {
      @include flex-direction(column);
      padding: 0 15px 0 25px;

      .category {
        margin: 30px 0;

        &::before, &::after {
          content: none;
        }
      }

      .topic {
        @include flex-size(1 0 auto);
        padding: 0 15px 50px 25px;

        &.flex {
          @include flex-size(1 0 auto);
        }

        .content {
          @include flex-direction(column);

          aside {
            width: 100%;
            max-width: 100%;

            .topic-stats {
              .stat {
                @include flex();
                @include flex-direction(column);
              }

              .stat {
                margin: 20px 10px 15px;
                text-align: center;
              }
            }
          }
          .viz {
            margin-left: 0;
            width:100%;
          }
        }
      }
    }

    .data-btn {
      float: none;
      display: block;
      margin: -10px 0 15px;
    }

    .stat-value {
      display: inline-block;
    }

    .stat-subtitle {
      display: inline-block;
    }

    .profile-end .follow-up {
      @include flex-direction(column);

      & > div {
        @include flex-size(1 1 auto);
      }
    }  
  }
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
  
  }
}