body.profile {

  a, p {
    color: #333;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
  }

  #splash {
    @include flex();
    @include justify(center);
    @include align-items();
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;

    .bg-filter {
      position: absolute;
      width: 85.7%;
      height: 79.7%;
      left: 7.15%;
      top: 13.3%;
      background: #9ab6f6;
      opacity: 0.9;
      z-index: 1;
    }

    #splash-image {
      height: 110%;
      left: -5%;
      position: absolute;
      top: -5%;
      width: 110%;
      @include background-stretch();
      //@include blur(5)
      @include filter(saturate(0) brightness(1.45) contrast(0.85));
      z-index: 0;

      &:after {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background: #444;
        opacity: 0.4;
        content: "";
      }
    }

    .content {
      @include flex();
      @include flex-direction(column);
      @include align-items(center);
      width: 85.7%;
      height: 79.7%;
      padding: 0 30px;
      margin-top: 50px;
      overflow: hidden;
      z-index: 2;
      @include box();

      .splash-context {
        width: 100%;
        margin: 25px 0;
        @include flex();
        @include flex-direction(row);
        @include align-items(flex-start);
        @include justify(space-around);
      }

      .splash-icon-nav {
        margin: 10px 0 -50px;
        @include flex();
        @include flex-direction(row);
        @include align-items(center);

        span {
          font-family: $playfair;
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 0.06em;
          color: #fff;
          opacity: 0.9;
        }

        a {
          padding: 20px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .context-l {
        @include flex-size(1 35px);
      }

      .context-r {
        @include flex-size(2);
      }

      .thumbprint {
        height: 200px;
        width: 200px;
        @include rounded(50%);
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #666;
        @include box();
      }

      h1 {
        margin-bottom: 15px;
        text-align: left;
        font-size: 55px;
        color: #333;
        font-family: $playfair;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.05em;
      }

      sub {
        display: block;
        margin-bottom: 15px;

        a {
          display: inline-block;
          padding: 2px 0;
          vertical-align: text-bottom;
          font-family: $roboto;
          font-weight: 300;
          font-size: 12px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #333;
          @include transition(color 0.25s);

          &+a::before {
            content: "\\ ";
            font-weight: 400;
            color: #111;
            padding: 0 4px;

          }

          &:hover {
            cursor: pointer;
            color: #e6f2ff;
            text-decoration: none;
          }

        }

      }

      // p.desc {
      //   margin: 15px;
      //   max-width: 500px;
      //   font-family: $noticia;
      //   font-size: 20px;
      //   font-weight: 400;
      // }

      #splash-stats {
        @include flex();
        @include justify(space-between);
        @include align-items(flex-end);

        .stat {
          @include flex();
          @include flex-direction(column);
          @include align-items(center);
          max-width: 150px;

          .stat-text, .stat-rank {
            font-family: $roboto;
            text-transform: uppercase;
            text-align: center;
          }

          .stat-text {
            width: 97%;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0.07em;
            //color: #fff;
          }

          .stat-rank {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #fff;
          }

          .stat-value {
            margin: 8px 0 3px;
            font-family: $lato;
            font-size: 42px;
            font-weight: 300;
            color: #fff;
            opacity: 0.85;
          }

        }

      }

      .carousel {
        margin-top: 35px;

        .carousel-title {
          color: #fff;
          font-family: $playfair;
          font-size: 20px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 0.08em;
          text-align: center;
        }

        .carousel-slider {
          @include flex();
          @include align-items(center);
          @include justify(center);
          height: 50px;
          margin-top: 5px;

          .carousel-text {
            display: none;
            text-align: left;
            font-family: $roboto;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0.03em;

            &.active {
              display: block;
            }

            a {
              font-weight: 700;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

          }

        }

        .carousel-btns {
          text-align: center;
          margin-top: 8px;

          .carousel-btn {
            display: inline-block;
            margin: 10px 5px;
            height: 2px;
            width: 20px;
            background-color: #fff;
            opacity: 0.5;

            &.active {
              opacity: 1;
            }

            &:hover {
              cursor: pointer;
            }

          }

        }

      }

    }

    #scroll-btn {
      bottom: 35px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      width: 100px;
      font-size: 24px;
      text-align: center;
    }

  }

  #title-bar {
    display: block;
    height: $title-height;
    left: 0;
    position: fixed;
    top: -$title-height;
    width: 100%;
    z-index: 5;
    @include transition(top 0.5s);

    &.visible {
      top: 0;
    }

    h1 {
      padding: 6px;
      color: white;
      font-family: $enriqueta;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }

  }

  #profile-nav {
    display: block;
    height: $prof-nav-height;
    left: 0;
    position: fixed;
    top: -$title-height;
    width: 100%;
    z-index: 4;
    background-color: #eeeeee;
    text-align: center;
    @include transition(top 0.5s);

    &.visible {
      top: $title-height;
    }

    ul {

      li {
        display: inline-block;
        margin: 0 10px;
        padding: 3px 5px 4px;
        color: #888888;
        font-family: $palanquin;
        font-size: 16px;
        font-weight: 600;
      }

    }
  }

  header {
    //margin-bottom: 50px;
    padding: 100px 50px 25px;
    position: relative;
    background-color: black;
    color: white;

    h2 {
      margin: 0 auto 10px;
      //max-width: 600px;
      font-family: $lato;
      font-size: 40px;
      font-weight: 300;
      line-height: 1;

      // This is the invisible element to fix the anchor tags!
      a:before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -($title-height+$nav-height);
      }

    }

    p {
      margin: 0 auto;
      //max-width: 600px;
      font-family: $lato;
      font-size: 14px;
      font-weight: 400;
    }

  }

  section {
    @include flex();
    @include flex-direction(row);
    @include flex-wrap();
    padding: 0 25px;

    .category {
      @include box();
      @include flex-size(1 1 100%);
      padding: 25px;
      min-width: 100%;
      font-family: $lato;
      font-size: 30px;
      font-weight: 400;
      text-align: left;
    }

    .topic {
      @include flex-size(1 1 100%);
      @include box();
      margin: 0;
      min-width: 100%;
      padding: 0 25px 50px;

      &.flex {
        @include flex();
        @include flex-size(1 1);
        @include flex-direction(column);
        @include align-items(stretch);
        margin: 0 25px 50px;
        min-width: 200px;
        padding: 0;

        .content {
          @include flex-size(1 1);
          @include flex-direction(column);
          @include align-items(stretch);

          aside {
            @include flex-size(1 1);
            max-width: 100%;
          }

          .viz {
            margin-left: 0;
            min-height: 200px;
          }

        }

      }

      h2 {
        font-family: $lato;
        font-size: 20px;
        font-weight: 700;
      }

      sub {
        margin: 5px 0;
        color: #a8a8a8;
        font-family: $enriqueta;
        font-size: 16px;
        font-weight: 700;

        a {
          color: #888;
          &:hover {
            text-decoration: underline;
          }
        }

      }

      .content {
        @include flex();
        margin-top: 10px;

        &.full-width {
          @include flex-direction(column);

          .viz {
            margin-left: 0;
            min-height: 500px;
          }

        }

        aside {
          @include flex-size(none);
          max-width: 415px;

          select {
            width: 100%;
          }

          .topic-stats {
            @include flex();
            @include align-items(flex-end);

            &.stacked {
              @include flex-direction(column);
              @include align-items(flex-start);
            }

            .stat {
              @include flex-size(1);
              margin-right: 5px;
              color: $text-color;

              .stat-text {
                font-family: $enriqueta;
                font-size: 16px;
                font-weight: 700;
              }

              .stat-value {
                font-family: $enriqueta;
                font-size: 40px;
                font-weight: 700;

                &.loading {
                  opacity: 0.5;
                }

                a {
                  color: $text-color;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }

                }

              }

            }

          }

          p {
            margin: 0;
            color: $text-color;
            font-family: $lato;
            font-size: 16px;
            font-weight: 400;

            a {
              color: $text-color;
              font-weight: 700;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }

            }

          }

        }

        .viz {
          @include flex-size(1 1 auto);
          margin-left: 50px;
          min-height: 250px;
          overflow: hidden;
        }

        .viz.mini {
          margin-left: 0;
          min-height: 200px;
        }

      }

    }

  }

}
