body.profile {
  position: relative;
  left: 0;
  right: 0;
  overflow-x: hidden;

  #top-nav {
    @include transition(background-color 0.75s);

    &.filled {
      background-color: $black2;
      border-bottom: 1px solid $black2;
      @include box();
    }
  }

  nav {
    #top-nav #search-btn #nav-search-input,
    & ~ #search-simple-nav,
    & ~ #search-simple-nav::before {
      background-color: $black2;
      @include transition(all 0.75s);
    }

    & ~ #search-simple-nav .results-show-all {
      border-top: 1px solid $black3;
    }

    &.filled {
      #top-nav #search-btn #nav-search-input,
      & ~ #search-simple-nav,
      & ~ #search-simple-nav::before {
        background-color: $black3;
      }

      & ~ #search-simple-nav .results-show-all {
        border-top: 1px solid $black2;
      }
    }
  }

  @media only screen and (min-width : 769px) {
    
    #home-btn {
      position: relative;
      margin: 0;
      padding: 5px 15px;
    }

    #search-btn {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px 10px 15px 15px;
    
      .search-box {
        top: 4px;
      }
    }

    #top-nav {
      display: block;
      text-align: center;
    }
  }
}

body.profile, body.map, body.story {

  #profile-nav {
    background-color: $black2;
  }

  .stat-value a {
    color: $link-color;

    &:hover {
      color: $alt-link-color;
      border-bottom: 1px solid $alt-link-color;
    }
  }

  &.geo {
    .economy, .education, .health  {
      background-color: $d-profile-bg;
    }

    .demographics, .housing  {
      background-color: $l-profile-bg;
    }
  }

  &.cip {
    .institutions, .employment {
      background-color: $d-profile-bg;
    }

    .demographics, .skills  {
      background-color: $l-profile-bg;
    }
  }

  &.soc {
    .employment, .education, .skills {
      background-color: $d-profile-bg;
    }

    .demographics, .growth  {
      background-color: $l-profile-bg;
    }
  }

  &.naics {
    .workforce, .growth  {
      background-color: $d-profile-bg;
    }

    .io  {
      background-color: $l-profile-bg;
    }
  }

  &.cip {
    #stats-bar #title-stats {
      width: 100%;
      max-width: 850px;
      @include flex();
      @include justify(space-around);
      @include align-items(center);
      @include align-content(space-around);
    }
  }

  h1 {
    font-family: $pathway;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.1;
  }

  header .section-title {
    font-family: $pathway;
    font-size: 47px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  h1.category {
    position: relative;
    font-family: $pathway;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-family: $palanquin;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.93);
  }

  a {
    color: #333;
  }

  .data-btn {
    float: right;
    position: relative;
    width: 90px;
    padding: 6px 5px;
    border: 1px solid #BDBDBD;
    color: #949494;
    text-align: center;

    span {
      color: #949494;
      font-family: $palanquin;
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      z-index: 2;
      @include transition(color 0.45s);
    }

    &::before {
      background-color: rgba(163, 163, 163, 0.35);
      z-index: 1;
    }

    &:hover {
      span {
        color: #4E4E4E !important;
      }
    }
  }

  .topic {
    h2 {
      font-family: $pathway;
      font-size: 30px;
      font-weight: 400;
      color: #333;
      text-transform: none;
      font-style: normal;
      letter-spacing: 0;
    }

    .data-btn {
      top: 5px;
    }

    &.flex {
      h2 {
        font-size: 24px;
      }

      .data-btn {
        top: -4px;
      }
    }

    .sub {
      font-family: $palanquin;
      font-size: 13px;
      line-height: 1.35;
      font-weight: 400;
      text-transform: initial;
      letter-spacing: 0.05em;
      color: #666;

      vertical-align: baseline;
      position: relative;

      a {
        color: #666;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #666;
        }
      }
    }

    .sub-title {
      color: $red-w;
      a {
        color: $red-w;
      }
    }

    .sub-source {
      display: block;
      color: #a8a8a8;
      font-family: $palanquin;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;

      a {
        color: #888;
        &:hover {
          border-bottom: 1px solid #888;
        }
      }

      span {
        vertical-align: baseline;
      }
    }
  }

  .stat-text, .stat-rank {
    font-family: $palanquin;
  }

  .stat-text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 10px;
    vertical-align: baseline;
  }

  .stat-subtitle {
    margin-left: 2px;
    margin-top: 7px;

    .plus-minus {
      color: $home-red;
    }
  }

  .stat-group {
    text-align: center;
  }

  .stat-rank {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .stat-value {
    font-family: $lato;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 8px;

    &.stat-small {
      font-size: 14px;
      font-weight: 400;
      margin-top: 2px;
    }

    .stat-span, .stat-text, a {
      vertical-align: baseline;
    }

    a {
      padding-bottom: 1px;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        text-decoration: none;
      }

    }
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .bound {
    position: relative;
    overflow: hidden;
  }

  #splash {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .has-p-link a {
      text-align: left;
      font-family: $palanquin;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
      color: #ededed;
      padding-bottom: 1px;
      border-bottom: 1px solid rgba(195, 219, 225, 0.7);
      color: rgba(237, 240, 245, 0.85);
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        border-bottom: 0;
        color: #fff;
        text-decoration: none;
      }
    }

    #splash-image {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      @include background-stretch();
      z-index: 0;
      @include transition(all 0.5s);

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        @include gradient(top, $splash-gradient);
      }

      &.color {
        @include filter(saturate(1) brightness(1) contrast(1));

        &::after {
          opacity: 0;
        }
      }
    }

    .content {
      @include flex();
      @include flex-direction(column);
      @include justify(flex-end);
      @include align-items(center);
      @include transition(opacity 0.5s);
      width: 100%;
      max-width: 1080px;
      height: 100%;
      opacity: 1;
      margin: 0 auto;
      padding: 7% 10%;
      @include box();
      z-index: 1;
      position: relative;

      &.hide {
        opacity: 0;
        pointer-events: none;
      }

      .f {
        @include flex-size(1.5);
      }

      .splash-titles {
        @include flex-size(2.5);
        color: #efefef;
        width: 100%;
        max-width: 750px;
        text-align: center;
        @include flex();
        @include flex-direction(column);

        h1 {
          text-transform: none;
          font-family: $pathway;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          @include text-shadow(0px 0px 15px rgba(20, 27, 46, 0.6));
        }

        sub {
          text-transform: none;
          font-family: $pathway;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.03em;
        }
      }

      #splash-stats {
        @include flex-size(2);
        width: 100%;
        max-width: 900px;
        @include box();
        @include flex();
        @include align-items(flex-start);
        @include justify(space-between);
        @include text-shadow(0px 0px 5px rgba(20, 27, 46, 0.6));
        
        .stat {
          @include flex-size(1);
          padding: 0 15px;

          @include flex();
          @include flex-direction(column);
          @include justify(flex-start);
          @include align-items(center);

          @media all and (max-width: 950px){
            @include justify(flex-start);
          }

          .stat-text {
            font-size: 17px;
            text-align: center;
            color: #fff;
            line-height: 1.15;
            margin-bottom: 0;

            a {
              color: #fff;
              border-bottom: 1px solid rgba(255,255,255,0.85);
              text-decoration: none;

              &:hover {
                border-bottom: 0;
                color: #fff;
                text-decoration: none;
              }
            }
          }

          .stat-rank {
            font-size: 12px;
            color: rgba(255,255,255,0.75);
            line-height: 1.35;
            text-transform: uppercase;
            @include wordwrap();
          }

          .stat-value {
            margin: 6px 0 7px;
            font-size: 37px;
            color: #fff;
            opacity: 0.9;
          }

        }
      }

      .splash-icon-nav {
        @include flex-size(1);
        @include flex();

        a {
          text-align: center;
          margin: 0 10px;
          width: 100px;
          @include transition(all 0.35s);

          &:hover {
            span {
              @include text-shadow(0px 0px 1px rgba(255,255,255,0.8));
            }
          }

          img {
            width: 30px;
            height: 30px;
          }

          span {
            display: block;
            margin-top: 5px;
            font-family: $palanquin;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 0.1em;
            line-height: 1.3;
            color: #fff;
          }
        }
      }

      h1 {
        line-height: 1;
        color: #efefef;
        @include text-shadow(0 1px 2px rgba(20, 27, 46, 0.15));
      }

      .splash-title-group {
        margin: 6px auto;
        font-family: $palanquin;
        font-size: 11px;
        letter-spacing: 0.06em;
        color: rgba(240,250,255,0.9);
      }

      p.desc {
        padding: 0;
        margin: 20px 0;
        text-align: center;
        font-family: $palanquin;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #ededed;
        opacity: 0.9;
      }

      .carousel {
        margin-top: 30px;

        .carousel-title {
          color: rgba(240, 250, 255, 0.85);
          font-family: $palanquin;
          font-size: 18px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 0.08em;
        }

        .carousel-slider {
          height: 50px;
          margin-top: 5px;

          .carousel-text {
            display: none;
            text-align: left;
            font-family: $palanquin;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 300;
            color: #ededed;

            &.active {
              display: block;
            }

          }

        }

        .carousel-btns {
          color: rgba(237,240,245,0.85);
          text-align: center;
          font-size: 13px;
          @include flex();
          @include align-items(baseline);

          .carousel-btn {
            display: inline-block;
            margin: 10px 5px;
            opacity: 0.35;
            color: rgba(237,240,245,0.85);
            @include transition(color 0.35s);
            pointer-events: none;
            cursor: default;

            &.active {
              opacity: 1;
              pointer-events: initial;
              cursor: pointer;

              &:hover {
                color: #fff;
              }
            }
          }

          span {
            font-family: $palanquin;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 11.5px;
            letter-spacing: 0.1em;
          }

        }

      }

    }

    #scroll-btn {
      bottom: 15px;
      display: block;
      left: 50%;
      margin-left: -100px;
      position: absolute;
      text-align: center;
      width: 200px;

      .mouse {
        @include transition(opacity 1s);
        width: 14px;
        height: 22px;
        position: relative;
        margin: 0 auto 5px;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 10px;
        opacity: 0;
        @include shadow(0 0 5px rgba(20, 27, 46, 1));

        .ball {
          height: 4px;
          width: 2px;
          left: 50%;
          top: 4px;
          position: absolute;
          display: block;
          margin: 0 0 0 -1px;
          background: #fff;
          @include animation(mouse-scroll 1.5s infinite);
        }
      }

      .mouse-text {
        @include transition(opacity 1s 1.5s);
        color: rgba(255, 255, 255, 0.9);
        font-family: $palanquin;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.03em;
        opacity: 0;
      }

      &.visible {
        .mouse {
          opacity: 0.7;
        }
        .mouse-text {
          opacity: 0.8;
        }
      }

    }

  }

  #title-bar {
    text-align: center;
    height: $nav-height;
    max-width: 860px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;

    span {
      @include flex();
      @include align-items(flex-start);
      position: relative;
      top: $nav-height - 10;
      @include transition(top 0.55s 0.03s);
      padding: 6px;
      @include box();
      color: #ef6145;
      font-family: $pathway;
      font-size: 24px;
    }

    img {
      width: 78px;
      margin-top: 4px;
      margin-right: 5px;
    }

    .expand-stats-btn {
      opacity: 0;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $max-color;
      @include box();
      background: url("/static/img/splash/max.svg") no-repeat 50%;
      background-size: 80%;
      width: 17px;
      height: 17px;
      margin-left: 5px;
      margin-top: 6px;
      @include transition(opacity 0.35s, border 0.5s, background-color 0.6s);

      &:hover {
        background: $max-color url("/static/img/splash/max.svg") no-repeat 50%;
        background-size: 80%;
      }

      &.show {
        opacity: 1;
        &:hover {
          cursor: pointer;
        }
      }

      &.close{
        border-radius: 50%;
        border: 1px solid $min-color;
        @include box();
        background: url("/static/img/splash/min.svg") no-repeat 50%;
        background-size: 80%;
        width: 17px;
        height: 17px;
        margin-left: 5px;

        &:hover {
          background: $min-color url("/static/img/splash/min.svg") no-repeat 50%;
          background-size: 80%;
        }
      }
    }

    a {
      color: #fff;
    }

    &.visible {

      span {
        top: 0;
      }
    }

  }

  #stats-bar {
    @include flex();
    position: absolute;
    height: $stats-bar-height;
    width: 100%;
    right: 0;
    left: 0;
    top: -$stats-bar-height;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    z-index: 2;
    background-color: $black2;
    color: rgba(255,255,255,0.8);
    @include transition(top 0.5s, box-shadow 0.5s);

    &.visible {
      top: 0;
      @include shadow(0 3px 3px rgba(20, 27, 46, 0.25) inset);
    }

    #title-stats {
      width: 60%;
      max-width: 580px;
      margin-bottom: 5px;
      @include flex();
      @include justify(space-between);
      @include align-items(center);
    }

    .title-stat {
      @include flex();
      @include align-items(flex-end);
      @include transition(opacity 0.35s);
      cursor: default;

      &:hover {
        .title-stat-text a {
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }

    .title-stat-text {
      margin: 0 5px -1px;
      text-align: center;
      font-family: $palanquin;
      font-weight: 600;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 10px;

      a {
        color: rgba(237,240,245,0.65);
        border-bottom: 1px solid rgba(195,219,225,0.5);
        text-decoration: none;

        &:hover {
          border-bottom: 0;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    .title-stat-value {
      text-align: center;
      font-family: $lato;
      font-size: 15px;
      font-weight: 400;

      a {
        padding-bottom: 1px;
        color: $link-color-geo;
        text-decoration: none;
        text-transform: capitalize;

        &:hover {
          border-bottom: 0;
          color: $alt-link-color-geo;
          border-bottom: 1px solid $alt-link-color-geo;
          text-decoration: none;
        }

      }
    }
  }

  #nav-bar-scroll {
    position: fixed;
    height: $prof-nav-height + $stats-bar-height;
    width: 100%;
    right: 0;
    left: 0;
    top: $nav-height;
    overflow: hidden;
    z-index: 2;
    @include transition(height 0.45s);

    &.stat-hidden {
      height: $prof-nav-height;

      #stats-bar {
        top: -$stats-bar-height;
      }

      #profile-nav.visible {
        top: 0;
      }
    }
  }

  #profile-nav {
    @include flex();
    height: $prof-nav-height;
    width: 100%;
    left: 0;
    position: absolute;
    top: -($title-height * 2);
    z-index: 1;
    text-align: center;
    @include transition(top 0.5s);

    &.visible {
      top: $stats-bar-height;
    }

    #back-to-top {
      position: absolute;
      right: 15px;
      top: 16px;
      color: #fff;
      opacity: 1;
      @include transition(all 0.35s);

      span {
        font-family: $palanquin;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.05em;
      }

      &:hover {
        span {
          @include text-shadow(0 0 1px rgba(255,255,255,0.6));
        }
      }

    }

    ul {
      width: 90%;
      margin: 0 150px 0 50px;
      max-width: 800px;
      @include flex();
      @include justify(space-between);

      li {
        @include flex-size(1);
        color: #fff;
        opacity: 1;
        font-size: 10px;

        &.active {

          &::before {
            bottom: 3px;
            background: #fff;
          }
        }
      }

      img {
        display: block;
        width: 23px;
        height: 23px;
        margin: -3px auto 2px;
      }

    }
  }
  
  /* about section */

  .intro {
    background-color: $black2;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 90% 100%;
    padding: 25px 50px;

    h2, a, p {
      color: #fff;
    }

    .breadcrumb {
      @include flex();
      @include align-items(flex-start);
      
      img {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 3px 6px 3px 3px;
        bottom: 4px;
      }

      .crumb-trail {
        position: relative;
        display: inline-block;
        line-height: 0.5;
        top: 3px;
      }

      a {
        display: inline;
        padding: 2px 0;
        margin-top: -4px;
        vertical-align: text-top;

        &+a::before {
          content: "\\ ";
          font-weight: 400;
          color: rgba(240,244,246,0.75);
          padding: 0 2px 0;
        }
      }
    }

    .photo-cred {
      i {
        opacity: 0.6;
        cursor: pointer;
        @include transition(all 0.35s);
      }

      &:hover, &:focus {
        i {
          opacity: 1;
        }
        a {
          @include text-shadow(0 0 1px rgba(255,255,255,0.6));
        }
      }
    }

    .intro-head {
      @include flex();
      @include justify(space-between);
      padding: 30px 0;

      .photo-cred, .breadcrumb {
        height: 18px;
        overflow: visible;
        margin: 0;
      }

      .fa {
        padding: 1px 6px;
        font-size: 11px;
        color: #fff;
        display: inline-block;
      }
      
      .r {
        max-width: 50vw;
        @include flex();
        @include flex-direction(column);
        @include justify(center);
        @include align-items(flex-start);

        a {
          font-family: $palanquin;
          font-weight: 400;
          font-size: 10px;
          letter-spacing: 0.05em;
          line-height: 1;
          text-transform: uppercase;
          @include wordwrap();
          @include hyphens;
          @include transition(all 0.35s);

          &:hover, &:focus {
            @include text-shadow(0 0 1px rgba(255,255,255,0.8));
          }
        }
      }
      
      .image-author {
        display: inline-block; 
      }
    }

    .intro-txt {
      @include flex-size(2);

      .desc {
        font-size: 14px;
        line-height: 1.7;
        padding: 15px 0;
        color: $black5;
        
        a {
          color: $black-link;
          @include transition(all 0.35s);
          border-bottom: 1px solid $black3;
        }

        .stat-span {
          a {
            opacity: 1;
            vertical-align: baseline;

            &:hover, &:focus {
              @include text-shadow(0 0 1px rgba(255,255,255,0.6));
              border-bottom: 1px solid $black-link;
            }

            &.show-more {
              color: #fff;
              opacity: 0.9;
              font-size: 14px;
              line-height: 2;
              border-bottom: none;
              margin-left: 3px;

              &:hover, &:focus {
                opacity: 1;
                @include text-shadow(0 0 1px rgba(255,255,255,0.8));

                &::after {
                  background: $max-color url("/static/img/splash/max.svg") no-repeat 50%;
                  background-size: 80%;
                }
              }
            
              &::after {
                content: '';
                display: inline-block;
                background: url("/static/img/splash/max.svg") no-repeat 50%;
                background-size: 80%;
                width: 17px;
                height: 17px;
                margin: 9px 5px -4px;
                border-radius: 50%;
                @include box();
                border: 1px solid $max-color;
                @include transition(all 0.35s);
              }
            }
          }
        }
      }

      .the_rest {
        display: none;
      }

      .image-author, .image-meta {
        display: inline-block;
      }

      .image-author {
        margin: 25px 0 -5px;
      }

      .image-meta {
        font-style: italic;
      }
    }

    .intro-viz {
      @include flex-size(1);
      height: 200px;
      margin: 20px 0;
      text-align: center;

      .d3plus_coordinates.outline {
        fill: transparent !important;
        pointer-events: none !important;
      }

      .d3plus_coordinates.highlight {
        stroke: white !important;
        stroke-opacity: 1 !important;
        fill: white !important;
        fill-opacity: 1 !important;
      }
    }

    #profile-toc {
      @include flex();
      @include flex-direction(row);
      @include flex-wrap();
      margin-top: 25px;

      .profile-toc-section {
        @include flex-size(1);
        margin: 10px;
        min-width: 200px;

        h2 {
          font-size: 18px;
          letter-spacing: 0.05em;
          font-weight: 600;
          
          img {
            display: inline-block;
            margin-top: 9px;
            width: 20px;
          }
        }

        p {
          font-size: 14px;
        }

        ul {
          padding: 10px 0 0;

          li {
            a {
              font-size: 13px;

              &::after {
                content: unicode('203A');
                position: relative;
                top: -7px;
                right: 0;
                font-size: 27px;
                font-weight: 400;
                line-height: 0;
                margin-left: 4px;
                text-decoration: none;
              }
            }

          }
        }

      }

    }

  }

  /* end about section */

  .prof-body {
    padding: 60px 50px 25px;
    position: relative;

    .section-title {
      margin: 0 auto 15px;
      color: #333;

      // This is the invisible element to fix the anchor tags!
      a::before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -$nav-height - $prof-nav-height;
      }
    }

    p {
      font-size: 16px;
    }
  }

  #section-sidenav {
    @include flex();
    @include flex-direction(column);
    @include transition(opacity 0.5s);
    height: 200px;
    left: -30px;
    margin-top: -100px + $nav-height;
    position: fixed;
    top: 0;
    z-index: 6;
    opacity: 0;

    &.visible {
      left: 15px;
      top: 50%;
      opacity: 1;
    }

    .section-sidenav-group {
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      .section-sidenav-button {
        @include transition(opacity 0.35s, width 0.35s, height 0.35s, margin 0.35s);
        @include rounded(50%);
        display: block;
        height: 6px;
        margin: 20px 6px;
        width: 6px;
        background-color: transparent;
        border: 1px solid #999;
        opacity: 0.7;

        &:hover, &.active {
          height: 10px;
          margin: 18px 4px;
          width: 10px;
          opacity: 1;
        }

        &.active {
          background-color: #999;
        }

      }

    }

  }

  .profile-section {
    @include flex();
    @include flex-direction(row);
    @include flex-wrap();
    padding: 0 25px;
    @include box();
    width: 100vw;

    .category {
      @include box();
      @include flex-size(1 1 100%);
      padding: 5px 24px 30px;
      min-width: 100%;

      a:before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -$nav-height - $prof-nav-height - $stats-bar-height - 10;
      }

    }

    .topic {
      @include flex-size(1 0 100%);
      @include box();
      margin: 0;
      min-width: 100%;
      padding: 0 25px 50px;

      &:not(.flex) {
        aside {
          width: 50%;
        }
      }

      &.short {
        // width: 100%;
        padding-bottom: 0;
      }

      &.flex {
        @include flex();
        @include flex-size(1 0 0);
        @include flex-direction(column);
        @include align-items(stretch);
        margin: 0 25px 50px;
        min-width: 10px;
        padding: 0;

        .content {
          @include flex-size(1 0 auto);
          @include flex-direction(column);

          aside {
            @include flex-size(1 0 auto);
            max-width: 100%;
          }

          .viz {
            @include flex-size(1 1 200px);
            margin-left: 0;
            min-height: 200px;
          }

        }

      }

      .content {
        @include flex();
        margin-top: 10px;

        &.full-width {
          @include flex-direction(column);

          .viz {
            margin-left: 0;
            min-height: 500px;
          }

        }

        aside {
          @include flex-size(none);
          max-width: 415px;

          p {
            a {
              border-bottom: 1px solid #C1C1C1;
              @include transition(opacity 0.15s);

              &:hover {
                opacity: 0.5;
                border-bottom: 0;
              }
            }
          }

          select {
            width: 100%;
          }

          .topic-stats {
            @include flex();
            @include align-items(flex-end);
            color: #333;

            &.stacked {
              @include flex-direction(column);
              @include align-items(flex-start);
            }

            .stat {
              @include flex-size(1 0);
              margin: 10px 15px 10px 0;

              .stat-value {
                &.loading {
                  opacity: 0.5;
                }
              }

            }

          }

          p {
            margin: 3px 0 6px;
          }

        }

        .viz {
          @include flex-size(1 0 auto);
          margin-left: 50px;
          min-height: 300px;
          overflow: hidden;
          position: relative;

          .d3plus {

            #XXUSA {
              fill: #bbb !important;
              stroke: #aaa !important;
            }

          }

          .data-table {
            @include transition(top 0.5s);
            height: 100%;
            overflow: scroll;
            position: absolute;
            top: 100%;
            width: 100%;
            background-color: #D0D0D0;

            &.visible {
              top: 0;
            }

            .download-btns {
              background-color: #1C1C1C;
              text-align: center;

              .csv-btn {
                display: inline-block;
                margin: 5px;
                text-align: center;
                vertical-align: baseline;
                padding: 4px;
                background-color: #006947;
                color: white;
                font-family: $palanquin;
                font-size: 12px;

                i {
                  margin-left: 5px;
                  vertical-align: baseline;
                }

                &:hover {
                  background-color: #0c9a6e;
                }

              }

              .api-btn {
                display: inline-block;
                margin: 5px;
                text-align: center;
                vertical-align: baseline;
                padding: 4px;
                background-color: #006947;
                color: white;
                font-family: $palanquin;
                font-size: 12px;

                &:hover {
                  background-color: #0c9a6e;
                }

              }

            }

            table {
              width: 100%;
            }

            thead, tbody {
              font-family: $palanquin;
            }

            thead {
              @include shadow(0 3px 3px rgba(20, 27, 46, 0.25));
              background-color: #1C1C1C;
              color: rgba(237, 240, 245, 0.5);

              th {
                padding: 6px 5px 4px;
                font-weight: 400;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-size: 11px;
                text-align: left;

                &:hover {
                  color: #fff;
                  cursor: default;
                }
              }
            }

            tbody {
              color: #333;

              td {
                font-size: 12px;
                font-weight: 300;
                padding: 5px 5px;
              }

              tr {
                &:hover {
                  color: #fff;
                }
              }
            }
          }

        }

        .viz.mini {
          margin-left: 0;
          min-height: 200px;
        }

      }

    }

  }

  #show-bg {
    position: absolute;
    top: $nav-height;
    right: 0;
    z-index: 3;

    div {
      opacity: 0;
      @include transition(opacity 0.35s);

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    i {
      padding: 13px 15px;
      font-size: 16px;
      color: #fff;
    }
  }

  .profile-end {
    color: #fff;
    width: 100%;
    padding: 10px 0 15px;
    background-color: #000;
    text-align: center;
    overflow: hidden;

    h2 {
      font-family: $pathway;
      color: rgba(255, 255, 255, 0.9);
      font-size: 38px;
      padding: 10px 0 20px;
    }

    a {
      color: rgba(255, 255, 255, 0.9);
      font-family: $pathway;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .follow-up {
      @include flex();
      @include flex-wrap();
      @include flex-direction(row);
      max-width: 100%;

      & > div {
        @include flex-size(1);
        min-width: 30%;
        -webkit-flex: 1 1 30%;
        flex: 1;
        @include flex();
        @include align-items(center);
        height: 200px;
        margin: 0 10px 20px;
        min-width: 300px;
        max-width: 400px;
        position: relative;
        background: #1d1d1d;
        background-size: cover !important;
        background-position: center center;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 1;
          @include transition(background-color 0.1s);
        }

        &:hover::before {
          background-color: rgba(0, 0, 0, 0.4);
        }

        .explore-title {
          position: relative;
          width: 100%;
          padding: 20% 20px;
          @include box();
          margin: auto;
        }
      }
    }
  }

  .share-section {
    margin-top: 10px;
    a {
      color: #a8a8a8;
      cursor: pointer;
      font-size: 15px;
      padding: 10px;
      margin-left: -10px;

      i {
        @include transition(opacity 0.1s);
        opacity: 0.7;
      }

      &:hover {
        i {
          opacity: 1;
        }
      }
    }

    .embed-input {
      @include transition(opacity 0.5s);
      display: inline-block;
      margin-top: -3px;
      margin-left: -5px;
      opacity: 0;

      &.open {
        opacity: 1;
      }

      input[type="text"] {
        padding: 3px;
        width: 100px;
        font-family: $palanquin;
      }

      input[type="checkbox"] {

      }

      label {
        color: #a8a8a8;
        font-family: $palanquin;
        font-size: 11px;
        vertical-align: middle;
      }

    }

  }

}

@keyframes mouse-scroll {
  from {top: 4px;}
  to {top: 5px;}
}

.d3plus_node {
  margin: 10px 0 0 !important;
  border: 1px solid $gray !important;
  font-family: $palanquin !important;
  letter-spacing: 0.03em !important;
  font-size: 13px !important;

  // .d3plus_button_label {
  //   padding: 5px 23px 5px 10px !important;
  // }
}

.d3plus_drop_selector {
  background-color: $gray !important;

  .d3plus_drop_list {
    .d3plus_node {
      border: inherit !important;
      margin: 0 !important;
    }

    .d3plus_button_active {
      color: $gray-d2 !important;
      background-color: $gray-l !important;

      .d3plus_button_selected {
        &::before {
          content: '';
        }
      }
    }
  }
}

body.redirect {

  nav {
    position: relative;
    #top-nav {
      background-color: $black2;
    }
}

}

#crosswalk {
  margin: ($nav-height + 40) auto 0;
  width: 70vw;

  h1 {
    font-family: $pathway;
    letter-spacing: 0.03em;
    text-align: center;
  }

  h2 {
    font-family: $pathway;
    letter-spacing: 0.03em;
    text-align: center;
  }

  p.warning{
    color: #9F6000;
    background-color: #FEEFB3;
    font-family: $palanquin;
    padding: 10px 10px 10px 50px;
    margin: 50px 10px 10px;
    .fa {
      display: inline-block;
      margin: 5px 15px 0 -30px;
      position: absolute;
    }
    span {
      display: inline-block;
    }
  }

  #crosswalk-list {
    @include flex();
    @include flex-wrap();

    a {
      @include flex();
      @include flex-size(1);
      @include align-items(flex-end);
      height: 150px;
      margin: 10px;
      overflow: hidden;
      min-width: 200px;
      position: relative;

      .thumb {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          @include gradient(top, $splash-gradient);
        }

      }

      .info {
        color: white;
        text-align: center;

        h2 {
          font-family: $pathway;
          font-size: 24px;
          letter-spacing: 0.03em;
          margin: 0 10px;
        }

        h3 {
          @include transition(margin-bottom 0.5s);
          font-family: $pathway;
          font-size: 18px;
          font-weight: 100;
          letter-spacing: 0.03em;
          margin: 0 10px 10px;
          text-transform: uppercase;
        }

      }

      &:hover {

        h3 {
            margin-bottom: 20px;
        }

      }

    }

  }

  ul {
    margin: 20px 0 0 0;
    li {
      a {
        @include flex();
        background: lightgray;
        &> span.thumb {
          @include flex-size(1);
          background-position: 50% 0%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &> span.info {
          @include flex-size(5);
          padding: 20px;
          h2 {
            color: rgba(51, 51, 51, 0.93);
            font-family: $palanquin;
            font-size: 28px;
            font-style: normal;
            margin: 0 0 5px 0;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@import "elements/profile_m";
