body.profile, body.story {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

    .intro {

      #profile-toc {
        h2 {
          font-size: 12px !important;
        }
        p {
          display: none;
        }
        ul {
          padding-top: 0 !important;
        }
        ul li a {
          font-size: 12px;
          letter-spacing: 0;
        }
      }

    }

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

    .intro {

      .intro-txt {
        @include flex-size(2);
        padding-right: 0px;
      }

      .intro-head {
        @include flex-direction(column);
        padding: 30px 0 10px;

        .r {
          min-width: 100%;
          max-width: 100%;
          width: 100%;
          padding: 20px 0 0;
          @include align-items(flex-start);
          &.compare-flex {
            min-width: 100%;
            max-width: 100%;
          }
        }

        .photo-cred, .breadcrumb {
          margin-left: -5px;
        }

        .photo-cred {
          padding-bottom: 10px;
        }

        .breadcrumb {
          height: auto;
        }
      }

      #profile-toc {
        @include flex-direction(column);

        .profile-toc-section {
          @include flex-size(1 0 auto);
        }

        h2 {
          font-size: 16px !important;
        }
        ul {
          padding-left: 10px !important;
        }

      }


    }

    #splash-stats.compare-flex {

      #stat-container {
        @include flex-direction(column !important);
      }

      .stat {
        @include flex-direction(row !important);
        max-width: 100% !important;
        padding-bottom: 10px !important;
        width: 100% !important;

        .stat-text {
          font-size: 10px !important;
          padding: 0 5px;
          text-align: right !important;
          width: 50% !important;
        }
        .stat-group {
          text-align: left !important;
          padding: 0 5px;
          width: 50% !important;
        }
        .stat-value {
          font-size: 24px !important;
        }
        .stat-rank {
          display: none !important;
        }

      }


    }

    .profile-section {
      @include flex-direction(column);
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {

    #stats-bar {
      height: 0 !important;
    }

    .expand-stats-btn, #back-to-top {
      display: none !important;
    }

    #nav-bar-scroll {

      height: 43px;

    }

    #profile-nav {

      height: 43px;

      &.visible {
        top: 0 !important;
      }

      a {
        min-width: 60px;

        li {

          img {
            padding: 8px 15px 0;
          }

          .profile-nav-text {
            display: none;
          }
        }

      }

    }

    #show-bg i {
      padding: 15px 10px;
    }

    #splash {
      width: 100%;

      #splash-image {

        &::after {
          @include gradient(top, (
            0%: rgba(0,0,0,0),
            60%: rgba(20, 27, 46, 0.7),
            100%: $black2
          ));
        }

        &.compare-flex {
          height: 50%;
          width: 100%;
        }
        &.compare-add {
          left: 0;
          margin-top: 50vh;
        }

      }

      .content {
        padding: $nav-height 10px;

        .splash-titles {

          h1 {
            display: block;
            font-size: 40px;


            .compare-flex {
              width: auto;
            }

            .compare-separator {
              font-family: $pathway;
              font-size: auto;
              margin: 0 7px;
            }

          }

        }

        #splash-stats {
          margin: 20px 0 0;

          .stat {
            @include box();

            .stat-text {
              font-size: 10px;
              font-weight: 400;
              line-height: 12px;
            }
            .stat-value {
              font-size: 18px !important;
              opacity: 1;
            }
            .stat-rank {
              display: none;
            }
          }
        }
        .row-last {
          @include flex-direction(column);
        }
        .splash-breadcrumb {
          display: none;
        }
        .splash-icon-nav {
          width: 100%;
          margin-right: 0;
          margin-top: 3vh;
          @include justify(space-between);

          a {
            width: 80px;
            padding: 0 5px;
            margin: 10px 0;

            img {
              width: 20px;
              height: 20px;
            }
            span {
              display: none;
            }
          }
        }
      }
    }

    .intro {
      .col {
        @include flex-direction(column-reverse);
        &.compare-flex {
          width: 100%;
        }
      }
    }

    .profile-section {
      @include flex-direction(column);
      padding: 0 30px 0 50px;
      @include box();

      .category {
        margin: 0 auto 30px;
        padding: 10px 25px 20px;

        &::before, &::after {
          content: none;
        }
      }

      .topic.flex {
        margin: 0 0 50px;
      }

      .topic.stat-flex {
        margin: 10px 0 15px;

        .content {
          width: 60%;
          margin: 0 auto;
          text-align: center;

          .stat {
            margin-right: 0 !important;
            text-align: center !important;
          }
        }
      }

      .topic {
        @include flex-size(1 0 auto);
        padding: 0 0 50px 0;
        width: 100%;
        @include box();

        &.compare-flex {
          margin: 0;
          min-width: auto;
        }

        &.flex {
          @include flex-size(1 0 auto);

          /* selector for health data */
          .content aside > .topic-stats:first-child .stat:only-child {
            margin-top: 0;
          }
        }

        .content {
          @include flex-direction(column);
          width: 100%;
          margin-top: 0;

          aside {
            width: 100%;
            max-width: 100%;

            p {
              margin: 10px 0;
            }

            .sub {
              margin-bottom: 5px;
            }

            .topic-stats {
              .stat {
                @include flex();
                @include flex-direction(column);
                margin: 5px 3px;
                text-align: left;

                .stat-text {
                  margin-bottom: 0;
                }

                .stat-value {
                  font-size: 32px;
                  margin-bottom: 0;

                  &.stat-small {
                    font-size: 16px;
                    margin-top: 5px;
                  }
                }

                .stat-subtitle {
                  margin-top: 0;
                }
              }
            }
          }

          .viz {
            margin-top: 10px;
            margin-left: 0;
            width:100%;
          }
        }
      }
    }

    .data-btn {
      float: none;
      display: block;
      margin: 5px 0 15px auto;
    }

    .stat-value {
      display: inline-block;
    }

    .stat-subtitle {
      display: inline-block;
    }

    .profile-end .follow-up {
      @include flex-direction(column);

      & > div {
        @include flex-size(1 1 auto);
      }
    }

  }

}
