body.profile {

  $bg-width: 89.7%;
  $bg-height: 81.7%;
  
  h1 {
    text-align: left;
    font-family: $playfair;
    font-size: 55px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.05em;
  }

  h2 {
    font-family: $playfair;
    font-size: 47px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: italic;
  }

  h1.category {
    font-family: $roboto;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-family: $roboto;
    font-size: 15px;
    line-height: 1.65;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.93);
  }

  a {
    color: #333;
  }

  .topic {
    h2 {
      font-family: $playfair;
      font-size: 28px;
      font-weight: 300;
      color: #333;
      text-transform: none;
      font-style: normal;
      letter-spacing: 0.03em;
    }

    sub {
      display: inline-block;
      margin: 5px 0 10px;
      color: #a8a8a8;
      font-family: $roboto;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1em;

      a {
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }

      span {
        vertical-align: text-bottom;
      }
    }
  }

  .stat-text, .stat-rank {
    font-family: $roboto;
    text-transform: uppercase;
  }

  .stat-text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
  }

  .stat-group {
    text-align: center;
  }

  .stat-rank {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  .stat-value {
    font-family: $lato;
    font-size: 33px;
    font-weight: 300;
    
    a {
      padding-bottom: 1px;
      color: #213DB3;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        border-bottom: 0;
        color: #5D82BD;
        border-bottom: 1px solid #5D82BD;
        text-decoration: none;
      }

    }
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
  }

  .economy, .education, .health {
    background-color: #ddd;
  }

  #splash {
    @include flex();
    @include justify(center);
    @include align-items();
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;

    .bg-filter {
      position: absolute;
      width: $bg-width;
      height: $bg-height;
      left: (100 - $bg-width)/2;
      top: (100 - $bg-height)/2;
      margin-top: $nav-height/2;
      background: #213DB3;
      opacity: 0.9;
      z-index: 1;
    }

    #splash-image {
      height: 110%;
      left: -5%;
      position: absolute;
      top: -5%;
      width: 110%;
      @include background-stretch();
      //@include filter(saturate(0) brightness(1.45) contrast(0.85));
      @include filter(saturate(0) brightness(0.95) contrast(1.55));
      z-index: 0;

      &:after {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background: #444;
        opacity: 0.4;
        content: "";
      }
    }

    .content {
      @include flex();
      @include flex-direction(column);
      @include align-items(center);
      width: $bg-width;
      height: $bg-height;
      padding: 0 50px;
      margin-top: 50px;
      overflow: hidden;
      z-index: 2;
      @include box();

      .splash-titles {
        width: 100%;
      }

      .splash-context {
        width: 100%;
        margin: 25px 0;
        @include flex();
        @include flex-direction(row);
        @include align-items(flex-start);
        @include justify(space-around);
      }

      .splash-icon-nav {
        margin: 10px 0 -15px;
        @include flex();
        @include flex-direction(row);
        @include align-items(center);

        span {
          font-family: $roboto;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.1em;
          color: #BECCE4;
        }

        a {
          padding: 20px;
        }

        img {
          width: 27px;
          height: 27px;
        }
      }

      .context-l {
        @include flex-size(1);
      }

      .context-r {
        @include flex-size(1.3);
      }

      .thumbprint {
        .d3plus_coordinates.highlight {
          .d3plus_data {
            fill: #ffffff;
            stroke: #8692C5 !important;
          }
        }

        .d3plus_data {
          fill: rgba(255,255,255,0.35);
          stroke: #4F63B9 !important;
        }
      }

      h1 {
        margin-bottom: 15px;
        color: #eee;
      }

      sub {
        display: block;
        margin-bottom: 55px;

        a {
          display: inline-block;
          padding: 2px 0;
          vertical-align: text-bottom;
          font-family: $roboto;
          font-weight: 300;
          font-size: 12px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #85A3D2;
          @include transition(color 0.25s);

          &+a::before {
            content: "\\ ";
            font-weight: 400;
            color: #e6f2ff;
            padding: 0 4px;

          }

          &:hover {
            cursor: pointer;
            color: #fff;
            text-decoration: none;
          }

        }

      }

      // p.desc {
      //   margin: 15px;
      //   max-width: 500px;
      //   font-family: $noticia;
      //   font-size: 20px;
      //   font-weight: 400;
      // }

      #splash-stats {
        @include flex();
        @include justify(space-between);
        @include align-items(stretch);

        .stat {
          @include flex();
          @include flex-direction(column);
          @include justify(space-between);
          @include align-items(center);
          max-width: 150px;

          .stat-text {
            font-size: 14px;
            text-align: center;
            color: #BECCE4;
          }

          .stat-rank {
            color: #5D82BD;
          }

          .stat-value {
            margin: 6px 0 3px;
            font-size: 40px;
            color: #fff;
            opacity: 0.85;
          }

        }

      }

      .carousel {
        margin-top: 35px;

        .carousel-title {
          color: #fff;
          font-family: $playfair;
          font-size: 18px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: 0.08em;
          opacity: 0.85;
        }

        .carousel-slider {
          @include flex();
          @include align-items(center);
          @include justify(center);
          height: 50px;
          margin-top: 5px;

          .carousel-text {
            display: none;
            text-align: left;
            font-family: $roboto;
            font-size: 14px;
            font-weight: 300;
            color: #BECCE4;

            &.active {
              display: block;
            }

            a {
              padding-bottom: 1px;
              border-bottom: 1px solid #5D82BD;
              color: #BECCE4;
              text-decoration: none;
              text-transform: capitalize;

              &:hover {
                border-bottom: 0;
                color: #fff;
                text-decoration: none;
              }
            }

          }

        }

        .carousel-btns {
          margin-top: 8px;
          color: #BECCE4;
          text-align: center;
          font-size: 13px;
          @include flex();
          @include align-items(baseline);

          .carousel-btn {
            display: inline-block;
            margin: 10px 5px;
            opacity: 0.5;

            &.active {
              opacity: 1;
            }

            &:hover {
              cursor: pointer;
            }

          }

        }

      }

    }

    #scroll-btn {
      // bottom: 35px;
      // left: 50%;
      // margin-left: -50px;
      // position: absolute;
      // width: 100px;
      // font-size: 24px;
      // text-align: center;
    }

  }

  #title-bar {
    display: block;
    height: $title-height;
    left: 0;
    position: fixed;
    top: -$title-height;
    width: 100%;
    text-align: center;
    z-index: 5;
    @include transition(top 0.5s);

    &.visible {
      top: 0;
    }

    img {
      width: 80px;
      margin-top: 3px;
    }

    span {
      display: inline-block;
      padding: 9px;
      background-color: white;
      color: #333;
      font-family: $lato;
      font-size: 18px;
      font-weight: 700;
    }

  }

  #profile-nav {
    display: block;
    height: $prof-nav-height;
    left: 0;
    position: fixed;
    top: -$title-height;
    width: 100%;
    z-index: 2;
    background-color: #000000;
    text-align: center;
    @include transition(top 0.5s);

    &.visible {
      top: $title-height;
    }

    ul {

      li {
        display: inline-block;
        margin: 0 10px;
        padding: 8px 5px;
        font-family: $roboto;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 0.03em;
        color: #fff;
        opacity: 0.9;
      }

      img {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
      }

    }
  }

  header {
    padding: 50px 50px 25px;
    position: relative;

    h2 {
      margin: 0 auto 15px;
      color: #333;

      // This is the invisible element to fix the anchor tags!
      a:before {
        content: "";
        position: absolute;
        visibility: hidden;
        top: -($title-height+$nav-height);
      }
    }

    p {
      font-size: 17px;
    }
  }

  section {
    @include flex();
    @include flex-direction(row);
    @include flex-wrap();
    padding: 0 25px;

    .category {
      @include box();
      @include flex-size(1 1 100%);
      padding: 25px;
      min-width: 100%;
    }

    .topic {
      @include flex-size(1 1 100%);
      @include box();
      margin: 0;
      min-width: 100%;
      padding: 0 25px 50px;

      &.flex {
        @include flex();
        @include flex-size(1 1);
        @include flex-direction(column);
        @include align-items(stretch);
        margin: 0 25px 50px;
        min-width: 200px;
        padding: 0;

        .content {
          @include flex-size(1 1);
          @include flex-direction(column);
          @include align-items(stretch);

          aside {
            @include flex-size(1 1);
            max-width: 100%;
          }

          .viz {
            margin-left: 0;
            min-height: 200px;
          }

        }

      }

      .content {
        @include flex();
        margin-top: 10px;

        &.full-width {
          @include flex-direction(column);

          .viz {
            margin-left: 0;
            min-height: 500px;
          }

        }

        aside {
          @include flex-size(none);
          max-width: 415px;

          select {
            width: 100%;
          }

          .topic-stats {
            @include flex();
            @include align-items(flex-end);

            &.stacked {
              @include flex-direction(column);
              @include align-items(flex-start);
            }

            .stat {
              @include flex-size(1);
              margin: 10px 15px 10px 0;

              .stat-value {
                &.loading {
                  opacity: 0.5;
                }
              }

            }

          }

          p {
            margin: 3px 0 6px;
          }

        }

        .viz {
          @include flex-size(1 1 auto);
          margin-left: 50px;
          min-height: 250px;
          overflow: hidden;
        }

        .viz.mini {
          margin-left: 0;
          min-height: 200px;
        }

      }

    }

  }

}
