.search-input {
  @include transition(box-shadow 1s, background-color 1s);
  background: rgba(255,255,255,0.6) url('/static/img/home/search.png') no-repeat 10px 20px;
  background-attachment: inherit;
  @include shadow(0px 2px 0 rgba(255,255,255,0.9));
  border: 0;
  color: $d-blue;
  font-family: $enriqueta;
  font-size: 30px;
  font-weight: 400;
  
  &:focus {
    outline: 0;
    background-color: rgba(255,255,255,0.9);
    @include shadow(0px 7px 0 rgba(255,255,255,0.5));
  }

  @media all and (min-width: 415px) {
    font-size: 45px;
  }
}

#search-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 4;
}

#search-advanced {
  top: $footer-height;
  width: 100%;
  padding: 0 10px 10px;
  background-color: rgba(255,255,255,0.9);

  .search-item {
    padding: 3px 0;
    font-family: $palanquin;
    font-size: 12px;
  }

}

.search-nav {
  width: 100%;
  overflow: hidden;
  top: 0;
}

.search-input {
  //width: 93%;
  padding: 10px 0 10px 60px;
}

.search-back {
  display: none;

  &.active {
    display: block;
  }
}

.search-results {
  color: #333;
}

.search-close {
  float: right;
}
