body.search {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .search-results-container {
      .search-results {
        .search-item {
          margin: 0px;
        }
      }
    }

    #search-advanced {
      margin: 40px 10px 40px 15px;

      .search-input {
        padding: 16px 20px 16px 39px;
        background-position: 0 19px;
      }

      .search-meta {
        .search-suggestions {
          padding: 10px 15px 10px 40px;
        }
      }
    }

    .search-autocorrected {
      padding: 5px 40px;
      text-align: left;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
  
  }

}