body.search {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    .search-results-container {

      .search-refine {
        display: none;
      }
      
      .search-results {
        .search-item {
          margin: 0px;

          .xtra {
            padding: 0 20px;

            ul {
              img {
                width: 25px;
                height: 25px;
              }
              
              li {
                @include flex-size(1 0 0);
                word-wrap: break-word;

                & > a {
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }

    #search-advanced {
      // margin: 40px 10px 40px 15px;

      .search-input {
        padding: 6px 0px 6px 46px;
        background-position: 0 20px;
      }

      .search-meta {
        .search-suggestions {
          padding: 10px 0;
        }
      }
    }

    .search-autocorrected {
      padding: 5px 40px;
      text-align: left;
    }
  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
  
  }

}