/* Adv Search page */

.search-results {

  #search-loading {
    @include box();
    padding: 5px 8px;

    p {
      color: #fff;
      text-align: center;
      font-family: $palanquin;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 0.1em;
      .fa {
        display: inline-block;
        margin: 3px 5px 0 0;
      }
    }
  }

  .search-item {
    @include flex();
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify(flex-start);
    @include box();
    padding: 5px 8px;

    img {
      width: 26px;
      padding-right: 10px;
      margin-top: 0;
      margin-left: -2px;
    }

    .search-item-t {
      @include flex-size(1);
      line-height: 1.5;
    }

    h2 {
      font-family: $palanquin;
      font-size: 14px;
      font-weight: 400;
      color: #333;
      text-transform: none;
      font-style: normal;
      letter-spacing: 0;
      line-height: 1.2;
      display: block;
      a {
        border-bottom: 1px solid transparent;
        color: white;
        @include transition(border-color 0.25s);
        &:focus, &:hover {
          border-color: white;
        }
      }
    }

    p {
      margin-left: 1px;
      line-height: 1;
      opacity: 1;
      font-family: $palanquin;
      font-weight: 700;
      font-size: 12px;
      color: $black4;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      &.subtitle, &.section {
        display: inline-block;
        margin-top: 5px;
      }

      &.section {
        float: right;
      }

    }

    &.geo {
      .section {
        color: $geo-bg-color;
      }
    }

    &.cip {
      .section {
        color: $cip-bg-color;
      }
    }

    &.soc {
      .section {
        color: $soc-bg-color;
      }
    }

    &.naics {
      .section {
        color: $naics-bg-color;
      }
    }

  }
}

body.home, body.search {
  .search-results .search-item {
    h2 {
      font-size: 16px;
      margin-bottom: 2px;

      .expand {
        position: relative;
        top: 1px;
        margin-left: 5px;
        font-size: 19px;
        color: #989898;
      }
    }

    p {
      line-height: 1;
      font-size: 12px;
    }
  }
}

body.search {
  background-color: $black2;
  min-height: 100vh;

  a {
    color: #fff;
    @include transition(color 0.25s);
  }

  .bound {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
  }

  #search-advanced {
    @include flex();
    @include flex-direction(column);
    @include justify(flex-start);
    padding: $nav-height 40px $nav-height + 50;
    background-color: $black2-5;
    @include gradient(top, $search-gradient);

    .search-nav {
      margin-top: 30px;
    }

    .search-helpers {
      margin-bottom: 30px;
      min-height: 34px;
    }

    .search-results-container {
      @include flex-size(1 1 auto);
    }

    .search-meta {
      text-align: left;
      font-family: $palanquin;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      @include wordwrap();
      @include hyphens;
      color: #fff;

      .search-suggestions {
        @include box();
        padding: 10px 15px;
        width: 100%;
        color: $black5;
      }

      span {

        line-height: normal;
        font-size: 12px;

        a {
          color: #fff;
          opacity: 1;
          @include transition(all 0.25s);
          text-decoration: none;

          &:hover {
            cursor: pointer;
            text-decoration: none;
            @include text-shadow(0px 0px 1px rgba(255,255,255,0.8));
          }
        }

      }
    }

    .search-nav {
      @include box();
      width: 100%;
      top: 0;
    }

    .search-input {
      width: 100%;
      border-width: 0 0 1px 0;
      border-color: $black5;
      border-style: solid;
      border-radius: 0px;
      @include appearance(none);
      padding: 16px 20px 5px 45px;
      @include box();
      font-family: $palanquin;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      background-color: transparent;
      background-image: url('/static/img/search/search_w.svg');
      background-repeat: no-repeat;
      background-position: 0px 28px;
      background-size: 35px 35px;
      @include placeholder {opacity: 0.8; font-weight: 300;}
      @include transition(box-shadow 1s);

      &:focus {
        border-color: #fff;
        outline: 0;
      }

      @media all and (min-width: 415px) {
        font-size: 30px;
      }

      &.inactive {
        display: none;
      }
    }

    .search-crumbs {
      display: none;

      &.active {
        display: block;
      }

      .search-back {
        display: inline-block;
        padding: 10px;
        width: 60px;
        color: $d-blue;
        font-family: $palanquin;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
      }

      .search-crumb {
        display: inline-block;
        padding: 10px 0;
        color: $d-blue;
        font-family: $palanquin;
        font-size: 30px;
        font-weight: 400;

        &:not(:last-child) {

          &::after {
            content: ">"
          }

          &:hover {
            cursor: pointer;
          }
        }

      }

    }

  }

  .search-autocorrected {
    display: none;
    padding: 5px 0;
    font-family: $palanquin;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    span {
      font-weight: 700;
    }
  }

  .search-results-container{
    @include flex();
    @include justify(space-between);

    .search-refine {
      @include flex-size(0 0 200px);
      border-right: 1px solid $black4;
      margin-right: 25px;
      padding: 5px 25px 5px 0px;

      #refine-label {
        padding: 0;
        font-family: $palanquin;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-size: 12px;
        font-weight: 400;
        margin: 12px 0 6px;
        line-height: 1;
        color: $black4;

        span {
          float: right;
        }
      }

      .clear {
        display: none;
        padding: 6px 0 9px;
        margin-bottom: 15px;
        line-height: 1;
        opacity: 1;
        font-family: $palanquin;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $black5;
        width: 100%;
        background-color: $black3;
        text-align: center;
        @include transition(all 0.25s);

        span {
          display: inline-block;
          font-size: 17px;
          font-weight: 300;
          padding: 0 2px;
          vertical-align: baseline;
        }

        &:hover {
          background-color: $black4;
          color: #fff;
        }
      }

      & > h2 {
        color: #868686;
        border-bottom: 1px solid #868686;
        padding: 0 0 5px 0;
        margin: 5px 15px !important;
      }

      div {
        padding: 10px 0;

        &.geo {
          h2 a, h2 a span {
            color: $geo-bg-color;
          }
        }

        &.cip {
          h2 a, h2 a span {
            color: $cip-bg-color;
          }
        }

        &.soc {
          h2 a, h2 a span {
            color: $soc-bg-color;
          }
        }

        &.naics {
          h2 a, h2 a span {
            color: $naics-bg-color;
          }
        }

        &.active {
          h2 {
            color: #fff;
            font-weight: 700;
          }
          ul {
            display: block;
          }
        }

        &.no-results {
          h2 a {
            // opacity: 0.4;
          }
        }

        /* profile type labels */
        h2 {
          font-size: 13px;
          font-weight: 600;
          margin: 5px 0;
          line-height: 1.3;

          a {
            display: block;

            img {
              width: 18px;
              margin: 0 5px 0 0;
            }

            .num_res {
              color: #fff;
              display: inline-block;
              float: right;
            }
          }
        }

        /* profile type depth label */

        ul {
          display: none;

          li {
            margin-left: 25px;
            font-size: 12px;
            font-weight: 600;
            line-height: 2;

            a {
              color: $black5;
              display: block;
              @include transition(color 0.15s);

              span {
                color: $black5;
                display: inline-block;
                float: right;
              }

              &.active {
                color: #fff;
                font-weight: 700;

                span {
                  color: #fff;
                  font-weight: 700;
                }
              }

              &:not(.no-results):hover {
                color: #fff;
              }

              &.no-results {
                color: $black3;
                cursor: default;

                .num_res {
                  color: $black3;
                }
              }
            }

            &.stem_only {
              border-top: dashed 1px $black5;
              margin-top: 10px;
              padding-top: 5px;

              a {
                color: $cip-bg-color !important;

                span.check {
                  background-image: url('/static/img/search/checkbox-sprite.png');
                  width: 20px;
                  height: 20px;
                  background-position: center top;
                  background-repeat: no-repeat;
                }

                input {
                  outline: 0;
                  opacity: 0;
                  cursor: pointer;
                  filter: alpha(opacity=0);
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                }

                &.active {
                  span.check {
                    background-position: center -30px;
                  }
                }

              }

            }

          }
        }

        h2, li {
          font-family: $palanquin;
          text-transform: uppercase;
          letter-spacing: 0.06em;

          a {
            color: #868686;
            @include transition(color 0.15s);
          }
        }

        .details-sumlevels-results a {
          display: block;
        }
        a.details-profile {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }

    .search-results-dynamic {
      @include flex-size(1);
    }

    .search-results {
      width: 100%;
      color: #333;

      .search-item {
        @include flex();
        @include flex-direction(row);
        @include flex-wrap();
        @include align-items(flex-start);
        padding: 13px 20px 13px 0;
        margin: 0;

        &.active {
          border: solid black 1px;
          background-color: #fff;
        }

        &:empty {
          display: none;
        }

        &:hover {

          .thumb {
            opacity: 0.75 !important;
          }
        }

        .thumb {
          @include flex-size(0 0 30px);
          @include box();
          opacity: 0.8;
          height: 35px;
        }

        .xtra {
          display: none;
          width: 100%;
          padding: 0 100px 0 40px;
        }

        .info {
          @include flex-size(1);
          margin: 0 10px;
          line-height: 1.5;

          &:hover {
            .expand {
              color: #000 !important;
              text-decoration: none;
              border-bottom: 0;
            }
          }

          p {
            display: block;
            color: $black5;
          }

          .stem {
            border: solid 1px $black5;
            border-radius: 4px;
            margin: 0 0 0 5px;
            padding: 0 4px;
          }

          h2 {

            .expand {
              position: relative;
              top: 1px;
              margin-left: 5px;
              font-size: 19px;
              color: #989898;
            }
          }

          .fa-angle-down {
            display: none;
          }
        }

        &.open {
          .xtra {
            display: block;
          }

          .info {

            .fa-angle-down {
              display: inline;
            }

            .fa-angle-up {
              display: none;
            }
          }

          .profile {
            a {
              &::after {
                content: unicode("f106");
              }
            }
          }
        }

        .profile {
          @include flex-size(0 0 85px);
          padding: 0 5px 30px 0px;
          text-align: right;

          a {
            font-family: $palanquin;
            font-weight: 700;
            font-size: 12px;
            color: $black5;
            text-transform: uppercase;
            letter-spacing: 0.05em;

            &::after {
              content: unicode("f107");
              top: -5px;
              position: relative;
              font-family: FontAwesome;
              font-weight: 400;
              letter-spacing: 0.05em;
              line-height: 1;
              margin-left: 5px;
            }
          }
        }

        &.geo {
          .profile a,
          .parents a,
          .parents {
            color: $geo-bg-color;
          }
        }

        &.cip {
          .profile a,
          .parents a,
          .parents {
            color: $cip-bg-color;
          }
        }

        &.soc {
          .profile a,
          .parents a,
          .parents {
            color: $soc-bg-color;
          }
        }

        &.naics {
          .profile a,
          .parents a,
          .parents {
            color: $naics-bg-color;
          }
        }

      }

      .xtra {
        .parents {
          margin-top: 13px;
          line-height: 1.7;

          &::before {
            content: "Related Profiles ";
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 1.7;
          }

          a {
            padding: 0;
            line-height: 1.7;
            font-family: $palanquin;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            opacity: 0.7;
            @include wordwrap();
            @include hyphens;
            @include transition(all 0.25s);

            &+a::before {
              content: "\\ ";
              opacity: 1;
              color: #fff;
              font-weight: 700;
              padding: 0 0 0 2px;
            }

            &:hover {
              opacity: 1;
              cursor: pointer;
              text-decoration: none;
            }

          }
        }

        ul {
          @include flex();
          @include justify(space-between);
          @include flex-wrap();

          li {
            display: inline-block;
            text-align: center;
            padding: 2px 5px;

            a {
              color: #fff;
              opacity: 0.7;
              @include transition(opacity 0.25s);
            }

            &:hover {
              a {
                opacity: 1;
              }
            }

            & > a {
              display: block;
              margin-top: 3px;
              font-family: $palanquin;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 10px;
              letter-spacing: 0.1em;
            }
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .search-close {
      float: right;
    }
  }
}

.no-search-results{
  display: none;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: $palanquin;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}


/* nav search */

#search-simple-nav, #search-compare-modal {
  display: none;
  position: fixed;
  top: $nav-height + 7;
  right: 5px;
  width: $search-mini-width;
  max-height: $search-mini-height;
  background-color: $black3;
  @include shadow(0 1px 2px rgba(0,0,0,0.15),0 0 1px rgba(0,0,0,0.4));
  @include box();
  z-index: 5;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   right: $search-mini-width/2 - 7;
  //   top: -14px;
  //   display: block;
  //   width: 14px;
  //   height: 14px;
  //   background: $black3;
  //   @include transform(rotate(45deg) translate(6px, 6px));
  //   @include shadow(-1px -1px 1px -1px rgba(0,0,0,0.44));
  // }

  &.open {
    display: block;
  }

  .results-show-all {
    display: block;
    @include box();
    padding: 0px 15px;
    border-top: 1px solid $black2;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255,255,255,0);

    .pri-link {
      width: 100%;
      display: block;
      padding: 5px 1px 5px 0;
      font-size: 12px;
      opacity: 1;
      line-height: 32px;
      color: #fff;
      opacity: 1;
    }

    &:hover {
      background-color: $black4;
    }
  }

  .search-results {
    background-color: rgba(255,255,255,0);

    #search-loading {
      padding: 10px 15px 20px;

      p {
        text-align: center;
        color: #fff;
        font-family: $palanquin;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03em;

        i {
          display: inline-block;
          margin: 5px 5px 0 0;
          @include animation(fa-spin 2s infinite cubic-bezier(0.25, 0.1, 0.75, .9));
        }
      }
    }

    .search-item {
      @include justify(center);
      margin: 0;
      padding: 5px 8px;

      &:active, &:focus, &:hover {
        background-color: $black4;
      }

      img {
        margin-left: 0;
      }

      .search-item-t {
        @include flex();
        @include flex-direction(column);
      }

      h2, .subtitle {
        line-height: 1.15;
      }

      h2 {
        color: #fff;
      }

      .subtitle {
        color: $black-link;
        margin-top: 3px;
        font-size: 11px;
        font-weight: 400px;
      }
    }
  }

  .no-search-results {
    color: #fff;
  }

  .results-title {
    h3 {
      display: inline-block;
    }

    a {
      display: inline-block;
      float: right;
    }
  }
}

#search-compare-modal {
  bottom: auto;
  left: auto;
  position: absolute;
  right: auto;
  top: auto;

  .search-input {
    @include box();
    background-color: $black3;
    background-image: url("/static/img/search/search_w_flip.svg");
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-size: 24px 23px;
    border: 0;
    border-bottom: 1px solid $black2;
    width: 100%;
    padding: 3px 10px 8px 45px;
    outline: 0;
    opacity: 1;
    font-family: $palanquin;
    font-size: 13px;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #fff;
    @include placeholder {font-size: 13px; color: $black4;};

    &:focus {
      border-color: #fff;
      outline: 0;
    }

  }

  .search-results {
    height: 250px;
    overflow-y: scroll;
  }

}

@import "elements/search_m";
