body.story {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    #featured-story {
      @include box();
      height: 80vh;
      padding: 13px;
      top: 0;

      & > a {
        // position: relative;
        // width: 100%;
        // top: 0;
        // height: 100vh;
        overflow: hidden;
      }
    }

    #article {
      @include flex();
      @include flex-direction(column);
      @include justify(flex-end);
    }

    #feature-image, #article-image {
      background-attachment: scroll;
      background-position: 50% 100%;
      height: 100vh;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    #feature-image {
      position: relative;
      top: $nav-height;

      &::after {
        @include gradient(top, (
          0%: rgba(20,27,46,0.5),
          21%: rgba(20,27,46,0.25),
          60%: rgba(20,27,46,0),
          100%: rgba(20,27,46,0)
        ));
      }
    }

    #article-image::after {
      @include gradient(top, (
        0%: rgba(20,27,46,0.85),
        11%: rgba(20,27,46,0.75),
        21%: rgba(20,27,46,0.65),
        68%: rgba(20,27,46,0.75),
        100%: rgba(20,27,46,0.85)
      ));
    }

    #article-text, #feature-text {
      margin: 0;
      width: 100%;
      border: 0;
      @include box(content-box);
    }

    #feature-text {
      @include flex-size(1 1 100%);
      padding: 13px 0 0;

      .post-feat-label {
        position: absolute;
        top: $nav-height + 26;
        left: 7.5px;
        padding: 0;
        margin: 0;
        background-color: #fff;
        @include shadow(-1px 0 10px rgba(0,0,0,0.13));

        p {
          border-color: #fff;
          color: $black2;
          font-weight: 400;
        }
      }

    }

    .author-meta {
      margin-left: 20px;
      * {
        font-size: 12px !important;
      }
    }

    #article-text {
      padding: 13px 0 0;
      margin-bottom: 30px;
      background-color: transparent;
      background-color: rgba(255,255,255,0);

      .post-titles {
        padding: 0 30px;

        h1 {
          color: #fff;
          font-size: 28px;
          @include text-shadow(0px 0px 10px rgba(20,27,46,0.4));
        }

        p {
          font-size: 16px;
        }

        .author-meta {
          margin-left: 0;
        }

        p, .author-meta * {
          opacity: 1;
          color: #fff;
          @include text-shadow(2px 0px 6px $black2);
        }

        .image-by {
          span, a {
            font-size: 12px;
            line-height: 30px;
          }
        }
      }
    }

    .back-btn {
      position: absolute;
      top: $nav-height + 26;
      left: 26px;
    }

    .back-btn {
      .pri-link {
        color: #fff;
        @include text-shadow(2px 0px 6px $black2);
      }
    }

    .post-titles {
      padding: 0 15px;
      @include box();
    }

    #all-stories {
      width: 100%;
      margin: 0;
      padding: 13px 0;

      .post-feat-label {
        display: none;
      }

      .post-titles {
        h1 {
          a {
            font-size: 32px;
          }
        }
      }

      .story {
        padding: 13px 13px 32px;

        .story-image {
          height: 220px;
          margin-bottom: 15px;
        }
      }
    }

    section {
      padding: 30px;

      .topic {
        padding-bottom: 0;
      }
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

  }

}
