body.story {
  background-color: $d-profile-bg;

  h1 {
    font-family: $pathway;
    font-weight: 300;
    font-size: initial;
    line-height: 1.1;
  }

  p {
    color: rgba(51, 51, 51, 0.93);
    font-family: $palanquin;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
  }

  .pri-link {
    font-family: $palanquin;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 29px;
    letter-spacing: 0.06em;
    color: $red-w;
  }

  /* stories index styles */

  header {
    @include flex();
    @include flex-direction(column);
    width: 100vw;
    height: 100vh;
    // top: $nav-height;
    padding: 0;
    background-color: $l-profile-bg;

    @include justify(flex-end);

    &#featured-story {
      max-height: 800px;
    }
  }

  #feature-image, #article-image {
    width: 100%;
    @include background-stretch();
    @include transition(all 0.5s);
    top: 0;
    position: absolute;
    height: 100vh;
  }

  #feature-image {
    max-height: 800px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(top, rgba(233,233,233,0) 50%, rgba(233,233,233,0.3) 75%, rgba(233,233,233,0.5) 83.33%, $d-profile-bg 100%);
    }
  }

  #feature-text, #article-text {
    // @include flex();
    // @include justify(center);
    @include box();
  }

  #article-text {
    background-color: $l-profile-bg;
    z-index: 1;
    width: 100%;
    padding: 25px 12%;
    margin: 20px 0 0;
  }

  #feature-text {
    @include flex();
    @include justify(center);
    background-color: $l-profile-bg;
    z-index: 1;
    // @include flex-direction(row);
    margin: 20px 0 0 auto;
    width: 88%;
    padding: 40px 12% 40px 0;
    border-width: 1px 0 0 1px;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
  }

  // #article-text {
  //   @include flex-direction(column);
  // }

  .post-feat-label {
    @include flex-size(1);
    text-align: right;
    margin-right: 4vw;
    padding-top: 10px;

    p {
      font-family: $palanquin;
      font-weight: 300;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 16px;
      border-style: solid;
      border-color: $black4;
      border-width: 0px 0px 1px 1px;
      padding: 5px 10px 5px;
      display: inline-block;
    }
  }

  .post-titles {
    @include flex-size(4);
    width: 100%;
    // @include flex();
    // @include flex-direction(column);
    // @include justify(flex-start);
    // @include align-items(stretch);

    // & > * {
    //   @include flex-size(1 0 auto);
    // }

    h1 {
      margin-bottom: 10px;
      a {
        color: $black3;
        font-family: $pathway;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-size: 48px;

        &:hover, &:focus {
          color: $red-w;
        }
      }
    }

    .desc {
      margin-bottom: 20px;
      font-family: $palanquin;
      line-height: 1.5;
      font-weight: 400;
      font-size: 16px;
    }

    .more-options {
      @include flex();
      @include flex-direction(row);
      @include justify(flex-start);
    }

    .read-more {
      @include flex-size(1);

      &::after {
        content: unicode('203A');
        font-size: 19px;
        margin-left: 3px;
        text-decoration: none;
        position: relative;
        top: 1px;
        right: 0;
      }
    }
  }

  .author-meta {

    & > div {
      margin-bottom: 3px;
    }

    span, a, div {
      color: $black2;
      font-family: $palanquin;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.35;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;

      &:hover, &:focus {
        color: $red-w;
      }
    }

    .post-date {
      color: $black4;
    }
  }

  .back-btn {
    position: relative;
    margin-bottom: 25px;

    span {
      vertical-align: baseline;
    }
  }

  #all-stories {
    @include flex();
    @include justify(center);
    @include box();
    @include flex-direction(row);
    margin: 0 0 0 auto;
    width: 88%;
    padding: 40px 12% 0 0;
    background-color: $l-profile-bg;

    #stories-container {
      @include flex-size(4);
    }

    .story {
      padding: 20px 0 60px;

      .story-image {
        width: 100%;
        height: 300px;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 25px;
      }
    }

    .post-titles {
      h1 {
        a {
          font-size: 40px;
        }
      }
    }
  }

  .profile-section.story {
    padding-top: 50px;
  }

  /* story article styles */

  #article {
    h1 {
      color: $black3;
      font-family: $pathway;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-size: 64px;
      line-height: 1;
    }

    .desc {
      font-weight: 300;
      letter-spacing: 0.03em;
      line-height: 1.5;
      font-size: 17px;
      margin-top: 10px;
    }

    .author-meta {
      @include align-self(flex-end);
    }
  }

  .article-more-options {
    background-color: $l-profile-bg;
    padding: 50px 0;

    .author-meta {
      @include flex();
      @include flex-direction(row);
      @include justify(flex-start);
      @include align-items(center);
      background-color: $d-profile-bg;
      width: 76%;
      margin: 0 auto;
      padding: 5px;
    }

    .author-avatar {
      max-width: 100px;
      min-width: 100px;
      width: 100px;
      img {
        width: 100px;
      }
    }

    .author-text {
      padding-left: 10px;

      .info {
        text-transform: none;
        line-height: 1.5;
        margin: 7px 0;
        max-height: 57px;
        text-overflow: ellipsis;
        overflow: scroll;
      }

      .social {
        line-height: 1;

        a {
          font-family: $palanquin;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 1;
          letter-spacing: 0.06em;
          color: $red-w;
        }
      }
    }
  }

}

@import "elements/story_m";
