body.story {

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    #featured-story {
      @include box();
      padding: 13px;
      top: 0;

      & > a {
        // position: relative;
        // width: 100%;
        // top: 0;
        // height: 100vh;
        overflow: hidden;
      }
    }

    #feature-image, #article-image {
      background-attachment: scroll;
      background-position: 50% 100%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    #feature-image {
      position: relative;
      top: $nav-height;

      &::after {
        background: -webkit-linear-gradient(top, rgba(20,27,46,0.5) 0%, rgba(20,27,46,0.25) 21%, rgba(20,27,46,0) 60%);
      }
    }

    #article-image::after {
      background: -webkit-linear-gradient(top, rgba(20,27,46,0.5) 0%, rgba(20,27,46,0.25) 11%, rgba(20,27,46,0) 21%, rgba(20,27,46,0.25) 68%, rgba(20,27,46,0.6) 100%);
    }

    #article-text, #feature-text {
      margin: 0;
      width: 100%;
      border: 0;
      @include box(content-box);
    }

    #feature-text {
      padding: 13px 0;

      .post-feat-label {
        position: absolute;
        top: $nav-height + 26;
        left: 7.5px;
        padding: 0;
        margin: 0;
        background-color: #fff;
        @include shadow(-1px 0 10px rgba(0,0,0,0.13));

        p {
          border-color: #fff;
          color: $black2;
          font-weight: 400;
        }
      }
    }

    #article-text {
      padding: 13px 0 20px;
      background-color: transparent;
      background-color: rgba(255,255,255,0);

      .post-titles {
        padding: 0 30px;

        h1 {
          color: #fff;
          @include text-shadow(2px 1px 25px $black2);
        }

        p, .author-meta * {
          opacity: 1;
          color: #fff;
          @include text-shadow(2px 0px 6px $black2);
        }
      }
    }

    .back-btn {
      position: absolute;
      top: $nav-height + 26;
      left: 26px;
    }

    .back-btn {
      .pri-link {
        color: #fff;
        @include text-shadow(2px 0px 6px $black2);
      }
    }

    .post-titles {
      padding: 0 15px;
      @include box();
    }

    #all-stories {
      width: 100%;
      margin: 0;
      padding: 13px 0;

      .post-feat-label {
        display: none;
      }

      .post-titles {
        h1 {
          a {
            font-size: 32px;
          }
        }
      }

      .story {
        padding: 13px;

        .story-image {
          height: 220px;
          margin-bottom: 15px;
        }
      }
    }

    section {
      padding: 30px;

      .topic {
        padding-bottom: 0;
      }
    }
  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

  }

}
