@import url("https://fonts.googleapis.com/css?family=Lato:300|Palanquin:300,400,600,700|Pathway+Gothic+One");
html {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

body {
  font-family: "Palanquin", sans-serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.pt-dialog {
  background-color: #F6F6F6;
  border-radius: 0;
  max-width: 584px;
  min-height: 100px;
  width: 100%;
  & .pt-dialog-header {
    background: none;
    box-shadow: none;
    & img {
      margin-right: 5px;
    }
    & h5 {
      color: #434958;
      font-family: "Palanquin", sans-serif;
      font-size: 13px;
      font-weight: 700;
      opacity: 0.4;
      text-transform: uppercase;
    }
    & .pt-dialog-close-button {
      outline: 0;
    }
  }
  & .pt-dialog-body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.pt-overlay-backdrop {
  background-color: rgba(233, 233, 233, 0.4);
}
