.d3plus-Axis-title {
  & text {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.d3plus-tooltip {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  z-index: 30;
  & .d3plus-tooltip-title {
    min-width: 224px;
    & .icon {
      position: fixed;
      top: -21px;
      right: 91px;
      left: 91px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      padding-top: 5px;
      & img {
        height: 30px;
      }
    }
    & .title {
      padding-top: 15px;
    }
    & .title-without-icon {
      padding-top: 0px;
    }
    & .subtitle {
      padding-top: 4px;
      color: var(--tooltip-subtitle);
      font-size: 8px;
      font-weight: 500px;
      text-transform: uppercase;
    }
  }
  & .d3plus-tooltip-table {
    & .d3plus-tooltip-tbody {
      & tr td:last-child {
        text-align: right !important;
      }
    }
  }
}
