#CanonProfile {
  & .subnav {
    display: flex;
    justify-content: space-around;
    padding-top: var(--nav-height);
    & .SectionIcon {
      color: white;
      flex: 1;
      font-family: "Palanquin", sans-serif;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.1em;
      margin: 0 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      transition: text-shadow 0.35s;
      width: 100px;
      & img {
        display: block;
        height: 23px;
        margin: -3px auto 2px;
        width: 23px;
      }
      &:hover {
        text-decoration: none;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
      }
      &:before {
        background: transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        left: 10%;
        transition: background 0.25s;
        width: 80%;
      }
      &.active {
        font-weight: 700;
        &:before {
          background: var(--red);
        }
      }
    }
  }
  & .keep-exploring {
    & h2 {
      color: rgba(255, 255, 255, 0.9);
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 38px;
      font-weight: 400;
      letter-spacing: 0.1em;
      margin: 30px 0 15px;
      text-align: center;
      text-transform: uppercase;
    }
    & .tiles {
      display: flex;
      flex-wrap: wrap;
      padding: 0 35px;
      width: 100%;
      & .tile {
        flex: 1;
        margin: 15px;
        min-width: 300px;
      }
    }
  }
}
