#Profile {
  & .splash {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
    & .profile-image {
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      &:after {
        content: "";
        background-image: linear-gradient(rgba(20, 27, 46, 0.5), rgba(20, 27, 46, 0.3) 10%, rgba(20, 27, 46, 0.5) 50%, #141b2e 100%);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }
    & .profile-title, & .profile-subtitle {
      color: white;
      font-family: "Pathway Gothic One", sans-serif;
      font-weight: 400;
      letter-spacing: 0.03em;
      text-align: center;
      text-shadow: 0 2px 6px black;
      text-transform: uppercase;
      width: 100%;
    }
    & .profile-title {
      font-size: 60px;
    }
    & .profile-subtitle {
      font-size: 18px;
    }
    & .profile-stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 25px;
      max-width: 700px;
      width: 100%;
      & .Stat {
        color: white;
        flex: 1;
        font-family: "Palanquin", sans-serif;
        margin-bottom: 25px;
        max-width: 30%;
        min-width: 30%;
        text-align: center;
        width: 30%;
        & .stat-title, & .stat-subtitle {
          font-size: 12px;
          font-weight: 600;
          line-height: 1.5;
          text-shadow: 0 2px 6px black;
          text-transform: uppercase;
        }
        & .stat-value {
          font-family: "Lato", sans-serif;
          font-size: 38px;
          font-weight: 300;
          text-shadow: 0 2px 12px black;
        }
      }
    }
    & .profile-sections {
      display: flex;
      text-align: center;
      & .SectionIcon {
        color: white;
        display: inline-block;
        font-family: "Palanquin", sans-serif;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin: 0 10px;
        text-transform: uppercase;
        transition: text-shadow 0.35s;
        width: 100px;
        & img {
          display: block;
          height: 30px;
          margin: 0 auto 5px;
          width: 30px;
        }
        &:hover {
          text-decoration: none;
          text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  & .section {
    background-color: #E9E9E9;
    padding: 60px 50px 25px;
    width: 100%;
    &:nth-child(even) {
      background-color: #F6F6F6;
    }
    & .section-title {
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 47px;
      font-weight: 300;
      letter-spacing: 0.02em;
      margin: 0 auto 15px;
      text-transform: uppercase;
      z-index: 2;
      & a {
        color: #333;
        margin-top: calc(var(--nav-height) * -1);
        outline: 0;
        padding-top: var(--nav-height);
        position: relative;
      }
    }
    & .section-row {
      display: flex;
      & .section-description {
        color: rgba(51, 51, 51, 0.93);
        columns: 320px auto;
        column-gap: 20px;
        flex: 2;
        font-family: "Palanquin", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.7;
        margin: 3px auto 12px;
        max-width: 1200px;
        opacity: 0.9;
        & a {
          color: #32415A;
          text-decoration: underline;
        }
        & p {
          padding-bottom: 30px;
        }
      }
      & .section-visualization {
        background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fafafa 10px, #fafafa 20px);
        flex: 1;
        height: 200px;
        margin-left: 50px;
        opacity: 0.5;
        overflow: hidden;
        position: relative;
        z-index: 2;
      }
    }
    &.about {
      background-color: #141b2e;
      & .section-title a {
        color: white;
      }
      & .section-description {
        color: white;
      }
    }
  }
  & .topic {
    color: white;
    padding: 25px 0;
    width: 100%;
    & .topic-title {
      font-family: "Pathway Gothic One", sans-serif;
      font-size: 30px;
      font-weight: 400;
      margin: 0 auto 15px;
      z-index: 2;
      & a {
        color: #333;
        margin-top: calc(var(--nav-height) * -1);
        outline: 0;
        padding-top: var(--nav-height);
        position: relative;
      }
    }
    & .topic-row {
      display: flex;
      & .topic-description {
        color: rgba(51, 51, 51, 0.93);
        flex: none;
        font-family: "Palanquin", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        margin: 3px auto 12px;
        max-width: 415px;
        opacity: 0.9;
        width: 50%;
        & a {
          color: #32415A;
          text-decoration: underline;
        }
        & p {
          padding-bottom: 30px;
        }
      }
      & .topic-visualization {
        background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #fafafa 10px, #fafafa 20px);
        flex: 1;
        margin-left: 50px;
        min-height: 400px;
        opacity: 0.5;
        overflow: hidden;
        position: relative;
        z-index: 2;
      }
    }
  }
}
