#Cart {
  background-color: var(--white);
  display: flex;
  height: calc(100vh - 30px);
  padding-top: var(--nav-height);
  & .controls {
    border-right: 1px solid #ccc;
    max-width: 260px;
    min-width: 260px;
    padding: 12px;
    width: 260px;
    & .title {
      color: var(--dark);
      font-family: "Palanquin", sans-serif;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }
    & .sub {
      color: #949494;
      font-family: "Palanquin", sans-serif;
      font-size: 11px;
      font-weight: 400;
      margin-bottom: 7px;
      margin-top: 5px;
    }
    & .dataset {
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      width: 100%;
      & .title {
        color: #949494;
        flex: 1;
        font-family: "Palanquin", sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0;
        padding-right: 20px;
        text-transform: none;
      }
      & .remove {
        display: block;
        height: 10px;
        margin-top: 4px;
        opacity: 0.75;
        transition: opacity 0.1s;
        width: 10px;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
    & .pt-button {
      background: none;
      border: 1px solid var(--red);
      border-radius: 0;
      box-shadow: none;
      color: var(--red);
      font-size: 13px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      transition: background 0.1s, color 0.1s;
      &:before {
        color: var(--red);
        font-size: 13px;
        transition: color 0.1s;
      }
      &:hover {
        background: var(--red);
        color: white;
        &:before {
          color: white;
        }
      }
    }
  }
}
