#Coronavirus {
  & .splash-coronavirus {
    padding: calc(var(--nav-height) * 2) 0 var(--nav-height);
    & .profile-title {
      margin-bottom: 0;
      padding: 0 50px;
    }
    & .profile-subtitle {
      color: var(--red);
      font-size: 24px;
      padding: 0 75px;
    }
    & .profile-stats {
      margin: 25px auto 0;
    }
    & .splash-columns {
      color: var(--white);
      columns: 320px auto;
      column-gap: 20px;
      padding: 25px;
      max-width: 800px;
      & p:not(:first-child) {
        margin-top: 20px;
      }
      & a {
        color: var(--lightgray);
        text-decoration: underline;
      }
    }
    & .sponsors {
      justify-content: center;
      margin: -15px auto;
      position: relative;
      width: 100%;
      & img {
        height: 90px;
        @media (max-width: 768px) {
          height: 70px;
        }
        @media (max-width: 380px) {
          height: 50px;
        }
      }
    }
    & .profile-sections {
      & .SectionIcon {
        @media (max-width: 380px) {
          margin: 0;
        }
      }
    }
  }
  & .coronavirus-section {
    @media (max-width: 1280px) {
      padding: 25px 0;
      & .section-title, & .section-body, & .topic-content {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  & .section-title {
    text-align: center;
  }
  & .section-content {
    justify-content: center;
    flex-wrap: wrap;
    & .anchor {
      color: #32415A;
      margin: 10px 20px 20px;
      padding: 0;
      text-decoration: underline;
    }
    & .section-description {
      max-width: 800px;
      &.single {
        max-width: 400px;
      }
    }
    & .section-sublinks {
      margin: 10px auto 20px;
    }
  }

  & .topic-content {
    & .topic-title {
      margin-bottom: 20px;
    }
    & .StatGroup {
      margin-top: 0;
    }
    & .pt-label {
      align-items: center;
      color: var(--black);
      display: flex;
      font-size: 13px;
      font-weight: bold;
      margin-top: 10px;
      text-transform: uppercase;
      & .pt-select {
        flex: 1 1 auto;
      }
    }
    & .pt-button {
      background: none;
      border: 1px solid var(--red);
      border-radius: 0;
      box-shadow: none;
      color: var(--red);
      font-size: 13px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      transition: background 0.1s, color 0.1s;
      &:before {
        color: var(--red);
        font-size: 13px;
        transition: color 0.1s;
      }
      &:hover {
        background: var(--red);
        color: white;
        &:before {
          color: white;
        }
      }
    }
    & .cutoff-slider {
      margin-top: 10px;
      & .pt-slider-progress {
        background: var(--red);
      }
      & .pt-slider-axis {
        & .pt-slider-label {
          color: var(--black);
        }
      }
      & .pt-slider-handle {
        & .pt-slider-label {
          padding-bottom: 5px;
        }
      }
    }
    & p {
      margin-top: 20px;
    }
  }

  & .TextViz {
    flex-flow: wrap;
    & .topic-content {
      max-width: 300px;
      @media (max-width: 1280px) {
        min-width: 100%;
      }
    }
    &.text-only {
      & .topic-content {
        max-width: 600px;
      }
    }
    & .visualization {
      margin-left: 25px;
      @media (max-width: 1280px) {
        flex: 1 1 400px;
        margin-left: 0;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    & .visualization ~ .visualization {
      align-self: center;
      height: 300px;
      margin-left: 0;
      min-height: 300px;
      max-width: 375px;
      @media (max-width: 768px) {
        flex: 1 1 300px;
        max-width: 100%;
      }
    }
  }

  & .Column {
    min-width: 45%;
    text-align: center;
    @media (max-width: 768px) {
      min-width: 90%;
    }
    & .visualization {
      height: 300px;
    }
  }

  & .visualization {
    & .pt-non-ideal-state {
      max-width: none;
    }
  }
}
