#Coronavirus {
  & .splash-coronavirus {
    padding: calc(var(--nav-height) * 2) 0 var(--nav-height);
    & .profile-title {
      margin-bottom: 0;
      padding: 0 50px;
    }
    & .profile-subtitle {
      color: var(--red);
      font-size: 24px;
      padding: 0 75px;
    }
    & .profile-stats {
      margin: 25px auto 0;
    }
    & .splash-columns {
      color: var(--white);
      columns: 320px auto;
      column-gap: 20px;
      padding: 25px;
      max-width: 800px;
      & p:not(:first-child) {
        margin-top: 20px;
      }
      & a {
        color: var(--lightgray);
        text-decoration: underline;
      }
    }
    & .sponsors {
      justify-content: center;
      margin: -15px auto;
      position: relative;
      width: 100%;
      & img {
        height: 90px;
        @media (max-width: 768px) {
          height: 70px;
        }
        @media (max-width: 380px) {
          height: 50px;
        }
      }
    }
    & .profile-sections {
      & .SectionIcon {
        @media (max-width: 380px) {
          margin: 0;
        }
      }
    }
  }
  & .coronavirus-section {
    @media (max-width: 768px) {
      padding: 25px 0;
      & .section-title, & .section-body, & .topic-content {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  & .section-title {
    text-align: center;
  }
  & .section-content {
    justify-content: center;
    flex-wrap: wrap;
    & .anchor {
      color: #32415A;
      margin: 10px 20px 20px;
      padding: 0;
      text-decoration: underline;
    }
    & .section-description {
      max-width: 800px;
      &.single {
        max-width: 400px;
      }
    }
    & .section-sublinks {
      margin: 10px auto 20px;
    }
  }


  & .grid-map-cell {
    color: var(--black);
    flex: 1 1 100%;
    height: auto;
    margin: 5px 0;
    overflow: visible;
    padding: 0 5px;
    position: relative;
    & .grid-map-cell-empty {
      border: 2px solid transparent;
      padding: 5px;
    }
    & .grid-map-content {
      background: var(--white);
      border: 1px solid transparent;
      border-radius: 4px;
      overflow: hidden;
      padding: 5px;
      & .grid-map-title {
        color: var(--black);
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 12px;
        text-align: center;
        width: 100%;
      }
      & .grid-map-subtitle {
        color: var(--gray);
        font-family: "Pathway Gothic One", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 100%;
      }
      & svg {
        width: 100%;
        & path {
          vector-effect: non-scaling-stroke;
        }
      }
    }
    & .grid-map-cell-container {
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      overflow: visible;
      position: relative;
      &.selected {
        box-shadow: none;
        & .grid-map-content {
          background-color: var(--red);
          border-color: #E9E9E9;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
          & .grid-map-title, & .grid-map-subtitle {
            color: var(--white);
          }
        }
      }
    }
    & .grid-map-info {
      background: var(--dark);
      bottom: 0;
      border-radius: 4px;
      font-size: 12px;
      left: 0;
      overflow: hidden;
      padding-bottom: 5px;
      padding-left: 100%;
      padding-top: 5px;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      & .grid-map-info-title {
        color: var(--white);
        font-weight: bold;
        margin: 5px 0;
      }
      & table {
        border-collapse: collapse;
        box-sizing: border-box;
        color: var(--lightgray);
        margin: 0 5px;
        text-align: left;
        width: calc(100% - 10px);
        & tr {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          font-family: "Palanquin", sans-serif;
          font-size: 11px;
          line-height: 14px;
          &:last-child {
            border-bottom: none;
          }
          & td {
            padding: 4px 5px 5px;
            text-align: left;
            &:last-child {
              text-align: right;
            }
            &:only-child {
              font-weight: bold;
              padding-top: 6px;
              text-align: left;
            }
          }
        }
      }
    }
    & .grid-map-cell-container:hover {
      cursor: pointer;
      z-index: 1;
      & .grid-map-info {
        box-shadow: none;
        width: 300%;
      }
      & .grid-map-content {
        border-color: var(--dark);
        border-radius: 4px 0 0 4px;
      }
    }
    &:nth-last-of-type(-n+2) .grid-map-cell-container:hover {
      & .grid-map-info {
        left: -200%;
        padding-left: 0;
        padding-right: 100%;
      }
      & .grid-map-content {
        border-color: var(--dark);
        border-radius: 0 4px 4px 0;
      }
    }
  }

  & .grid-map {
    display: block;
    margin: 0 auto 50px;
    max-width: 1200px;
    width: 100%;
    & .grid-map-row {
      align-items: center;
      display: flex;
    }
    @media (max-width: 1024px) {
      & .grid-map-subtitle {
        display: none;
      }
    }
  }

  & .grid-map-table {
    display: none;
    & .grid-map-cell {
      display: inline-block;
      max-width: 100px;
    }
  }

  @media (max-width: 768px) {
    & .grid-map {
      display: none;
    }
    & .grid-map-table {
      display: block;
    }
  }

  & .topic-content {
    & .topic-title {
      margin-bottom: 20px;
    }
    & .StatGroup {
      margin-top: 0;
    }
    & .pt-label {
      align-items: center;
      color: var(--black);
      display: flex;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
      text-transform: uppercase;
      & .pt-select {
        flex: 1 1 auto;
      }
    }
    & .pt-checkbox {
      color: var(--red);
      cursor: pointer;
      display: block;
      font-family: "Palanquin", sans-serif;
      font-size: 12px;
      font-weight: 600;
      margin: 10px 5px 0 80px;
      letter-spacing: 0.55px;
    }
    & .pt-button {
      background: none;
      border: 1px solid var(--red);
      border-radius: 0;
      box-shadow: none;
      color: var(--red);
      display: block;
      font-size: 13px;
      font-weight: 600;
      margin-top: 0;
      text-align: center;
      transition: background 0.1s, color 0.1s;
      &:before {
        color: var(--red);
        font-size: 13px;
        transition: color 0.1s;
      }
      &:hover {
        background: var(--red);
        color: white;
        &:before {
          color: white;
        }
      }
    }
    & .pt-button-group {
      flex: 1 1 auto;
      & .pt-button {
        border-color: #bbb;
        color: #949494;
        font-weight: 400;
        &.pt-active {
          background: white;
          cursor: default;
        }
        &:hover {
          background: white;
        }
        &:first-child {
          margin-left: 5px;
        }
      }
    }
    & .cutoff-slider {
      margin: 10px 10px 0;
      & .pt-slider-progress {
        background: var(--red);
      }
      & .pt-slider-axis {
        & .pt-slider-label {
          color: var(--black);
        }
      }
      & .pt-slider-handle {
        & .pt-slider-label {
          padding-bottom: 5px;
        }
      }
    }
    & .topic-stats {
      margin-top: 10px;
      & .StatGroup {
        margin-bottom: 0;
      }
    }
    & p {
      margin-top: 10px;
    }
  }

  & .TextViz {
    flex-flow: wrap;
    & .topic-content {
      max-width: 300px;
      @media (max-width: 768px) {
        margin-bottom: 25px;
        min-width: 100%;
        & > * {
          margin-left: auto;
          margin-right: auto;
          max-width: 400px;
        }
      }
    }
    &.text-only {
      & .topic-content {
        max-width: 600px;
      }
    }
    & .visualization {
      margin-top: inherit;
      & .topic-subtitle {
        color: var(--red);
        font-family: "Palanquin", sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 0px auto 10px;
        text-align: center;
        width: 100%;
        & a {
          color: var(--red);
        }
      }
      margin-left: 10px;
      max-height: none;
      @media (max-width: 768px) {
        flex: 1 1 auto;
        width: 100%;
      }
    }
    & .visualization ~ .visualization {
      align-self: center;
      margin-left: 0;
      max-width: 600px;
      @media (max-width: 768px) {
        flex: 1 1 300px;
        margin-top: 25px;
        max-width: 100%;
      }
    }
  }

  & .Column {
    min-width: 45%;
    text-align: center;
    @media (max-width: 768px) {
      min-width: 90%;
    }
    & .visualization {
      height: 300px;
    }
  }

  & .GridMap {
    padding: 25px 0;
  }

  & .visualization {
    & .pt-non-ideal-state {
      max-width: none;
      position: static;
    }
  }
}
