#Visualize.Map {
  height: calc(100vh - 30px);
  overflow: hidden;
  & .options {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: var(--nav-height);
    z-index: 10;
  }
  & .vizbuilder {
    padding-top: var(--nav-height);
    height: calc(100vh - 30px);
    & .area-sidebar, & .area-chart {
      height: calc(100vh - var(--nav-height) - 30px);
    }
    & .area-chart {
      padding: 0;
      & .chart-card, & .wrapper {
        margin: 0;
        padding: 0;
      }
    }
    & .measure-manager {
      & .select-label.source, & .select-label.dims {
        display: none;
      }
    }
    & .grouping-manager {
      & .grouping-item {
        width: 100%;
        &:not(.editing) {
          align-items: center;
          display: flex;
        }
        & .values {
          flex: 1;
        }
        & .grouping-members {
          display: none;
        }
        & .actions {
          margin-top: 0;
          & .action-edit {
            & span {
              display: none;
            }
            &:after {
              content: "Change Level";
            }
          }
        }
      }
    }
    & .filter-manager {
      display: none;
    }
    & .d3plus-viz-title {
      display: none;
    }
  }
}
