#Visualize {
  & > span {
    background-color: var(--white);
    display: block;
    height: 30px;
    margin-top: var(--nav-height);
    text-align: right;
    & .option {
      color: #949494;
      cursor: pointer;
      display: inline-block;
      font-family: "Palanquin", sans-serif;
      font-size: 12px;
      font-weight: 700;
      margin: 5px 15px 0 0;
      outline: 0;
      &.disabled {
        opacity: 0.5;
      }
      &:before {
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 20px;
        margin-bottom: 4px;
        margin-right: 5px;
        vertical-align: middle;
        width: 20px;
      }
      &:hover {
        color: var(--red);
      }
      &.add-to-cart {
        &:before {
          background-image: url("/images/viz/add-to-cart.svg");
        }
        &:hover:before {
          background-image: url("/images/viz/add-to-cart-red.svg");
        }
      }
    }
  }
}

.vizbuilder {
  background-color: var(--white);
  min-height: calc(100vh - var(--nav-height) - 60px);
  & .area-sidebar, & .area-chart {
    height: calc(100vh - var(--nav-height) - 60px);
  }
  & .area-sidebar {
    & .label {
      color: var(--darkgray);
      font-family: "Palanquin", sans-serif;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 5px;
      text-align: left;
      text-transform: uppercase;
    }
    & .select-target-wrapper {
      border: 1px solid #bbb !important;
      & .select-option {
        padding: 4px 9px;
      }
    }
    & .select-option {
      background: white;
      color: #949494;
      font-family: "Palanquin", sans-serif;
      font-size: 13px;
      &:hover {
        background: rgb(241, 241, 241);
      }
    }
    & .grouping-items, & .filter-items {
      & .grouping-item, & .filter-item {
        background-color: white;
        border: 1px solid #bbb;
        color: var(--darkgray);
        font-family: "Palanquin", sans-serif;
        font-size: 13px;
        padding: 10px;
        & .grouping-name {

        }
        & .grouping-members {
          & > span {
            background-color: #ddd;
            border-radius: 3px;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            margin: 5px 5px 5px 0;
            padding: 0;
            width: 100%;
          }
          & .select-member {
            background-color: transparent;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            & .pt-tag-input {
              border: 0;
              border-radius: 0;
              & .pt-input-ghost {
                font-size: 13px;
                margin-bottom: 3px;
                padding: 0 8px;
              }
            }
          }
        }
        & .filter-name, & .filter-operator, & .filter-value {
          display: inline-block;
          font-size: 13px;
          margin-right: 0;
          text-transform: none;
          &:not(:first-child) {
            margin-left: 3px;
          }
        }
        & .filter-operator {
          text-transform: lowercase;
        }
        & .pt-numeric-input {
          & input, & .pt-button-group {
            border-radius: 0;
            height: 35px;
          }
          & .pt-button-group {
            height: 35px;
            & button {
              border-radius: 0;
              flex: 1;
            }
          }
        }
        & .actions {
          margin-top: 5px;
          & button {
            background: none;
            border: 1px solid var(--red);
            border-radius: 0;
            box-shadow: none;
            color: var(--red);
            font-size: 13px;
            font-weight: 600;
            margin-left: 5px;
            &.pt-intent-primary {
              background: var(--red);
              color: white;
            }
          }
        }
      }
    }
    & .pt-button.pt-icon-insert {
      background: none;
      border: 1px solid var(--red);
      border-radius: 0;
      box-shadow: none;
      color: var(--red);
      font-size: 13px;
      font-weight: 600;
      transition: background 0.1s, color 0.1s;
      &.pt-disabled {
        display: none;
      }
      &:before {
        color: var(--red);
        font-size: 13px;
        transition: color 0.1s;
      }
      &:hover {
        background: var(--red);
        color: white;
        &:before {
          color: white;
        }
      }
    }
    & .mlsel-select-list {
      & .level-1 {
        list-style: none;
        padding-left: 0;
        & .select-label {
          display: inline-block;
        }
      }
    }
    & .ranking {
      & ol {
        font-family: "Palanquin", sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
        padding-left: 30px;
        width: 100%;
        & .ranking-item {
          padding: 2px 5px;
          & .item-label {

          }
          & .item-value {
            font-weight: 500;
          }
        }
      }
    }
  }
  & .area-chart {
    & .wrapper {
      padding: 0;
    }
  }
}

.pt-dialog.visualize-intro {
  & .pt-dialog-body {
    display: block;
    & .icons {
      display: flex;
      justify-content: space-around;
      & .pt-icon-standard {
        color: var(--red);
        font-size: 50px;
        margin-bottom: 15px;
        opacity: 0.9;
      }
    }
  }
  & .pt-dialog-footer {
    & .pt-button {
      background-color: var(--red);
      border-radius: 0;
      box-shadow: none;
      color: white;
      font-size: 15px;
      font-weight: 600;
      transition: background 0.1s;
      &:hover {
        background: var(--red);
      }
    }
  }
}
