.vizbuilder {
  background-color: var(--white);
  min-height: calc(100vh - var(--nav-height) - 30px);
  padding-top: var(--nav-height);
  & .area-sidebar, & .area-chart {
    height: calc(100vh - var(--nav-height) - 30px);
  }
  & .area-sidebar {
    & .label {
      color: var(--darkgray);
      font-family: "Palanquin", sans-serif;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 5px;
      text-align: left;
      text-transform: uppercase;
    }
    & .grouping-items, & .filter-items {
      & .grouping-item, & .filter-item {
        background-color: white;
        border: 1px solid #bbb;
        color: var(--darkgray);
        font-family: "Palanquin", sans-serif;
        font-size: 13px;
        padding: 10px;
        & .grouping-name {

        }
        & .grouping-members {
          & > span {
            background-color: #ddd;
            border-radius: 3px;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            margin: 5px 5px 5px 0;
            padding: 3px 6px 4px;
          }
          & .select-member {
            background-color: transparent;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            & .pt-tag-input {
              border: 0;
              border-radius: 0;
              & .pt-input-ghost {
                font-size: 13px;
                margin-bottom: 3px;
                padding: 0 8px;
              }
            }
          }
        }
        & .filter-name, & .filter-operator, & .filter-value {
          display: inline-block;
          font-size: 13px;
          margin-right: 0;
          text-transform: none;
          &:not(:first-child) {
            margin-left: 3px;
          }
        }
        & .filter-operator {
          text-transform: lowercase;
        }
        & .pt-numeric-input {
          & input, & .pt-button-group {
            border-radius: 0;
            height: 35px;
          }
          & .pt-button-group {
            height: 35px;
            & button {
              border-radius: 0;
              flex: 1;
            }
          }
        }
        & .actions {
          margin-top: 5px;
          & button {
            background: none;
            border: 1px solid var(--red);
            border-radius: 0;
            box-shadow: none;
            color: var(--red);
            font-size: 13px;
            font-weight: 600;
            margin-left: 5px;
            &.pt-intent-primary {
              background: var(--red);
              color: white;
            }
          }
        }
      }
    }
    & .pt-button.pt-icon-insert {
      background: none;
      border: 1px solid var(--red);
      border-radius: 0;
      box-shadow: none;
      color: var(--red);
      font-size: 13px;
      font-weight: 600;
      transition: background 0.1s, color 0.1s;
      &.pt-disabled {
        display: none;
      }
      &:before {
        color: var(--red);
        font-size: 13px;
        transition: color 0.1s;
      }
      &:hover {
        background: var(--red);
        color: white;
        &:before {
          color: white;
        }
      }
    }
    & .mlsel-select-list {
      & .level-1 {
        list-style: none;
        padding-left: 0;
        & .select-label {
          display: inline-block;
        }
      }
    }
  }
}

.pt-dialog.visualize-intro {
  & .pt-dialog-body {
    display: block;
    & .icons {
      display: flex;
      justify-content: space-around;
      & .pt-icon-standard {
        color: var(--red);
        font-size: 50px;
        margin-bottom: 15px;
        opacity: 0.9;
      }
    }
  }
  & .pt-dialog-footer {
    & .pt-button {
      background-color: var(--red);
      border-radius: 0;
      box-shadow: none;
      color: white;
      font-size: 15px;
      font-weight: 600;
      transition: background 0.1s;
      &:hover {
        background: var(--red);
      }
    }
  }
}
