.StoryTile {
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 25px;
  max-width: 400px;
  padding: 25px;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
  &.featured {
    max-width: 850px;
  }
  @media (max-width: 900px) {
    max-width: 600px;
    &.featured {
      max-width: 600px;
    }
  }
  & .image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    & .tag {
      background-color: white;
      color: var(--gray);
      display: inline-block;
      font-family: "Palanquin", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.35;
      letter-spacing: 0.05em;
      margin-top: 10px;
      padding: 10px;
      text-transform: uppercase;
    }
  }
  & .title {
    color: var(--darkgray);
    flex: 1 1 auto;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 15px 0;
    text-transform: uppercase;
  }
  & .footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    & .meta {
      flex: 1 1 auto;
      font-family: "Palanquin", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.35;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      & .author {
        color: var(--dark);
        margin-right: 25px;
      }
      & .date {
        color: var(--gray);
      }
    }
    & .action {
      color: var(--red);
      flex: 0 0 auto;
      font-family: "Palanquin", sans-serif;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      &:after {
        content: "\203A";
        font-size: 19px;
        margin-left: 3px;
        text-decoration: none;
        position: relative;
        top: 1px;
        right: 0;
      }
    }
  }
}
