{% extends "templates/base.html" %}

{% block content %}
<div id="controls"></div>
<div id="viz"></div>

<script>

  function parse(data, set) {
    var pcts = {};
    data.forEach(function(d){
      names[d.id] = d.name;
      set[d.id] = [];
      var sum = 0, value;
      for (var key in d) {
        if (["id", "name"].indexOf(key) < 0) {
          var v = parseFloat(d[key]);
          if (isNaN(v)) v = 0;
          else v = v * 1000000;
          sum += v;
          if (key === d.id) value = v;
          set[d.id].push({
            "id": key,
            "value": v
          })
        }
      }
      var pct = !sum ? 0 : (value/sum) * 100;
      pcts[d.name] = pct;
    })
    var cutoff = 40;
    var total = data.length;
    var over = d3.values(pcts).filter(function(d){ return d >= cutoff; }).length;
    console.log("Number over "+cutoff+"%:", over + "/" + total, Math.round(over/total * 100) + "%")
    console.log("Mean: ", Math.round(d3.mean(d3.values(pcts))));
    console.log("Median: ", Math.round(d3.median(d3.values(pcts))));
  }

  var margin = 50,
      include_self = 1,
      width = window.innerWidth - margin * 2,
      height = window.innerHeight - margin * 3,
      svg = d3.select("#viz").append("svg")
        .attr("width", width + margin * 2)
        .attr("height", height + margin * 2)
        .append("g")
          .attr("transform", "translate(" + margin + "," + margin + ")"),
      makes = {},
      uses = {},
      names = {};

  d3.csv("/static/data/io-make.csv", function(error, make){

    console.log("Makes");
    parse(make, makes);

    d3.csv("/static/data/io-use.csv", function(error, use){

      console.log("Uses");
      parse(use, uses);

      var form_data = [];
      for (var id in names) {
        form_data.push({
          "id": id,
          "text": names[id]
        })
      }

      d3plus.form()
        .container("#controls")
        .id("id")
        .text("text")
        .data(form_data)
        .focus(focus, setFocus)
        .title("Industry")
        .draw();

      d3plus.form()
        .container("#controls")
        .id("id")
        .text("text")
        .data([
          {"id": 0, "text": "No"},
          {"id": 1, "text": "Yes"}
        ])
        .focus(include_self, function(f){
          include_self = f;
          setFocus(focus);
        })
        .title("Include Self")
        .draw();

      setFocus(focus);

    });

  });

</script>

{% endblock %}
