{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="DataUSA" /></a> Geomap</span>
</div>
{% endblock %}

{% block body %}

<div id="map-controls">
  <div id="map-filters">
    <select id="map-datasets">
      {% for db in datasets %}
      <option value="{{ db }}"{% if db == defaultDataset %} selected{% endif %}>{{ db|format }}</option>
      {% endfor %}
    </select>
    <select id="map-keys">
      {% for key in keys %}
      <option value="{{ key }}"{% if key.split(",")[0] == defaultKey %} selected{% endif %}>{{ key.split(",")[0]|format }}</option>
      {% endfor %}
    </select>
    <select id="map-sumlevels">
      {% for level in sumlevels %}
      <option value="{{ level }}"{% if level == defaultLevel %} selected{% endif %}>{{ level|format }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div id="map-fullscreen"></div>
<div id="map-loading">
  <div id="map-loading-text"><i class="fa fa-circle-o-notch fa-spin"></i>Please Wait</div>
</div>

{% endblock %}

{% block js %}
<script>

  var dataset = "{{ defaultDataset }}";

  var formConfig = {
    "font": vizStyles.ui_map.font,
    "ui": {
      "display": "block",
      "padding": "3 7"
    },
    "width": 230
  };

  var mapdata = JSON.parse("{{ mapdata|safe }}".replace(/'/g, '"'));

  var levels = d3plus.form()
    .data("#map-sumlevels")
    // .type("drop")
    .focus("{{ defaultLevel }}", function(d, viz){
      if (!viz.draw(Object).first) {
        d3plus.tooltip.remove("geo_map_sidebar");
        map.highlight(false);
        makeURL();
      }
    })
    .id("value")
    .config(formConfig)
    .ui(vizStyles.ui_map)
    .draw();

  var levelData = levels.data();

  var keys = d3plus.form()
    .data("#map-keys")
    .type("drop")
    .focus("{{ defaultKey }}", function(d, viz){
      var newLevelData = levelData.filter(function(dd) { return mapdata[dataset][d].indexOf(dd.value) >= 0; });
      if (mapdata[dataset][d].indexOf(levels.focus()) < 0) {
        levels.focus(mapdata[dataset][d][mapdata[d].length - 1]);
      }
      levels.data(newLevelData).draw();
      if (!viz.draw(Object).first) {
        makeURL();
      }
    })
    .id("value")
    .config(formConfig)
    .ui(vizStyles.ui_map)
    .draw();

  var keyData = keys.data();

  var datasets = d3plus.form()
    .data("#map-datasets")
    .type("drop")
    .focus(dataset, function(d, viz){
      dataset = d;
      var newKeyData = keyData.filter(function(dd) { return mapdata[d][dd.value]; });
      if (!mapdata[d][keys.focus()]) {
        keys.focus(d3.keys(mapdata[d])[0]);
      }
      keys.data(newKeyData).draw();
      if (!viz.draw(Object).first) {
        makeURL();
      }
    })
    .id("value")
    .config(formConfig)
    .ui(vizStyles.ui_map)
    .draw();

  var navheight = d3.select("#top-nav").node().offsetHeight;
  d3.select("#map-fullscreen")
    .style("height", window.innerHeight - navheight + "px")
    .style("width", window.innerWidth - 250 + "px");

  var map = viz.map()
    .container(d3.select("#map-fullscreen"))
    .id("geo")
    .messages({"background": "#cdd1d3"})
    .zoom({"scroll": true})
    .width(window.innerWidth - 250)
    .draw();

  function makeURL() {
    d3.select("#map-loading").classed("hidden", false);
    var level = levels.focus(), key = keys.focus();
    var county = levels.data().reduce(function(b, d){
      if (d.value === "county") b = true;
      return b;
    }, false);
    var url = "/api?show=geo&year=latest&sumlevel=" + level + "&required=" + key;
    var topo = level === "county" ? "counties" : level + "s";

    if (history.pushState) {
      var newurl = "/map/?level=" + level + "&key=" + key;
      window.history.pushState({"path": newurl}, '', newurl);
    }

    map.color(key.split(",")[0])
      .coords({"key": topo})
      .tooltip(key.split(","));

    load("/static/topojson/" + topo + ".json", function(coords){
      load(api + url, function(data){
        d3.select("#map-loading").classed("hidden", true);
        var tooltip_url = false;
        if (county && (level == "state" || level == "msa")) {
          tooltip_url = api + url.replace("sumlevel=" + level, "sumlevel=county");
          tooltip_url += "&sort=desc&order=" + key.split(",")[0];
        }
        else {
          map.highlight(false);
        }
        map.coords(coords).data(data).tooltip({"url": tooltip_url}).draw();
      });
    });
  }

  load(api + "/attrs/geo/", function(attrs) {
    map.attrs(attrs.reduce(function(obj, d) { obj[d.id] = d; return obj; }, {}));
    d3.select("#map-controls").style("visibility", "visible");
    makeURL();
  });

</script>
{% endblock %}
