{% extends "templates/nav.html" %}

{% block body %}

<div id="map-fullscreen"></div>
<div id="map-teaser">
  <div id="coming-soon">Coming Soon</div>
</div>

{% endblock %}

{% block js %}
<script>

  var navheight = d3.select("#top-nav").node().offsetHeight;
  d3.selectAll("#map-fullscreen, #map-teaser")
    .style("height", window.innerHeight - navheight + "px");

  var map = viz.map()
    .container(d3.select("#map-fullscreen"))
    .color("pop")
    .id("geo")
    .coords({"key": "msas", "mute": ["31000US11260", "31000US21820", "31000US27940", "31000US28540", "31000US25900", "31000US27980", "31000US46520", "31000US28180", "31000US41980", "31000US25020", "31000US17640", "31000US17620", "31000US42180", "31000US38660", "31000US41980", "31000US41900", "31000US32420", "31000US41980", "31000US10260", "31000US27580", "31000US10380", "31000US11640"]});

  load("/static/topojson/msas.json", function(coords){
    load(api + "/api/?sumlevel=msa&year=latest&required=pop&show=geo", function(data){
      map.coords(coords).data(data).draw();
    });
  });

</script>
{% endblock %}
