/* page-specific nav */

body {
  &.home {

    #menu .desc {
      display: block;
    }

    .menu-content h2 {
      color: #fff;

      &:before {
        // background: #fff;
      }
    } 

    .home-sum {
      display: none;
    }

    #search-btn, #home-btn {
      display: none;
    }
  }

  &.search {
    #search-btn {
      visibility: hidden;
    }
  }
}

/* side nav */

#menu {
  left: -$nav-width;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: $nav-width;
  overflow: hidden;
  background-color: #111;
  @include flex();
  @include flex-direction(column);
  z-index: 7;

  &.open {
    left: 0;
  }

  .desc {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    display: block;
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}

.menu-content {
  margin: 0 50px;

  li {
    margin: 0 -20px;
    text-align: left;

    a:hover {
      & > h2:after {
        content: unicode("00bb");
        top: -2px;
        position: relative;
        font-family: $playfair;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1;
        margin-left: 5px;
      }
    }
  }

  .profile-sum {
    img {
      width: 20px;
      height: 20px;
      padding: 22.5px;
    }
  }

  .stories-sum {
    img {
      width: 22px;
      height: 22px;
      padding: 21.5px 23px;
    }
  }

  a {
    display: inline-block;

    &:hover {

      h2:before {
        width: 50%;
      }
    }

    img {
      width: 25px;
      height: 25px;
      padding: 20px;
      margin-right: -15px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  h2 {
    padding: 20px;
    margin-left: -15px;
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &:before {
      // content: "";
      // width: 0;
      // display: inline-block;
      // position: absolute;
      // z-index: 10;
      // bottom: 11px;
      // left: 50%;
      // height: 2px;
      // @include transform(translateX(-50%));
      // @include transition(all .25s ease);
      // background: #333;
      // @include box();
    }
  }
}

.profiles-drawer {
  margin-top: -10px;
  
  li {
    margin-left: 55px;
  }

  h2 {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
  }

  .disabled {
    pointer-events: none;
    cursor: default;

    h2 {
      color: #ccc;
      opacity: 0.8;
    }
  }
}

.desc {
  padding: 10px 20px;
}

/* top nav */

#top-nav {
  @include flex();
  @include align-items(center);
  @include justify(space-between);
  height: $nav-height;
  overflow: hidden;
}

.btn-container {
  width: 50px;
}

#menu-btn {
  z-index: 20;
  position: fixed;
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  margin: 0;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .in {
    position: relative;
    height: 40px;
    width: 40px;
   }

  .bd {
    padding: 13px;
    width: 15px;

    div {
      position: relative;
      overflow: hidden;
     }

    div, span {
      display: block;
      height: 2px;
      width: 15px;
      transition: all 0.75s;
    }

    span {
     position: absolute;
     top: 0;
     left: -100%;
     background: #fff;
    }
  }

  .b-1 {
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0.3s;

    span {
      transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
      transition-delay: 0.3s;
     }

    &.close {
      transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 0, 6);
     }
  }

   .b-2 {
    opacity: 1;
    margin: 4px 0;
    transition-delay: 0s;

    span {
      transition: all 0.15s;
      transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
     }

    &.close {
      opacity: 0;

      span {
        transform: translate(-100%, 0%);
       }
     }
   }

   .b-3 {
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0.5s;

    &.close {
      transform: matrix(-0.7071, -0.7071, 0.7071, -0.7071, 0, -6);
     }

    span {
     transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
     transition-delay: 0.5s;
    }

   }


}

#home-btn {
  position: relative;
  top: 0;
  padding: 15px;
  margin-top: 3px;
  z-index: 5;
  @include transition(top 0.55s);

  &.hidden {
    top: -$nav-height + 9;
  }
}

#search-btn {
  padding: 15px;
  opacity: 0.9;
  @include transition(opacity 1s);
  z-index: 5;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  .search-box {
    position: absolute;
    right: 0;
    margin-right: 46px;
    width: 0;
    padding: 0px;
    display: inline-block;
    // overflow: hidden;
    text-align: left;
    opacity: 0;
    @include transition(width 0.45s cubic-bezier(0.4, 0, 0.59, 1), opacity 0.53s);
    
    input {
      cursor: pointer;
    }
  }

  .search-box.open {
    width: $search-mini-width - 30;
    opacity: 1;

    input {
      cursor: text;
    }
  }
  .search-box input {
    @include box();
    width: 100%;
    border: 0;
    margin-top: -3px;
    padding: 4px 25px 4px 10px;
    outline: 0;
    background-color: rgba(255,255,255,0.9);
    font-family: $playfair;
    font-size: 14px;
    letter-spacing: 0.06em;
  }

}

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: 6;
}

/* tablet design */

@media all and (min-width: 751px) and (max-width: 925px) {
  body.home {
    #menu {
      $nav-width: 45%;
      width: $nav-width;
      left: 0;
    }

    .content {
      $nav-width: 45%;
      padding-left: $nav-width;
    }
  }
}

@media all and (min-width: 751px) {
  body.home {
    #menu-btn {
      display: none;
    }

    #menu {
      background-color: rgba(34, 34, 34, 0.75);
    }
  }
}

@media all and (min-width: 416px) and (max-width: 750px) {
  body.home {
    #menu {
      background-color: rgba(34, 34, 34, 0.9);
      $nav-width: 415px;
      left: -$nav-width;

      &.open {
        left: 0;
      }
    }

    #menu-btn {
      display: block;
    }

    .content {
      padding-left: 0;
    }
  }
}

/* small design */

@media all and (max-width: 415px) {
  #top-nav {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100vw;
  }

  #menu {
    @include justify(space-around);
    width: 100%;
    left: 0;
    top: -100vh;
    height: 100%;
    @include transition(top 0.7s ease);

    &.open {
      top: 0;
    }

    .menu-content {
      margin-top: 0;
    }

    ul {
      text-align: center;
    }
  }

  // #menu footer {
  //   display: none;
  // }

  .hidden {
    display: none;
  }

  body.home {

    #menu-btn .bd span {
      background: #fff;
    }

    nav {

      #menu {

        .profiles-drawer {
          display: none;
        }

        ul {
          padding-bottom: 20vh;

          li {
            margin: 10px 0;
            text-align: center;
          }
        }

      }
    }
  }
}

/* large design */

@media all and (min-width: 416px){

  body.home {

    #menu {
      @include justify(space-around);
    }

    .menu-content {
      margin-top: 0;
    }
  }

  #menu {
    @include justify(center);
    @include transition(left 0.7s ease);

    ul {
      border-radius: 3px;
    }
  }

  .menu-content {
    margin-top: -$footer-height;
  }

  #menu footer {
    display: block;
    background-color: rgba(255,255,255,0);
    height: $footer-height;
    width: 100%;
    overflow: hidden;

    img {
      height: $footer-height/4;
      margin: $footer-height/2.6 0 $footer-height/2.6 25px;
      opacity: 1;
      @include transition(opacity 1s);

      @media all and (min-width: 415px) {
        height: $footer-height/3;
        margin: $footer-height/3 14px;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
