{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span>
    <a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" /></a>
  </span>
</div>
{% endblock %}

{% block body %}

{% if g.video %}
<div id="video">
  <!-- Video Partial -->
  <video preload="auto" autoplay loop muted>
  	<source src="/static/video/{{ g.video }}.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.vi40.2">
  	<source src="/static/video/{{ g.video }}.mp4" type="video/webm; codecs=vp8,vorbis">
  	<source src="/static/video/{{ g.video }}.ogv" type="video/ogg">
  </video>
  <![if !IE]>
  <!-- <video id="video" class="ta-video video" preload="auto" autoplay muted>
      <source src="/static/video/{{ g.video }}.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
  </video> -->
  <![endif]>
  <div class="overlay"></div>

</div>
{% else %}
<div class="bg"></div>
{% endif %}

<div class="home-full">

  <section class="home-desc new">
    <img class="logo" src="/static/img/home/logo-shadow.png" alt="Data USA" />
  	<h2 class="tagline">The best way to <a href="/search">search</a>, <a href="/map">map</a>,<br /><a href="/cart">merge</a>, and <a href="/profile/geo/united-states">explore</a> U.S. data</h2>
  </section>
  <section class="search-home-container new">
  	<div class="search-input-btn">
  		<input type="text" data-results="search-home" data-search="home" id="home-search-input" class="search-input" />
  		<a href="/search/" id="search-switch" class="adv" onclick="advSearch.toggle();">Search</a>
  	</div>
  	<div id="search-home" class="search-body">
      <div class="no-search-results">No results found</div>
  		<div class="search-results"></div>
  	</div>
    <section class="results-show-all">
      <a href="/search/" class="pri-link">Show all results <span class="more"></span></a>
    </section>
  </section>

</div>

<div class="home-collab">
	<span class="collab-text">Created in Collaboration</span>
	<a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/footer/deloitte.png" /></a>
	<a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/footer/mit.png" /></a>
	<a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/footer/datawheel.png" /></a>
</div>

<div class="feed-flex">
{% for carousel in carousels %}
  <div id="feed" class="carousel">
    <h3 class="carousel-title">
  		{% if carousel.icon %}
  		<img class="icon" src="{{ carousel.icon }}" />
  		{% endif %}
      {{ carousel.title }}
    </h3>
  {% for box in carousel.data %}
  	<a href="{{ box.link }}" class="feed-box {{ box.type.title|lower }} {{ box.type.type|lower }}{% if box.featured %} featured{% endif %}">
  		{% if box.image %}
  		<div class="feed-box-image-holder">
  			<div class="feed-box-image" style="background-image:url('{{ box.image }}');"></div>
  		</div>
  		{% endif %}
  		{% if box.viz %}
  		<div class="feed-box-viz {{ box.viz }}" style="background-image:url('/static/img/viz_type/{{ box.viz }}.svg');"></div>
  		{% endif %}
  		<div class="feed-box-title">{{ box.title }}</div>
  		{% if box.subtitle %}
  		<div class="feed-box-header feed-box-subtitle">{{ box.subtitle }}</div>
  		{% endif %}
  		{% if box.featured and box.type.title != "Profile" %}
  		<div class="feed-box-tag">Featured</div>
  		{% endif %}
  	</a>
  {% endfor %}
  {% if carousel.footer %}
  <div class="carousel-footer">
    <a href="{{ carousel.footer.link }}">{{ carousel.footer.text }}</a>
  </div>
  {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}

{% block js %}

<script>

	var search_input = d3.select("#home-search-input");
	var results_div_id = search_input.attr("data-results");
	var results_div = d3.select("#" + results_div_id);
	search.term = "";
	search.container = d3.select("#search-" + search_input.attr("data-search"));
  // results_div.classed("open", true);
  search.data = true;
  search.reload();
  search_input.node().focus();

  var titleNavHeight = d3.select("#title-bar").node().offsetHeight;

  function navScroll(){

    var splashHeight = window.innerHeight * 0.75;

    var y = d3plus.client.scroll.y(),
        colorTitleNav = y > titleNavHeight,
        showTitleNav = y > splashHeight/2.75;

    d3.select("#top-nav").classed("filled", colorTitleNav);
    d3.select("nav").classed("filled", colorTitleNav);
    d3.select("#title-bar").classed("visible", showTitleNav);

  }

  navScroll();
  scrollFunctions.push(navScroll);

</script>

{% endblock %}
