{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span>
    <a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" /></a>
  </span>
</div>
{% endblock %}

{% block body %}

<div class="bg">
  <div class="line"></div>
</div>

<div class="home-full">

  <section class="home-desc new">
    <img class="logo" src="/static/img/home/logo-shadow.png" alt="Data USA" />
  	<h2 class="tagline"><a href="/search">Search</a>, <a href="/map">map</a>, <a href="/profile/geo/chicago-il/?compare=seattle-wa">compare</a>, and <a href="/cart">download</a> U.S. data</h2>
  </section>
  <section class="search-home-container new">
  	<div class="search-input-btn">
  		<input placeholder="ex. California, Hospitals, Graphic Design" type="text" data-results="search-home" data-search="home" id="home-search-input" class="search-input" />
  		<a href="/search/" id="search-switch" class="adv" onclick="advSearch.toggle();">Search</a>
  	</div>
  	<div id="search-home" class="search-body">
      <div class="no-search-results">No results found</div>
  		<div class="search-results"></div>
  	</div>
    <section class="results-show-all">
      <a href="/search/" class="pri-link">Show all results <span class="more"></span></a>
    </section>
  </section>

</div>

<div class="home-collab">
	<a target="_blank" href="http://www2.deloitte.com/us/en.html"><img id="deloitte" src="/static/img/home/logos/deloitte.png" /></a>
	<a target="_blank" href="http://macro.media.mit.edu/"><img id="macro" src="/static/img/home/logos/mit.png" /></a>
	<a target="_blank" href="http://www.datawheel.us/"><img id="datawheel" src="/static/img/home/logos/datawheel.png" /></a>
</div>

<div class="feed-flex">
{% for carousel in carousels %}
  <div id="feed" class="carousel">
    <h3 class="carousel-title">
  		{% if carousel.icon %}
  		<img class="icon" src="{{ carousel.icon }}" />
  		{% endif %}
      {{ carousel.title }}
    </h3>
  {% for box in carousel.data %}
  	<a href="{{ box.link }}" class="feed-box">
      <div class="feed-box-contents">
        {% if box.image %}
  			<div class="feed-box-image" style="background-image:url('{{ box.image }}');"></div>
    		{% endif %}
    		<div class="feed-box-title">{{ box.title }}</div>
    		{% if box.subtitle %}
    		<div class="feed-box-subtitle">{{ box.subtitle }}</div>
    		{% endif %}
      </div>
  		{% if box.new %}
  		<div class="feed-box-tag">New</div>
  		{% endif %}
  	</a>
  {% endfor %}
  {% if carousel.footer %}
  <div class="carousel-footer">
    <a href="{{ carousel.footer.link }}">{{ carousel.footer.text }}</a>
  </div>
  {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}

{% block js %}

<script>

	var search_input = d3.select("#home-search-input");
	var results_div_id = search_input.attr("data-results");
	var results_div = d3.select("#" + results_div_id);
	search.term = "";
	search.container = d3.select("#search-" + search_input.attr("data-search"));
  // results_div.classed("open", true);
  search.data = true;
  search.reload();
  search_input.node().focus();

  var titleNavHeight = d3.select("#title-bar").node().offsetHeight;

  function navScroll(){

    var splashHeight = window.innerHeight * 0.75;

    var y = d3plus.client.scroll.y(),
        colorTitleNav = y > titleNavHeight,
        showTitleNav = y > splashHeight/2.75;

    d3.select("#top-nav").classed("filled", colorTitleNav);
    d3.select("nav").classed("filled", colorTitleNav);
    d3.select("#title-bar").classed("visible", showTitleNav);

  }

  navScroll();
  scrollFunctions.push(navScroll);

</script>

{% endblock %}
