{% extends "templates/nav.html" %}

{% block body %}
<div class="home-container">
	<div class="bg p">
		<div class="p_group">
			<div class="bg-filter landing p_layer p_layer-back"></div>
			<div class="bg-img landing p_layer p_layer-mid"></div>
			<div class="bg-filter featured-start p_layer p_layer-front"></div>
			<div class="bg-img featured p_layer p_layer-front"></div>
		</div>
	</div>

<div class="content">
	<article class="landing">

		<img class="logo" src="/static/img/home/logo_2.png" alt="DataUSA" />
		
		<section class="search-home-container">
			<a href="/search/" id="search-switch" class="adv" onclick="advSearch.toggle();">Advanced Search</a>
			<input type="text" data-results="search-home" data-search="home" placeholder="Search a profile&hellip;" id="home-search-input" class="search-input" />
			<div id="search-home" class="search-body">
				<div class="search-results"></div>
			</div>
      <section class="results-show-all">
        <a href="/search/">Show all results <span class="more"></span></a>
      </section>
		</section>
	</article>
	<!-- <article class="featured-profiles"><a name="profiles-anchor"></a>

		<section class="profiles-sum">
			<h2>Featured Profiles &darr;</h2>
			<a href="" class="profile-sum-link"></a>
			<a href="" class="profile-sum-link"></a>
			<a href="" class="profile-sum-link"></a>
			<a href="" class="profile-sum-link"></a>
		</section>
	</article> -->
</div>

</div>

{% endblock %}

{% block js %}

<script>

var homeInput = d3.select("#search-home .search-input");
d3.select("#search-switch.adv").on("click", function(){
	window.location = "/search/?q=" + homeInput.node().value;
  d3.event.preventDefault();
});

d3.select("#home-search-input").on("input", function() {
  var inputText = document.getElementById("home-search-input").value;
  d3.select(".search-input-text").text(inputText);
});

</script>

{% endblock %}
