.column {
  flex: 1;
  text-align: center;

  & .column-title {
    margin: var(--gutter-xs) 0;
    & .column-title-link {
      align-items: center;
      color: white;
      display: flex;
      flex-wrap: nowrap;
      font-size: 18px;
      font-weight: 500;
      justify-content: center;
      margin: 0 auto;
      position: relative;

      & .column-icon-container {
        align-items: center;
        border-radius: 3px;
        background-color: var(--white);
        display: flex;
        height: 25px;
        justify-content: center;
        line-height: 1;
        margin-right: 8px;
        width: 25px;
      }
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    &.new:after {
      color: var(--red);
      content: "New";
      font-size: 12px;
      font-weight: 800;
      display: block;
      left: 100%;
      letter-spacing: 1px;
      margin-left: 5px;
      position: absolute;
      text-transform: uppercase;
      top: -5px;
      vertical-align: top;
    }
  }

  &.geo .usa-tile { border-color: var(--geo); }
  &.naics .usa-tile { border-color: var(--naics); }
  &.soc .usa-tile { border-color: var(--soc); }
  &.cip .usa-tile { border-color: var(--cip); }
  &.university .usa-tile { border-color: var(--university); }
  &.napcs .usa-tile { border-color: var(--napcs); }

  &.geo .column-title-link .column-icon-container { background-color: var(--geo); }
  &.naics .column-title-link .column-icon-container { background-color: var(--naics); }
  &.soc .column-title-link .column-icon-container { background-color: var(--soc); }
  &.cip .column-title-link .column-icon-container { background-color: var(--cip); }
  &.university .column-title-link .column-icon-container { background-color: var(--university); }
  &.napcs .column-title-link .column-icon-container { background-color: var(--napcs); }

  &.geo .column-title-link { color: var(--geo); }
  &.naics .column-title-link { color: var(--naics); }
  &.soc .column-title-link { color: var(--soc); }
  &.cip .column-title-link { color: var(--cip); }
  &.university .column-title-link { color: var(--university); }
  &.napcs .column-title-link { color: var(--napcs); }

}
