#Nav {
  height: var(--nav-height);
  left: 0;
  padding: 10px 15px;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: background-color 0.75s;
  width: 100%;
  z-index: 21;
  &.background {
    background-color: var(--dark);
    &.menu {
      background-color: var(--black);
    }
  }
  & .menu-btn {
    cursor: pointer;
    left: 0;
    padding: 10px 13px;
    position: absolute;
    top: 0;
    & .label {
      color: white;
      display: inline-block;
      font-family: "Palanquin", sans-serif;
      font-size: 12px;
      font-weight: 600;
      opacity: 1;
      padding-left: 10px;
      text-transform: uppercase;
      transition: opacity 0.25s ease-in-out;
      vertical-align: top;
      &.open {
        opacity: 0;
        overflow: hidden;
        padding-left: 0;
        width: 0;
      }
    }
  }
  & .home-btn {
    margin: 0 auto;
    & img {
      width: 76px;
    }
  }
  & .nav-subtitle {
    color: var(--red);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 24px;
    line-height: 0;
    max-width: 75%;
    overflow: hidden;
    padding: 0 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.pt-dialog.nav-menu {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-space-between;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed !important;
  /* necessary for overriding blueprint */
  transform: translateX(0);
  transition: transform 0.25s;
  width: 300px;
  will-change: transform;
  & .menu-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    & ul {
      list-style: none;
      margin: 0;
      padding: 40px 50px;
      & li {
        font-family: "Palanquin", sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        padding: 5px 0;
        text-transform: uppercase;
        vertical-align: middle;
        & a {
          color: white;
          &:hover {
            color: var(--purple);
            text-decoration: none;
          }
        }
        & ul {
          padding: 5px 13px 10px;
          & li {
            font-size: 16px;
          }
        }
      }
    }
    & .menu-collab {
      padding-bottom: 25px;
      text-align: center;
      & img {
        height: 15px;
        margin: 10px;
        opacity: 0.75;
        transition: opacity 0.1s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.pt-dialog-container {
  outline: 0;
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  &.slide-enter, &.slide-leave.slide-leave-active {
    transform: translateX(-300px);
  }
  &.slide-enter.slide-enter-active, &.slide-leave {
    transform: translateX(0);
  }
}

.pt-overlay-backdrop {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  &.slide-enter, &.slide-leave.slide-leave-active {
    opacity: 0;
  }
  &.slide-enter.slide-enter-active, &.slide-leave {
    opacity: 1;
  }
}
