:root {
  --nav-search-width: 250px;
}

.SearchButton {
  display: flex;
  overflow: visible;
  transition: width 0.25s ease-in-out;
  width: 36px;
  &.active {
    background-color: var(--darkgray);
    width: var(--nav-search-width);
  }
  & .ClosedButton {
    align-items: flex-start;
    box-sizing: content-box;
    cursor: pointer;
    height: 16px;
    margin: 5px !important;
    opacity: 0.75;
    transition: opacity 0.2s;
    width: 16px;
    &:hover {
      opacity: 1;
    }
    & .bp3-icon {
      color: white;
      transition: transform 0.25s ease-in-out;
      will-change: transform;
      vertical-align: top;
    }
    &.active {
      opacity: 1;
      & .bp3-icon {
        transform: rotate(90deg);
      }
    }
  }
  & .bp3-input-group {
    align-items: flex-start;
    display: flex;
    flex: 1;
    & input {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: white;
      font-family: "Palanquin", sans-serif;
      font-size: 13px;
      height: 20px;
      line-height: 1;
      margin: 2px 0 0 5px !important;
      opacity: 0;
      outline: 0;
      margin: 0;
      padding: 0;
      transition: opacity 0.25s ease-in-out;
      &::placeholder {
        color: var(--lightgray);
      }
    }
    &.active {
      & input {
        opacity: 1;
      }
    }
  }
  & .results {
    background-color: var(--darkgray);
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 25px;
    width: var(--nav-search-width);
    &.active {
      display: block;
    }
    & .result {
      transition: background-color 0.25s;
      &.highlighted, &:hover {
        background-color: var(--gray);
      }
      & .result-container {
        align-items: center;
        display: flex;
        padding: 10px 10px 10px 6px;
        text-align: left;
        & .result-icon {
          display: inline-block;
          flex: none;
          margin-right: 6px;
          text-align: center;
          width: 20px;

          &.geo path[fill] { fill: var(--geo); }
          &.geo path[stroke] { stroke: var(--geo); }
          &.naics path[fill] { fill: var(--naics); }
          &.naics path[stroke] { stroke: var(--naics); }
          &.soc path[fill] { fill: var(--soc); }
          &.soc path[stroke] { stroke: var(--soc); }
          &.cip path[fill] { fill: var(--cip); }
          &.cip path[stroke] { stroke: var(--cip); }
          &.university path[fill] { fill: var(--university); }
          &.university path[stroke] { stroke: var(--university); }
          &.napcs path[fill] { fill: var(--napcs); }
          &.napcs path[stroke] { stroke: var(--napcs); }

        }
        & .result-text {
          display: inline-block;
          & .title {
            color: white;
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 2px;
          }
          & .sumlevel {
            color: var(--lightgray);
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 1.15;
            font-weight: 700;
            margin-top: 3px;
            text-transform: uppercase;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    & .all-results, & .no-results {
      background-color: var(--darkgray);
      border: 0;
      box-shadow: none;
      color: white;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
