.Options {
  display: flex;
  justify-content: flex-end;
  & .option {
    color: #949494;
    cursor: pointer;
    display: inline-block;
    font-family: "Palanquin", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 15px 0 0;
    outline: 0;
    &.disabled {
      opacity: 0.5;
    }
    &:before {
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 20px;
      margin-bottom: 4px;
      margin-right: 5px;
      vertical-align: middle;
      width: 20px;
    }
    &:hover {
      color: var(--red);
    }
    &.view-table {
      &:before {
        background-image: url("/images/viz/view-table.svg");
      }
      &:hover:before {
        background-image: url("/images/viz/view-table-red.svg");
      }
    }
    &.add-to-cart {
      &:before {
        background-image: url("/images/viz/add-to-cart.svg");
      }
      &:hover:before {
        background-image: url("/images/viz/add-to-cart-red.svg");
      }
    }
    &.save-image {
      &:before {
        background-image: url("/images/viz/save-image.svg");
      }
      &:hover:before {
        background-image: url("/images/viz/save-image-red.svg");
      }
    }
    &.share {
      &:before {
        background-image: url("/images/viz/share.svg");
      }
      &:hover:before {
        background-image: url("/images/viz/share-red.svg");
      }
    }
  }
}

.options-dialog {
  & .pt-dialog-body {
    & .save-image-btn {
      color: black;
      cursor: pointer;
      font-family: "Palanquin", sans-serif;
      font-size: 13px;
      margin: 90px 20px;
      opacity: 0.3;
      text-align: center;
      transition: opacity 0.1s;
      width: 80px;
      & .pt-icon-standard {
        display: block;
        font-size: 28px;
        margin-bottom: 7px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
