<sub class="sub-source">Dataset: <span class="source"></span></sub>
<br />
<sub class="sub-source">Source: <span class="org"></span></sub>

<div class="share-section">
  <a href="#" title="Share on Facebook" data-ga="facebook share" data-ga-cat="profile" data-ga-label="share buttons click">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" title="Share on Twitter" data-ga="twitter share" data-ga-cat="profile" data-ga-label="share buttons click">
    <i class="fa fa-twitter"></i>
  </a>
  {% if profile %}
  <a href="#" title="Share with Embed" data-ga="embed share" data-ga-cat="profile" data-ga-label="share buttons click">
    <i class="fa fa-link"></i>
  </a>
  <div class="embed-input">
    <input type="text" class="embed-link" value="http://beta.datausa.io/profile/{{ profile.attr_type }}/{{ profile.id }}/{{ section.anchor }}/{{ topic.slug }}/" onclick="this.focus();this.select()" readonly />
    <label><input type="checkbox" class="viz_only" />Visualization Only</label>
  </div>
  {% endif %}
</div>
