{% for topic in section.topics %}
{% if topic.category %}
{% set category_slug = topic.category|safe|lower|replace(" ", "_") %}
<h1 class="category"><a href="#category_{{ category_slug }}" name="category_{{ category_slug }}">{{ topic.category|safe }}</a></h1>
{% endif %}
{% set aside = topic.stat or topic.description %}
{% set content = aside or topic.viz or topic.miniviz or topic.source %}
{% if topic.items()|length > 1 or "category" not in topic %}
<article class="topic{% if topic.class %} {{ topic.class }}{% endif %}{% if not content %} short{% endif %}" data-slug="{{ topic.slug }}" data-embed="{{ profile.url(full=False, topic=topic.slug, as_hash=True) }}" data-url="{{ profile.url(full=True, section=section.anchor, topic=topic.slug) }}">
  {% if topic.title %}
  <h2 class="embed-title">
    {% if "data-tooltip" in topic.title %}
      {{ topic.title|safe }}
    {% else %}
      <a href="#{{ topic.slug }}" class="topic-title" name="{{ topic.slug }}" data-default="{{ topic.title|safe }}">
        {{ topic.title|safe }}
      </a>
    {% endif %}
    {% if topic.viz and (g.page_class != 'story') %}
    <div class="viz-btns">
      <a href="#" class="viz-btn popover-btn view-table" title="View Data" data-ga="view-table" data-ga-cat="viz-button" data-ga-label="View Data"></a>
      <a href="#" class="viz-btn popover-btn save-image" title="Save Image" data-ga="save-image" data-ga-cat="viz-button" data-ga-label="Save Image"></a>
      <a href="#" class="viz-btn popover-btn share" title="Share/Embed" data-ga="share" data-ga-cat="viz-button" data-ga-label="Share/Embed"></a>
      <a href="#" class="viz-btn add-to-cart" title="Cart" data-tooltip="cartLimit" data-slug={{ topic.slug }} data-ga="add-to-cart" data-ga-cat="viz-button" data-ga-label="Add to Cart"></a>
    </div>
    {% endif %}
  </h2>
  {% endif %}
  {% if not aside and topic.subtitle %}
  <div class="sub sub-title">{{ topic.subtitle|safe }}</div>
  {% endif %}
  {% if content %}
  <div class="content{% if not aside %} full-width{% endif %}">
    {% if aside %}
    <aside{% if not topic.viz %} class="full-width"{% endif %}>
      {% if topic.subtitle %}
      <div class="sub sub-title">{{ topic.subtitle|safe }}</div>
      {% endif %}
      {% if topic.select %}
      <select id="topic-select-{{ loop.index0 }}" data-param="{{ topic.select.param }}" data-method="{{ topic.select.method }}" data-default="{{ topic.select.default }}">
        {% for option in topic.select.data %}
        <option value="{{ option.id }}"{% if topic.select.default == option.id %} selected{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if topic.stat %}
      <div class="topic-stats{% if topic.stat_stack %} stacked{% endif %}">
        {% for stat in topic.stat %}
          <div class="stat">
            {% if stat.title and stat.subvalues %}<div class="stat-text">{{ stat.title|safe }}</div>{% endif %}
            <div class="stat-value{% if stat.subvalues %} stat-small{% endif %}">{% if stat.subvalues %}<span class="stat-text stat-number">1.</span> {% endif %}<span class="stat-right">{{ stat.value|safe }}</span></div>
            {% if stat.title and not stat.subvalues %}<div class="stat-text">{{ stat.title|safe }}</div>{% endif %}
            {% if stat.subtitle %}<div class="stat-text stat-subtitle">{{ stat.subtitle|safe }}</div>{% endif %}
            {% if stat.subvalues %}
            {% for s in stat.subvalues %}
            <div class="stat-value stat-small"><span class="stat-text stat-number">{{ loop.index + 1 }}.</span> <span class="stat-right">{{ s|safe }}</span></div>
            {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if topic.description %}
      {% for desc in topic.description %}
      <p>{{ desc|safe }}</p>
      {% endfor %}
      <p class="definition"></p>
      {% endif %}
      {% if topic.miniviz %}
      <div class="viz mini"{% if topic.miniviz.config.height %} style="max-height:{{ topic.miniviz.config.height }}px; height:{{ topic.miniviz.config.height }}px;"{% endif %}></div>
      <script>builds.push({{ topic.miniviz.serialize()|safe }});</script>
      {% endif %}
      {% if topic.source != False and topic.class != "flex" %}
      {% include "templates/includes/source.html" %}
      {% endif %}

    </aside>
    {% endif %}
    {% for viz in topic.viz %}
    <div class="viz main {{ viz.config.type }}{% if viz.className %} {{ viz.className }}{% endif %}"{% if splash and viz.config.height %} style="height:{{ viz.config.height }}px;"{% endif %}></div>
    <script>builds.push({{ viz.serialize()|safe }});</script>
    {% endfor %}
    {% if topic.source != False and ((not aside and topic.viz) or topic.class == "flex") %}
    {% include "templates/includes/source.html" %}
    {% endif %}
  </div>
  {% endif %}
</article>
{% endif %}
{% endfor %}
