{% for topic in section.topics %}
{% if topic.category %}
<h1 class="category"><a name="{{ topic.category|safe|lower|replace(" ", "_") }}">{{ topic.category|safe }}</a></h1>
{% endif %}
{% set aside = topic.stat or topic.description %}
{% set content = aside or topic.viz or topic.miniviz or topic.source %}
{% if topic.items()|length > 1 or "category" not in topic %}
<article class="topic{% if topic.class %} {{ topic.class }}{% endif %}{% if not content %} short{% endif %}">
  {% if topic.title %}
  <h2>{{ topic.title|safe }}<a href="#" class="data-btn"><span>Show Data Table</span><i class="fa fa-table"></i></a></h2>
  {% endif %}
  {% if topic.subtitle %}
  <sub>{{ topic.subtitle|safe }}</sub>
  {% endif %}
  {% if content %}
  <div class="content{% if not aside %} full-width{% endif %}">
    {% if aside %}
    <aside>
      {% if topic.select %}
      <select id="topic-select-{{ loop.index0 }}" data-param="{{ topic.select.param }}" data-method="{{ topic.select.method }}" data-default="{{ topic.select.default }}">
        {% for option in topic.select.data %}
        <option value="{{ option.id }}"{% if topic.select.default == option.id %} selected{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
      {% endif %}
      {% if topic.stat %}
      <div class="topic-stats{% if topic.stat_stack %} stacked{% endif %}">
        {% for stat in topic.stat %}
          <div class="stat">
            <div class="stat-text">{{ stat.title|safe }}</div>
            <div class="stat-value">{{ stat.value|safe }}</div>
            {% if stat.moe %}<div class="stat-text">± {{ stat.moe|safe }}</div>{% endif %}
          </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if topic.description %}
      {% for desc in topic.description %}
      <p>{{ desc|safe }}</p>
      {% endfor %}
      {% endif %}
      {% if topic.miniviz %}
      <div class="viz mini"{% if topic.miniviz.config.height %} style="max-height:{{ topic.miniviz.config.height }}px; height:{{ topic.miniviz.config.height }}px;"{% endif %}></div>
      <script>builds.push({{ topic.miniviz.serialize()|safe }});</script>
      {% endif %}
      {% if topic.source != False %}
      <sub>Data Source: <span class="source"></span></sub>
      {% endif %}

      <div class="share-section">
        <a href="#" title="Share on Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" title="Share on Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </div>

    </aside>
    {% endif %}
    {% for viz in topic.viz %}
    <div class="viz"{% if viz.config.height %} style="height:{{ viz.config.height }}px;"{% endif %}>
      <div class="d3plus"></div>
      <div class="data-table">
        <table>
          <thead><tr></tr></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script>builds.push({{ viz.serialize()|safe }});</script>
    {% endfor %}
    {% if topic.source != False and not aside and topic.viz %}
    <sub>Data Source: <span class="source"></span></sub>
    {% endif %}
  </div>
  {% endif %}
</article>
{% endif %}
{% endfor %}
