.usa-tile {
  align-items: center;
  background-color: var(--dark);
  border: 1px solid var(--white);
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 124px;
  justify-content: center;
  margin: 12px 0;
  overflow: hidden;
  padding: var(--gutter-sm);
  position: relative;
  & .image {
    background: rgba(24, 32, 38, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 124px;
    left: 0;
    position: absolute;
    transform: scale(1.05);
    transition: transform 0.6s;
    top: 0;
    width: 100%;
    will-change: transform;
  }
  & .overlay {
    background: rgba(24, 32, 38, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 124px;
    left: 0;
    position: absolute;
    transition: opacity 0.6s;
    top: 0;
    width: 100%;
    will-change: opacity;
  }
  & .content {
    text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    transition: transform 0.6s;
    will-change: transform;
    & .title {
      font-family: "Palanquin", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      position: relative;
      text-transform: uppercase;
      text-align: center;
      z-index: 0;
    }
    & .subtitle {
      font-family: "Palanquin", sans-serif;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 17px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &.new:after {
    background-color: var(--red);
    color: white;
    content: "New";
    font-size: 12px;
    font-weight: 800;
    left: 0;
    letter-spacing: 1px;
    opacity: 0.75;
    padding: 0 10px 2px;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    transition: opacity 0.6s;
  }
  &:hover, &:focus, &:active {
    color: var(--white);
    text-decoration: none;
    & .image {
      transform: scale(1);
    }
    & .overlay {
      opacity: 0.5;
    }
    & .content {
      transform: scale(1.1);
    }
    &.new:after {
      opacity: 1;
    }
  }
}
