{% extends "templates/nav.html" %}

{% block title %}{{ story.title }}{% endblock %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="DataUSA" /></a> Stories</span>
</div>
{% endblock %}

{% block body %}

<header id="article">
  <div id="article-image" style="background-image:url({{ story.background_image }})"></div>

  <div id="article-text">
    <div class="back-btn"><a class="pri-link" href="/story/">&#8592; <span>Back to All Stories</span></a></div>
    <div class="post-titles">
        <h1>{{ story.title }}</h1>
        <p class="desc">{{ story.description }}</p>
        <div class="author-meta">
          {% for author in story.authors %}
          <div class="name"><span>Written by</span> <a href="{{ author.twitter }}" target="_blank">{{ author.name }}</a></div>
          <div class="post-date">{{ story.date }}</div>
          {% endfor %}
        </div>
    </div>
  </div>
</header>

{% set section = story %}
<section class="story profile-section">
  {% include "templates/includes/topic.html" %}
</section>

<div class="article-more-options">
  <div class="author-meta">
    {% for author in story.authors %}
    <a href="{{ author.twitter }}" class="author-avatar" title="{{ author.name }}"><img alt="{{ author.name }}" src="{{ author.img }}"></a>
    <div class="author-text">
      <div class="name"><a href="{{ author.twitter }}" target="_blank">{{ author.name }}</a></div>
      <div class="info">{{ author.about }}</div>
      <div class="social"><a href="{{ author.twitter }}" target="_blank">Twitter</a></div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
