{% extends "templates/nav.html" %}

{% block body %}

{% for story in featured_stories %}
<div id="featured-story">
  <div id="feature-image" style="background-image:url({{ story.background_image }})"></div>
  
  <div id="feature-text">
    <div class="post-feat-label">
      <p>Feature</p>
      <div class="color-blocks">
        <span class="b"></span>
        <span class="b"></span>
        <span class="b"></span>
        <span class="b"></span>
        <span class="b"></span>
        <span class="b"></span>
      </div>
    </div>
    <div class="post-titles">
      <h1><a href="/story/{{story.story_id}}">{{ story.title }}</a></h1>
      <p class="desc">{{ story.description }}</p>
      <div class="author-meta">
        {% for author in story.authors %}
        <!-- <a href="{{ author.link }}" class="author-avatar" title="{{ author.name }}"><img alt="{{ author.name }}" src="{{ author.img }}"></a> -->
        <div class="name"><span>By</span> <a href="{{ author.link }}" target="_blank">{{ author.name }}</a></div>
        <div class="post-date">{{ story.date }}</div>
        {% endfor %}
      </div>
      <a href="/story/{{story.story_id}}" class="read-more">Read More</a>
    </div>
  </div>

</div>
{% endfor %}

<div class="all-stories">
  <!-- <div class="all-stories-label">More Stories</div> -->
  {% for story in stories %}
  <article style="background-image:url({{ story.background_image }})">
    <div class="bg-filter"></div>
    <h1><a href="/story/{{story.story_id}}">{{ story.title }}</a></h1>
  </article>
  {% endfor %}
</div>

<!-- {% for story in featured_stories %}
<h3>Featured Story</h3>
<a href="/story/{{story.story_id}}">
<img src="{{story.background_image}}"/>
{{story.title}} - {{story.description}} - {{story.date}}
</a>
<br/>
{% endfor %}
<hr>
{% for story in stories %}
<h4>Regular story</h4>
<a href="/story/{{story.story_id}}">
<img src="{{story.background_image}}"/>
{{story.title}} - {{story.description}} - {{story.date}}
</a>
<br/>
{% endfor %} -->

{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}
