{% extends "templates/nav.html" %}

{% block body %}
<!-- {% for story in featured_stories %}
<h3>Featured Story</h3>
<a href="/story/{{story.story_id}}">
<img src="{{story.background_image}}"/>
{{story.title}} - {{story.description}} - {{story.date}}
</a>
<br/>
{% endfor %}
<hr>
{% for story in stories %}
<h4>Regular story</h4>
<a href="/story/{{story.story_id}}">
<img src="{{story.background_image}}"/>
{{story.title}} - {{story.description}} - {{story.date}}
</a>
<br/>
{% endfor %} -->
{% for story in featured_stories %}
<header>
  <div id="splash" style="background-image:url({{ story.background_image }})">
    
    <div class="bg-filter"></div>
    <div class="text">
      <div class="post-titles">
          <div class="post-label-feat">Featured Story</div>
          <h1><a href="/story/{{story.story_id}}">{{ story.title }}</a></h1>
          <p class="description">{{ story.description }}</h2>
      </div>
      <div class="author-meta">
        {% for author in story.authors %}
        <a href="{{ author.link }}" class="author-avatar" title="{{ author.name }}">
          <img alt="{{ author.name }}" src="{{ author.img }}">
        </a>
        <div class="name"><span>By</span> <a href="{{ author.link }}" target="_blank">{{ author.name }}</a></div>
        <div class="post-date" style="">{{ story.date }}</div>
        {% endfor %}
      </div>
    </div>

  </div> <!-- .splash -->
</header>
{% endfor %}

<div class="all-stories">
  <!-- <div class="all-stories-label">More Stories</div> -->
  {% for story in stories %}
  <article style="background-image:url({{ story.background_image }})">
    <div class="bg-filter"></div>
    <h1><a href="/story/{{story.story_id}}">{{ story.title }}</a></h1>
  </article>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
