{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" /></a> Cart</span>
</div>
{% endblock %}

{% block body %}
<div id="cart-header">
  Buttons!
</div>
<div id="cart-table"></div>
<div id="cart-panel">
  <div id="datasets" class="group hidden">
    <div class="title">Data Cart</div>
    <div class="headers">
      <div class="name"><span></span> Datasets</div>
      <div class="remove">Remove</div>
    </div>
    <div class="body">

    </div>
  </div>
</div>
<div id="cart-loading">
  <div id="cart-loading-text"><i class="fa fa-spinner fa-spin"></i>Please Wait</div>
</div>

{% endblock %}

{% block js %}
<script>

  var sticky = [
    "year", "geo",
    "naics", "acs_ind", "bls_naics", "iocode",
    "soc", "acs_occ", "bls_soc",
    "cip", "degree", "university", "sector", "pums_degree",
    "sex", "race", "acs_race", "pums_race", "language", "birthplace",
    "skill", "wage_bin", "conflict"
  ];

  var grid = {
    columnDefs: [],
    enableSorting: true,
    rowData: [],
    rowHeight: 30,
    suppressCellSelection: true
  };
  new agGrid.Grid(d3.select("#cart-table").node(), grid);

  function cellRenderer(params) {
    var key = params.column.colId, v = params.value;

    if (v === void 0 || v === null) return "";
    else if (v.constructor === Number) return viz.format.number(v, {"key": key});
    else return viz.format.text(v, {"key": key});

  }

  function loadDatasets(datasets, callback) {

    var urls = d3.merge(datasets.map(function(d) { return d.data; }));
    console.log("URLs to load:", urls);

    var retData = [];
    function loadSingle() {
      var url = urls.shift();
      load(url, function(data) {
        retData = retData.concat(data);
        if (urls.length) loadSingle();
        else callback(retData);
      });
    }

    loadSingle();

  }

  function updateDisplay() {

    d3.select("#cart-loading").classed("hidden", false);

    d3.select("#datasets .headers .name span").html(cart.datasets.length);

    var datasets = d3.select("#datasets")
      .classed("hidden", !cart.datasets.length)
      .select(".body").selectAll(".dataset")
      .data(cart.datasets);

    var enter = datasets.enter().append("div")
      .attr("class", "dataset");

    enter.append("div").attr("class", "name");
    enter.append("div").attr("class", "remove");

    datasets.select(".name").html(function(d) { return d.title; });
    datasets.select(".remove").on("click", function(d, i) {

      var index = d.slug ? cart.builds.indexOf(d.slug) : -1;
      if (index >= 0) cart.builds.splice(index, 1);
      cart.datasets.splice(i, 1);
      localforage.setItem("cart", cart);
      updateDisplay();

    });

    datasets.exit().remove();

    loadDatasets(cart.datasets, function(data) {

      console.log(data);

      var keys = d3plus.util.uniques(d3.merge(data.map(function(d) { return d3.keys(d); })));
      keys = keys
        .filter(function(key) { return key.match(/.*_[0-9]+$/g) === null; })
        .sort(function(a, b) {
          var aI = sticky.indexOf(a), bI = sticky.indexOf(b);
          return (aI >= 0 ? aI : keys.indexOf(a) + sticky.length) - (bI >= 0 ? bI : keys.indexOf(b) + sticky.length);
        });

      var availableStickies = keys.filter(function(key) { return sticky.indexOf(key) >= 0; });

      var groupedData = d3.nest()
        .key(function(d) {
          return availableStickies.map(function(key) { return d[key] || "undefined"; }).join("-");
        })
        .entries(data)
        .map(function(n) {
          var obj = {};
          n.values.forEach(function(d) {
            obj = d3plus.object.merge(obj, d);
          });
          return obj;
        });

      console.log(keys);
      console.log(groupedData);

      var columns = keys.map(function(key) {
        return {
          cellRenderer: cellRenderer,
          field: key,
          headerName: viz.format.text(key, {params: key, cart: true}),
          pinned: sticky.indexOf(key) >= 0 ? "left" : false
        };
      });
      console.log(grid);
      grid.api.setRowData(groupedData)
      grid.api.setColumnDefs(columns)
      grid.api.sizeColumnsToFit();
      // grid.api.refreshView();

      d3.select("#cart-loading").classed("hidden", true);

    });

  }

  function populatePage() {
    console.log(cart);
    updateDisplay();
  }

</script>
{% endblock %}
