{% extends "templates/nav.html" %}

{% block subtitle %}
<div id="title-bar">
  <span><a href="/"><img src="/static/img/logo_sm.png" alt="Data USA" /></a> Cart</span>
</div>
{% endblock %}

{% block body %}
<div id="cart-header">
  <div id="cart-csv" class="cart-btn">
    Download as CSV
  </div>
</div>
<div id="cart-table"></div>
<div id="cart-panel">
  <div id="datasets" class="group hidden">
    <div class="title">Data Cart</div>
    <div class="headers">
      <div class="name"><span></span> Datasets</div>
      <div class="remove">Remove</div>
    </div>
    <div class="body">

    </div>
  </div>
</div>
<div id="cart-loading">
  <div id="cart-loading-text">
    <i class="fa fa-spinner fa-spin"></i>Please Wait
    <div id="cart-loading-status">Loading Data</div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>

  var loadStatus = d3.select("#cart-loading-status");

  var columns = [], groupedData = [];

  var sumlevels = {
    "010": "nation",
    "040": "state",
    "050": "county",
    "310": "msa",
    "160": "place",
    "860": "zip",
    "140": "tract"
  };

  var attrs = {};

  var attr_list = [
    // "year",
    "geo",
    "naics", "acs_ind", "bls_naics", "iocode",
    "soc", "acs_occ", "bls_soc",
    "cip", "degree", "university", "sector", "pums_degree",
    "sex", "race", "acs_race", "pums_race", "language", "birthplace",
    "skill", "wage_bin", "conflict"
  ];

  var sticky = [];
  attr_list.forEach(function(attr) {
    sticky.push(attr);
    sticky.push(attr + "_id");
    sticky.push(attr + "_name");
    sticky.push(attr + "_sumlevel");
  });

  var bubbles = [];

  var grid = {
    columnDefs: [],
    colWidth: 150,
    enableSorting: true,
    headerHeight: 65,
    rowData: [],
    rowHeight: 30,
    suppressCellSelection: true
  };
  new agGrid.Grid(d3.select("#cart-table").node(), grid);

  function cellRenderer(params) {
    var key = params.column.colId, v = params.value;

    if (v === void 0 || v === null) return "";
    else if (v.constructor === Number) return viz.format.number(v, {"cart": true, "key": key});
    else return viz.format.text(v, {"key": key});

  }

  function loadDatasets(datasets, callback) {

    var calcs = d3.merge(datasets.map(function(d) { return d.data.map(function() { return d.calcs; }); })),
        urls = d3.merge(datasets.map(function(d) { return d.data; }));

    urls.forEach(function(url) {
      var show = new RegExp("&show=([a-z,_]*)").exec(url.replace(/%2C/g, ","));
      show[1].split(",").forEach(function(attr) {
        var u = "https://api.datausa.io/attrs/" + attr + "/";
        if (urls.indexOf(u) < 0) urls.push(u);
      });
      var required = new RegExp("&required=([a-z,_]*)").exec(url.replace(/%2C/g, ","));
      if (required) {
        required[1].split(",").forEach(function(attr) {
          if (attr_list.indexOf(attr) >= 0) {
            var u = "https://api.datausa.io/attrs/" + attr + "/";
            if (urls.indexOf(u) < 0) urls.push(u);
          }
        });
      }
    });

    var urlList = urls.slice();

    if (!urls.length) callback([]);

    var retData = [];
    function loadSingle() {

      var url = urls.shift();
      loadStatus.html("API Call " + (urlList.length - urls.length) + " of " + urlList.length);

      load(url, function(data) {

        if (url.indexOf("/attrs/") >= 0) {
          attrs[url.split("/")[4]] = data.reduce(function(obj, d) {
            obj[d.id] = d;
            return obj;
          }, {});
        }
        else {

          var c = calcs[urlList.indexOf(url)];

          if (c) {
            c.forEach(function(calc) {
              var func;
              if (calc.func === "pct") {
                func = function(d) {
                  return d[calc.num] !== void 0 && d[calc.num] !== null && d[calc.den] ? d[calc.num] / d[calc.den] : null;
                }
              }
              if (func) {
                data.forEach(function(d) {
                  d[calc.key] = func(d);
                });
                bubbles.push(calc.key);
              }
            });
          }

          data.forEach(function(d) {
            if (d.year) {
              for (var key in d) {
                if (["year"].indexOf(key) < 0 && sticky.indexOf(key) < 0) {
                  d[key + "_" + d.year] = d[key];
                  delete d[key];
                }
              }
              delete d.year;
            }
          });

          retData = retData.concat(data);

        }

        loadStatus.html("API Call 0 of " + urlList.length);

        if (urls.length) loadSingle();
        else callback(retData);

      });

    }

    loadSingle();

  }

  function updateDisplay() {

    loadStatus.html("Loading Cart");
    d3.select("#cart-loading").classed("hidden", false);

    d3.select("#datasets .headers .name span").html(cart.datasets.length);

    var datasets = d3.select("#datasets")
      .classed("hidden", !cart.datasets.length)
      .select(".body").selectAll(".dataset")
      .data(cart.datasets);

    var enter = datasets.enter().append("div")
      .attr("class", "dataset");

    enter.append("div").attr("class", "name");
    enter.append("div").attr("class", "remove");

    datasets.select(".name").html(function(d) { return d.title; });
    datasets.select(".remove").on("click", function(d, i) {

      var index = d.slug ? cart.builds.indexOf(d.slug) : -1;
      if (index >= 0) cart.builds.splice(index, 1);
      cart.datasets.splice(i, 1);
      localforage.setItem("cart", cart);
      updateDisplay();

    });

    datasets.exit().remove();

    loadDatasets(cart.datasets, function(data) {

      loadStatus.html("Fetching Attribute Names");

      data.forEach(function(d) {
        attr_list.forEach(function(attr) {
          if (attr in d) {
            d[attr + "_id"] = d[attr];
            if (attr === "geo" && d[attr].slice(0, 3) === "140") {
              d.geo_name = viz.format.text(d[attr], {key: "geo"})
              d.geo_sumlevel = "tract";
            }
            else if (attrs[attr][d[attr]]) {
              d[attr + "_name"] = attrs[attr][d[attr]].display_name || attrs[attr][d[attr]].name;
              if (["geo", "naics", "soc", "cip"].indexOf(attr) >= 0) {
                d[attr + "_sumlevel"] = attr === "geo" ? sumlevels[attrs[attr][d[attr]].sumlevel] : attrs[attr][d[attr]].sumlevel || attrs[attr][d[attr]].level;
              }
            }
            delete d[attr];
          }
        });
      });

      loadStatus.html("Constructing Headers");

      var rawKeys = d3plus.util.uniques(d3.merge(data.map(function(d) { return d3.keys(d); }))).sort(function(a, b) {
        return a.localeCompare(b);
      });

      console.log(rawKeys);

      loadStatus.html("Sorting Columns");

      var keys = rawKeys.slice()
        // .filter(function(key) { return key.match(/.*_[0-9]+$/g) === null; })
        .sort(function(a, b) {

          var aI = sticky.indexOf(a), bI = sticky.indexOf(b);
          var aY = a.match(/\d{4}$/g), bY = b.match(/\d{4}$/g);
          var aB = bubbles.indexOf(aY ? a.substring(0, a.length - 5) : a),
              bB = bubbles.indexOf(bY ? b.substring(0, b.length - 5) : b);

          if (aB > -1 && aB === bB && aY && bY) return aY[0] - bY[0];

          return (aI >= 0 ? aI : aB >= 0 ? aB + 3 + sticky.length : rawKeys.indexOf(a) + sticky.length + bubbles.length)
               - (bI >= 0 ? bI : bB >= 0 ? bB + 3 + sticky.length : rawKeys.indexOf(b) + sticky.length + bubbles.length);

        });

      var availableStickies = keys.filter(function(key) { return sticky.indexOf(key) >= 0; });

      loadStatus.html("Joining Data");

      groupedData = d3.nest()
        .key(function(d) {
          return availableStickies.map(function(key) { return d[key] || "undefined"; }).join("-");
        })
        .entries(data)
        .map(function(n) {
          var obj = {};
          n.values.forEach(function(d) {
            obj = d3plus.object.merge(obj, d);
          });
          return obj;
        });

      console.log(keys);
      console.log(groupedData);

      loadStatus.html("Generating Table");

      columns = keys.map(function(key) {
        return {
          cellRenderer: cellRenderer,
          field: key,
          headerName: viz.format.text(key, {params: key, cart: true}),
          pinned: false
          // pinned: sticky.indexOf(key) >= 0 ? "left" : false
        };
      });
      // console.log(grid);
      grid.api.setRowData(groupedData);
      grid.api.setColumnDefs(columns);
      // grid.columnApi.autoSizeColumns(keys);

      d3.select("#cart-loading").classed("hidden", true);

    });

  }

  function populatePage() {
    console.log(cart);
    updateDisplay();
  }

  d3.select("#cart-csv").on("click", function() {

    var title = "Data USA Cart",
        zip = new JSZip();

    var keys = columns.map(function(c) { return c.field; });

    var csv = keys.join(",");
    groupedData.forEach(function(d, i) {
      csv += "\n" + keys.map(function(key) {
        return d[key] === void 0 ? ""
             : typeof d[key] === "number" ? d[key]
             : "\"" + d[key] + "\"";
      });
    });

    zip.file(title + ".csv", csv);
    saveAs(zip.generate({type: "blob"}), title + ".zip");

  });

</script>
{% endblock %}
