// Profile navigation sizes
$title-height: 40px;
$prof-nav-height: 50px;
$nav-height: 40px;
$stats-bar-height: 30px;
$footer-height: 70px;
$nav-width: 415px;
$search-height: 60px;
$search-helpers-height: 25px;
$search-mini-height: 550px;
$search-mini-width: 250px;

$bg-color-geo: rgba(6, 25, 98, 0.95);
$d-bg-color-geo: #020B31;
$l-bg-color-geo: rgba(55, 75, 152, 1);
$viz-color-geo: #5D82BD;
// rgba(14,42,146,0.9);
// rgba(10, 8, 101, 0.92);
// rgba(20, 40, 151, 0.9);
$link-color-geo: rgb(44, 73, 216);
$alt-link-color-geo: rgba(121,129,169,0.5);

$bg-color-cip: rgba(105,6,26,0.95);

$text-color: #211f1a;
$dark-d-blue: #132332;
$d-blue: #004994;
$home-blue: #223856;
$light-home-blue: #cfedff;
$med-home-blue: #386f8e;
$dark-home-blue: #010103;
$dark-home-red: #B35E49;
$home-red: #dc5137;
$light-home-red: #fdc8b8;
$home-midtone: #677594;

$shadow: 0 3px 3px rgba(0,0,0,0.35);

$enriqueta: "Enriqueta", serif;
$palanquin: "Palanquin", sans-serif;
$noticia: "Noticia Text", serif;
$lato: "Lato", sans-serif;
$playfair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

/* download Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700|Palanquin:300,400,600,700|Noticia+Text:400,700|Lato:100,300,400,700|Playfair+Display:400,400italic|Roboto:300,400,700);