/* Profile navigation sizes */
$title-height: 40px;
$prof-nav-height: 45px;
$nav-height: 40px;
$stats-bar-height: 23px;
$about-nav-height: 30px;
$footer-height: 70px;
$nav-width: 300px;
$search-height: 60px;
$search-helpers-height: 25px;
$search-mini-height: 600px;
$search-mini-width: 250px;

/* colors */

$black: #1B191D;
$black2: #141b2e;
$black3: #434958;
$black4: #727682;
$black5: #979AA2;
$black-link: #B8C0D4;

$white-l: #f2f9fc;
$white: #D7E8EF;
$white2: rgba(215, 232, 239, 0.8);
$white3: rgba(215, 232, 239, 0.5);
$white4: rgba(215, 232, 239, 0.2);

$gray-d2: #666;
$gray-d: #999;
$gray: #a9a9a9;
$gray-l: #ccc;
$gray-l2: #eee;

$red: #F23434;
$red-w: #ef6145;
$red-l: #f66767;

$blue: #32415A;
$blue3: #5c8de5;

$min-color: #8d7a40;
$max-color: #306a62;

$sectiontitle-color: $white;
$subtitle-color: #616CA5;
$bullet-txt-color: #BACACB;
$bullet-subtxt-color: #A1AEB3;
$launch-msg-color: $white;
$geo-bg-color: #4268B1;
$cip-bg-color: #4B928B;
$soc-bg-color: #d1685e;
$naics-bg-color: #505876;

$link-color: #666;
$alt-link-color: #999;

$d-profile-bg: #E9E9E9;
$l-profile-bg: #F6F6F6;

$bg-color-geo: rgba(6, 25, 98, 0.95);
$bg-color-cip: rgba(105,6,26,0.95);
$bg-color-soc: rgba(3,48,40,0.95);
$bg-color-naics: rgba(48,50,16,0.95);

$viz-color-geo: #B5D2C8;

$d-bg-color-geo: #0C2521;
$l-bg-color-geo: #374b98;
$viz-color-geo: #5D82BD;
$link-color-geo: #2c49d8;
$alt-link-color-geo: rgba(121,129,169,0.5);
$home-midtone: #7981A9;


$text-color: #211f1a;
$dark-d-blue: #132332;
$d-blue: #004994;
$home-blue: #243748;
$light-home-blue: #cfedff;
$med-home-blue: #386f8e;
// $dark-home-blue: #010103;
$dark-home-blue: #112748;
$dark-home-red: #B35E49;
$home-red: #dc5137;
$light-home-red: #fdc8b8;

$splash-gradient: (
  0%: rgba(0,0,0,0),
  40%: rgba(20, 27, 46, 0.5),
  100%: $black2
);


$shadow: 0 3px 3px rgba(0,0,0,0.35);

$palanquin: "Palanquin", sans-serif;
$lato: "Lato", sans-serif;
$pathway: "Pathway Gothic One", sans-serif;
$source: "Source Sans Pro", sans-serif;

/* download Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Palanquin:300,400,600,700|Lato:300,400|Pathway+Gothic+One|Source+Sans+Pro:300,400);
