// Profile navigation sizes
$title-height: 60px;
$nav-height: 40px;

$text-color: #211f1a;

$shadow: 0 2px 2px rgba(0,0,0,0.5);

$enriqueta: "Enriqueta", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$palanquin: "Palanquin", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* download Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700|Palanquin:300,400,600,700);
